Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update MicrosoftExtensionsDependencyModelVersion
  eng/Versions.props
Due: none

Add suppression for GetSortIndices
  src/Microsoft.Data.Analysis/CompatibilitySuppressions.xml
Due: production

Add suppressions for breaking changes in Microsoft.ML.GenAI.Core
  src/Microsoft.ML.GenAI.Core/CompatibilitySuppressions.xml
Due: production

Update MicrosoftExtensionsDependencyModelVersion (#7342)
  eng/Versions.props
Due: none

More GenAI suppressions
  src/Microsoft.ML.GenAI.LLaMA/CompatibilitySuppressions.xml
  src/Microsoft.ML.GenAI.Mistral/CompatibilitySuppressions.xml
  src/Microsoft.ML.GenAI.Phi/CompatibilitySuppressions.xml
Due: production

Update MSTest to latest
  eng/Versions.props
Due: none

Update System.Numerics.Tensors version (#7322)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Consolidate tensor primitives dependency
  eng/Versions.props
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Fix DateTime export to csv with culture info
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Some tweaks to the Microsoft.ML.Tokenizers PACKAGE.md
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Some tweaks to the Microsoft.ML.Tokenizers PACKAGE.md (#7360)
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Update System.Numerics.Tensors version (#7322) (#7355)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Fix DateTime export to csv with culture info (#7358)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Update MSTest to latest (#7349)
  eng/Versions.props
Due: none

Consolidate tensor primitives dependency (#7356)
  eng/Versions.props
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

some more fixes
  src/Microsoft.ML.AutoML/API/ColumnInference.cs
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInformationUtil.cs
Due: production

fix up docs for MLContext
  src/Microsoft.ML.Data/MLContext.cs
Due: production

text class and sentence similarity trainers
  src/Microsoft.ML.TorchSharp/NasBert/SentenceSimilarityTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
Due: production

adding 4.0.1 servicing notes
  docs/release-notes/4.0.1/release-4.0.1.md
Due: none

adding missed pr
  docs/release-notes/4.0.1/release-4.0.1.md
Due: none

reworded line
  docs/release-notes/4.0.1/release-4.0.1.md
Due: none

Adding 4.0.1 servicing notes (#7365)
  docs/release-notes/4.0.1/release-4.0.1.md
Due: none

version update
  eng/BranchInfo.props
Due: none

version update (#7366)
  eng/BranchInfo.props
Due: none

fixing formatting issue
  src/Microsoft.ML.Tokenizers/Model/Word.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

more logging in run tests
  eng/testing/runTests.cmd
  eng/testing/runTests.sh
Due: none

Update Microsoft.Extensions.AI to 9.3.0-preview.1.25114.11
  docs/samples/Microsoft.ML.GenAI.Samples/MEAI/Llama3_1.cs
  docs/samples/Microsoft.ML.GenAI.Samples/MEAI/Phi3.cs
  eng/Versions.props
  src/Microsoft.ML.GenAI.Core/CausalLMPipelineChatClient.cs
  src/Microsoft.ML.GenAI.LLaMA/Llama3CausalLMChatClient.cs
  src/Microsoft.ML.GenAI.Phi/Phi3/Phi3CausalLMChatClient.cs
Due: production

Introducing SentencePiece Unigram Tokenizer Model
  THIRD-PARTY-NOTICES.TXT
  eng/Versions.props
  src/Microsoft.ML.Tokenizers/Model/CodeGenTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/LlamaTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBaseModel.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpeModel.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceUingramModel.cs
  src/Microsoft.ML.Tokenizers/Normalizer/SentencePieceNormalizer.cs
  src/Microsoft.ML.Tokenizers/Utils/ByteArrayComparer.cs
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  src/Microsoft.ML.Tokenizers/Utils/OrdinalUtf8StringComparer.cs
  test/Microsoft.ML.Tokenizers.Tests/UnigramTests.cs
Due: production, test

Copilot feedback addressing :-)
  src/Microsoft.ML.Tokenizers/Utils/OrdinalUtf8StringComparer.cs
Due: production

addressing Copilot feedback
  src/Microsoft.ML.Tokenizers/Normalizer/SentencePieceNormalizer.cs
Due: production

Feedback Addressing 1
  src/Microsoft.ML.Tokenizers/Model/CodeGenTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/Utils/ByteArrayComparer.cs
  src/Microsoft.ML.Tokenizers/Utils/OrdinalUtf8StringComparer.cs
Due: production

Clean up
  src/Microsoft.ML.Tokenizers/Model/SentencePieceUingramModel.cs
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  src/Microsoft.ML.Tokenizers/Utils/OrdinalUtf8StringComparer.cs
Due: production

More clean up
  src/Microsoft.ML.Tokenizers/Model/SentencePieceUingramModel.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
Due: production

Add maxTokenCount parameter to CountTokens method
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Addressing the feedback
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBaseModel.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpeModel.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceUnigramModel.cs
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  src/Microsoft.ML.Tokenizers/Utils/OrdinalUtf8StringComparer.cs
  test/Microsoft.ML.Tokenizers.Tests/DoubleArrayTrieTest.cs
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
Due: production, test

Update Microsoft.Extensions.AI to 9.3.0-preview.1.25114.11 (#7388)
  docs/samples/Microsoft.ML.GenAI.Samples/MEAI/Llama3_1.cs
  docs/samples/Microsoft.ML.GenAI.Samples/MEAI/Phi3.cs
  eng/Versions.props
  src/Microsoft.ML.GenAI.Core/CausalLMPipelineChatClient.cs
  src/Microsoft.ML.GenAI.LLaMA/Llama3CausalLMChatClient.cs
  src/Microsoft.ML.GenAI.Phi/Phi3/Phi3CausalLMChatClient.cs
Due: production

More feedback addressing
  src/Microsoft.ML.Tokenizers/Model/SentencePieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
  test/Microsoft.ML.Tokenizers.Tests/UnigramTests.cs
Due: production, test

Support O3 OpenAI model mapping
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: production, test

Update test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: test
