Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Added downloading procdump.zip instead of adding to repo directly
  build/ci/job-template.yml
  init-tools.cmd
  tools-local/procdump/Eula.txt
  tools-local/procdump/procdump.exe
  tools-local/vstest.runsettings
Due: none

Fix xrefs in the LDSVM trainer docs (#4940)
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
Due: production

Added hanging test mem dump feature (#4931)
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  docs/project-docs/developer-guide.md
  init-tools.cmd
  test/Directory.Build.props
  tools-local/vstest.runsettings
Due: test

Add see also section to TensorFlowEstimator docs
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

Add see also section to TensorFlowEstimator docs (#4941)
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

Fixed post-download path collection
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: production, test

support for batch inferencing on ORT models
  src/Microsoft.ML.KMeansClustering/KMeansModelParameters.cs
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
Due: production, test

Update ResourceManagerUtils.cs
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

Draft PR to debug tensorflow issues
  .vsts-dotnet-ci.yml
Due: none

Added RunSpecific flags for tensorflow tests
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Added runSpecific:true
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

resolving comments
  src/Microsoft.ML.KMeansClustering/KMeansModelParameters.cs
Due: production

Fixes KMeans scoring differences between ORT and OnnxRunner (#4942)
  src/Microsoft.ML.KMeansClustering/KMeansModelParameters.cs
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
Due: production, test

Set environment variable for avoiding hanging thread-locks
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/Microsoft.ML.AutoML.Tests/GetNextPipelineTests.cs
  test/Microsoft.ML.AutoML.Tests/UserInputValidationTests.cs
Due: production, test

Added TestDownloadFromLocal
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Added TestDownloadError
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Revert "Added TestDownloadError"
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Edit EnsureResourceAsync and its dependencies
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
Due: production

Edited TestDownloadFromLocal and re-added TestDownloadError()
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Disabling TestDownloadFromLocal and TestDownloadError
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

add test cases
  LCATest/Class1.cs
  LCATest/LCATest.csproj
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseByDT.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationUtils.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Edits
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: production, test

Re-activated TestDownloadError and TestDownloadFromLocal
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Edits, added 5 min timeout, and debugging requested url
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: production, test

debugging DownloadResource
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

Debugging and removing timeouts
  src/Microsoft.ML.Core/Data/IFileHandle.cs
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
Due: production

Disable troublesome tests
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: production, test

Enable TestDownloadFromLocal
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Added ResourceDownload tests to new .cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: test

Removed timeouts, and re-added Resource download tests in separate unit test file
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestUtilities.cs
Due: production, test

Add optional expected value and margin output for srcnn anomaly detector
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyAndMarginBySrCnn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyAndMarginBySrCnnBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SRCNNAnomalyDetector.cs
  src/Microsoft.ML.TimeSeries/SrCnnAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SrCnnTransformBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

remove useless debug code
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Edits
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: production, test

add allowBinary flag
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.AutoML/ColumnInference/ColumnTypeInference.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceTests.cs
  test/Microsoft.ML.AutoML.Tests/TestData/BinaryDatasetWithBoolColumn.txt
Due: production, test

revert sln changes
  Microsoft.ML.sln
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationUtils.cs
Due: production

Removed hardcode "microsoft.com" check for HTTP Status Code
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

fix race condition for test MulticlassTreeFeaturizedLRTest
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
Due: production
