Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update test data for rounding differences on net6.0
  test/BaselineOutput/Common/LogisticRegression/netcoreapp31/LogisticRegression-bin-norm-CV-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/netcoreapp31/LogisticRegression-bin-norm-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/netcoreapp31/LogisticRegression-Non-Negative-CV-iris.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/netcoreapp31/LogisticRegression-Non-Negative-TrainTest-iris.txt
Due: test

Fix condition on CPUMathNative reference in tests
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
Due: test

Fixed formatting
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalTreeEnsemble.cs
Due: production

add smac tuner in AutoMLExperiment (#6339)
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/Tuner/SmacTuner.cs
  src/Microsoft.ML.SearchSpace/Parameter.cs
  src/Microsoft.ML.SearchSpace/Tuner/RandomTuner.cs
  test/Microsoft.ML.AutoML.Tests/TunerTests.cs
Due: production, test

Update the public interfaces
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScaleInMemory.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.ImageAnalytics/ImageType.cs
  src/Microsoft.ML.ImageAnalytics/Imager.cs
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

update to list
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
Due: production, test

Use latest docker containers (#6365)
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/.outer-loop-build.yml
  build/vsts-ci.yml
Due: none

Add option to skip PrintMemoryStats in FastTree (#6359)
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Proposal: Sweepable API (#5993)
  docs/specs/ML.Net Sweepable API.md
Due: none

Add CodeQL to build (#6350)
  build/vsts-ci.yml
Due: none

Workaround CS0121 with Xunit.Assert(float,float,int)
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
Due: test

Update XUnit version
  eng/Versions.props
Due: none

Fix a couple more CS0121 XUnit issues
  test/Microsoft.ML.IntegrationTests/IntrospectiveTraining.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Update XUnitRunnerVersion to 2.4.2
  eng/helix.proj
Due: none

Fix more xunit issues
  test/Microsoft.ML.Tests/LearningRateSchedulerTest.cs
  test/Microsoft.ML.Tests/Scenarios/ClusteringTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/CharTokenizeTests.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
  test/Microsoft.ML.Tests/Transformers/CopyColumnEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
  test/Microsoft.ML.Tests/Transformers/KeyToBinaryVectorEstimatorTest.cs
  test/Microsoft.ML.Tests/Transformers/NAIndicatorTests.cs
  test/Microsoft.ML.Tests/Transformers/NAReplaceTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/SelectColumnsTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.Tests/Transformers/TextNormalizer.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
  test/Microsoft.ML.Tests/Transformers/WordTokenizeTests.cs
Due: test

Fix more XUnit warnings
  test/Microsoft.ML.Core.Tests/UnitTests/DataTypes.cs
Due: test

Update one more Xunit reference
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/BaseTestClassTest.cs
Due: test

Update to RC2 SDK to get FSharp fix
  global.json
Due: none

Workaround anoter ref parameter issue.
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
Due: test

Ensure we generate runtimeconfig.dev.json
  Directory.Build.targets
Due: none

LBFGS acceleration via OneDAL
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LbfgsPredictorBase.cs
Due: production

Extend timeout for code-coverage builds
  build/ci/job-template.yml
Due: none

update interactive package versino
  eng/Versions.props
Due: none

update interactive package versino (#6378)
  eng/Versions.props
Due: none

Address the feedback
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScaleInMemory.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.ImageAnalytics/ImageType.cs
  src/Microsoft.ML.ImageAnalytics/MLImage.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

XGBoost integration infrastructure
  Microsoft.ML.sln
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.XGBoost/Microsoft.ML.XGBoost.csproj
  src/Microsoft.ML.XGBoost/Properties/AssemblyInfo.cs
  src/Microsoft.ML.XGBoost/WrappedXGBoostInterface.cs
  src/Microsoft.ML.XGBoost/WrappedXGBooster.cs
  src/Microsoft.ML.XGBoost/WrappedXGDMatrix.cs
  src/Microsoft.ML.XGBoost/XGBoostArguments.cs
  src/Microsoft.ML.XGBoost/XGBoostCatalog.cs
  src/Microsoft.ML.XGBoost/XGBoostInterface.cs
  src/Microsoft.ML.XGBoost/XGBoostRegressionTrainer.cs
  src/Microsoft.ML.XGBoost/XGBoostTrainerBase.cs
Due: production

Fix obsoletion warning in Data.Analysis.Interactive
  src/Microsoft.Data.Analysis.Interactive/DataFrameKernelExtension.cs
Due: production

Fix warnings and enable warningsAsError
  build.cmd
  restore.cmd
  restore.sh
  src/Microsoft.Data.Analysis.Interactive/DataFrameKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.SearchSpace/Parameter.cs
  src/Microsoft.ML.SearchSpace/SearchSpace.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/App.config
Due: production, test

Fix usage of <inheritdoc/>
  src/Microsoft.ML.SearchSpace/Option/ChoiceOption.cs
  src/Microsoft.ML.SearchSpace/Option/NestOption.cs
  src/Microsoft.ML.SearchSpace/Option/UniformNumericOption.cs
  src/Microsoft.ML.SearchSpace/Parameter.cs
  src/Microsoft.ML.SearchSpace/SearchSpace.cs
Due: production

Fix warnings and enable warningsAsError (#6385)
  build.cmd
  restore.cmd
  restore.sh
  src/Microsoft.Data.Analysis.Interactive/DataFrameKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.SearchSpace/Option/ChoiceOption.cs
  src/Microsoft.ML.SearchSpace/Option/NestOption.cs
  src/Microsoft.ML.SearchSpace/Option/UniformNumericOption.cs
  src/Microsoft.ML.SearchSpace/Parameter.cs
  src/Microsoft.ML.SearchSpace/SearchSpace.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/App.config
Due: production, test

Replace WebClient usage with HttpClient
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: test

Fix test
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: test

Attempt to fix sync over async
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: test

Replace WebClient usage with HttpClient (#6388)
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: test

Revert "Replace WebClient usage with HttpClient (#6388)"
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: test

Disable obsolete warning for WebClient
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
Due: test

sentence similarity
  src/Microsoft.ML.TorchSharp/NasBert/Models/BaseModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/NasBertModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/NasBertTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/Optimizers/Adam.cs
  src/Microsoft.ML.TorchSharp/NasBert/Optimizers/BaseOptimizer.cs
  src/Microsoft.ML.TorchSharp/NasBert/SentenceSimilarityTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

minor changes
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: test
