Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

bumped version
  build/BranchInfo.props
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
Due: production, test

change versions in nupkg
  pkg/Microsoft.ML.AutoML/Microsoft.ML.AutoML.nupkgproj
  pkg/mlnet/mlnet.nupkgproj
Due: none

revert version bump in branch props
  build/BranchInfo.props
Due: none

Fixing float/double to be NaN for null values in the database loader.
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoaderCursor.cs
Due: production

[AutoML] Bump version to ML.NET 1.3.1 in AutoML API and CLI and AutoML package version to 0.15.1 (#4071)
  build/BranchInfo.props
  pkg/Microsoft.ML.AutoML/Microsoft.ML.AutoML.nupkgproj
  pkg/mlnet/mlnet.nupkgproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
Due: production, test

added infinity fix
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

[AutoML] Fix for Exception thrown in cross val when one of the score equals infinity. (#4073)
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

Fixing the DatabaseLoaderTests mock to return false for IsDBNull
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Changing the database cursor to return default for DBNull (#4070)
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoaderCursor.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: production, test

changes signing
  build/sign.proj
Due: none

changes signing (#4079)
  build/sign.proj
Due: none

Fixed #3993
  src/Microsoft.ML.Data/Commands/EvaluateCommand.cs
  src/Microsoft.ML.Data/Evaluators/AucAggregator.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
Due: production

Update the 3.0 SDK to preview7
  DotnetCLIVersion.netcoreapp.latest.txt
Due: none

Update the 3.0 SDK to preview7 (#4088)
  DotnetCLIVersion.netcoreapp.latest.txt
Due: none

Enabling building ML.NET for .NET Core 3.0 in the official builds.
  .vsts-dotnet-ci.yml
  Directory.Build.props
  DotnetCLIVersion.netcoreapp.latest.txt
  DotnetCLIVersion.txt
  build/AfterCommonTargets.targets
  build/Empty.targets
  config.json
  docs/building/netcoreapp3.0-instructions.md
  init-tools.cmd
  init-tools.sh
  pkg/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.nupkgproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Native/build.cmd
  src/Native/build.proj
  test/Directory.Build.props
  test/Microsoft.ML.Benchmarks/Harness/Configs.cs
  test/Microsoft.ML.Benchmarks/README.md
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: production, test

Fix MulticlassClassificationMetrics.LogLossReduction example value
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

Fix CalibratedBinaryClassificationMetrics.LogLossReduction example value
  src/Microsoft.ML.Data/Evaluators/Metrics/CalibratedBinaryClassificationMetrics.cs
Due: production

Update .sln for the new configuration
  Microsoft.ML.sln
Due: none

Fix native build on windows.
  src/Native/build.cmd
Due: production

Fix netfx configuration by working around an sdk bug.
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
Due: test

Fix CpuMath tests on netfx.
  Microsoft.ML.sln
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/Microsoft.ML.CpuMath.UnitTests.netcoreapp.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
Due: production, test

Install the .NET Core 2.1 runtime so we can execute tests against it.
  DotnetExtraRuntimeVersion.txt
  init-tools.cmd
  init-tools.sh
Due: none

Updating DatabaseLoader to support getting column info from a given .NET type.
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/LoadColumnAttribute.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoader.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoaderCatalog.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DbExtensions.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: production, test

Addressing PR feedback.
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoader.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoaderCatalog.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: production, test

Reverting DatabaseLoaderTests.IrisLightGbm to manually creating the columns.
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Fixing a naming error: source to sources
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoader.cs
Due: production

Updating DatabaseLoader to support getting column info from a given .NET type. (#4091)
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/LoadColumnAttribute.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoader.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoaderCatalog.cs
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DbExtensions.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: production, test

Changed function call to test with changed threshold
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

Remove crossgen call since the crossgen executable is no longer shipped in the NuGet package.
  init-tools.sh
Due: none

Updated docs to include PredictedLabel member
  docs/api-reference/io-columns-anomaly-detection.md
Due: none

Enabling building ML.NET for .NET Core 3.0 in the official builds. (#4096)
  .vsts-dotnet-ci.yml
  Directory.Build.props
  DotnetCLIVersion.netcoreapp.latest.txt
  DotnetCLIVersion.txt
  DotnetExtraRuntimeVersion.txt
  Microsoft.ML.sln
  build/AfterCommonTargets.targets
  build/Empty.targets
  config.json
  docs/building/netcoreapp3.0-instructions.md
  init-tools.cmd
  init-tools.sh
  pkg/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.nupkgproj
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Native/build.cmd
  src/Native/build.proj
  test/Directory.Build.props
  test/Microsoft.ML.Benchmarks/Harness/Configs.cs
  test/Microsoft.ML.Benchmarks/README.md
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/Microsoft.ML.CpuMath.UnitTests.netcoreapp.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: production, test

Update official build and CI to run on macOS 10.13.
  .vsts-dotnet-ci.yml
  build/vsts-ci.yml
  docs/building/netcoreapp3.0-instructions.md
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
Due: none

Update template for the new pool name.
  build/ci/job-template.yml
Due: none

Load TransformerChain model file in ModelFileUtils
  src/Microsoft.ML.Data/Utilities/ModelFileUtils.cs
Due: production

Update official build and CI to run on macOS 10.13. (#4108)
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  build/vsts-ci.yml
  docs/building/netcoreapp3.0-instructions.md
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
Due: none

Fix LogLossReduction (RIG) example values (#4098)
  src/Microsoft.ML.Data/Evaluators/Metrics/CalibratedBinaryClassificationMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

Add test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

PR feedback
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  src/Microsoft.ML.Data/Utilities/ModelFileUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Update to .NET Core 3.0 preview8
  DotnetCLIVersion.txt
Due: none

Additional changes to replace Value with GetValueOrDefault
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.Data/Utilities/TypeParsingUtils.cs
  src/Microsoft.ML.Ensemble/EnsembleUtils.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BaseSubModelSelector.cs
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalTreeEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  src/Microsoft.ML.Mkl.Components/OlsLinearRegression.cs
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.ResultProcessor/ResultProcessor.cs
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MetaMulticlassTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StandardTrainers/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.StandardTrainers/Standard/StochasticTrainerBase.cs
  src/Microsoft.ML.StaticPipe/StaticSchemaShape.cs
  src/Microsoft.ML.Sweeper/Parameters.cs
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.Transforms/GroupTransform.cs
  src/Microsoft.ML.Transforms/LearnerFeatureSelection.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/UngroupTransform.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
