Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Handling review comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnnBatchPrediction.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Updated installation of libomp on Mac trusted CI builds (#5143)
  build/vsts-ci.yml
  docs/building/unix-instructions.md
Due: none

fix test failure
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: test

remove unnecessary changes and make PR official
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: test

remove unnecessary using
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: test

Enable TextLoader to accept new lines in quoted fields (#5125)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextSaver.cs
  test/BaselineOutput/Common/Command/SavePipeTextLoaderWithMultilines-1-out.txt
  test/BaselineOutput/Common/Command/SavePipeTextLoaderWithMultilines-out.txt
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/TextLoader/multiline.csv
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/multiline.csv
Due: production, test

fix another test failure
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: test

use new meta file from premium storage account (#5133)
  build.proj
  build/ci/job-template.yml
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

Support more types for HashEstimator (#5104)
  build/Dependencies.props
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
  test/data/type-samples.txt
Due: production, test

Create a 0.4.0 package (#2918)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Added decimal marker option in TextLoader
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/data/iris_decimal_marker_as_comma.txt
Due: production, test

initial checkin
  src/Microsoft.ML.Data/Commands/DefaultColumnNames.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

initial checkin
  src/Microsoft.ML.Data/Commands/DefaultColumnNames.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Added decimalChar to more TextLoader constructors
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

clean code
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

revert
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Removed decimalMarker from TextLoader constructors due to API breaking
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

Resolve the array allocating issue
  src/Microsoft.ML.Data/DataView/BatchDataViewMapperBase.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Added support for escapeChar to escape quotes inside quoted fields
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Fixed bug in logic when field is quoted and empty
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Added serialization logic
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
Due: production

Added tests including backcompat test
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/backcompat/textloader_VerWritt_0x0001000C.zip
  test/data/multiline-escapechar.csv
Due: test

Updated manifest
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Move modeler initializing to CreateBatch and other minor fix.
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

add tryMulti in AutoML and test
  src/Microsoft.ML.AutoML/ColumnInference/TextFileContents.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/TestData/DatasetWithNewlineBetweenQuotes.txt
Due: production, test

add test for AutoML inferColumn API
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.AutoML/ColumnInference/ColumnTypeInference.cs
  src/Microsoft.ML.AutoML/ColumnInference/TextFileContents.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceTests.cs
Due: production, test

Remove build dependencies that aren't needed
  build/Dependencies.props
  src/Microsoft.ML.Data/Microsoft.ML.Data.csproj
  src/Microsoft.ML.Sweeper/Microsoft.ML.Sweeper.csproj
Due: production

Revert "Create a 0.4.0 package (#2918)" (#2919)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Produce a 0.4.0 build (#2920)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Added unit test for ',' as a decimal marker, and added decimalMarker to TextLoaderCursor and TextLoaderParser
  src/Microsoft.ML.Core/Utilities/DoubleParser.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

merging
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

removed some outdated comments
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

update
  src/Microsoft.ML.Data/Transforms/Hashing.cs
Due: production

update
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

Added DecimalMarker in DoubleParser
  src/Microsoft.ML.Core/Utilities/DoubleParser.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Added decimal marker check and removed decimalMarker from CreateTextLoader's constructor
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
Due: production

set Session as public so user can have access to tf graph
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
Due: production

refactor
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

fix assertion failures
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

test
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test
