Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

fix for defaulting Averaged Perceptron # of iterations to 10 (#237)
  src/Microsoft.ML.Auto/TrainerExtensions/BinaryTrainerExtensions.cs
  src/Test/TrainerExtensionsTests.cs
Due: production

Bug bash feedback Feb 27. API changes and sample changes (#240)
  src/Microsoft.ML.Auto/API/AutoInferenceCatalog.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/MLContextExtension.cs
  src/Microsoft.ML.Auto/API/RunResult.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Utils/RunResultUtil.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
  src/Samples/Cancellation.cs
  src/Samples/CustomizeTraining.cs
  src/Samples/ObserveProgress.cs
  src/Samples/Program.cs
  src/Test/AutoFitTests.cs
  src/Test/ColumnInferenceTests.cs
  src/Test/DatasetUtil.cs
  src/Test/RunResultTests.cs
  src/mlnet.Test/DatasetUtil.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Utilities/ProgressHandlers.cs
Due: production

Fixed MultiClassClassifierMetrics.
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
Due: production

Resolved merged conflicts.
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
Due: production

also looked into MultiClass LR and PoissonRegression
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Fixed build errors in ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
Due: production

pr comments
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/CalibratorEstimators.cs
Due: production, test

Addressed PR comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.cs
Due: none

Add tests for data transformation scenarios
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureColumn.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Iris.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Extensibility.cs
Due: test

review comments
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Let's see how many will fail
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
Due: production

Add an example of random PCA using in-memory data structure (#2780)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: production, test

Samples / API rev from 2/27 bug bash feedback (#242)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
  src/Samples/Cancellation.cs
  src/Samples/CustomizeTraining.cs
  src/Samples/Data/README.md
  src/Samples/Data/iris-test.txt
  src/Samples/Data/iris-train.txt
  src/Samples/Data/optdigits-test.csv
  src/Samples/Data/optdigits-train.csv
  src/Samples/Helpers/ConsoleHelper.cs
  src/Samples/ObserveProgress.cs
Due: production

PR feedback.
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  src/Microsoft.ML.HalLearners/ComputeLRTrainingStdThroughHal.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  test/Microsoft.ML.Tests/TrainerEstimators/OlsLinearRegressionTests.cs
Due: production, test

fix build
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/PairAdjacentViolators.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

revert program.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Updated entrypoint list file.
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Make accessor of linear coefficients unique to the public 1. Internalize GetFeatureWeights(ref VBuffer<float> weights) 2. Internalize IHaveFeatureWeights
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureContributionCalculationTransform.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCARegression.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/ModelStatistics.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Addressed reviewers' comments.
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Updates to OVA: - Renamed OVA to OneVersusAllTrainer - Renames to abbreviated arguments - Updates to comments and documentation
  src/Microsoft.ML.EntryPoints/ModelOperations.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MetaMulticlassTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/Pkpd.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
Due: production, test

correcting path construction when used as a nuget package
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AlexNetExtension.cs
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AssemblyPathHelpers.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/ResNet101Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/ResNet50Extension.cs
Due: production

Updating for PR feedback
  src/Microsoft.ML.Core/Data/KeyType.cs
Due: production

changed the directory structure for generated project (#243)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Program.cs
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
  src/mlnet/Utilities/Utils.cs
  src/mlnet/mlnet.csproj
Due: production

Add sample file to read and write binary files
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SaveAndReadFromBinary.cs
Due: none

Add cookbook section for reading and writing binary files
  docs/code/MlNetCookBook.md
Due: none

Rename class to match ML.NET names
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SaveAndReadFromBinary.cs
Due: none

error msg improved
  src/Microsoft.ML.Core/Utilities/Contracts.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Fix test file locations on OSX (#235)
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/BinaryMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/RegressionMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipeline.cs
  src/Microsoft.ML.Auto/Utils/RunResultUtil.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
  src/Samples/Cancellation.cs
  src/Samples/CustomizeTraining.cs
  src/Samples/ObserveProgress.cs
  src/Test/ColumnInferenceTests.cs
  src/Test/DatasetUtil.cs
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet.Test/Utilities/MockFileInfo.cs
  src/mlnet/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Utilities/File/IFileInfo.cs
  src/mlnet/Utilities/File/SystemFileInfo.cs
  src/mlnet/Utilities/Utils.cs
Due: production

Updates to OVA: (#2743)
  src/Microsoft.ML.EntryPoints/ModelOperations.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MetaMulticlassTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/Pkpd.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
Due: production, test

Add sample for IndicateMissingValues
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValues.cs
Due: none

Fix typo
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
Due: production

Use string[] instead of IEnumerable<string> in column names
  docs/samples/Microsoft.ML.Samples/Dynamic/TextTransform.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Visibility.cs
Due: production, test

Made TensorFlowEstimator.Options internal.
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

Fixing merge errors.
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
Due: test

Fixing the line number with addition of new code
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
Due: test

revert iris
  test/data/iris.txt
Due: test

using appdomain.BaseDirectory instead of currentDirectory
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AlexNetExtension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/ResNet101Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/ResNet50Extension.cs
Due: production
