Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Still not working. GetActive() can't return inputcolumns from 2 different sources
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Bitmap(file) locks the file. (#4994)
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
Due: production

Run All tests including benchmarks
  .vsts-dotnet-ci.yml
Due: none

fix hanging
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fix tensorflow test hanging issue
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

set smaller timeout for download resource and ingore exception within retry
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Add interface for SrCnnEntireAnomalyEstimator
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectEntireAnomalyBySrCnn.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SrCnnDataType.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyEstimator.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireTransformer.cs
Due: production

take comments
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

add more log
  .vsts-dotnet-ci.yml
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

only override timeout variable for tensorflow tests
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

updating baseline
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
Due: test

slotdroppingtransformer fix
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

resolving conflicts
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
Due: test

trouble shoot TestCancellation hanging
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

run only SsaForecast
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Removed WeakReference<IHosts> already cleaned up by GC (#4995)
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
Due: production

Update Microsoft.Extensions.* to 3.0.1 for testing (#4536)
  build/Dependencies.props
  test/Directory.Build.props
  test/Microsoft.Extensions.ML.Tests/Microsoft.Extensions.ML.Tests.csproj
Due: test

fix tensorflow test hanging issue (#4997)
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Stateful custom mapping transformer
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingFactory.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

Address code review comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByCustomPredicate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByStatefulCustomPredicate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/StatefulCustomMapping.cs
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingFactory.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

Add the filter file, and add documentation
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingFactory.cs
  src/Microsoft.ML.Transforms/CustomMappingFilter.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
Due: production

Custom filters
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

Code review comments.
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingFilter.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

run all tests to repro issue
  .vsts-dotnet-ci.yml
Due: none

add projects capacities
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/AzureCodeGenerator/AzureAttachModelCodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelProject.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProject.tt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.test.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.test.Model.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.CodeGenTest.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.CodeGenTest.Model.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTestOnlyStableProjects.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateConsoleAppProjectContents_VerifyPredictProject.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateModelProjectContents_VerifyModelProject.approved.txt
Due: production, test

add more logs
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

skip tensorflow tests
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

updates
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
Due: production

updating docs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
Due: production

test change
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Updated MultiFileSource
  src/Microsoft.ML.Data/DataLoadSave/MultiFileSource.cs
  test/Microsoft.ML.Core.Tests/UnitTests/FileSource.cs
Due: production, test

disable tensorflow tests to save disk space
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

fix TestCancellation
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

remove unnecessary using
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

also stop download image set
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Added IDisposable support to ModelContainer & corrected name of modelContainer in used cases
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
Due: production

Corrected name of modelContainer in used cases
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
Due: production

refine internal logic
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseByDT.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationType.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

* Removed ColumnSelectingTransformer from OnnxDataTransform * Added Bindings class to OnnxDataTransform. It still propagates the input columns.
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
