Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update Windows image, fix mac build (#7515)
  build/vsts-ci.yml
Due: none

BpeTokenizer Cleanup (#7514)
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Pass additional settings when compiling native binaries
  src/Native/CMakeLists.txt
  src/Native/Native.proj
  src/Native/build.cmd
  src/Native/gen-buildsys-win.bat
Due: production

Mark our build as CFSClean
  build/vsts-ci.yml
Due: none

Modify expiration dates in .gdnbaselines
  .config/guardian/.gdnbaselines
Due: none

Improve unique directory generation for temp files
  src/Microsoft.ML.Core/Data/Repository.cs
Due: production

Update src/Microsoft.ML.Core/Data/Repository.cs
  src/Microsoft.ML.Core/Data/Repository.cs
Due: production

Fix build
  src/Microsoft.ML.Core/Data/Repository.cs
Due: production

Improve native build and mark our official build as CFS Clean (#7516)
  build/vsts-ci.yml
  src/Native/CMakeLists.txt
  src/Native/Native.proj
  src/Native/build.cmd
  src/Native/gen-buildsys-win.bat
Due: production

Add SIMD-optimized Mersenne Twister generator
  src/Microsoft.ML.Core/Microsoft.ML.Core.csproj
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo1`2.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo1`3.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo1`4.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo2`4.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo3`3.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo3`4.cs
  src/Microsoft.ML.Core/Utilities/MersenneTwister.cs
  src/Microsoft.ML.Core/Utilities/Random.cs
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/AdditionalMetadataReferences.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/CSharpCodeFixVerifier`2.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/CompatibleXUnitVerifier.cs
  test/Microsoft.ML.Core.Tests/UnitTests/MersenneTwisterTests.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ContractsCheckAnalyzer.cs
Due: production, test

fix
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Utilities/IRandomBulkSource.cs
  src/Microsoft.ML.Core/Utilities/IRandomSource.cs
  src/Microsoft.ML.Core/Utilities/MersenneTwisterRandomSource.cs
  src/Microsoft.ML.Core/Utilities/RandomFromRandomSource.cs
  src/Microsoft.ML.Core/Utilities/RandomShim.cs
  src/Microsoft.ML.Core/Utilities/RandomSourceAdapter.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
Due: production

Add SIMD Mersenne Twister RNG + pluggable RNG source; wire through Host/MLContext
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Microsoft.ML.Core.csproj
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo1`2.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo1`3.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo1`4.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo2`4.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo3`3.cs
  src/Microsoft.ML.Core/Utilities/FuncInstanceMethodInfo3`4.cs
  src/Microsoft.ML.Core/Utilities/IRandomBulkSource.cs
  src/Microsoft.ML.Core/Utilities/IRandomSource.cs
  src/Microsoft.ML.Core/Utilities/MersenneTwister.cs
  src/Microsoft.ML.Core/Utilities/MersenneTwisterRandomSource.cs
  src/Microsoft.ML.Core/Utilities/Random.cs
  src/Microsoft.ML.Core/Utilities/RandomFromRandomSource.cs
  src/Microsoft.ML.Core/Utilities/RandomShim.cs
  src/Microsoft.ML.Core/Utilities/RandomSourceAdapter.cs
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/AdditionalMetadataReferences.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/CSharpCodeFixVerifier`2.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/CompatibleXUnitVerifier.cs
  test/Microsoft.ML.Core.Tests/UnitTests/MersenneTwisterTests.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ContractsCheckAnalyzer.cs
Due: production, test

Add APICompat suppression for IHost.RandomSource (CP0006) to allow 5.0.0 pack vs 4.0.0 baseline
  src/Microsoft.ML/CompatibilitySuppressions.xml
Due: production

Tests: cover MersenneTwisterRandomSource, RandomSourceAdapter, RandomFromRandomSource, and ResourceManagerUtils logic; fix Windows native cmake script; add APICompat suppression
  test/Microsoft.ML.Core.Tests/UnitTests/RandomSourceTests.cs
Due: test

tests(Core): remove ProjectReference to Microsoft.ML.Tests to eliminate cross-test DLL/PDB contention under coverlet
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
Due: test

ResourceManagerUtils: make download mutex robust (unique name per path, handle abandoned, correct ownership release) to deflake concurrent model downloads in CI
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

Delete .config/guardian/.gdnbaselines
  .config/guardian/.gdnbaselines
Due: none

Remove baselines
  .config/1espt/PipelineAutobaseliningConfig.yml
Due: none

Remove baselines (#7526)
  .config/1espt/PipelineAutobaseliningConfig.yml
  .config/guardian/.gdnbaselines
Due: none

Improve unique directory generation for temp files (#7520)
  src/Microsoft.ML.Core/Data/Repository.cs
Due: production

Fix PositiveRecall optimization in AutoMLExperiment (#7493)
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
Due: production

macOS x64 CI: fix dependency install and OpenMP runtime copy (use Homebrew libomp, adjust Helix payload) (#7510)
  build/ci/job-template.yml
  build/vsts-ci.yml
  eng/helix.proj
Due: none

Fix new compilation errors with latest SDK
  src/Microsoft.ML.GenAI.Core/Module/GenAILinear.cs
  src/Microsoft.ML.GenAI.Core/Utils.cs
  src/Microsoft.ML.GenAI.Phi/Module/Phi2DecoderLayer.cs
  src/Microsoft.ML.GenAI.Phi/Module/Phi2RotaryEmbedding.cs
  src/Microsoft.ML.GenAI.Phi/Phi3/Config.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
Due: production

Fix additional breaks introduced with new SDK
  Directory.Build.props
  src/Microsoft.ML.Tokenizers/Model/Word.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Update Helix ubuntu arm32 container (#7410)
  .vsts-dotnet-ci.yml
  test/BaselineOutput/Common/EntryPoints/linux-arm/Summarize.txt
Due: test

Add release notes for 4.0.3
  docs/release-notes/4.0.3/release-4.0.3.md
Due: none

Add release notes for 4.0.3 (#7530)
  docs/release-notes/4.0.3/release-4.0.3.md
Due: none

Use arcade script for installing MacOS dependencies
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

Use arcade script for installing MacOS dependencies (#7533)
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

Update release-4.0.3.md
  docs/release-notes/4.0.3/release-4.0.3.md
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
