Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Ignore indices greater than int.MaxValue (#4690)
  src/Microsoft.ML.Transforms/SvmLight/SvmLightLoader.cs
  test/Microsoft.ML.Tests/SvmLightTests.cs
Due: production, test

Align naming in cookbook samples tests with changes
  docs/code/MlNetCookBook.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

separate build pipelines (#4688)
  build.proj
  build/.outer-loop-build.yml
  build/ci/job-template.yml
  config.json
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/run-tests.proj
Due: test

Add cookbook samples test for WithOnFitDelegate
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

Update documentation to stop mentioning interfaces that no longer exist (#4673)
  docs/code/DataViewRowCursor.md
  docs/code/IDataViewDesignPrinciples.md
  docs/code/IDataViewImplementation.md
  docs/code/MlNetHighLevelConcepts.md
  docs/code/SchemaComprehension.md
  docs/specs/mlnet-database-loader/mlnet-database-loader-specs.md
  src/Microsoft.ML.AutoML/Sweepers/ISweeper.cs
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
  src/Microsoft.ML.Core/Data/RoleMappedSchema.cs
  src/Microsoft.ML.Core/Data/SynchronizedCursorBase.cs
  src/Microsoft.ML.Data/Data/RowCursorUtils.cs
  src/Microsoft.ML.Data/Evaluators/ClusteringEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.Sweeper/ISweeper.cs
Due: production

Remove obsolete code in BinaryClassifierEvaluator (#4694)
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
Due: production

crash test host process when test fails to take memory dump
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/GlobalBase.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

Added Onnx Export to PlattCalibratorTransformer (#4699)
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

[AutoML] Sweep Trimming of Whitespace in AutoML (#3918)
  src/Microsoft.ML.AutoML/ColumnInference/TextFileContents.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Strings.resx
  src/mlnet/strings.Designer.cs
Due: production

Correct KMeans scoring function doc (#4705)
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
Due: production

run all tests in windows, crash at more failure point
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.TestFramework/GlobalBase.cs
  test/Microsoft.ML.TestFrameworkCommon/CrashTestHostProcessorHelper.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

Updated langversion
  Directory.Build.props
  test/Microsoft.ML.FSharp.Tests/Microsoft.ML.FSharp.Tests.fsproj
Due: test

Removed comment and other places where LangVersion was being set explicitly
  Directory.Build.props
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
Due: production, test

Moved LangVersion for fsproj to Directory.Build.props
  Directory.Build.props
  test/Microsoft.ML.FSharp.Tests/Microsoft.ML.FSharp.Tests.fsproj
Due: test

Append rows to a DataFrame (#2823)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/DataFrame.cs
  tests/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production

when fail not crash test process but print call stack
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

change the way crash the test process when test fail
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.TestFrameworkCommon/CrashTestHostProcessorHelper.cs
Due: test

Updated langversion to 8.0 (#4687)
  Directory.Build.props
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
Due: production, test

Fix #4611 broken xrefs in ExpressionTransformer
  src/Microsoft.ML.Transforms/ExpressionTransformer.cs
Due: production

reverted offset name -since another PR is resolving this, and tolerance change
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

ova fix
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

reformatted spacing
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
Due: production

rebase change
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

[Mn] Roadmap and release process update (#4704)
  README.md
  ROADMAP.md
  docs/images/include-prerelease.png
  docs/project-docs/release-process.md
Due: none

updating to note nuget.org
  docs/project-docs/release-process.md
Due: none

not crash test host process in Fail method
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Fix for OneVersusAll Multiclass trainer (#4698)
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Update TextLoaderTests.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

Update TextLoaderSaverCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

Added path checks to AssemlyLoading, Binary and SVMLight Loader APIs
  src/Microsoft.ML.Core/ComponentModel/AssemblyLoadingUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinaryLoaderSaverCatalog.cs
  src/Microsoft.ML.Transforms/SvmLight/SvmLightLoaderSaverCatalog.cs
Due: production

Update TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
Due: production

Update BinaryLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinaryLoader.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
