Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

add test for replaying cfo tuner
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/ITrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
Due: production, test

update test name
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
Due: test

Mirror of LightGBM integration for XGBoost
  src/Microsoft.ML.XGBoost/WrappedXGBoostInterface.cs
  src/Microsoft.ML.XGBoost/WrappedXGBooster.cs
  src/Microsoft.ML.XGBoost/WrappedXGDMatrix.cs
Due: production

Exposing supporting infrastructure for XGBoost: exceptions and version handling
  src/Microsoft.ML.XGBoost/XGBoostInterface.cs
Due: production

update
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
Due: production

remove macos 10-15 in pr build
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
Due: none

Update .vsts-dotnet-ci.yml
  .vsts-dotnet-ci.yml
Due: none

use original helix queue
  .vsts-dotnet-ci.yml
Due: none

update building pipeline
  build/ci/job-template.yml
Due: none

add installing macos build dependencies back
  build/ci/job-template.yml
Due: none

stop install libopm
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
Due: none

stop copy libmop
  build/ci/job-template.yml
  eng/helix.proj
Due: none

udpate
  build/ci/job-template.yml
Due: none

update
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  eng/helix.proj
Due: none

use 1100.arm64 for macos build
  .vsts-dotnet-ci.yml
Due: none

update helix queue
  .vsts-dotnet-ci.yml
Due: none

link mkl to openmp
  eng/helix.proj
Due: none

fix spell error
  eng/helix.proj
Due: none

updates to vbuffer file
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
Due: production

Update helix.proj
  eng/helix.proj
Due: none

add loss to TrialResult (#6323)
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/ITrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
Due: production, test

add ITrialResultManager
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/ITrialResultManager.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
Due: production

DataFrame: Add DateTime column type (#6302)
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/DateTimeDataFrameColumn.cs
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationAPIs.ExplodedColumns.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.Combinations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.Combinations.ttinclude
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.ReversedBinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.ReversedBinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameColumn.BinaryOperationTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

implement CsvTrialResultManager
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/ITrialResultManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  src/Microsoft.ML.AutoML/Tuner/RandomSearchTuner.cs
  src/Microsoft.ML.SearchSpace/Tuner/RandomTuner.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrialResultManagerTest.CsvTrialResultManager_end_to_end_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
  test/Microsoft.ML.AutoML.Tests/TrialResultManagerTest.cs
Due: production, test

intergrated in AutoMLExperiment
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/ITrialResultManager.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
  src/Microsoft.ML.AutoML/Tuner/Flow2.cs
  src/Microsoft.ML.AutoML/Tuner/SearchThread.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
Due: production, test

add tests
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/ITrialResultManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  src/Microsoft.ML.SearchSpace/SearchSpace.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
  test/Microsoft.ML.SearchSpace.Tests/SearchSpaceTest.cs
Due: production, test

fix tests
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/Flow2.cs
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
Due: production, test

fix build error
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/Flow2.cs
Due: production

fix comment
  src/Microsoft.ML.AutoML/AutoMLExperiment/ITrialResultManager.cs
  src/Microsoft.ML.AutoML/Tuner/Flow2.cs
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  src/Microsoft.ML.SearchSpace/SearchSpace.cs
  test/Microsoft.ML.SearchSpace.Tests/SearchSpaceTest.cs
Due: production, test

Apply suggestions from code review
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Apply suggestions from code review
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

Apply suggestions from code review
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

use AutoMLExperiment in RegressionExperiment
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/RegressionExperiment.cs
  src/Microsoft.ML.AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

fix indent
  src/Microsoft.ML.AutoML/API/RegressionExperiment.cs
Due: production

remove AutoFitRegressionTest
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Write to StreamWriter directly
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

Build infra for inteldal.devel-reduced
  eng/Versions.props
  src/Microsoft.ML.OneDal/Microsoft.ML.OneDal.csproj
  src/Native/Native.proj
  src/Native/OneDalNative/CMakeLists.txt
  src/Native/OneDalNative/OneDalAlgorithms.cpp
  src/Native/build.cmd
  src/Native/build.sh
Due: production

add smac tuner
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/Tuner/RandomSearchTuner.cs
  src/Microsoft.ML.AutoML/Tuner/SmacTuner.cs
  src/Microsoft.ML.SearchSpace/Parameter.cs
  src/Microsoft.ML.SearchSpace/Tuner/RandomTuner.cs
  test/Microsoft.ML.AutoML.Tests/TunerTests.cs
Due: production, test

Fix problems with DataFrame WriteCsv (#6303)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Manually merge with main
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test
