Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

More clean up
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
Due: production

Fix slice
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
Due: production

Update name to GetOrCreateMutable
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainerHelpers.cs
Due: production

Use null instead of default for nullable values.
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
Due: production

Clean up Apply methods.
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
Due: production

Fix math and update templates to match generated files.
  src/Microsoft.Data.Analysis/DataFrame.BinaryOperators.tt
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperators.tt
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
Due: production

fixed chown command
  eng/helix.proj
Due: none

Add Tests
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnComputationsTests.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnComputationsTests.tt
Due: test

Fix test
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: test

Same issue?
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: test

Test and Fix Median and Mean
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Update Cumulative handling of nulls based on DataFrame documentation
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
Due: production

Fixed bug deserializing arrays
  docs/samples/Microsoft.ML.Samples.XGBoost/Microsoft.ML.Samples.XGBoost.csproj
  docs/samples/Microsoft.ML.Samples.XGBoost/Program.cs
  src/Microsoft.ML.XGBoost/WrappedXGBoostInterface.cs
  src/Microsoft.ML.XGBoost/WrappedXGBoostTraining.cs
  src/Microsoft.ML.XGBoost/WrappedXGBooster.cs
  src/Microsoft.ML.XGBoost/WrappedXGDMatrix.cs
  src/Microsoft.ML.XGBoost/XGBoostTrainerBase.cs
Due: production

sql db test path change
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

sql db test path change
  eng/Versions.props
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: test

Update ExperimentSettings.cs
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
Due: production

sql db test fix
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

Clean up PrimitiveColumnContainer (#6656)
  src/Microsoft.Data.Analysis/DataFrameBuffer.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainerHelpers.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/ReadOnlyDataFrameBuffer.cs
Due: production

fix comment
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
  src/Microsoft.ML.Fairlearn/FairlearnCatalog.cs
  src/Microsoft.ML.Fairlearn/MLContextExtension.cs
  src/Microsoft.ML.Fairlearn/metrics/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: production, test

sql db test fix
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: test

Fix DataFrame Null Math (#6661)
  src/Microsoft.Data.Analysis/DataFrame.BinaryOperators.tt
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperators.tt
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnComputationsTests.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnComputationsTests.tt
Due: production, test

Update ExperimentSettings.cs (#6663)
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
Due: production

Change PrimitiveDataFrameColumnComputations to use Generic Math
  src/Microsoft.Data.Analysis/AssemblyAttributes.cs
  src/Microsoft.Data.Analysis/DecimalMathComputation.cs
  src/Microsoft.Data.Analysis/FloatingPointMathComputation.cs
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
  test/Microsoft.Data.Analysis.Tests/AssemblyAttributes.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: production, test

Clean up and reduce helpers
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
Due: production

Added ADO.NET importing/exporting functionality to DataFrame (#5975)
  eng/Versions.props
  eng/helix.proj
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/Extensions.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: production, test

Clean up variables and consistency
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
Due: production

Simplify initialize code
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
Due: production

Update GroupBy Product test
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: test

Get rid of DateTimeDateFrameColumn alias
  src/Microsoft.Data.Analysis/DateTimeDataFrameColumn.cs
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Get rid of converters
  src/Microsoft.Data.Analysis/Converters.cs
  src/Microsoft.Data.Analysis/Converters.tt
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.ReversedBinaryOperations.cs
Due: production

Convert ColumnArithmetic to generics
  src/Microsoft.Data.Analysis/IPrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.Data.Analysis/NumericDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Convert float/decimal/double versions of ColumnArithmetic to GenericMath
  src/Microsoft.Data.Analysis/FloatingPointDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/NumberDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
Due: production

Remove all TT files.
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/DataFrame.BinaryOperations.tt
  src/Microsoft.Data.Analysis/DataFrame.BinaryOperators.tt
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperators.tt
  src/Microsoft.Data.Analysis/DataFrameColumn.Computations.tt
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.Combinations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.Combinations.ttinclude
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.ReversedBinaryOperations.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameColumn.BinaryOperationTests.tt
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnComputationsTests.tt
Due: production, test

fix build error
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
  src/Microsoft.ML.Fairlearn/AutoML/TunerFactory.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.Fairlearn/metrics/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/metrics/GroupMetric.cs
  src/Microsoft.ML.Fairlearn/reductions/GridSearchTrialRunner.cs
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
  src/Microsoft.ML.Fairlearn/reductions/Utilities.cs
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
  test/Microsoft.ML.Fairlearn.Tests/UtilityTest.cs
Due: production, test

capitalize folder name
  src/Microsoft.ML.Fairlearn/Metrics/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/Metrics/GroupMetric.cs
  src/Microsoft.ML.Fairlearn/Reductions/GridSearchTrialRunner.cs
  src/Microsoft.ML.Fairlearn/Reductions/Moment.cs
  src/Microsoft.ML.Fairlearn/Reductions/Utilities.cs
  src/Microsoft.ML.Fairlearn/Reductions/UtilityParity.cs
Due: production

fix builderror
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
Due: test

checkout test file
  docs/samples/Microsoft.ML.AutoML.Samples/Program.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: test

add epison to probability
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/TunerTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
