Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

More feedback addressing
  src/Microsoft.ML.Tokenizers/Data/cl100k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/gpt2.tiktoken
  src/Microsoft.ML.Tokenizers/Data/p50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/r50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
Due: production

Update the package doc.
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

More feedback
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
Due: production

Feedback++
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
Due: production

Tokenizer's APIs Polishing (#7108)
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Model/Word.cs
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/SentencePiecePreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/TiktokenPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Whitespace.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/PreTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Loosen tolerance in TestEntryPoints
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Add baseline file update capability
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Update baselines for Microsoft.ML.TestFramework on net8.0
  test/BaselineOutput/Common/Command/netcoreapp/CommandTrainMlrWithStats-out.txt
  test/BaselineOutput/Common/Command/netcoreapp/CommandTrainMlrWithStats-summary.txt
  test/BaselineOutput/Common/Command/netcoreapp/CommandTrainingLrWithStats-out.txt
  test/BaselineOutput/Common/Command/netcoreapp/CommandTrainingLrWithStats-summary.txt
  test/BaselineOutput/Common/SavePipe/netcoreapp/TestParquetPrimitiveDataTypes-Data.txt
Due: test

Update baselines for Microsoft.ML.TestFramework on net9.0
  test/BaselineOutput/Common/Command/net9.0/CommandTrainMlrWithStats-summary.txt
Due: test

Fix merge conflict
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Update baselines for Microsoft.ML.Tests on net8.0
  test/BaselineOutput/Common/FeatureContribution/netcoreapp/SDCARegression.tsv
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: test

Embed Tiktoken data files (#7098)
  THIRD-PARTY-NOTICES.TXT
  src/Common/tests/RetryHelper.cs
  src/Microsoft.ML.Tokenizers/Data/cl100k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/gpt2.tiktoken
  src/Microsoft.ML.Tokenizers/Data/p50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/r50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Utils.cs
Due: production, test

Update the tokenizer migration guide
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Address the feedback
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

small fix.
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Add missing baseline
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Update the tokenizer migration guide (#7109)
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Use test script for helix payload
  eng/Version.Details.xml
  eng/Versions.props
  eng/testing/helix.targets
  eng/testing/runTests.cmd
  eng/testing/runTests.sh
  test/Directory.Build.targets
Due: test

Fix command to call script from helix
  eng/testing/helix.targets
Due: none

Only run .NETFramework tests on x64
  eng/testing/helix.targets
  test/Directory.Build.props
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
Due: test

More tokenizer's APIs cleanup
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/BPEDecoder.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/TokenizerDecoder.cs
  src/Microsoft.ML.Tokenizers/Utils/ValueStringBuilder.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Fix typo in bash script
  eng/testing/runTests.sh
Due: none

Add Tiktoken's missing model names
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Build NETFramework projects for PlatformTarget that matches TargetArchitecture
  test/Directory.Build.props
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
Due: test

Add Tiktoken's missing model names (#7111)
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Add more required Tokenizer APIs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
Due: production

Add more required Tokenizer APIs (#7114)
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
Due: production

Implement ToString() method for DataFrameColumn class (#7103)
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
Due: production

Fix DataFrame NullCount property of StringDataFrameColumn (#7090)
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnTests.cs
Due: production, test

Fix comments
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

More tokenizer's APIs cleanup (#7110)
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/BPEDecoder.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/TokenizerDecoder.cs
  src/Microsoft.ML.Tokenizers/Utils/ValueStringBuilder.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Fix inconsistency in DataFrameColumns Clone API implementation (#7100)
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Improve DataFrame.OrderBy method by providing ability to define how null values should be positioned
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Refactor DropNulls method
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Refactor ArrowStringDataFrameColumn Clone()
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
