Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fix typo
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

more useful error msg
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

checkin
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

update
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

reorder signatures
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

helpful error
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

refactor checkin
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

let error msg contains right onnx format
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

a work version, need refactor
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

remove signatures that contains IDataView
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

work around with ApiCompat
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

add comments
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

fix DataView variable description
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

fix test failure
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

remove unused library
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
Due: production

whitespace nit
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInferenceApi.cs
Due: production

add more logs
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
Due: production

remove submodule for test
  .gitmodules
Due: none

Revert code gen (#5127)
  pkg/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.nupkgproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
Due: production

add libmf as content to test
  src/Native/MatrixFactorizationNative/libmf/.appveyor.yml
  src/Native/MatrixFactorizationNative/libmf/.travis.yml
  src/Native/MatrixFactorizationNative/libmf/COPYRIGHT
  src/Native/MatrixFactorizationNative/libmf/Makefile
  src/Native/MatrixFactorizationNative/libmf/Makefile.win
  src/Native/MatrixFactorizationNative/libmf/README
  src/Native/MatrixFactorizationNative/libmf/demo/all_one_matrix.te.txt
  src/Native/MatrixFactorizationNative/libmf/demo/all_one_matrix.tr.txt
  src/Native/MatrixFactorizationNative/libmf/demo/binary_matrix.te.txt
  src/Native/MatrixFactorizationNative/libmf/demo/binary_matrix.tr.txt
  src/Native/MatrixFactorizationNative/libmf/demo/demo.bat
  src/Native/MatrixFactorizationNative/libmf/demo/demo.sh
  src/Native/MatrixFactorizationNative/libmf/demo/real_matrix.te.txt
  src/Native/MatrixFactorizationNative/libmf/demo/real_matrix.tr.txt
  src/Native/MatrixFactorizationNative/libmf/mf-predict.cpp
  src/Native/MatrixFactorizationNative/libmf/mf-train.cpp
  src/Native/MatrixFactorizationNative/libmf/mf.cpp
  src/Native/MatrixFactorizationNative/libmf/mf.def
  src/Native/MatrixFactorizationNative/libmf/mf.h
  src/Native/MatrixFactorizationNative/libmf/windows/mf-predict.exe
  src/Native/MatrixFactorizationNative/libmf/windows/mf-train.exe
  src/Native/MatrixFactorizationNative/libmf/windows/mf.dll
Due: production

add more logs to mf.cpp
  src/Native/MatrixFactorizationNative/libmf/mf.cpp
Due: production

disable download meta file by default, only enable on CI
  build.proj
  build/ci/job-template.yml
Due: none

add step timeout to prevent download hanging
  build/ci/job-template.yml
Due: none

Draft PR for SrCnn batch detection API interface (#1)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnnBatchPrediction.cs
  src/Microsoft.ML.Data/DataView/BatchDataViewMapperBase.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SrCnnBatchAnomalyDetection.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

enable download meta at CI by default at all configuration
  build/ci/job-template.yml
Due: none

test BinaryClassifierSymSgdTest
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test

test new meta file url
  build.proj
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

add baseline for linux for test
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer.txt
Due: test

try remove build timeout
  build/ci/job-template.yml
Due: none

try with disable shuffle
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
Due: production

Remove public parameter for readMultilines, as it is considered a breaking API change.
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Update manifest
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Add version to props file
  build/Dependencies.props
  src/Microsoft.ML.Data/Microsoft.ML.Data.csproj
  src/Microsoft.ML.Sweeper/Microsoft.ML.Sweeper.csproj
Due: production

Added new API for generic text loader catalog methods, with an Options parameter
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

Added a couple of tests to directly test the new API
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

Implement SrCnn entire API by function
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnnBatchPrediction.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SrCnnBatchAnomalyDetection.cs
Due: production

Fix bugs and add test
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnnBatchPrediction.cs
  src/Microsoft.ML.TimeSeries/SrCnnBatchAnomalyDetection.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

disable download meta file by default, only enable on CI (#5131)
  build.proj
  build/ci/job-template.yml
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
