Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

revert name changes
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Minor polishment
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

delete automl .sln
  Microsoft.ML.AutoML.sln
Due: none

PR feedback
  src/Microsoft.ML.AutoML/ColumnInference/PurposeInference.cs
Due: production

Fixed build errors resulting from upgrade to VS2019 compilers
  src/Native/CMakeLists.txt
Due: production

Add example for applying ONNX model to in-memory images (#3851)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Added additional message describing the previous fix
  src/Native/CMakeLists.txt
Due: production

Fixed build errors resulting from upgrading to VS2019 compilers (#3894)
  src/Native/CMakeLists.txt
Due: production

Checked in a better fix based on code review
  src/Native/CMakeLists.txt
Due: production

Updated message
  src/Native/CMakeLists.txt
Due: production

Fix #3898 (remove crefs to internal methods)
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
Due: production

Checked in a better fix based on code review (#3896)
  src/Native/CMakeLists.txt
Due: production

Polish code
  build/Dependencies.props
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypes.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Fix build by using the latest test package
  build/Dependencies.props
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: test

Add cast if ONNXRuntime produces string tensor
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Saving my work, just in case
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/SaveLoadModel.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/SaveLoadModelFile.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
Due: production

Just trying stuff out!
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

Move from phases to jobs and use bring your own cloud pool
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  build/codecoverage-ci.yml
Due: none

Fix queue
  .vsts-dotnet-ci.yml
Due: none

Try again
  build/Dependencies.props
Due: none

Fix assignment of a variable to itself
  src/Microsoft.ML.Core/Utilities/Utils.cs
Due: production

Increase tol
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

Increase tol again
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

Increase build time
  build/ci/job-template.yml
Due: none

Added a comment.
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Testing
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

Tree-based featurization (#3812)
  docs/api-reference/io-columns-tree-featurization-binary-classification.md
  docs/api-reference/io-columns-tree-featurization-ranking.md
  docs/api-reference/io-columns-tree-featurization-regression.md
  docs/api-reference/tree-featurization-prediction.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/BinaryClassificationFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/PretrainedTreeEnsembleFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RankingFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RegressionFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizationEstimator.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizationTransformer.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: production, test

Implement IDisposable
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Fix build
  build/ci/job-template.yml
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

Reformatted TensorFlow samples to width 85
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
Due: none

reformatted ModelOperations samples to width 85
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/SaveLoadModel.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/SaveLoadModelFile.cs
Due: none

Move from phases to jobs and use bring your own cloud pool (#3908)
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  build/codecoverage-ci.yml
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

Add doc strings
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Sweep trimming of whitespace
  src/Microsoft.ML.AutoML/ColumnInference/TextFileContents.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Strings.resx
  src/mlnet/strings.Designer.cs
Due: production

Bump ONNXRuntime version (#3837)
  build/Dependencies.props
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

LightGBM unbalanced data arg added
  src/Microsoft.ML.LightGbm/LightGbmArguments.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

unbalanced data argument added
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Use ONNXFact instead of Fact
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: test

Fix #3898 (remove crefs to internal methods) (#3899)
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
Due: production

Reformatted AnomalyDetection samples to width 85
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
Due: none
