Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

delete AutoML sln; add AutoML test projs to ML.NET sln
  Microsoft.ML.AutoML.sln
  Microsoft.ML.sln
Due: none

test fixes
  src/Microsoft.ML.Auto/TrainerExtensions/SweepableParams.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

add links to code samples in documentation.
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
Due: production

comments rev
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunDetails/CrossValidationRunDetail.cs
Due: production

remove examples for restricting available trainers
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
Due: production

wording rev
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
Due: production

wording rev
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
Due: production

trainer fixes
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
Due: production

wording rev
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
Due: production

Update src/Microsoft.ML.Auto/API/AutoCatalog.cs
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
Due: production

data points --> data elements
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
Due: production

wording rev
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
Due: production

Fix typos in XML comments in TextLoaderSaverCatalog
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

wording rev
  src/Microsoft.ML.Auto/API/RunDetails/CrossValidationRunDetail.cs
Due: production

wording revs
  src/Microsoft.ML.Auto/API/RunDetails/CrossValidationRunDetail.cs
Due: production

wording rev
  src/Microsoft.ML.Auto/API/RunDetails/RunDetail.cs
Due: production

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

API reference - Updated trainer docs for AveragedPerceptron (#3310)
  docs/api-reference/io-columns-binary-classification.md
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.tt
Due: none

revert.
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Avoid local function in ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/RegressionSamplesTemplate.ttinclude
Due: none

Rename sample files
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Sdca.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Sdca.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/SdcaWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/SdcaWithOptions.tt
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
Due: none

linear svm
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

adding note about AUC for prior
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainer.tt
Due: none

Update file names
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

Update OGD doc strings
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.tt
Due: none

Fix typos in XML comments in TextLoaderSaverCatalog (#3355)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

[AutoML] Add AutoML XML documentation to all public members; migrate AutoML projects & tests into ML.NET solution; AutoML test fixes (#3351)
  Microsoft.ML.AutoML.sln
  Microsoft.ML.sln
  build.proj
  docs/samples/Microsoft.ML.Samples/AutoML/BinaryClassificationExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/BinaryClassificationExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/AutoML/MulticlassClassificationExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/MulticlassClassificationExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/AutoML/RegressionExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/RegressionExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
  src/Microsoft.ML.Auto/API/AutoInferenceCatalog.cs
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/InferenceException.cs
  src/Microsoft.ML.Auto/API/MLContextExtension.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunDetails/CrossValidationRunDetail.cs
  src/Microsoft.ML.Auto/API/RunDetails/RunDetail.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/Microsoft.ML.Auto/Sweepers/SmacSweeper.cs
  src/Microsoft.ML.Auto/TrainerExtensions/SweepableParams.cs
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionUtil.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
  src/mlnet/mlnet.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

fix comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyOnnxModel.cs
Due: none

Rewrite image transform samples and dispose images after use. (#3307)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

Fix csproj
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

Convert CacheBeforeTrainer from nullable bool to enum
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineBuilder.cs
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
  test/Microsoft.ML.AutoML.Tests/SuggestedPipelineBuilderTests.cs
Due: production, test

Removed tmpurl_lr
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
Due: production

Replaced tmpurl_regularization
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
Due: production

Replaced tmpurl_loss
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaRegression.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production
