Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Add comments
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.cs
Due: production

Fix merge issues (broken build)
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fixed code review findings
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
Due: production

Step 1
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Cherry pick Step 2 commit from 6733
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fixed code review findings
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Cherry pick PR 6724 (fix dataframe arithmetics for columns having several value buffers)
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
Due: production

Fix tests
  src/Microsoft.Data.Analysis/NumberMathComputation.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Add missing implementation for datetime relevant arrow type into dataframe (#6675)
  eng/Versions.props
  src/Microsoft.Data.Analysis/DataFrame.Arrow.cs
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/ArrowIntegrationTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Fix the behavior or column SetName method (#6676)
  src/Microsoft.Data.Analysis/DataFrame.Join.cs
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fix DataFrame to allow to store columns with size more than 2 Gb (#6710)
  src/Microsoft.Data.Analysis/DataFrameBuffer.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/ReadOnlyDataFrameBuffer.cs
  test/Microsoft.Data.Analysis.Tests/BufferTests.cs
Due: production, test

avoid empty dataset (#6756)
  src/Microsoft.ML.AutoML/AutoMLExperiment/IDatasetManager.cs
Due: production

Fix dataframe arithmetics for columns having several value buffers (column size is more than 2 Gb) (#6724)
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Run tests that requires more than 2 Gb of Memory only on 64-bit env
  test/Microsoft.Data.Analysis.Tests/BufferTests.cs
Due: test

Reduce coupling of Data.Analysis.Tests project
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.ML.TestFrameworkCommon/Attributes/X64FactAttribute.cs
  test/Microsoft.ML.TestFrameworkCommon/Attributes/X86X64FactAttribute.cs
Due: test

Run tests that requires more than 2 Gb of Memory only on 64-bit env (#6758)
  test/Microsoft.Data.Analysis.Tests/BufferTests.cs
Due: test

Reduce coupling of Data.Analysis.Tests project (#6759)
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.ML.TestFrameworkCommon/Attributes/X64FactAttribute.cs
  test/Microsoft.ML.TestFrameworkCommon/Attributes/X86X64FactAttribute.cs
Due: test

Provide ability to filter dataframe column by null via ElementWise Methods (#6723)
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.BinaryOperations.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fix incorrect DataFrame min max computation with NULL (#6734)
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

NER
  src/Microsoft.ML.TorchSharp/NasBert/BertModelType.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/BaseModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/ModelForNer.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/ModelPrediction.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/NasBertModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/SequenceLabelHead.cs
  src/Microsoft.ML.TorchSharp/NasBert/NasBertTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/NerTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/SentenceSimilarityTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpBaseTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/NerTests.cs
Due: production, test

QA almost done, runtime error
  src/Microsoft.ML.TorchSharp/NasBert/Models/NasBertEncoder.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/NasBertModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/TransformerEncoder.cs
  src/Microsoft.ML.TorchSharp/NasBert/NasBertTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/NerTrainer.cs
  src/Microsoft.ML.TorchSharp/Roberta/Models/RobertaEncoder.cs
  src/Microsoft.ML.TorchSharp/Roberta/Models/RobertaModel.cs
  src/Microsoft.ML.TorchSharp/Roberta/Models/RobertaModelForQA.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/Attention.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/AttentionOutput.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/AttentionSelf.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/Embeddings.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/Encoder.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/Intermediate.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/Layer.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/Output.cs
  src/Microsoft.ML.TorchSharp/Roberta/QATrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  src/Microsoft.ML.TorchSharp/Utils/IntrinsicAttribute.cs
  src/Microsoft.ML.TorchSharp/Utils/MethodTable.cs
  src/Microsoft.ML.TorchSharp/Utils/MetricUtils.cs
  src/Microsoft.ML.TorchSharp/Utils/Range.cs
  test/Microsoft.ML.Tests/QATests.cs
Due: production, test

QA finished
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.TorchSharp/Roberta/QATrainer.cs
  test/Microsoft.ML.Tests/QATests.cs
Due: production, test

Clean DataFrame meaningless code
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
Due: production

Clean DataFrame meaningless code (#6761)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
Due: production

Change methods signature generation
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperators.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperators.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Change DataFrameColumn Arithmetics
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Change DataFrameColumn Operations
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
Due: production

Fix unit tests
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Fix spaces
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
Due: production

fixed build
  src/Microsoft.ML.TorchSharp/Roberta/Models/RobertaModel.cs
  src/Microsoft.ML.TorchSharp/Roberta/Modules/AttentionSelf.cs
  src/Microsoft.ML.TorchSharp/Roberta/QATrainer.cs
  src/Microsoft.ML.TorchSharp/Utils/Range.cs
  src/Microsoft.ML.TorchSharp/Utils/RuntimeHelpers.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/NerTests.cs
Due: production, test

build fixes
  src/Microsoft.ML.TorchSharp/NasBert/NasBertTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/NerTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/SentenceSimilarityTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/Roberta/Models/RobertaModel.cs
  src/Microsoft.ML.TorchSharp/TorchSharpBaseTrainer.cs
  src/Microsoft.ML.TorchSharp/Utils/DataUtils.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
Due: production, test

Fix code review findings
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
Due: production

Modernized some argument checks that still used string literals for parameter names
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.TorchSharp/Utils/Index.cs
  src/Microsoft.ML.TorchSharp/Utils/Range.cs
  test/Microsoft.ML.IntegrationTests/Datasets/TypeTestData.cs
Due: production, test

perf changes
  src/Microsoft.ML.TorchSharp/Roberta/Modules/AttentionSelf.cs
  src/Microsoft.ML.TorchSharp/Roberta/QATrainer.cs
  src/Microsoft.ML.TorchSharp/Utils/DataUtils.cs
  src/Microsoft.ML.TorchSharp/Utils/RuntimeHelpers.cs
Due: production

fix issue
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
Due: production

made disposable
  src/Microsoft.ML.TorchSharp/AutoFormerV2/ObjectDetectionTrainer.cs
  src/Microsoft.ML.TorchSharp/Roberta/QATrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpBaseTrainer.cs
  test/Microsoft.ML.Tests/NerTests.cs
  test/Microsoft.ML.Tests/QATests.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

fixed not disposing model
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/ObjectDetectionTests.cs
Due: test

added some disposables to TensorFlow for memory
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

build testing
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/NerTests.cs
  test/Microsoft.ML.Tests/QATests.cs
Due: test
