Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Address comments
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Address a comment
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

update to different types
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
Due: production

Rephrase output column descriptions for binary classification
  docs/api-reference/io-columns-binary-classification.md
Due: none

string to text
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

Add a doc template to SkipTakeFilter
  src/Microsoft.ML.Data/Transforms/SkipTakeFilter.cs
Due: production

bump version to 0.3 since that's the one we're going to ship for build
  build/BranchInfo.props
Due: none

text transforms xml doc
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/NgramUtils.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
Due: production

adress comments
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
Due: production

Address comments
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
Due: production

`true`
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
Due: production

fixing the link (#3406)
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
Due: production

bump version to 0.3 since that's the one we're going to ship for build (#3416)
  build/BranchInfo.props
Due: none

fix comments
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/PairwiseCouplingTrainer.cs
Due: production

Update xml documentation for ProduceHashedNgrams
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

[AutoML] temporarily disable all but x64 platforms -- don't want to do native builds and can't find a way around that with the current VSTS pipeline
  build/vsts-ci.yml
Due: none

- update all space and formatting to <spaces> - update SSE.cpp comments to reflect correct limits of a variable -- checked for one more overflow condition -- ensure all exceptions are thrown
  src/Native/CpuMathNative/Sse.cpp
  src/Native/LdaNative/alias_multinomial_rng_int.cpp
  src/Native/LdaNative/alias_multinomial_rng_int.hpp
  src/Native/LdaNative/data_block.cpp
  src/Native/LdaNative/data_block.h
  src/Native/LdaNative/lda_engine.cpp
  src/Native/LdaNative/model_block.cpp
  src/Native/MatrixFactorizationNative/UnmanagedMemory.cpp
Due: production

[AutoML] temporarily disable all but x64 platforms -- don't want to do native builds and can't find a way around that with the current VSTS pipeline (#3420)
  build/vsts-ci.yml
Due: none

Check for IEstimator/ITransformer schema consistency, fix bugs uncovered (#3408)
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MetaMulticlassTrainer.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/KeyToVectorMapping.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/TrainerEstimators/CalibratorEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
Due: production, test

Update src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
Due: production

disable steps but keep phases to keep vsts build pipeline happy
  build/vsts-ci.yml
Due: none

Added one more allocation check - standardized to numeric_limits of int32_t
  src/Native/LdaNative/alias_multinomial_rng_int.hpp
  src/Native/LdaNative/data_block.cpp
  src/Native/LdaNative/model_block.cpp
Due: production

address comments
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

fixed a clang-only warning
  src/Native/LdaNative/data_block.cpp
Due: production

XML doc for transforms
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingEstimator.cs
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingTransformer.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
Due: production

disable steps but keep phases to keep vsts build pipeline happy (#3423)
  build/vsts-ci.yml
Due: none

XML documentation for Normalizer Tracked in #3204
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

- Fixing space
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
Due: production

Documentation for Multiclass SDCA
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
Due: production

review feedback.
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingEstimator.cs
Due: production

address senja comments
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
Due: production

Normalizer multicolumn example
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinningMulticolumn.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Normalizer multicolumn example (#3435)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinningMulticolumn.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Code review comments
  docs/api-reference/io-columns-anomaly-detection.md
  src/Microsoft.ML.PCA/PcaTrainer.cs
Due: production

Address comments
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
Due: production

address comments
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

address comments
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
Due: production

fix size comments
  src/Native/LdaNative/model_block.cpp
Due: production

snapping featurizeText to the template
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/doc.xml
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
