Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

typo
  build/vsts-ci.yml
Due: none

Fix merge conflict in global.json
  global.json
Due: none

use vs2019 as before, not 2022
  build/vsts-ci.yml
Due: none

try enabling cfg and spectre mitigation on Windows
  src/Native/CpuMathNative/CMakeLists.txt
  src/Native/FastTreeNative/CMakeLists.txt
  src/Native/LdaNative/CMakeLists.txt
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/MklProxyNative/CMakeLists.txt
  src/Native/OneDalNative/CMakeLists.txt
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

Update Arcade
  eng/common/native/init-distro-rid.sh
  eng/common/native/init-os-and-arch.sh
  eng/common/post-build/publish-using-darc.ps1
  eng/common/templates-official/job/job.yml
  eng/common/templates-official/job/onelocbuild.yml
  eng/common/templates-official/job/publish-build-assets.yml
  eng/common/templates-official/job/source-build.yml
  eng/common/templates-official/job/source-index-stage1.yml
  eng/common/templates-official/jobs/codeql-build.yml
  eng/common/templates-official/jobs/jobs.yml
  eng/common/templates-official/jobs/source-build.yml
  eng/common/templates-official/post-build/common-variables.yml
  eng/common/templates-official/post-build/post-build.yml
  eng/common/templates-official/post-build/setup-maestro-vars.yml
  eng/common/templates-official/post-build/trigger-subscription.yml
  eng/common/templates-official/steps/add-build-to-channel.yml
  eng/common/templates-official/steps/component-governance.yml
  eng/common/templates-official/steps/generate-sbom.yml
  eng/common/templates-official/steps/publish-logs.yml
  eng/common/templates-official/steps/retain-build.yml
  eng/common/templates-official/steps/send-to-helix.yml
  eng/common/templates-official/steps/source-build.yml
  eng/common/templates-official/variables/pool-providers.yml
  eng/common/templates-official/variables/sdl-variables.yml
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/steps/execute-sdl.yml
  eng/common/tools.ps1
  eng/common/tools.sh
Due: none

oops
  build/vsts-ci.yml
Due: none

See if it's publish: to blame
  build/vsts-ci.yml
Due: none

Revert "See if it's publish: to blame"
  build/vsts-ci.yml
Due: none

Avoid artifacts: stanza
  build/vsts-ci.yml
Due: none

don't binskim source
  build/vsts-ci.yml
Due: none

Adding needed Tokenizer's APIs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

try autobaselining
  build/vsts-ci.yml
Due: none

Small update to the newly exposed APIs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Annotate disabled log upload
  build/vsts-ci.yml
Due: none

fix comments
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
Due: production

Update the APIs signatures
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Remove AI tooling tag
  build/vsts-ci.yml
Due: none

Move image names into variables & dedup
  build/vsts-ci.yml
Due: none

Useless bad commit to force CI re-run
  build/vsts-ci.yml
Due: none

Revert "Useless bad commit to force CI re-run"
  build/vsts-ci.yml
Due: none

Change official build to use 1ES templates (#7048)
  build/vsts-ci.yml
  src/Native/CpuMathNative/CMakeLists.txt
  src/Native/FastTreeNative/CMakeLists.txt
  src/Native/LdaNative/CMakeLists.txt
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/MklProxyNative/CMakeLists.txt
  src/Native/OneDalNative/CMakeLists.txt
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

More feedback addressing
  src/Microsoft.ML.Tokenizers/AddedToken.cs
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Fix the comments
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
Due: production

Adding needed Tokenizer's APIs (#7047)
  src/Microsoft.ML.Tokenizers/AddedToken.cs
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

fixed m1 baselines
  global.json
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.PAVcalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.calibrateRandom-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.nocalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.nocalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.nocalibration.txt
  test/BaselineOutput/Common/Command/CommandTrainingLrWithStats-summary.txt
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainMlrWithStats-out.txt
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainMlrWithStats-summary.txt
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainingLrWithStats-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-CV-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-AvgPer-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-AvgPer-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/WE-Voting-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Stacking-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Stacking-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Voting-TrainTest-iris-out.txt
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

removed continue on error
  build/ci/job-template.yml
Due: none

removing accidental file update
  test/BaselineOutput/Common/Command/CommandTrainingLrWithStats-summary.txt
Due: test

removed wrong queue
  build/ci/send-to-helix.yml
Due: none

use sqlite for all db testing
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

fixing db tests with sqlite
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Update package versions in use by ML.NET tests
  docs/samples/Microsoft.ML.Samples.OneDal/Microsoft.ML.Samples.OneDal.csproj
  eng/Versions.props
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.SearchSpace.Tests/Microsoft.ML.SearchSpace.Tests.csproj
Due: test

testing arm python brew overwite
  build/ci/job-template.yml
Due: none

more m1 testing
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
Due: none

Install python@3.12 before libomp
  build/ci/job-template.yml
Due: none

Update official build libomp install command
  build/vsts-ci.yml
Due: none

testing arm python brew overwite (#7058)
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

Update package versions in use by ML.NET tests (#7055)
  docs/samples/Microsoft.ML.Samples.OneDal/Microsoft.ML.Samples.OneDal.csproj
  eng/Versions.props
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.SearchSpace.Tests/Microsoft.ML.SearchSpace.Tests.csproj
Due: test
