Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fixing build
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: test

added missing dispose
  test/Microsoft.ML.Tests/ObjectDetectionTests.cs
Due: test

build fixes
  test/Microsoft.ML.Tests/QATests.cs
Due: test

Fix issue with addIndexColumn in DataFrame.LoadCsv
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Fix inconsistent null handling in DataFrame Arithmetics
  src/Microsoft.Data.Analysis/PrimitiveColumnContainerHelpers.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fix tests
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

Fix Null Count and division by zero issues
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

build fixes
  test/Microsoft.ML.Tests/NerTests.cs
Due: test

testing macos fix
  build/ci/job-template.yml
Due: none

Fix DataFrame.LoadCsv can not load CSV with duplicate column names
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

fix issue (#6768)
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
Due: production

fixed mac build and minor torch sharp changes
  build/vsts-ci.yml
  src/Microsoft.ML.TorchSharp/NasBert/SentenceSimilarityTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

fixed mac build and minor torch sharp changes (#6776)
  build/vsts-ci.yml
  src/Microsoft.ML.TorchSharp/NasBert/SentenceSimilarityTrainer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

Improve DataFrame Arithmetics implementation (#6763)
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperators.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperators.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Add QA sweepable
  src/Microsoft.ML.AutoML/CodeGen/QuestionAnswering.cs
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/question-answering.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/trainer-estimators.json
Due: production

Use CultureInfo for parsing values in csv file
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/DataFrame.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

clean
  src/Microsoft.ML.AutoML/CodeGen/question_answering_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/QuestionAnswering.cs
Due: production

Add QA sweepable estimator in AutoML (#6781)
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/question_answering_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/trainer-estimators.json
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/QuestionAnswering.cs
Due: production

Modernized some argument checks that still used string literals for parameter names (#6766)
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.TorchSharp/Utils/Index.cs
  src/Microsoft.ML.TorchSharp/Utils/Range.cs
  test/Microsoft.ML.IntegrationTests/Datasets/TypeTestData.cs
Due: production, test

Add target Type in convert type
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/TypeConvert.cs
Due: production

Add custom type "DataKind"
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

clean
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: none

Add DataKind name space
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.tt
Due: production

clean test
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_creditapproval_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_newspaperchurn_test.approved.txt
Due: test

File-scoped namespaces in files under `CommandLine` (`Microsoft.ML.Core`)
  src/Microsoft.ML.Core/CommandLine/ArgumentAttribute.cs
  src/Microsoft.ML.Core/CommandLine/ArgumentType.cs
  src/Microsoft.ML.Core/CommandLine/CharCursor.cs
  src/Microsoft.ML.Core/CommandLine/CmdLexer.cs
  src/Microsoft.ML.Core/CommandLine/CmdParser.cs
  src/Microsoft.ML.Core/CommandLine/DefaultArgumentAttribute.cs
  src/Microsoft.ML.Core/CommandLine/EnumValueDisplayAttribute.cs
  src/Microsoft.ML.Core/CommandLine/HideEnumValueAttribute.cs
  src/Microsoft.ML.Core/CommandLine/SpecialPurpose.cs
  src/Microsoft.ML.Core/Data/KeyTypeExtensions.cs
Due: production

File-scoped namespaces in files under `ComponentModel` (`Microsoft.ML.Core`)
  src/Microsoft.ML.Core/ComponentModel/AssemblyLoadingUtils.cs
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.Core/ComponentModel/ComponentFactory.cs
  src/Microsoft.ML.Core/ComponentModel/ExtensionBaseAttribute.cs
  src/Microsoft.ML.Core/ComponentModel/LoadableClassAttribute.cs
Due: production

File-scoped namespaces in files under `Data` (`Microsoft.ML.Core`)
  src/Microsoft.ML.Core/Data/AnnotationBuilderExtensions.cs
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  src/Microsoft.ML.Core/Data/ColumnTypeExtensions.cs
  src/Microsoft.ML.Core/Data/DataKind.cs
  src/Microsoft.ML.Core/Data/ICommand.cs
  src/Microsoft.ML.Core/Data/IEstimator.cs
  src/Microsoft.ML.Core/Data/IFileHandle.cs
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Data/IProgressChannel.cs
  src/Microsoft.ML.Core/Data/IRowToRowMapper.cs
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
  src/Microsoft.ML.Core/Data/IValueMapper.cs
  src/Microsoft.ML.Core/Data/InPredicate.cs
  src/Microsoft.ML.Core/Data/KeyTypeExtensions.cs
  src/Microsoft.ML.Core/Data/LinkedRootCursorBase.cs
  src/Microsoft.ML.Core/Data/LinkedRowFilterCursorBase.cs
  src/Microsoft.ML.Core/Data/LinkedRowRootCursorBase.cs
  src/Microsoft.ML.Core/Data/ModelHeader.cs
  src/Microsoft.ML.Core/Data/ModelLoadContext.cs
  src/Microsoft.ML.Core/Data/ModelLoading.cs
  src/Microsoft.ML.Core/Data/ModelSaveContext.cs
  src/Microsoft.ML.Core/Data/ModelSaving.cs
  src/Microsoft.ML.Core/Data/ProgressReporter.cs
  src/Microsoft.ML.Core/Data/ReadOnlyMemoryUtils.cs
  src/Microsoft.ML.Core/Data/Repository.cs
  src/Microsoft.ML.Core/Data/RoleMappedSchema.cs
  src/Microsoft.ML.Core/Data/RootCursorBase.cs
  src/Microsoft.ML.Core/Data/SchemaExtensions.cs
  src/Microsoft.ML.Core/Data/ServerChannel.cs
  src/Microsoft.ML.Core/Data/SynchronizedCursorBase.cs
  src/Microsoft.ML.Core/Data/WrappingRow.cs
Due: production

File-scoped namespaces in files under `EntryPoints` (`Microsoft.ML.Core`)
  src/Microsoft.ML.Core/EntryPoints/EntryPointModuleAttribute.cs
  src/Microsoft.ML.Core/EntryPoints/EntryPointUtils.cs
  src/Microsoft.ML.Core/EntryPoints/ModuleArgs.cs
  src/Microsoft.ML.Core/EntryPoints/PredictorModel.cs
  src/Microsoft.ML.Core/EntryPoints/TransformModel.cs
Due: production

File-scoped namespaces in files under `Environment` (`Microsoft.ML.Core`)
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Environment/TelemetryMessage.cs
Due: production

File-scoped namespaces in files under `Prediction` (`Microsoft.ML.Core`)
  src/Microsoft.ML.Core/Prediction/IPredictor.cs
  src/Microsoft.ML.Core/Prediction/ITrainer.cs
  src/Microsoft.ML.Core/Prediction/ITree.cs
  src/Microsoft.ML.Core/Prediction/TrainContext.cs
  src/Microsoft.ML.Core/Prediction/TrainerInfo.cs
Due: production

File-scoped namespaces in files directly under `Microsoft.ML.Core`
  src/Microsoft.ML.Core/BestFriendAttribute.cs
  src/Microsoft.ML.Core/PublicKey.cs
Due: production

removed deprecated yosemite brew
  build/libomp.rb
Due: none

removed deprecated yosemite brew (#6805)
  build/libomp.rb
Due: none

Add TargetType to Type_convert (#6785)
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/TypeConvert.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_creditapproval_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_newspaperchurn_test.approved.txt
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.tt
Due: production, test

File-scoped namespaces in files under `Environment` (`Microsoft.ML.Core`) (#6791)
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Environment/TelemetryMessage.cs
Due: production

File-scoped namespaces in files under `EntryPoints` (`Microsoft.ML.Core`) (#6790)
  src/Microsoft.ML.Core/EntryPoints/EntryPointModuleAttribute.cs
  src/Microsoft.ML.Core/EntryPoints/EntryPointUtils.cs
  src/Microsoft.ML.Core/EntryPoints/ModuleArgs.cs
  src/Microsoft.ML.Core/EntryPoints/PredictorModel.cs
  src/Microsoft.ML.Core/EntryPoints/TransformModel.cs
Due: production

Fix issue with addIndexColumn in DataFrame.LoadCsv (#6769)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Minor changes to restart build and rerun flaky tests
  src/Microsoft.Data.Analysis/PrimitiveColumnContainerHelpers.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
