Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Address code review comments.
  src/Microsoft.ML.Transforms/HashJoiningTransform.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Tests/Transformers/CountTargetEncodingTests.cs
Due: production, test

add seasonality detect and stl decompose in srcnn
  src/Microsoft.ML.TimeSeries/BackendStructureBase.cs
  src/Microsoft.ML.TimeSeries/BasicParameters.cs
  src/Microsoft.ML.TimeSeries/Cyclic.cs
  src/Microsoft.ML.TimeSeries/FastLoess.cs
  src/Microsoft.ML.TimeSeries/FftTransform.cs
  src/Microsoft.ML.TimeSeries/InnerStl.cs
  src/Microsoft.ML.TimeSeries/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/LocalRegression.cs
  src/Microsoft.ML.TimeSeries/Loess.cs
  src/Microsoft.ML.TimeSeries/LoessConfiguration.cs
  src/Microsoft.ML.TimeSeries/MathsTools.cs
  src/Microsoft.ML.TimeSeries/MatrixEx.cs
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.TimeSeries/MovingAverage.cs
  src/Microsoft.ML.TimeSeries/SeasonalInfo.cs
  src/Microsoft.ML.TimeSeries/SerialCorrelation.cs
  src/Microsoft.ML.TimeSeries/SrCnnAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  src/Microsoft.ML.TimeSeries/StlConfiguration.cs
  src/Microsoft.ML.TimeSeries/TemporalOutlierInfo.cs
  src/Microsoft.ML.TimeSeries/TrajectoryMatrix.cs
  src/Microsoft.ML.TimeSeries/TrendInfo.cs
  src/Microsoft.ML.TimeSeries/TuningParams.cs
Due: production

output memory usage after every test finish (#5180)
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
Due: test

updated OnnxConversionTests.cs to use a common method for all the tests that can, removing about 400 lines of duplicate code.
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

fixed failing test on x86
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

remove unnecessary methods
  src/Microsoft.ML.CpuMath/IntUtils.cs
  src/Microsoft.ML.Transforms/MissingValueReplacingUtils.cs
Due: production

review comments
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

remove unnecessary methods (#5186)
  src/Microsoft.ML.CpuMath/IntUtils.cs
  src/Microsoft.ML.Transforms/MissingValueReplacingUtils.cs
Due: production

Refactor of OnnxConversionTests.cs (#5185)
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

add anomalyDeltaThreshold for RCA
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

improve error message also give expected type
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinaryLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Transpose/TransposeLoader.cs
  src/Microsoft.ML.Data/DataView/AppendRowsDataView.cs
  src/Microsoft.ML.Data/DataView/ArrayDataViewBuilder.cs
  src/Microsoft.ML.Data/DataView/BatchDataViewMapperBase.cs
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/DataView/Transposer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Transforms/GenerateNumberTransform.cs
  src/Microsoft.ML.Data/Transforms/LabelConvertTransform.cs
  src/Microsoft.ML.Data/Transforms/NAFilter.cs
  src/Microsoft.ML.Data/Transforms/PerGroupTransformBase.cs
  src/Microsoft.ML.Data/Transforms/RangeFilter.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  src/Microsoft.ML.Parquet/ParquetLoader.cs
  src/Microsoft.ML.Parquet/PartitionedFileLoader.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  src/Microsoft.ML.Transforms/ProduceIdTransform.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/SvmLight/SvmLightLoader.cs
Due: production

refine workds
  src/Microsoft.ML.Data/Transforms/GenerateNumberTransform.cs
  src/Microsoft.ML.Data/Transforms/NAFilter.cs
  src/Microsoft.ML.Data/Transforms/RangeFilter.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  src/Microsoft.ML.Parquet/ParquetLoader.cs
  src/Microsoft.ML.Parquet/PartitionedFileLoader.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
Due: production

fix bug
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
Due: production

update getDicCode logic
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

Minor change
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Updated docs
  docs/code/IDataViewTypeSystem.md
  src/Microsoft.ML.Core/Utilities/DoubleParser.cs
  src/Microsoft.ML.Data/Data/Conversion.cs
Due: production

fix a bug
  src/Microsoft.ML.Data/Transforms/LabelConvertTransform.cs
Due: production

resolve comments
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/Scorers/GenericScorer.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.OnnxConverter/OnnxExportExtensions.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueReplacing.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
Due: production

revert files
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Scorers/GenericScorer.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
Due: production

fixes the mapping so its correct with the output columns between ML.Net and ONNX itself.
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Update: ModelBuilder codegen for Object Detection
  src/Microsoft.ML.AutoML/TaskKind.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/AzureCodeGenerator/AzureAttachModelCodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGenerators.cs
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/ObjectDetectionOnnxMapping.cs
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/ObjectDetectionOnnxMapping.tt
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/ReshapeTransformer.cs
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/ReshapeTransformer.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelOutputClass.tt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.CodeGenTest.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.CodeGenTest.Model.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ConsumeModel.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.LabelMapping.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ModelBuilder.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ModelInput.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ModelOutput.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.NormalizeMapping.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.Program.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ReshapeTransformer.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.PredictionCSFileContentTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

updates based on PR comments
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: test

Issue 4047, improve error message give expected type (#5189)
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinaryLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Transpose/TransposeLoader.cs
  src/Microsoft.ML.Data/DataView/AppendRowsDataView.cs
  src/Microsoft.ML.Data/DataView/ArrayDataViewBuilder.cs
  src/Microsoft.ML.Data/DataView/BatchDataViewMapperBase.cs
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/DataView/Transposer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Transforms/GenerateNumberTransform.cs
  src/Microsoft.ML.Data/Transforms/LabelConvertTransform.cs
  src/Microsoft.ML.Data/Transforms/NAFilter.cs
  src/Microsoft.ML.Data/Transforms/PerGroupTransformBase.cs
  src/Microsoft.ML.Data/Transforms/RangeFilter.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  src/Microsoft.ML.Parquet/ParquetLoader.cs
  src/Microsoft.ML.Parquet/PartitionedFileLoader.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  src/Microsoft.ML.Transforms/ProduceIdTransform.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/SvmLight/SvmLightLoader.cs
Due: production

added in method to get mapping and added more comments
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

fix build error
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGeneratorSettings.cs
Due: production

updated testing files to give better test results
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ConsumeModel.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ModelBuilder.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.Program.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: test

upgrade tensorflow and tf.net version
  build/Dependencies.props
Due: none

Fixed version format of built packages
  Directory.Build.props
  build/BranchInfo.props
Due: none

Refactored test code
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: test

add description
  src/Microsoft.ML.OnnxConverter/OnnxExportExtensions.cs
Due: production

fix version
  build/Dependencies.props
Due: none

Added Test
  test/BaselineOutput/Common/TextLoader/missing_fields-with-impute.csv
  test/BaselineOutput/Common/TextLoader/missing_fields-without-impute.csv
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/missing_fields.csv
Due: test

Typo in test
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

optimizations in performance
  src/Microsoft.ML.TimeSeries/InnerStl.cs
  src/Microsoft.ML.TimeSeries/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/MovingAverage.cs
  src/Microsoft.ML.TimeSeries/SerialCorrelation.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

revert change to tenforflow version
  build/Dependencies.props
Due: none

Revert "new code coverage (#5169)"
  build.proj
  build/Codecoverage.proj
  build/Dependencies.props
  test/Directory.Build.props
  test/coverlet.runsettings
  test/run-tests.proj
Due: test

Updated manifest
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Revert "Revert "new code coverage (#5169)""
  build.proj
  build/Codecoverage.proj
  build/Dependencies.props
  test/Directory.Build.props
  test/coverlet.runsettings
  test/run-tests.proj
Due: test

Minor fix in docs
  src/Microsoft.ML.Core/Utilities/DoubleParser.cs
Due: production
