Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

cross build instructions added
  .gitignore
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
Due: none

renamed arm to Arm. Changed TargetArchitecture to default to OS architecture
  Directory.Build.props
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Native/Native.proj
  src/Native/build.cmd
  src/Native/build.sh
  src/Native/gen-buildsys-win.bat
  test/Microsoft.Extensions.ML.Tests/Microsoft.Extensions.ML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.Benchmarks.Tests/Microsoft.ML.Benchmarks.Tests.csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
  test/Microsoft.ML.FSharp.Tests/Microsoft.ML.FSharp.Tests.fsproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.OnnxTransformerTest/Microsoft.ML.OnnxTransformerTest.csproj
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.Sweeper.Tests/Microsoft.ML.Sweeper.Tests.csproj
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.TimeSeries.Tests/Microsoft.ML.TimeSeries.Tests.csproj
Due: production, test

fixed some formatting
  Directory.Build.targets
Due: none

Fix cross-compilation if statement
  src/Native/build.sh
Due: production

fixed capitilization
  Directory.Build.props
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Native/Native.proj
  src/Native/build.cmd
  test/Microsoft.Extensions.ML.Tests/Microsoft.Extensions.ML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.Benchmarks.Tests/Microsoft.ML.Benchmarks.Tests.csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
  test/Microsoft.ML.FSharp.Tests/Microsoft.ML.FSharp.Tests.fsproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.OnnxTransformerTest/Microsoft.ML.OnnxTransformerTest.csproj
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.Sweeper.Tests/Microsoft.ML.Sweeper.Tests.csproj
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.TimeSeries.Tests/Microsoft.ML.TimeSeries.Tests.csproj
Due: production, test

fixed Arm Capitilization
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
  src/Native/build.sh
  src/Native/gen-buildsys-win.bat
Due: production

building on apple silicon
  .gitignore
  src/Native/CMakeLists.txt
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/build.sh
Due: production

removed non build related files
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Attributes/LightGBMFactAttribute.cs
  test/Microsoft.ML.TestFramework/Attributes/NotSupportedOnArmAttribute.cs
  test/Microsoft.ML.TestFramework/Attributes/TensorflowFactAttribute.cs
  test/Microsoft.ML.TestFramework/GlobalBase.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

Changes from PR comments. Removal of FastTreeNative flag.
  Directory.Build.props
  Directory.Build.targets
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.FastTree/Dataset/DenseIntArray.cs
  src/Microsoft.ML.FastTree/Dataset/IntArray.cs
  src/Microsoft.ML.FastTree/Dataset/SegmentIntArray.cs
  src/Microsoft.ML.FastTree/Dataset/SparseIntArray.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/build.sh
  test/Microsoft.Extensions.ML.Tests/Microsoft.Extensions.ML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.Benchmarks.Tests/Microsoft.ML.Benchmarks.Tests.csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
  test/Microsoft.ML.FSharp.Tests/Microsoft.ML.FSharp.Tests.fsproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.OnnxTransformerTest/Microsoft.ML.OnnxTransformerTest.csproj
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.Sweeper.Tests/Microsoft.ML.Sweeper.Tests.csproj
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.TimeSeries.Tests/Microsoft.ML.TimeSeries.Tests.csproj
Due: production, test

Fixes from PR comments.
  Directory.Build.props
  Directory.Build.targets
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.FastTree/Dataset/IntArray.cs
  src/Microsoft.ML.FastTree/Dataset/SegmentIntArray.cs
  src/Microsoft.ML.FastTree/Dataset/SparseIntArray.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  test/Microsoft.Extensions.ML.Tests/Microsoft.Extensions.ML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.TestFramework/Attributes/TensorflowFactAttribute.cs
  test/Microsoft.ML.TestFramework/GlobalBase.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: production, test

Changes from pr comments.
  Directory.Build.props
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.FastTree/Dataset/IntArray.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

updates from pr
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.PerformanceTests/FeaturizeTextBench.cs
  test/Microsoft.ML.PerformanceTests/TextLoaderBench.cs
  test/Microsoft.ML.TestFramework/RemoteExecutor.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: production, test

fixed onnx temp model deleting
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

random file path fixed
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.PerformanceTests/FeaturizeTextBench.cs
  test/Microsoft.ML.PerformanceTests/TextLoaderBench.cs
  test/Microsoft.ML.TestFramework/RemoteExecutor.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: production, test

Changed how auto ml caches.
  docs/samples/Microsoft.ML.AutoML.Samples/RankingExperiment.cs
  docs/samples/Microsoft.ML.AutoML.Samples/RecommendationExperiment.cs
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/RankingExperiment.cs
  src/Microsoft.ML.AutoML/API/RecommendationExperiment.cs
  src/Microsoft.ML.AutoML/API/RegressionExperiment.cs
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Utils/TaskAgnosticAutoFit.cs
Due: production, test

Changes from PR comments.
  docs/samples/Microsoft.ML.AutoML.Samples/RankingExperiment.cs
  docs/samples/Microsoft.ML.AutoML.Samples/RecommendationExperiment.cs
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/RankingExperiment.cs
  src/Microsoft.ML.AutoML/API/RecommendationExperiment.cs
  src/Microsoft.ML.AutoML/API/RegressionExperiment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Utils/TaskAgnosticAutoFit.cs
Due: production, test

Update src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
Due: production

Tensorflow fixes from PR comments
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

PR fixes.
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Utils/TaskAgnosticAutoFit.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fixed filepath issues
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

cross builds only
  .vsts-dotnet-ci.yml
  build/ci/job-template-cross.yml
Due: none

cross builds only
  build/ci/job-template-cross.yml
Due: none

cross builds only
  Directory.Build.targets
Due: none

Use dotnet certificate (#5794)
  eng/Signing.props
Due: none

cross builds only
  .vsts-dotnet-ci.yml
Due: none

fix yml job name
  .vsts-dotnet-ci.yml
Due: none

Fixed mac-os hosted pool
  .vsts-dotnet-ci.yml
  build/ci/job-template-cross.yml
Due: none

Changed how we are excluding files.
  Directory.Build.targets
Due: none

Throw FormatException rather than ArgumentException on conversion errors in Appending data
  src/Microsoft.Data.Analysis/DataFrame.cs
Due: production

Arm build changes (#5789)
  .gitignore
  Directory.Build.props
  Directory.Build.targets
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
  eng/common/cross/build-rootfs.sh
  src/Microsoft.ML.FastTree/Dataset/DenseIntArray.cs
  src/Microsoft.ML.FastTree/Dataset/IntArray.cs
  src/Microsoft.ML.FastTree/Dataset/SegmentIntArray.cs
  src/Microsoft.ML.FastTree/Dataset/SparseIntArray.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Native/CMakeLists.txt
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/Native.proj
  src/Native/SymSgdNative/CMakeLists.txt
  src/Native/build.cmd
  src/Native/build.sh
  src/Native/gen-buildsys-win.bat
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

Onnx load model (#5782)
  src/Microsoft.ML.AutoML/API/ExperimentSettings.cs
  src/Microsoft.ML.AutoML/API/RankingExperiment.cs
  src/Microsoft.ML.AutoML/API/RegressionExperiment.cs
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.PerformanceTests/FeaturizeTextBench.cs
  test/Microsoft.ML.PerformanceTests/TextLoaderBench.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
