Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Avoid TensorFlow session finalizer crashes in tests
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorflowTests.cs
Due: test

Dispose ShowSchema pipelines deterministically
  src/Microsoft.ML.Data/Commands/ShowSchemaCommand.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
Due: production, test

Fix Apply<TResult> buffer boundary corruption when sizeof(T) != sizeof(TResult)
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnTests.cs
Due: production, test

add regression tests
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.LightGbm/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  test/Microsoft.ML.Tests/CalibratedModelParametersTests.cs
Due: production, test

Preserve carriage return in unterminated merge line
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Clarify DataFrame row selection documentation
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.Computations.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.Computations.tt
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Share BPE merge file parsing across APIs
  src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Rename BPE tokenizer source file
  src/Microsoft.ML.Tokenizers/Model/BpeTokenizer.cs
Due: production

Allow SentencePiece Unigram models without BOS or EOS, such as T5
  src/Microsoft.ML.Tokenizers/Model/SentencePieceUnigramModel.cs
  test/Microsoft.ML.Tokenizers.Tests/SentencePieceTests.cs
Due: production, test

Fix DataFrame column clone behavior
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnTests.cs
  test/Microsoft.Data.Analysis.Tests/VBufferColumnTests.cs
Due: production, test

Cover Unigram models without EOS
  test/Microsoft.ML.Tokenizers.Tests/SentencePieceTests.cs
Due: test

Dispose transformers behind legacy row mappers
  src/Microsoft.ML.Data/Commands/ShowSchemaCommand.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
Due: production, test

Remove the GenAI removal note from documentation
  docs/README.md
  docs/project-docs/components-and-dependencies.md
Due: none

Fix MSML_ParameterLocalVarName: rename discard _ to input in test lambda
  test/Microsoft.ML.Tests/PredictionEngineBatchTests.cs
Due: test

Add PredictBatch to PredictionEngineBase for zero-allocation batch scoring
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  test/Microsoft.ML.Tests/PredictionEngineBatchTests.cs
Due: production, test

Merge the leftmost of equally scored pairs first in the SentencePiece BPE model
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpeModel.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
Due: production, test

Clean up repository documentation
  CONTRIBUTING.md
  README-oneDAL.md
  README.ko-KR.md
  README.md
  docs/project-docs/components-and-dependencies.md
  docs/project-docs/release-process.md
Due: none

Fixed "here" links.
  CONTRIBUTING.md
Due: none

Refresh maintained documentation
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/api-reference/tensorflow-usage.md
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
  docs/code/MlNetCookBook.md
  docs/project-docs/contributing.md
  docs/project-docs/developer-guide.md
  docs/project-docs/platform-limitations.md
  docs/project-docs/release-process.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
Due: test

Remove unnecessary clarification
  docs/project-docs/platform-limitations.md
Due: none

Document Windows x86 limitations
  docs/project-docs/platform-limitations.md
Due: none

Address documentation review feedback
  docs/building/unix-instructions.md
  docs/project-docs/components-and-dependencies.md
  docs/project-docs/developer-guide.md
Due: none

Preserve LightGBM validation groups after loading
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
Due: production

Add regression test for LightGBM validation groups
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Respect null bitmaps in primitive column comparisons
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumn.NullComparisonTests.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumn.NullComparisonTests.tt
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnTests.cs
Due: production, test

Extend test generation to include scalar comparisons
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumn.NullComparisonTests.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumn.NullComparisonTests.tt
Due: test

feat(DataFrame): Support CanShuffle: true and parallel cursor sets in IDataView
  src/Microsoft.Data.Analysis/DataFrame.IDataView.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
Due: production, test

Document release branch setup
  docs/README.md
  docs/project-docs/release-process.md
Due: none

Refresh release type documentation
  docs/project-docs/release-process.md
Due: none

Updated Types of releases
  docs/project-docs/release-process.md
Due: none

Advance main branding to ML.NET 7.0
  eng/BranchInfo.props
Due: none

Document exceptions thrown by DataFrame.LoadCsv
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

Document release branch setup (#7770)
  docs/README.md
  docs/project-docs/release-process.md
Due: none

Install ML.NET native dependencies consistently
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  build/ci/job-template.yml
  build/vsts-ci.yml
  docs/building/unix-instructions.md
  eng/install-dependencies.sh
Due: none

Update GPU runtime instructions for TensorFlow
  docs/api-reference/tensorflow-usage.md
Due: none

Document exceptions thrown by DataFrame.LoadCsv (#7772)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production
