Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

review comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCount.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCountMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformationMultiColumn.cs
Due: none

Created samples for 'ProduceWordBags' and 'ProduceHashedWordBags' API. (#3183)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceHashedWordBags.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceWordBags.cs
Due: none

Sample revs; ColumnInformation property name revs; pre-featurizer fixes (#346)
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInformationUtil.cs
  src/Microsoft.ML.Auto/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.Auto/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.Auto/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.Auto/Experiment/Runners/TrainValidateRunner.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineCrossValRunDetails.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineRunDetails.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineRunDetailsUtil.cs
  src/Microsoft.ML.Auto/TrainerExtensions/BinaryTrainerExtensions.cs
  src/Microsoft.ML.Auto/TrainerExtensions/MultiTrainerExtensions.cs
  src/Microsoft.ML.Auto/TrainerExtensions/RegressionTrainerExtensions.cs
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionUtil.cs
  src/Microsoft.ML.Auto/Utils/UserInputValidationUtil.cs
  src/Samples/AdvancedTrainingSettings.cs
  src/Samples/CrossValidation.cs
  src/Samples/Helpers/ConsoleHelper.cs
  src/Samples/InferColumns.cs
  src/Test/AutoFitTests.cs
  src/Test/ColumnInferenceTests.cs
  src/Test/ColumnInformationUtilTests.cs
  src/Test/GetNextPipelineTests.cs
  src/Test/TrainerExtensionsTests.cs
  src/Test/UserInputValidationTests.cs
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet/AutoML/AutoMLEngine.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/Utilities/ConsolePrinter.cs
  src/mlnet/Utilities/Utils.cs
Due: production

Samples for categorical transform estimators (#3179)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Categorical/OneHotEncodingMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Categorical/OneHotHashEncoding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Categorical/OneHotHashEncodingMultiColumn.cs
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
Due: production

Fix a value-mapping bug (#3180)
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
Due: production, test

take care of review comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCount.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCountMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformationMultiColumn.cs
Due: none

fix copy paste output error
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformation.cs
Due: none

fixing namespace for image samples
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

Created sample for 'LatentDirichletAllocation' API. (#3191)
  docs/samples/Microsoft.ML.Samples/Dynamic/LdaTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/LatentDirichletAllocation.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

fix compile error
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
Due: none

Created samples for 'ProduceNgrams' and 'ProduceHashedNgrams' APIs. (#3177)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceHashedNgrams.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceNgrams.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

CLI -- consume logs from AutoML SDK (#349)
  src/Microsoft.ML.Auto/DebugLogger.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/Runners/RunnerUtil.cs
  src/mlnet/AutoML/AutoMLDebugLogger.cs
  src/mlnet/AutoML/AutoMLEngine.cs
Due: production

Update for more feedback
  docs/code/MlNetCookBook.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

Fix marshalling of bool flags in MF
  src/Microsoft.ML.Recommender/SafeTrainingAndModelBuffer.cs
Due: production

Samples for FeatureSelection transform estimators (#3184)
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureSelectionTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCount.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCountMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformationMultiColumn.cs
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
Due: production

Rename sample methods to Example
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSpikeBySsa.cs
  docs/samples/Microsoft.ML.Samples/Static/AveragedPerceptronBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/FeatureSelectionTransform.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMMulticlassWithInMemoryData.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCABinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCARegression.cs
Due: none

Fix runtime exception in LDA sample.
  docs/samples/Microsoft.ML.Samples/Dynamic/LdaTransform.cs
Due: none

TimeSeriesStatics naming.
  src/Microsoft.ML.TimeSeries.StaticPipe/TimeSeriesStatic.cs
Due: production

Multi column MapKeyToValue and MapValueToKey
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToValueInputOutputPair.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyInputOutputPair.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

fix reference from xml
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

fixing mismatch
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

renaming per the new convention Addresssing Abhishek's comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToValueMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

reverting name
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

addressing PR issue, and merge.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertType.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertTypeMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/KeyToValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValue.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueIdvLookup.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
Due: none

changing namespace and removing the train/test split
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertType.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertTypeMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/Hash.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/KeyToValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToValueMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValue.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueIdvLookup.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
Due: none

Add loadable attribute for LinearMulticlassModelParameters
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: production, test

TimeSeriesStatics naming. (#3215)
  src/Microsoft.ML.TimeSeries.StaticPipe/TimeSeriesStatic.cs
Due: production

Fixing namespace for image samples (#3208)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

fix comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
Due: none

fix comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
Due: none

fix comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
Due: none

Address comment
  src/Microsoft.ML.Recommender/SafeTrainingAndModelBuffer.cs
  src/Native/MatrixFactorizationNative/UnmanagedMemory.cpp
  src/Native/MatrixFactorizationNative/UnmanagedMemory.h
Due: production

Add [BestFriend] for GraphRunner
  src/Microsoft.ML.EntryPoints/JsonUtils/GraphRunner.cs
Due: production

address comment
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
Due: production

Samples and unit test for image-related transform estimators (#3165)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
