Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update regularization-l1-l2.md
  docs/api-reference/regularization-l1-l2.md
Due: none

Handle Indexed Pixel Format correctly in Image Resize transform.
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
Due: production

AutoML PipelineSuggester: don't recommend pipelines from first-stage trainers that failed (#3593)
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
Due: production

InferColumns API: Validate all columns specified in column info exist in inferred data view (#3599)
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceValidationUtil.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInformationUtil.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceValidationUtilTests.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInformationUtilTests.cs
Due: production, test

rev error message
  src/Microsoft.ML.Auto/Utils/UserInputValidationUtil.cs
Due: production

throw exception if first 3 runs failed
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineCrossValRunDetail.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineRunDetail.cs
Due: production

rev error message
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
Due: production

[AutoML] AutoML SDK API: validate schema types of input IDataView (#3597)
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/Utils/UserInputValidationUtil.cs
  test/Microsoft.ML.AutoML.Tests/UserInputValidationTests.cs
Due: production, test

[AutoML] If first three iterations all fail, short-circuit AutoML experiment (#3591)
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineCrossValRunDetail.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineRunDetails/SuggestedPipelineRunDetail.cs
Due: production

R -> RI for centos
  .vsts-dotnet-ci.yml
Due: none

Adds release notes for 1.0
  docs/release-notes/1.0.0/release-1.0.0.md
Due: none

Minor update
  docs/release-notes/1.0.0/release-1.0.0.md
Due: none

Minor update to the list with non-MS contributors
  docs/release-notes/1.0.0/release-1.0.0.md
Due: none

PR feedback.
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/data/images/captain_america.jpg
  test/data/images/imagesmixedpixelformat.tsv
Due: production, test

Addresses comments
  docs/release-notes/1.0.0/release-1.0.0.md
Due: none

Renaming CI legs (#3553)
  .vsts-dotnet-ci.yml
  build/ci/phase-template.yml
Due: none

Addresses more comments
  docs/release-notes/1.0.0/release-1.0.0.md
Due: none

mlnet CLI nupkg creation/signing
  build.proj
  build/vsts-ci.yml
  pkg/mlnet/mlnet.nupkgproj
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.csproj
Due: production

Adds release notes for 1.0 (#3605)
  docs/release-notes/1.0.0/release-1.0.0.md
Due: none

Disable building NuGet packages other than Microsoft.Extensions.ML.
  build.proj
Due: none

PR feedback.
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  test/data/images/captain_america.jpg
  test/data/images/imagesmixedpixelformat.tsv
  test/data/images/resizedindexedpixelformat.jpeg
  test/data/images/tomato_indexedpixelformat.gif
Due: production, test

PR feedback.
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
Due: production

PR feedback.
  test/data/images/resizedindexedpixelformat.jpeg
Due: test

relmove includeinpackage from mlnet csproj
  src/mlnet/mlnet.csproj
Due: production

Fix Extensions test on netfx.
  test/Microsoft.Extensions.ML.Tests/FileLoaderTests.cs
Due: test

Handle Indexed Pixel Format correctly in Image Resize transform. (#3601)
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/data/images/imagesmixedpixelformat.tsv
  test/data/images/tomato_indexedpixelformat.gif
Due: production, test

address PR comments -- some minor reshuffling of stuff
  build.proj
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.Build.props
  src/mlnet/mlnet.csproj
Due: production

publish symbols for mlnet CLI
  pkg/mlnet/mlnet.symbols.nupkgproj
  src/mlnet/mlnet.csproj
Due: production

fix case in NLog.config
  src/mlnet/mlnet.csproj
Due: production

Disable building NuGet packages other than Microsoft.Extensions.ML. (#3607)
  build.proj
  test/Microsoft.Extensions.ML.Tests/FileLoaderTests.cs
Due: test

mlnet CLI nupkg creation/signing (#3606)
  build.proj
  build/vsts-ci.yml
  pkg/mlnet/mlnet.nupkgproj
  pkg/mlnet/mlnet.symbols.nupkgproj
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.Build.props
  src/mlnet/mlnet.csproj
Due: production

Clear
  docs/api-reference/regularization-l1-l2.md
Due: none

Detect invalid pixel format.
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
Due: production

Add test.
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/data/images/imagesmixedpixelformat.tsv
  test/data/images/taco_invalidpixelformat.jpg
Due: production, test

take dependency on a specific ml.net version
  Microsoft.ML.AutoML.sln
  nuget.config
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production
