Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fixed syntax errors
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
Due: none

wording improvement on unbalanced arg help text
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
Due: production

Update FilterRowsByColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByColumn.cs
Due: none

Update FilterRowsByColumn.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByColumn.tt
Due: none

Address comments
  pkg/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.nupkgproj
  src/Microsoft.ML.OnnxConverter/AssemblyInfo.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypes.cs
Due: production

Add a copy of OnnxMl.cs
  src/Microsoft.ML.OnnxTransformer/OnnxMl.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypes.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

updated manifest
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Removed extra white spaces
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/Ranking.ttinclude
Due: none

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/FastTree.cs
Due: none

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/FastTree.tt
Due: none

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/FastTreeWithOptions.cs
Due: none

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/Ranking.ttinclude
Due: none

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
Due: none

Fixed syntax errors
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
Due: none

Reformatting ModelOperations and DataOperations samples to width 85 (#3923)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/BootstrapSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Cache.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/CrossValidationSplit.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/DataViewEnumerable.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/DataViewEnumerable.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByColumn.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByKeyColumnFraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/LoadFromEnumerable.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SaveAndLoadFromBinary.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SaveAndLoadFromText.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/ShuffleRows.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/ShuffleRows.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SkipRows.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SkipRows.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TakeRows.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TakeRows.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TemperatureAndLatitude.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TrainTestSplit.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/SaveLoadModel.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/SaveLoadModelFile.cs
Due: none

Referencing instead of copying
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.OnnxTransformer/OnnxMl.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypes.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

forecast API.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/Forecasting.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/ForecastingWithConfidenceInterval.cs
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/Forecast.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  src/Microsoft.ML.TimeSeries/SequentialForecastingTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.TimeSeries/SsaForecastingBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

fix.
  src/Microsoft.ML.TimeSeries/SsaForecastingBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

refactor code.
  src/Microsoft.ML.TimeSeries/SequentialForecastingTransformBase.cs
Due: production

fix.
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

fix.
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
Due: production

refactor code.
  src/Microsoft.ML.TimeSeries/Forecast.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  src/Microsoft.ML.TimeSeries/SequentialForecastingTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.TimeSeries/SsaForecastingBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

fix.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/Forecasting.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/ForecastingWithConfidenceInterval.cs
Due: none

fix.
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
Due: production

Update documentation.
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  src/Microsoft.ML.TimeSeries/SequentialAnomalyDetectionTransformBase.cs
Due: production

Update documentation.
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
Due: production

clean up tests.
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Update tests.
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  src/Microsoft.ML.TimeSeries/SequentialForecastingTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.TimeSeries/SsaForecastingBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

update comments.
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Make GrowthRatio accessible in nimbus ML.
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

Update with PR review comment and entrypoint for forecasting API.
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  src/Microsoft.ML.TimeSeries/SequentialForecastingTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformBase.cs
  src/Microsoft.ML.TimeSeries/SsaForecastingBase.cs
  src/Microsoft.ML.TimeSeries/TimeSeriesProcessing.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Add samples.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsa.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsaStream.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidChangePoint.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidSpike.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSpikeBySsa.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/Forecasting.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
Due: none

Spacing changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
Due: none

Fix path
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
Due: production

Reformatting TensorFlow and AnomalyDetection samples to width 85 (#3922)
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
Due: none
