Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Internalization of TensorFlowUtils.cs and refactored TensorFlowCatalog. (#2672)
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/DnnAnalyzer.cs
  src/Microsoft.ML.TensorFlow.StaticPipe/TensorFlowStaticExtensions.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModelInfo.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/doc.xml
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

intrinsics environment variables name corrected
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/UnitTests.cs
Due: test

- Updating based on feedback
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/PairwiseCouplingTrainer.cs
Due: production

correcting path construction when Resnet projets are consumed as a nuget package (#2809)
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AlexNetExtension.cs
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AssemblyPathHelpers.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/ResNet101Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/ResNet50Extension.cs
Due: production

Cleaning public API surface for KMeans, NaiveBayes, OLS.
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIHelper.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeans.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  src/Microsoft.ML.HalLearners/ComputeLRTrainingStdThroughHal.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.KMeansClustering/KMeansCatalog.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MultiClassNaiveBayesTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/OlsLinearRegressionTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Make accessor of linear coefficients unique to the public (#2807)
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureContributionCalculationTransform.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCARegression.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/ModelStatistics.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Fixed OLS entrypoint.
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Scrubbing PkPd (#2749)
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/PairwiseCouplingTrainer.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

fix more tests
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/LogisticRegression-Non-Negative-CV-iris-out.txt
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/LogisticRegression-Non-Negative-CV-iris-rp.txt
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/LogisticRegression-Non-Negative-TrainTest-iris-out.txt
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/LogisticRegression-Non-Negative-TrainTest-iris-rp.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/LogisticRegression-Non-Negative-CV-iris-out.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/LogisticRegression-Non-Negative-CV-iris-rp.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/LogisticRegression-Non-Negative-TrainTest-iris-out.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/LogisticRegression-Non-Negative-TrainTest-iris-rp.txt
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: production, test

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainerSample.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Update build tools version and use netcoreapp3.0 on ubuntu CI (#2687)
  .vsts-dotnet-ci.yml
  BuildToolsVersion.txt
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/UnitTests.cs
Due: test

fix entrypoint tests
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-model.zip
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-out.txt.raw
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-rp.txt.raw
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

adding space and removing path
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Addressed reviewers' comments.
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/TextTransform.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Visibility.cs
Due: production, test

Addressed reviewers' comments.
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Cleaning and Fixing public API for set of learners. (#2765)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/RandomTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  src/Microsoft.ML.HalLearners/ComputeLRTrainingStdThroughHal.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/TrainerEstimators/OlsLinearRegressionTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
Due: production, test

- Updating from feedback
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMBinaryClassification.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  src/Microsoft.ML.LightGBM/WrappedLightGbmBooster.cs
  src/Microsoft.ML.LightGBM/doc.xml
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.key-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.keyU404-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.key-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.keyU404-out.txt
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

updating the version
  BuildToolsVersion.txt
  init-tools.sh
Due: none

update baseline
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-out.txt
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-rp.txt
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-out.txt
  test/BaselineOutput/SingleDebug/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-rp.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-out.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-rp.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-out.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-rp.txt
Due: test

- Minor updates
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Upgrade to ML.NET 0.11 (#247)
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionUtil.cs
  src/Test/TrainerExtensionsTests.cs
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedProjectCodeTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet.Test/TrainerGeneratorTests.cs
  src/mlnet.Test/TransformGeneratorTests.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
  src/mlnet/CodeGenerator/CSharp/TransformGenerators.cs
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
  src/mlnet/Templates/Console/MLProjectGen.cs
  src/mlnet/Templates/Console/MLProjectGen.tt
  src/mlnet/Utilities/Utils.cs
Due: production

Created samples for StochasticGradientDescentNonCalibrated learner. (#2770)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentNonCalibratedWithOptions.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Correct documentation for MapKeyToVector. (#2777)
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

Message related to missing models improved in DNNImageFeaturizers. (#2812)
  src/Microsoft.ML.Core/Utilities/Contracts.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
Due: production, test

Private preview final API changes (#250)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunResult.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInformationUtil.cs
  src/Samples/CustomizeTraining.cs
  src/Test/UserInputValidationTests.cs
  src/mlnet.Test/CodeGenTests.cs
Due: production

Add estimator to public API iteration result (#248)
  src/Microsoft.ML.Auto/API/RunResult.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipeline.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineResult.cs
  src/Test/AutoFitTests.cs
  src/Test/RunResultTests.cs
Due: production

taking care of review comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ConvertType.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  test/BaselineOutput/Common/Convert/Types.tsv
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
Due: production, test

review comments
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

LightGBM pipeline serialization fix (#251)
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionUtil.cs
  src/Test/TrainerExtensionsTests.cs
Due: production

sgd binary trainer
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentWithOptions.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

sdca binary
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCALogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/DecomposableTrainAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Extensibility.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Metacomponents.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/MultithreadedPrediction.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/PredictAndMetadata.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/TrainSaveModelAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/TrainWithInitialPredictor.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

SDCA regression and multiclass
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
Due: production

PR feedback.
  pkg/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.nupkgproj
  src/Microsoft.ML.Core/Data/ModelLoading.cs
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Native/build.proj
Due: production

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIHelper.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  src/Microsoft.ML.Mkl.Components/ComputeLRTrainingStdThroughHal.cs
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.Mkl.Components/OlsLinearRegression.cs
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/TrainerEstimators/OlsLinearRegressionTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
Due: production, test

merge conflict.
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Change order that we search for TextLoader's parameters (#256)
  src/Microsoft.ML.Auto/ColumnInference/TextFileContents.cs
Due: production
