Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

baselines
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
Due: test

Fix baseline
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Fix baselines, address code review comment.
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/Microsoft.ML.TestFramework/Learners.cs
Due: production, test

baselines
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Add option for caching/streaming
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmModelParameters.cs
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Fix baselines for Linux
  test/Microsoft.ML.TestFramework/Learners.cs
Due: test

add sample
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
Due: production

retry 2 more tests
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFrameworkCommon/Attributes/RetryFactAttribute.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

retry one more test
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
Due: test

Fix entry point catalog test
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Fix typos
  README.md
Due: none

Added static factory methods to DataFrameColumn (#2808)
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  tests/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production

retry one more light gbm test
  test/Microsoft.ML.TestFrameworkCommon/Attributes/RetryFactAttribute.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

added in new struct to mirror native struct
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
Due: production

Modified ISweeper
  src/Microsoft.ML.AutoML/Sweepers/ISweeper.cs
  src/Microsoft.ML.Sweeper/ISweeper.cs
Due: production

Revert "Updated SynchronizedCursorBase"
  src/Microsoft.ML.Core/Data/SynchronizedCursorBase.cs
Due: production

Use XML "see" for DataViewRow
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
  src/Microsoft.ML.Core/Data/SynchronizedCursorBase.cs
  src/Microsoft.ML.Data/Data/RowCursorUtils.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
Due: production

change F1 in baselines
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeHighMinDocs-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeHighMinDocs-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/PriorPredictor/BinaryPrior-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/PriorPredictor/BinaryPrior-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/PriorPredictor/BinaryPrior-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/PriorPredictor/BinaryPrior-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/PriorPredictor/BinaryPrior-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/PriorPredictor/BinaryPrior-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/PriorPredictor/BinaryPrior-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/PriorPredictor/BinaryPrior-TrainTest-breast-cancer-rp.txt
Due: test

Editing ClusteringEvaluator
  src/Microsoft.ML.Data/Evaluators/ClusteringEvaluator.cs
Due: production

Use XML "see" for DataViewRowCursor
  src/Microsoft.ML.Core/Data/SynchronizedCursorBase.cs
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
Due: production

Updated RoleMappedSchema
  src/Microsoft.ML.Core/Data/RoleMappedSchema.cs
Due: production

Updated ISchemaBindableMapper
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
Due: production

Remove MoveMany() comment from TrainerUtils
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
Due: production

Rephrase usage of "interface" on "Comparison with LINQ" Appendix
  docs/code/IDataViewDesignPrinciples.md
Due: none

Typo
  docs/code/MlNetHighLevelConcepts.md
Due: none

update Assembly Key
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
Due: production

Added explanatory comment to OneToOneTransformBase
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
Due: production

retry more times on tensorflow test
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Using invariance culture when converting to string (#4635)
  src/Microsoft.ML.AutoML/Sweepers/Parameters.cs
Due: production

Updated IDataReader to IDataLoader in MlNetHighLevelConcepts.md
  docs/code/MlNetHighLevelConcepts.md
Due: none

Backed out earlier changes from RowToRowTransformerBase.cs and OnnxTransform.cs and updated OnnxContext to include a facility to remove input variables
  src/Microsoft.ML.Data/Model/Onnx/OnnxContext.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  test/BaselineOutput/Common/Onnx/Transforms/SelectColumns.txt
Due: production, test

Updated exception message
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

retry one more test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

adding exception
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
Due: production

resolving formatting
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

VectorWhitening export to ONNX
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Remove obsolete code
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
Due: production

fix reg path when take memory dump
  init-tools.cmd
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
