Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Apply path filter for codecoverage as well
  build/codecoverage-ci.yml
Due: none

Remove net6.0 download
  eng/Versions.props
  global.json
Due: none

Address change in behavior in enum.ToString
  src/Microsoft.ML.Core/CommandLine/CmdParser.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Update pipeline names
  .vsts-dotnet-ci.yml
  README.ko-KR.md
  README.md
  build/.night-build.yml
  build/.outer-loop-build.yml
Due: none

Honor TestTargetFramework in tests.
  test/Microsoft.Data.Analysis.Interactive.Tests/Microsoft.Data.Analysis.Interactive.Tests.csproj
  test/Microsoft.Data.Analysis.PerformanceTests/Microsoft.Data.Analysis.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
Due: test

Update helix.proj
  eng/helix.proj
Due: none

Embed Tiktoken data files
  src/Microsoft.ML.Tokenizers/Data/cl100k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/gpt2.tiktoken
  src/Microsoft.ML.Tokenizers/Data/p50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/r50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Rename all private Clone methods to CloneInternal to avoid ambiguity, make base Clone method not virtual and CloneImplementation abstract
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.BinaryOperations.cs
Due: production

Final step
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.BinaryOperations.cs
Due: production

Polishing
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
Due: production

Remove not required changes
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
Due: production

Undo some not necessary changes
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Minor renaming
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Don't trigger PR validation builds for docs only changes (#7096)
  .vsts-dotnet-ci.yml
  build/codecoverage-ci.yml
Due: none

Add ToString() method to base DataFrameColumn class
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Address the feedback
  src/Microsoft.ML.Tokenizers/Data/cl100k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Data/gpt2.tiktoken
  src/Microsoft.ML.Tokenizers/Data/r50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Provide ability to define amount of rows shown in preview
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
Due: production

Move string to Resources, fix typo
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
Due: production

Remove build pipelines that don't run
  build/.night-build.yml
  build/.outer-loop-build.yml
  build/ci/job-template.yml
Due: none

Update PACKAGE.md to include Llama info
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Apply suggestions from code review
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Update PACKAGE.md to include Llama info (#7104)
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Add CodeQL exclusions file
  .CodeQL.yml
Due: none

Address the feedback
  THIRD-PARTY-NOTICES.TXT
  src/Microsoft.ML.Tokenizers/Data/p50k_base.tiktoken
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Utils.cs
Due: production, test

Improve DataFrame.OrderBy method by providing ability to define how null values should be positioned
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Remove teh confusing specialTokens flag parameter from all APIs
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/SentencePiecePreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/TikTokenPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Whitespace.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/PreTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Normalize casing of the Tiktoken name
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML.Tokenizers/PreTokenizer/TiktokenPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
Due: production

Make Model.Encode work with span instead of string
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
Due: production, test

Support granular Last/IndexOf.
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Model/Word.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
Due: production, test

Add CodeQL exclusions file (#7105)
  .CodeQL.yml
Due: none

More feedback addressing
  src/Common/tests/RetryHelper.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Utils.cs
Due: production, test

Remove wrong assert.
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
Due: production

Refactor helix testing to get test info from projects
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  build/ci/send-to-helix.yml
  build/codecoverage-ci.yml
  eng/helix.proj
  test/Directory.Build.props
  test/Directory.Build.targets
  test/Microsoft.Data.Analysis.Interactive.Tests/Microsoft.Data.Analysis.Interactive.Tests.csproj
  test/Microsoft.Data.Analysis.PerformanceTests/Microsoft.Data.Analysis.PerformanceTests.csproj
  test/Microsoft.ML.Benchmarks.Tests/Microsoft.ML.Benchmarks.Tests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Microsoft.ML.NugetPackageVersionUpdater.csproj
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
  test/Microsoft.ML.TensorFlow.Tests/Microsoft.ML.TensorFlow.Tests.csproj
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
  test/Microsoft.ML.TorchSharp.Tests/Microsoft.ML.TorchSharp.Tests.csproj
Due: test

Fix mac typo & only build netfx on Windows
  test/Directory.Build.props
  test/Directory.Build.targets
Due: test

Update Directory.Build.targets
  test/Directory.Build.targets
Due: test

Update Directory.Build.props
  test/Directory.Build.props
Due: test

Rerun unit tests
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
Due: production

Rerun unit tests
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Rerun unit tests
  src/Microsoft.Data.Analysis/DataFrame.cs
Due: production

Separate netfx test file for core_manifest.json
  test/BaselineOutput/Common/EntryPoints/netcoreapp/core_manifest.json
  test/BaselineOutput/Common/core_manifest.json
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
