Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Updated Tensorflow.Net to 0.70.2 with Tensorflow 2.7.0. (#7472)
  Directory.Packages.props
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  eng/Versions.props
  src/Microsoft.ML.TensorFlow/TensorTypeExtensions.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorflowTests.cs
Due: production, test

Fix PositiveRecall optimization in AutoMLExperiment
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
Due: production

Support OpenAI OSS Models with Tiktoken tokenizer
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: production, test

Add gpt-5 support
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: production, test

Support OpenAI OSS Models with Tiktoken tokenizer (#7494)
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: production, test

Fix minor typo in BinFinder.cs
  src/Microsoft.ML.Core/Utilities/BinFinder.cs
Due: production

Add experimental IsolationForest trainer for ML.NET
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.IsolationForest.Sample/Microsoft.ML.IsolationForest.Sample.csproj
  docs/samples/Microsoft.ML.IsolationForest.Sample/Program.cs
  src/Microsoft.ML.IsolationForest/IsolationForestModel.cs
  src/Microsoft.ML.IsolationForest/IsolationForestTrainer.cs
  src/Microsoft.ML.IsolationForest/Microsoft.ML.IsolationForest.csproj
  test/Microsoft.ML.IsolationForest.Tests/IsolationForestTrainerTests.cs
  test/Microsoft.ML.IsolationForest.Tests/Microsoft.ML.IsolationForest.Tests.csproj
Due: production, test

Added NumberOfLeaves option assignments
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/FastForest.cs
Due: production

fix
  docs/samples/Microsoft.ML.IsolationForest.Sample/Program.cs
  docs/samples/Microsoft.ML.IsolationForest.Sample/README.md
  docs/samples/Microsoft.ML.IsolationForest.Sample/SampleOutputs.cs
  src/Microsoft.ML.IsolationForest/IsolationForestModel.cs
  src/Microsoft.ML.IsolationForest/IsolationForestTrainer.cs
  test/Microsoft.ML.IsolationForest.Tests/IsolationForestAllTests.cs
  test/Microsoft.ML.IsolationForest.Tests/IsolationForestTrainerTests.cs
Due: production, test

Native/CMake: Gate OneDalNative behind ONEDAL_* detection to fix macOS x64 builds
  src/Native/CMakeLists.txt
Due: production

ci(macOS): install libomp from Homebrew instead of local libomp.rb
  build/ci/job-template.yml
Due: none

Helix macOS x64: stop copying libiomp5.dylib; only copy libomp.dylib (Homebrew no longer ships libiomp5)
  eng/helix.proj
Due: none

Helix osx-x64: copy libiomp5 next to MKL dylibs; add Intel/ARM gdiplus paths; widen install_name_tool patching
  build/ci/job-template.yml
  eng/helix.proj
Due: none

fix
  eng/helix.proj
Due: none

rollback MKL
  build/ci/job-template.yml
Due: none

Helix fix
  eng/helix.proj
Due: none

helix fix
  eng/helix.proj
Due: none

libiomp fix
  eng/helix.proj
Due: none

libiomp5.dylib fix
  eng/helix.proj
Due: none

Mark internal classes as internal
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
Due: production

Mark internal classes as internal (#7511)
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
Due: production

CI(macOS x64): use Homebrew libomp + copy only libomp.dylib; remove custom formula path
  build/ci/job-template.yml
  build/vsts-ci.yml
  eng/helix.proj
  src/Microsoft.ML.Tokenizers/Utils/DoubleArrayTrie.cs
Due: production

Fix indenting and make M1 and x64 consistent
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

Simplify helix.proj
  eng/helix.proj
Due: none

macOS x64 CI: fix dependency install and OpenMP runtime copy (use Homebrew libomp, adjust Helix payload) (#7510)
  build/ci/job-template.yml
  build/vsts-ci.yml
  eng/helix.proj
Due: none

Fix minor typo in BinFinder.cs (#7496)
  src/Microsoft.ML.Core/Utilities/BinFinder.cs
Due: production

Address the design review feedback
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/CompositePreTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Apply suggestions from code review
  src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
Due: production

Update src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
  src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
Due: production

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
Due: production

Address the design review feedback (#7513)
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/BpeOptions.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/CompositePreTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Initialize es-metadata.yml for inventory (#7504)
  es-metadata.yml
Due: none

Added NumberOfLeaves option assignments (#7499)
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/FastForest.cs
Due: production

Use shipping RC1 dotnet CLI
  global.json
Due: none

BpeTokenizer Cleanup
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Apply suggestions from code review
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
Due: production

Update Windows image, fix mac build
  build/vsts-ci.yml
Due: none

Fix new compilation errors with latest SDK
  src/Microsoft.ML.GenAI.Core/Module/GenAILinear.cs
  src/Microsoft.ML.GenAI.Core/Utils.cs
  src/Microsoft.ML.GenAI.Phi/Module/Phi2DecoderLayer.cs
  src/Microsoft.ML.GenAI.Phi/Module/Phi2RotaryEmbedding.cs
  src/Microsoft.ML.GenAI.Phi/Phi3/Config.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
