Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

clarifying parameters on time series (#5038)
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

feedback
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

addressing comments
  src/Microsoft.ML.Core/Utilities/Hashing.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/data/numerics.txt
Due: production, test

Let Image Loader dispose the last image it loaded, instead of image resizer
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
Due: production

Added Tests
  test/Microsoft.ML.Tests/ImagesTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Enable X64 Tests to run to view baseline outputs
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

Added a PredictionEngine to tests
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: test

try put nuget packages to shared folder instead of local to save disk space
  .vsts-dotnet-ci.yml
  Directory.Build.props
  build/ci/job-template.yml
  mount.ps1
Due: none

try with only one build
  .vsts-dotnet-ci.yml
  Directory.Build.props
Due: none

try new package share with longer timeout
  Directory.Build.props
  build/ci/job-template.yml
  mount.ps1
Due: none

Change using statement to reuse test class
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Handle NaN optimization metric in AutoML (#5031)
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/BinaryClassificationMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

Added logging for when conf. specific baseline is used
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

remove unnecessary file from SingleRelease
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-CV-breast-cancer.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-L1-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-L1-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-L1-CV-breast-cancer.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-L1-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-L1-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-L1-TrainTest-breast-cancer.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-SmoothedHinge-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-SmoothedHinge-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-SmoothedHinge-CV-breast-cancer.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-SmoothedHinge-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-SmoothedHinge-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-SmoothedHinge-TrainTest-breast-cancer.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleRelease/SDCA/BinarySDCA-TrainTest-breast-cancer.txt
Due: test

handle for infinity and nan
  src/Microsoft.ML.TimeSeries/DTRootCauseAnalyzer.cs
Due: production

Revert "Added logging for when conf. specific baseline is used"
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Added logging for when specific configuration baseline is used
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Update BaseTestBaseline.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Let ImageLoadingTransformer dispose the last image it loads (#5056)
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

renamed file and added boolean test
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/data/type-samples.txt
Due: production, test

updated documentation
  src/Microsoft.ML.Data/Transforms/Hashing.cs
Due: production

add missing baseline file
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-tree-featurized-permuted-rp.txt
  test/BaselineOutput/SingleRelease/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-tree-featurized-rp.txt
Due: test

rename the algorithm by removing DT
  docs/api-reference/time-series-root-cause-localization.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCause.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalization.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Update src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

fix type
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalization.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
Due: production

add an else branch when delta is negative
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

addressing comments
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

baseline changes
  test/BaselineOutput/Common/CategoricalHash/featurized.tsv
  test/BaselineOutput/Common/CategoricalHash/oneHotHash.tsv
  test/BaselineOutput/Common/SavePipe/SavePipeHash-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash1-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash1-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash2-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash2-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash4-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash4-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash5-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash5-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash6-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash6-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeNgramHash-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeWordHash-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeWordHashUnordered-Data.txt
  test/BaselineOutput/Common/Text/bag_of_words.tsv
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: test

addressing comments
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/data/type-samples.txt
Due: production, test

small comment fix
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Added tests
  test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/data/Timeseries/anomaly_detection.csv
  test/data/dates1.csv
  test/data/dates2.csv
Due: test

Typos
  test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs
Due: test

Added logging for when specific configuration baseline is used (#5060)
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

update model signature
  src/Microsoft.ML.TimeSeries/RootCauseLocalization.cs
Due: production
