Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add chart header and work around Plotly.NET issue.
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
Due: production

Fix chart title.
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
Due: production

Improve styling and add header to Table.
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
Due: production

Update comments and remove some items from NoWarn.
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production

Remove trailing semicolon
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production

Resolve PR feedback
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
Due: production

Move _updatePending = false outside of if check.
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
Due: production

Resolve PR Feedback
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
Due: production

Pull out ActionThrottler into class and fix delay bug.
  src/Microsoft.ML.AutoML.Interactive/ActionThrottler.cs
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
Due: production

Moment and UtilityParity
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: production, test

Add AutoML Interactive Extension (#6243)
  Microsoft.ML.sln
  eng/Versions.props
  src/Microsoft.ML.AutoML.Interactive/ActionThrottler.cs
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/Microsoft.ML.AutoML.Interactive.csproj
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production

reimplement binary experiment using AutoML experiment
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/ExperimentBase.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

fix build error
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
Due: production

Demographic Parity initial unit tests passed
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
  test/Microsoft.ML.Fairlearn.Tests/UtilityTest.cs
Due: production, test

update
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.Fairlearn/Utilities.cs
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
  test/Microsoft.ML.Fairlearn.Tests/UtilitiesTest.cs
Due: production, test

fix tests
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Proposal: Experiment API (#6118)
  docs/specs/AutoML Experiment API Proposal.md
Due: none

force canceling when there's complete trial
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Added the rest of the binary metrics at byGroup()
  Class1.cs
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.Tests.csproj
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: production, test

Update AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

reimplement binary experiment using AutoMLExperiment (#6246)
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/ExperimentBase.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Fixed a typo in the comment
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
Due: production

Started on GridSearch, finished implementing the first approach to calculating the signed weights
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.Fairlearn/reductions/GridSearch.cs
  src/Microsoft.ML.Fairlearn/reductions/GridSearchTrialRunner.cs
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
  src/Microsoft.ML.Fairlearn/reductions/Utilities.cs
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
Due: production

fix Dead link in FastTreeRegressionTrainerClass Documentation
  docs/api-reference/algo-details-fasttree.md
Due: none

fix Dead link in FastTreeRegressionTrainerClass Documentation (#6255)
  docs/api-reference/algo-details-fasttree.md
Due: none

Don't need label column inference
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

Added input check.
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
Due: production

update
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

add dnn featurizer
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/CodeGen/dnn_featurizer_image_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/transformer-estimators.json
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/Images.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

add tests
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_image_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.ImagePathFeaturizerTest.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFeaturizerTests.cs
Due: production, test

Update Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production

Turned the moment class to an abstract class
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
Due: production

Added signed weights, fixed ordering in Gamma
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
Due: production

Added assembly reference for the AutoML to gain access to different models
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
Due: test

fix sensitive feature column name bug, change default value for grid search
  src/Microsoft.ML.Fairlearn/reductions/Utilities.cs
Due: production

Created a trail runner for grid search
  src/Microsoft.ML.Fairlearn/reductions/GridSearchTrialRunner.cs
Due: production

Added AutoMLExperimentExtension to enable AutoML methods on gridsearch
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
Due: production

Don't need label column for inference TextClassification. (#6259)
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

variable vector working
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
