Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Removed Nuget.org
  NuGet.config
Due: none

add grid search test in AutoML.Net (#6176)
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
  src/Microsoft.ML.AutoML/Tuner/GridSearchTuner.cs
  src/Microsoft.ML.SearchSpace/Parameter.cs
  test/Microsoft.ML.AutoML.Tests/CostFrugalTunerTests.cs
  test/Microsoft.ML.AutoML.Tests/GridSearchTunerTests.cs
  test/Microsoft.ML.SearchSpace.Tests/ParameterTest.cs
Due: production, test

Fix the ref link for the DataFrameColumn.Info XML comments (#6192)
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
Due: production

Minor Updates.
  src/Microsoft.ML.TorchSharp/NasBert/Models/BaseModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/SentenceClassificationModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Optimizers/Adam.cs
  src/Microsoft.ML.TorchSharp/NasBert/Optimizers/BaseOptimizer.cs
  src/Microsoft.ML.TorchSharp/NasBert/SentenceClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/SentenceClassificationTests.cs
Due: production, test

ci testing.
  build/ci/job-template.yml
Due: none

Ci Testing.
  build/ci/job-template.yml
Due: none

add nest option (#6185)
  src/Microsoft.ML.SearchSpace/Attribute/NestOptionAttribute.cs
  src/Microsoft.ML.SearchSpace/Option/ChoiceOption.cs
  src/Microsoft.ML.SearchSpace/Option/NestOption.cs
  src/Microsoft.ML.SearchSpace/SearchSpace.cs
  test/Microsoft.ML.SearchSpace.Tests/ChoiceOptionTest.cs
  test/Microsoft.ML.SearchSpace.Tests/NestOptionTest.cs
  test/Microsoft.ML.SearchSpace.Tests/SearchSpaceTest.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.tt
Due: production, test

MacOS CI testing. (#6203)
  build/ci/job-template.yml
Due: none

Size fix
  src/Microsoft.ML.TorchSharp/Microsoft.ML.TorchSharp.csproj
Due: production

Removing MNIST Testing changes
  test/Microsoft.ML.Tests/ImagesTests.cs
  test/data/images/MNIST_44_0.png
  test/data/images/MNIST_57_0.png
  test/data/images/fyPhv.jpg
  test/data/images/images.tsv
  test/data/images/mnistimg.png
Due: test

x86 fix
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/SentenceClassificationTests.cs
Due: test

Fixes #6198 Fix notimplementedexception error message while appending dataframe column (#6200)
  src/Microsoft.Data.Analysis/DataFrame.Arrow.cs
Due: production

Using internal TempFilePath (#6180)
  src/Microsoft.ML.Core/Data/Repository.cs
  src/Microsoft.ML.Data/Commands/DataCommand.cs
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  src/Microsoft.ML.Parquet/PartitionedFileLoader.cs
Due: production

Testing copy local hardlink
  build/ci/job-template.yml
Due: none

Update CUDA version in ONNXOptions doc (#6193)
  src/Microsoft.ML.OnnxTransformer/OnnxOptions.cs
Due: production

add auto featurizer api (#6187)
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

implement auto featurizer
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_iris_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_uci_adult_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFeaturizerTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/Microsoft.ML.AutoML.Tests/GridSearchTunerTests.cs
Due: production, test

detect overlapping
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

make public
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

update
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

add tests
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

simply cancel
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: test

add more tests
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

Fixing CodeCoverage Build
  build/ci/job-template.yml
  eng/Versions.props
Due: none

fix tests and remove IsMaximize
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

Add cancellation token to AutoMLExperiment.RunAsync (#6206)
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

add spec
  src/Microsoft.ML.AutoML/SweepableEstimator/Spec/Readme.md
  src/Microsoft.ML.AutoML/SweepableEstimator/Spec/SweepablePipeline.md
Due: production

PR changes.
  src/Microsoft.ML.TorchSharp/Microsoft.ML.TorchSharp.csproj
  src/Microsoft.ML.TorchSharp/NasBert/Models/BaseModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/SentenceClassificationModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Optimizers/Adam.cs
  src/Microsoft.ML.TorchSharp/NasBert/Optimizers/BaseOptimizer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/SentenceClassificationTests.cs
Due: production, test

CI fixes.
  build/ci/job-template.yml
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: test

CI Fixes
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

TorchSharp version update.
  eng/Versions.props
Due: none

Dependency fix.
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

libtorch version update.
  eng/Versions.props
Due: none

Codecov fix
  build/ci/job-template.yml
Due: none

Changes from PR.
  build/ci/job-template.yml
  src/Microsoft.ML.TorchSharp/NasBert/BertArchitecture.cs
  src/Microsoft.ML.TorchSharp/NasBert/BertTaskType.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/BaseModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Models/TextClassificationModel.cs
  src/Microsoft.ML.TorchSharp/NasBert/Preprocessing/BpeTokenizer.cs
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  src/Microsoft.ML.TorchSharp/Utils/DataUtils.cs
  src/Microsoft.ML.TorchSharp/Utils/DefaultDictionary.cs
  src/Microsoft.ML.TorchSharp/Utils/FileUtils.cs
  src/Microsoft.ML.TorchSharp/Utils/TorchUtils.cs
Due: production

Temp netFX fix.
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: test

add spec (#6218)
  src/Microsoft.ML.AutoML/SweepableEstimator/Spec/Readme.md
  src/Microsoft.ML.AutoML/SweepableEstimator/Spec/SweepablePipeline.md
Due: production

add SweepablePipeline
  src/Microsoft.ML.AutoML/SweepableEstimator/Converter/SweepablePipelineConverter.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/ISweepable.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepableEstimator.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepablePipeline.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepablePipelineTests.SweepablePipeline_Append_SweepableEstimator_Test.approved.txt
  test/Microsoft.ML.AutoML.Tests/SweepablePipelineTests.cs
Due: production, test
