Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Cleaning up comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PermutationFeatureImportanceLoadFromDisk.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/PermutationFeatureImportanceLoadFromDisk.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/PermutationFeatureImportanceLoadFromDisk.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

Minor update of LbgfgsTests removing a cast that is now unnecessary
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: test

Use CopyTo method to copy the values to span
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Deleting sample of using BinaryPredictionTransformer with a loaded model, since problems arise because of the ParameterMixingCalibratedModelParameters
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PermutationFeatureImportanceLoadedFromDisk.cs
Due: none

update yml file for codecoverage.
  build/codecoverage-ci.yml
Due: none

Trying to support encrypted SDCA prediction
  src/Microsoft.ML.SEAL/EncryptedSdcaBinary.cs
  src/Microsoft.ML.SEAL/Microsoft.ML.SEAL.csproj
  src/Microsoft.ML.SEAL/SealCatalog.cs
  src/Microsoft.ML.SEAL/SealTransformer.cs
  src/Microsoft.ML.SEAL/StandardTrainersCatalog.cs
  src/Microsoft.ML.StandardTrainers/EncryptedSdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
Due: production

update yml file for codecoverage. (#4261)
  build/codecoverage-ci.yml
Due: none

Add entrypoint for PFI (#4232)
  src/Microsoft.ML.EntryPoints/PermutationFeatureImportance.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Fix memory leak in TensorflowTransform (#4223)
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

Check for null Label, Feature, and GroupId columns
  src/Microsoft.ML.EntryPoints/PermutationFeatureImportance.cs
Due: production

fix unit test
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Fix Destination too short error
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Call CopyTo inside ToArray method to ensure code reuse
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Fix the build badge link
  README.md
Due: none

No need to assign values span to dst
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Use checked keyword around cast to len
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Revert "temp"
  src/Microsoft.ML.Maml/MAML.cs
Due: production

Set keepOld to false instead of true in Utils.EnsureSize
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Revert "added more relaxed precision"
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

using fastRankRanking to test RankingEvaluator instead of lightgbm
  test/BaselineOutput/Common/Command/EvaluateRankingWithMaml-out.txt
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

Removed unnecessary comment.
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

Update ImageClassificationTransform.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
Due: production

reverted some indenting and LightGBM imports
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.TestFramework/EnvironmentExtensions.cs
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

Refactor constructors with Initialize methods
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

- Refactor create methods of prediction transformers into new static class. - Added static class to hold DirModel string
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

Fix the build badge link (#4267)
  README.md
Due: none

Make non-generic PredictionTransformerBase static
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

Coded encrypted dot product
  src/Microsoft.ML.SEAL/EncryptedSdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/EncryptedLinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/EncryptedSdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/EncryptedStandardTrainersCatalog.cs
Due: production

Add assert to ensure that imageArray and featurizedImage are the same size
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
Due: production

Cast tensor.size to int instead of long
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Remove FetchData since it's no longer used
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

Changed LoadableClassAttribute instType of prediction transformers
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

Removed unused file stream variables
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
Due: test

Update name of Sample classes to match their file's name
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PermutationFeatureImportanceLoadFromDisk.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/PermutationFeatureImportanceLoadFromDisk.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/PermutationFeatureImportanceLoadFromDisk.cs
Due: none

Add checked keyword around cast
  src/Microsoft.ML.Dnn/TensorTypeExtensions.cs
Due: production

Refactored tests to reuse existing code
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
Due: test

added explanation of early stopping, enabled earlyStopping by default.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fix issue 4120, add reasonable exception when user try to use OnnxSequenceType attribute without specify sequence type
  src/Microsoft.ML.OnnxTransformer/OnnxSequenceType.cs
  test/Microsoft.ML.Tests/OnnxSequenceTypeTest.cs
Due: production, test

rename function for better readibility
  test/Microsoft.ML.Tests/OnnxSequenceTypeTest.cs
Due: test

Trying to support passing data and Galois keys
  src/Microsoft.ML.DataView/CiphertextDataViewType.cs
  src/Microsoft.ML.StandardTrainers/EncryptedLinearModelParameters.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
