Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

work in progress
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.TestFramework/Datasets.cs
Due: test

Addressing PR comments.
  test/Microsoft.ML.Functional.Tests/Datasets/Adult.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: test

Addressing PR comments.
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
Due: test

Adding an adult dataset.
  test/Microsoft.ML.Functional.Tests/Datasets/Adult.cs
Due: test

Adding introspective training scenario tests.
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.TestFramework/Datasets.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: test

Fixing merge issues.
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
Due: test

update baselines
  test/BaselineOutput/Common/Categorical/oneHot.tsv
  test/BaselineOutput/Common/CategoricalHash/oneHotHash.tsv
Due: test

Address merge issues
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: test

- Forcing libomp to create a link
  build/ci/phase-template.yml
Due: none

Scrub scrub (#2863)
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingEstimator.cs
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingTransformer.cs
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Apple test for building...
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

Review comments.
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
Due: production, test

Move metrics statistics types to new file.
  src/Microsoft.ML.Transforms/MetricStatistics.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
Due: production

- Moving the install of libomp to happen before build for Apple
  build/ci/phase-template.yml
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

Create new catalogs for normalization and kernel approximation methods
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIRegressionExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ProjectionTransforms.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhiten.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhitenWithColumnOptions.cs
  src/Microsoft.ML.Data/Transforms/NormalizerCatalog.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Tests/CachingTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhiten.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhitenWithColumnOptions.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.Mkl.Components.StaticPipe/VectorWhiteningStaticExtensions.cs
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
Due: production, test

Add one more dimension.
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

PFI statistics polish (#2869)
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  src/Microsoft.ML.Transforms/MetricStatistics.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportance.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
Due: production, test

Polish early stop rules in fast tree (#2851)
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/Training/EarlyStoppingCriteria.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEarlyStoppingCriteria.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: production, test

- Updating from feedback
  build/ci/phase-template.yml
  build/vsts-ci.yml
  src/Native/SymSgdNative/CMakeLists.txt
  src/Native/SymSgdNative/SymSgdNative.cpp
Due: production

update
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MetaMulticlassTrainer.cs
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: production, test

Add implementation of non -ova multi class trainers code gen (#267)
  src/mlnet.Test/TrainerGeneratorTests.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
Due: production

Related to changes for updating mlnetmkldeps nuget package, issue #2211. - Updates to the nuspec file - Updates to the instructions for creating the nuget
  docs/building/MlNetMklDeps/MlNetMklDeps.nuspec
  docs/building/MlNetMklDeps/README.md
  docs/building/MlNetMklDeps/version.md
Due: none

- Update to documentation
  docs/building/MlNetMklDeps/README.md
Due: none

A even better catalog name for RFF
  docs/samples/Microsoft.ML.Samples/Dynamic/ProjectionTransforms.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

Rename Rff entirely
  docs/samples/Microsoft.ML.Samples/Dynamic/ProjectionTransforms.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

Double -> float
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
Due: production

Address comments. Everything touched is under TransformsCatalog now.
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIRegressionExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ProjectionTransforms.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhiten.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhitenWithColumnOptions.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Tests/CachingTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

rename
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
Due: production

Add caching (#249)
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipeline.cs
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
  src/Test/InferredPipelineTests.cs
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production

Scrubbing image transforms
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

AdvancedExperimentSettings sample nits (#265)
  src/Samples/AdvancedExperimentSettings.cs
  src/Samples/ObserveProgress.cs
Due: production

Add sampling key column (#268)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/AutoMlUtils.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInformationUtil.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnPurpose.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Utils/UserInputValidationUtil.cs
  src/Samples/Helpers/ConsoleHelper.cs
  src/Test/ColumnInformationUtilTests.cs
Due: production

scrubbing rest of transforms
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIHelper.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSample.cs
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

remove concurrencyfactor from IHostEnvironment and deriving entities
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
Due: production

adjust utilities and trainers to the change
  src/Microsoft.ML.Data/Commands/DataCommand.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.Data/DebuggerExtensions.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/SumupPerformanceCommand.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/PairwiseCouplingTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/StochasticTrainerBase.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
Due: production

fix tests
  test/BaselineOutput/Common/SavePipe/SavePipeWithKey-CursLog.txt
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
  test/Microsoft.ML.Functional.Tests/DataIO.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.OnnxTransformerTest/DnnImageFeaturizerTest.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/MultithreadedPrediction.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/TrainSaveModelAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/TrainWithInitialPredictor.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Visibility.cs
  test/Microsoft.ML.Tests/Scenarios/ClusteringTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesStaticTests.cs
Due: test

fix samples
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.cs
Due: none

fix LogisticRegressionOnnxConversionTest
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

merge fix (new samples and tests using conc)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeans.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertType.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
