Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

enable mal tests for macos
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.nocalibration-rp.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-AvgPer-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris-rp.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris-rp.txt
  test/Microsoft.ML.Predictor.Tests/ResultProcessor/TestResultProcessor.cs
  test/Microsoft.ML.TestFramework/BaseTestPredictorsMaml.cs
Due: test

Strengthen SR-CNN phone-call regression assertions
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Remove SR-CNN sensitivity comment
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Stabilize SDCA logistic regression test (#7677)
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: test

Remove orphaned build files (#7717)
  build/.outer-loop-build.yml
  build/libomp.rb
Due: none

Fix SR-CNN missing anomalies when Period > 0 (#7610)
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/data/Timeseries/phone-calls.csv
Due: production, test

Fix Helix payload destination paths on Unix
  eng/helix.proj
Due: none

Dispose TensorFlow sessions in tests
  src/Microsoft.ML.Data/Commands/ShowSchemaCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/LegacyCompositeDataLoader.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorflowTests.cs
Due: production, test

Make legacy data loaders disposable
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  src/Microsoft.ML.Data/Commands/DataCommand.cs
  src/Microsoft.ML.Data/Commands/EvaluateCommand.cs
  src/Microsoft.ML.Data/Commands/SaveDataCommand.cs
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/Commands/ShowSchemaCommand.cs
  src/Microsoft.ML.Data/Commands/TestCommand.cs
  src/Microsoft.ML.Data/Commands/TrainCommand.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/Data/ILegacyDataLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/LegacyCompositeDataLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Transpose/TransposeLoader.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Model/Pfa/SavePfaCommand.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.FastTree/GamModelParameters.cs
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
  src/Microsoft.ML.Parquet/PartitionedFileLoader.cs
  src/Microsoft.ML.Transforms/SvmLight/SvmLightLoader.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  test/Microsoft.ML.Predictor.Tests/TestTransposer.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
Due: production, test

Remove the GenAI removal note from documentation
  docs/README.md
  docs/project-docs/components-and-dependencies.md
Due: none

Overloads for DatabaseLoader.Load
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSource.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceBase.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceUsingConnection.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceUsingProviderFactory.cs
Due: production

Rework source and cursor to prevent connection leak
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSource.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceBase.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceUsingProviderFactory.cs
Due: production

Add tests to check that overrides are functionally equivalent
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Don't require an open connection
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: production, test

Simplify DatabaseSource
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSource.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceBase.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceUsingConnection.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSourceUsingProviderFactory.cs
Due: production

Cursor closes connection if it opened it
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
Due: production

Clarify how provided DbConnection will be handled
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoader.cs
Due: production

Reinforced assertions for new tests
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Improve equivalence assertions
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Refactor DatabaseLoaderTests to use DatabaseSource
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Update connection string validation to check for value instead of non-empty
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSource.cs
Due: production

Clarify connection handling in IDataView remarks
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoader.cs
Due: production

Enhance documentation for ConnectionString, ProviderFactory, and Connection properties to clarify behavior based on source type
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseSource.cs
Due: production

Remove duplicate documentation comment from partial class
  src/Microsoft.Data.Analysis/DataFrame.Join.cs
Due: production

Improved wording
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Improve tests based on feedback and coverage checks
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
  test/Microsoft.ML.Tests/DatabaseLoaderCursorTests.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
  test/Microsoft.ML.Tests/DatabaseSourceTests.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Adjust fact attribute to avoid MacOS failure
  test/Microsoft.ML.Tests/DatabaseLoaderCursorTests.cs
Due: test

Track legacy transformer ownership explicitly
  src/Microsoft.ML.Data/DataLoadSave/LegacyCompositeDataLoader.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  test/Microsoft.ML.TensorFlow.Tests/TensorFlowEstimatorTests.cs
Due: production, test

Make legacy loader construction exception-safe
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/Commands/TrainCommand.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/LegacyCompositeDataLoader.cs
  src/Microsoft.ML.Data/Model/Pfa/SavePfaCommand.cs
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

Add net10.0 to CI test matrix (#7690)
  build/ci/job-template.yml
  eng/Versions.props
  global.json
  test/Directory.Build.props
Due: test

Add net10.0 to Helix payload and custom matrices (#7690)
  build/.night-build.yml
  build/codecoverage-ci.yml
  eng/helix.proj
Due: none

Update HW intrinsic environment variable switches to DOTNET_ prefix (#7690)
  build/.night-build.yml
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
Due: test

Use DOTNET_EnableHWIntrinsic in CpuMath unit tests (#7690)
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
Due: test

Removed _disableSse due to build errors
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
Due: test

Remove outdated ML.NET API documentation (#7742)
  src/Microsoft.Data.Analysis/DataFrame.Join.cs
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.ML.OnnxTransformer/OnnxOptions.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.Transforms/SvmLight/SvmLightLoader.cs
Due: production

Fix the endless loop in Join and Merge when both suffixes are the same (#7692)
  src/Microsoft.Data.Analysis/DataFrame.Join.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Join.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Merge.cs
Due: production, test

Fix BPE merge parsing for carriage return tokens
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
Due: production, test

Correct size claim
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
Due: production
