Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

added standard deviation and percentiles to description method of dataframe
  .gitignore
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.ML.Data/Prediction/IPredictionTransformer.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

improved error handling - DataFrame.LoadFrom()
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

yml updates.
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/.outer-loop-build.yml
  build/ci/job-template.yml
Due: none

DataFrame - importing and exporting data using ADO.NET providers
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/Extensions.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: production, test

Ubuntu 18.04 queues (#5970)
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/.outer-loop-build.yml
  build/ci/job-template.yml
Due: none

added unique and count method to description function for non numeric values
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

fix tests
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: test

DataFrame.LoadFrom() - use async
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

DataFrame.LoadFrom() - minor refactorings
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

SDL fixes.
  src/Directory.Build.props
  src/Microsoft.ML.Data/Prediction/IPredictionTransformer.cs
  src/Native/CMakeLists.txt
  src/Native/FastTreeNative/segment.cpp
  test/Microsoft.Extensions.ML.Tests/UriLoaderTests.cs
Due: production, test

Removed FX cop
  src/Directory.Build.props
Due: production

Fixes from PR comments.
  src/Native/FastTreeNative/segment.cpp
Due: production

Release notes for 1.7.0 preview.
  docs/release-notes/1.7.0/release-1.7.0.md
Due: none

Updates from PR comments.
  docs/release-notes/1.7.0/release-1.7.0.md
Due: none

Release notes for 1.7.0 preview (#5982)
  docs/release-notes/1.7.0/release-1.7.0.md
Due: none

Removed unnecesary /w warnings.
  src/Native/CMakeLists.txt
Due: production

Update Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: test

In-memory code gen for image scenarios (#1292)
  SearchSpace/src/Microsoft.ML.ModelBuilder.SearchSpace.Tests/Microsoft.ML.ModelBuilder.SearchSpace.Tests.csproj
Due: none

SDL fixes. (#5977)
  src/Directory.Build.props
  src/Microsoft.ML.Data/Prediction/IPredictionTransformer.cs
  src/Native/CMakeLists.txt
  src/Native/FastTreeNative/segment.cpp
  test/Microsoft.Extensions.ML.Tests/UriLoaderTests.cs
Due: production, test

Fix minor typos in RootCauseLocalizationType.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
Due: production

Fix minor typos in RootCauseLocalizationType.cs (#5983)
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
Due: production

The basic linear regression code of Alexander's first push
  Microsoft.ML.sln
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OneDAL/LinReg.cs
  src/Microsoft.ML.OneDAL/Microsoft.ML.OneDAL.csproj
  src/Microsoft.ML.OneDAL/OneDALCatalog.cs
  src/Microsoft.ML.OneDAL/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/AssemblyInfo.cs
Due: production

Propagate references to OneDAL so that they can be used in tests
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

Updated name of library to match build system
  src/Microsoft.ML.OneDAL/LinReg.cs
Due: production

Updating the actual function call
  src/Native/OneDALNative/CMakeLists.txt
  src/Native/OneDALNative/DALSimpleRegression.cpp
  src/Native/OneDALNative/DALSimpleRegression.h
Due: production

Have the linear regression return a LinearRegressionModelParameters structure
  src/Microsoft.ML.OneDAL/LinReg.cs
Due: production

Beginning unit tests for OneDAL integration
  test/Microsoft.ML.Tests/TrainerEstimators/OneDALComponentsTests.cs
Due: test

Adding the OneDALNative middleware as a dependency to tests
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

Cleaning up the tests somewhat -- still need to figure out how to test an approximate result
  test/Microsoft.ML.Tests/TrainerEstimators/OneDALComponentsTests.cs
Due: test

Small cleaning up of commented code
  src/Microsoft.ML.OneDAL/LinReg.cs
  test/Microsoft.ML.Tests/TrainerEstimators/OneDALComponentsTests.cs
Due: production, test

Elide debug output
  src/Native/CMakeLists.txt
Due: production

use default column with index if columnName[i] is empty or null
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Add files via upload
  docs/specs/ML.Net Sweepable API.md
Due: none

Make dll resolution cross-plat
  src/Microsoft.ML.OneDAL/LinReg.cs
Due: production

removing csproj change
  src/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.csproj
Due: production

Initial integration for oneDAL LinearRegression
  Microsoft.ML.sln
  src/Microsoft.ML.OneDAL/LinReg.cs
  src/Microsoft.ML.OneDAL/OneDALCatalog.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
