Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

fixes in methods
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

all working. Needs more test cases
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

more tests added
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

fixes for API compat based on Artidoro's comments
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
Due: production

constructor changes
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

final changes for testing
  src/Microsoft.ML.EntryPoints/ModelOperations.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

small formatting fixes
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

expanded comments
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
Due: production, test

removed unused import. Changed type of class to static internal per PR comments
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
Due: production, test

restructured OVAModelParameters. changed interfaces back to internal
  src/Microsoft.ML.Core/Prediction/IPredictor.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

class name changes from PR comments
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

added tests to test 'EstimatorCore' with the new typed classes
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: test

comment fixes
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
Due: production, test

Take dependency of scisharp tensorflow redist.
  src/Microsoft.ML.Dnn/Microsoft.ML.Dnn.csproj
Due: production

Stop LightGbm Warning for Default Metric Input [Issue #3965 Fix] (#4007)
  src/Microsoft.ML.LightGbm/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRegressionTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-CV-generatedRegressionDataset.RMSE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-TrainTest-generatedRegressionDataset.RMSE-rp.txt
Due: production, test

small fix from PR comment
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
Due: production

address issues only showing up in a couple configurations during CI build
  Microsoft.ML.sln
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/TextFileSampleTests.cs
Due: production, test

fix cut&paste error
  Microsoft.ML.sln
Due: none

Allow user to save PredictorTransform in file and then convert it to … (#3986)
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Allow user to overwrite unknown shapes loaded from ONNX model (#3963)
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

fix test errors in unix machines
  test/Microsoft.ML.Tests/Torch/TorchTests.cs
Due: test

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  pkg/common/Resnet101V2.props
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnTransform.cs
  src/Microsoft.ML.Dnn/Microsoft.ML.Dnn.csproj
  src/Microsoft.ML.Dnn/Properties/AssemblyInfo.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Redist/Microsoft.ML.Dnn.Model.Resnet101V2.Redist/Microsoft.ML.Dnn.Model.Resnet101V2.Redist.proj
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/data/images/60images.tsv
Due: production, test

Update TorchTests.cs
  test/Microsoft.ML.Tests/Torch/TorchTests.cs
Due: test

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearning.cs
  src/Microsoft.ML.Dnn/Microsoft.ML.Dnn.csproj
Due: production

Cleanup.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Dnn/DnnTransform.cs
Due: production

Added AVX/FMA intrinsics to Factorization Machine (#3940)
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.Core/ComponentModel/AssemblyLoadingUtils.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/FactorizationMachine/AvxIntrinsics.cs
  src/Microsoft.ML.CpuMath/FactorizationMachine/FactorizationMachineInterface.cs
  src/Microsoft.ML.CpuMath/FactorizationMachine/FactorizationMachineInterface.netcoreapp.cs
  src/Microsoft.ML.CpuMath/FactorizationMachine/FactorizationMachineInterface.netstandard.cs
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
  src/Native/CMakeLists.txt
  src/Native/CpuMathNative/CMakeLists.txt
  src/Native/CpuMathNative/FactorizationMachineCore.cpp
  src/Native/FactorizationMachineNative/CMakeLists.txt
  src/Native/build.proj
  test/Microsoft.ML.FSharp.Tests/Microsoft.ML.FSharp.Tests.fsproj
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.Functional.Tests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Image classification using DNNs and Transfer Learning. (#4057)
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/InceptionV3TransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  pkg/Microsoft.ML.Dnn/Microsoft.ML.Dnn.nupkgproj
  pkg/Microsoft.ML.Dnn/Microsoft.ML.Dnn.symbols.nupkgproj
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Dnn/AssemblyInfo.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnModel.cs
  src/Microsoft.ML.Dnn/DnnTransform.cs
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/Microsoft.ML.Dnn.csproj
  src/Microsoft.ML.Dnn/doc.xml
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/Buffer.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/Tensor.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorGeneric.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorGeneric.tt
  src/Microsoft.ML.TensorFlow/TensorFlow/Tensorflow.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Increment build version.
  build/BranchInfo.props
Due: none

Fix packaging of DNN and Tensorflow nuget package.
  pkg/Microsoft.ML.Dnn/Microsoft.ML.Dnn.nupkgproj
  pkg/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.nupkgproj
Due: none

Fix packaging of DNN and Tensorflow nuget package. (#4068)
  pkg/Microsoft.ML.Dnn/Microsoft.ML.Dnn.nupkgproj
  pkg/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.nupkgproj
Due: none

update version.
  build/BranchInfo.props
Due: none

Increment build version. (#4067)
  build/BranchInfo.props
Due: none

Update version to 1.4 and 0.16
  build/BranchInfo.props
Due: none

PR feedback.
  docs/release-notes/1.3.1/dnn_stack.jpg
  docs/release-notes/1.3.1/release-1.3.1.md
Due: none

Release notes for v1.3.0 (#4061)
  docs/release-notes/1.3.1/dnn_stack.jpg
  docs/release-notes/1.3.1/release-1.3.1.md
Due: none

Update version to 1.4 and 0.16 (#4069)
  build/BranchInfo.props
Due: none

Changing the database cursor to return default for DBNull
  src/Microsoft.ML.Experimental/DataLoadSave/Database/DatabaseLoaderCursor.cs
Due: production
