Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

add missing Done
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: test

Check typeof ISeededEnvironment in ComponentCatalog
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
Due: production

changed onnx export from always exporting 1 row to exporting -1 which allows for any number of rows
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LightGbmBinaryClassificationOnnxConversionTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.FastTree.FastForestRegressionTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.FastTree.FastTreeRegressionTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.FastTree.FastTreeTweedieTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.LbfgsPoissonRegressionTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.LightGbm.LightGbmRegressionTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.OlsTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.OnlineGradientDescentTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/Microsoft.ML.Trainers.SdcaRegressionTrainer.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/SimplePipeline.txt
  test/BaselineOutput/Common/Onnx/Transforms/IndicateMissingValues.txt
  test/BaselineOutput/Common/Onnx/Transforms/SelectColumns.txt
  test/BaselineOutput/Common/Onnx/Transforms/Sentiment/SmallWordEmbed.txt
Due: production, test

skip some known flaky tests
  src/Microsoft.ML.Data/Evaluators/MulticlassClassificationEvaluator.cs
  test/Microsoft.ML.TestFramework/GlobalBase.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

skip more flaky tests
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Delete commented code.
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
Due: production

LDSVM trainer (#4060)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LdSvmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmModelParameters.cs
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Learners.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Revert "Updated baseline files for DartLightGBMTest()"
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart.txt
Due: test

Revert "Updated baseline files for GossLightGBMTest()"
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss.txt
Due: test

Revert "Updated baseline files for LightGBMClassificationTest()"
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer.txt
Due: test

Added baselines for TestDatasets.breastCancerPipeMissing
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer-missing.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer-missing.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer-missing.dart.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer-missing.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer-missing.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer-missing.dart.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer-missing.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer-missing.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer-missing.goss.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer-missing.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer-missing.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer-missing.goss.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-missing.txt
Due: test

Update TestPredictors.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Added more baselines
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTree-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTree-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTree-TrainTest-breast-cancer-missing.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeBsr-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeBsr-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeBsr-TrainTest-breast-cancer-missing.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeDisk-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeDisk-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeDisk-TrainTest-breast-cancer-missing.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeDrop-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeDrop-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeDrop-TrainTest-breast-cancer-missing.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeHighMinDocs-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeHighMinDocs-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/FastTreeBinaryClassification/FastTreeHighMinDocs-TrainTest-breast-cancer-missing.txt
  test/BaselineOutput/Common/MultiClassNaiveBayes/MultiClassNaiveBayes-TrainTest-breast-cancer-missing-out.txt
  test/BaselineOutput/Common/MultiClassNaiveBayes/MultiClassNaiveBayes-TrainTest-breast-cancer-missing-rp.txt
  test/BaselineOutput/Common/MultiClassNaiveBayes/MultiClassNaiveBayes-TrainTest-breast-cancer-missing.txt
Due: test

NormalizeMinMax Multicolumn example (#4644)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMinMax.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMinMaxMulticolumn.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

add back missing function
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Fix onnx output for GcnTransform
  src/Microsoft.ML.Transforms/GcnTransform.cs
Due: production

Fix onnx output for GcnTransform (#4786)
  src/Microsoft.ML.Transforms/GcnTransform.cs
Due: production

make download resource method async
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
Due: production

PR feedback
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.EntryPoints/PermutationFeatureImportance.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
Due: production

nit
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
Due: production

added additional comments per pr comments
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
Due: production

Update cookbook to latest API (#4706)
  docs/code/MlNetCookBook.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

take comments, some refactor
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestVBuffer.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesSimpleApiTests.cs
Due: test

take comments
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

Fix 2655
  src/Microsoft.ML.Data/DataLoadSave/EstimatorChain.cs
Due: production

xref typo in DataKind - related 4119
  src/Microsoft.ML.Core/Data/DataKind.cs
Due: production

modify
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  test/Microsoft.ML.TestFramework/GlobalBase.cs
Due: production, test

Double cast to float for some onnx estimators (#4745)
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Check exception status even if TF_SessionRun throws an exception (#4755)
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
Due: production

take comments
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestVBuffer.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesSimpleApiTests.cs
Due: test

Revert "Revert "Updated baseline files for LightGBMClassificationTest()""
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer.txt
Due: test

Revert "Revert "Updated baseline files for GossLightGBMTest()""
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss.txt
Due: test

Revert "Revert "Updated baseline files for DartLightGBMTest()""
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart.txt
Due: test

Updated test datasets and LightGbm flag shortnames
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

Added test to confirm run-time behavior of LightGBM doesn't change
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-Test-breast-cancer-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-Train-breast-cancer-model.zip
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Install threading analyzers
  .editorconfig
  Directory.Build.targets
Due: none

build and test failure due to download resource fail (#4776)
  build.proj
  build/ci/job-template.yml
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

PR feedback
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
