Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Go back to use xref
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
Due: production

dox fixes for FeatureContributionCalculatingEstimator
  src/Microsoft.ML.Data/Transforms/ExplainabilityCatalog.cs
  src/Microsoft.ML.Data/Transforms/FeatureContributionCalculationTransformer.cs
Due: production

Address comments
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardTrainers/Standard/PoissonRegression/PoissonRegression.cs
Due: production

Fixed the documentation issue for 'OneHotHashEncoding' method. (#3528)
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
Due: production

Normalization required for Randomized PCA (#3549)
  src/Microsoft.ML.PCA/PcaTrainer.cs
Due: production

review comments
  src/Microsoft.ML.Transforms/ConversionsCatalog.cs
  src/Microsoft.ML.Transforms/KeyToVectorMapping.cs
Due: production

Fix broke xrefs across codebase.
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
Due: production

backtick.
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
Due: production

Polish some options' XML document strings (#3534)
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
Due: production

correcting mac build
  build/ci/phase-template.yml
Due: none

Fix AP's output schema in its XML doc (#3551)
  docs/api-reference/io-columns-binary-classification-no-prob.md
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
Due: production

simplifying and improving the examples
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByKeyColumnFraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByMissingValues.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Fix multi-class linear trainers
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
Due: production

Add bias to the score formula for binary classifiers
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/Standard/Online/LinearSvm.cs
Due: production

Change back unnecessary changes
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
Due: production

Fix #3471
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
Due: production

Documentation for loss functions
  src/Microsoft.ML.Core/Utilities/MathUtils.cs
  src/Microsoft.ML.Data/Dirty/ILoss.cs
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestLoss.cs
Due: production, test

Fix up first set of tests to account for formatting change on netcoreapp3.0.
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
Due: test

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/KeyToValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToValueMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValue.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
Due: production

change example paths
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
Due: production

link datasets from test\data folder
  docs/samples/Microsoft.ML.AutoML.Samples/Data/README.md
  docs/samples/Microsoft.ML.AutoML.Samples/Data/taxi-fare-small-train.csv
  docs/samples/Microsoft.ML.AutoML.Samples/Data/taxi-fare-test.csv
  docs/samples/Microsoft.ML.AutoML.Samples/Data/taxi-fare-train.csv
  docs/samples/Microsoft.ML.AutoML.Samples/Data/wikipedia-detox-250-line-data.tsv
  docs/samples/Microsoft.ML.AutoML.Samples/Data/wikipedia-detox-250-line-test.tsv
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  test/data/optdigits-test.csv
  test/data/optdigits-train.csv
Due: test

doc fixes for FeatureContributionCalculatingEstimator (#3555)
  src/Microsoft.ML.Data/Transforms/ExplainabilityCatalog.cs
  src/Microsoft.ML.Data/Transforms/FeatureContributionCalculationTransformer.cs
Due: production

Update to latest Preview 5
  DotnetCLIVersion.netcoreapp.latest.txt
Due: none

Fixing parentheses and some LaTeX
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
Due: production

nit
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
Due: production

Fix FieldAwareFactorizationMachineBinaryTrainer documentation (#3535)
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Remove empty lines
  docs/api-reference/io-columns-binary-classification.md
  docs/api-reference/io-columns-regression.md
Due: none

Avoid hidden class
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/DataViewEnumerable.cs
Due: none

Add empty lines
  docs/api-reference/io-columns-binary-classification.md
  docs/api-reference/io-columns-regression.md
Due: none

taking care of review comments
  src/Microsoft.ML.Transforms/ConversionsCatalog.cs
  src/Microsoft.ML.Transforms/KeyToVectorMapping.cs
Due: production

review comments
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
Due: production

Add bias to documentation of linear classifiers (#3538)
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/Standard/Online/LinearSvm.cs
Due: production

addressing PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByKeyColumnFraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByMissingValues.cs
Due: none

Fix broken xrefs across code base. (#3557)
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
Due: production

changing ngram -> n-gram
  src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/NgramUtils.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/WordBagTransform.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

Typos as described in #3491 Changing "ngrams" to "n-gram"
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/NgramUtils.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/WordBagTransform.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

typos
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

addressing PR comments
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/NgramUtils.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

regenerating the manifest
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

typo
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production
