Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Avoid Boxing/Unboxing on accessing elements of VBufferDataFrameColumn
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Implement vectorized binary arithmetic operations (#6854)
  src/Microsoft.Data.Analysis/BitUtility.cs
  src/Microsoft.Data.Analysis/ColumnArithmetic.OperationEnums.cs
  src/Microsoft.Data.Analysis/ColumnArithmetic.OperationEnums.tt
  src/Microsoft.Data.Analysis/ColumnArithmeticTemplate.ttinclude
  src/Microsoft.Data.Analysis/Computations/Arithmetic.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetic.tt
  src/Microsoft.Data.Analysis/Computations/Arithmetics.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetics.tt
  src/Microsoft.Data.Analysis/Computations/IArithmetic.cs
  src/Microsoft.Data.Analysis/IPrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationAPIs.ExplodedColumns.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationAPIs.ExplodedColumns.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperationImplementations.Exploded.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Computations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Avoid Boxing/Unboxing on accessing elements of VBufferDataFrameColumn (#6865)
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
Due: production

Avoid boxing for vbuffer column
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
Due: production

Avoid Boxing/Unboxing on accessing elements of VBufferDataFrameColumn (fix merge issues) (#6867)
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
Due: production

Increase performance of elementwise comparison operations
  src/Microsoft.Data.Analysis/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/BitUtility.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetic.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetic.tt
  src/Microsoft.Data.Analysis/Computations/Arithmetics.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetics.tt
  src/Microsoft.Data.Analysis/Computations/IArithmetic.cs
  src/Microsoft.Data.Analysis/DataFrameBuffer.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
Due: production

Fix Perf Test
  test/Microsoft.Data.Analysis.PerformanceTests/PerformanceTests.cs
Due: test

Reorganize files in the DataFrame related projects
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/BooleanDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/ByteDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/CharDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/DateTimeDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/DecimalDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/DoubleDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/Int16DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/Int32DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/Int64DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/SByteDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/SingleDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/UInt16DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/UInt32DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/PrimitiveDataFrameColumns/UInt64DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Utils/ArrayUtility.cs
  src/Microsoft.Data.Analysis/Utils/BitUtility.cs
  test/Microsoft.Data.Analysis.Tests/ArrowStringColumnTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameJoinExtensionsTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.BinaryOperations.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Computations.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Filter.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Join.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Merge.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Sort.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Utils.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnTests.cs
  test/Microsoft.Data.Analysis.Tests/VBufferColumnTests.cs
Due: production, test

Update docs/code/DataViewRowCursor.md
  docs/code/DataViewRowCursor.md
Due: none

Update DataViewRowCursor.md (#6855)
  docs/code/DataViewRowCursor.md
Due: none

Update developer-guide.md
  docs/project-docs/developer-guide.md
Due: none

Fix code review findings
  src/Microsoft.Data.Analysis/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
Due: production

Add support for Apache.Arrow.Types.TimestampType to DataFrame
  src/Microsoft.Data.Analysis/DataFrame.Arrow.cs
Due: production

Improve performance of DataFrame binary comparison operations (#6869)
  src/Microsoft.Data.Analysis/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/BitUtility.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetic.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetic.tt
  src/Microsoft.Data.Analysis/Computations/Arithmetics.cs
  src/Microsoft.Data.Analysis/Computations/Arithmetics.tt
  src/Microsoft.Data.Analysis/Computations/IArithmetic.cs
  src/Microsoft.Data.Analysis/DataFrameBuffer.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
  test/Microsoft.Data.Analysis.PerformanceTests/PerformanceTests.cs
Due: production, test

Fix merge issues
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
Due: production

using tensor primitives
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
Due: test

added missing files
  Directory.Build.props
  NuGet.config
  eng/Versions.props
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.ML.CpuMath/AvxIntrinsics.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.CpuMath/SseIntrinsics.cs
  test/Directory.Build.props
  test/Microsoft.ML.CpuMath.UnitTests/RemoteExecutor.cs
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
  test/Microsoft.ML.PerformanceTests/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.PerformanceTests/Program.cs
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/data/adult.with-schema.txt
Due: production, test

some with indexes changed
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netstandard.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Program.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
Due: production, test

Initial swap for TensorPrimitives done
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netstandard.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
Due: production, test

Rebased and cleaned code
  NuGet.config
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Program.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
  test/Microsoft.ML.PerformanceTests/Program.cs
Due: test

more minor cleanup
  Directory.Build.props
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netstandard.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Program.cs
Due: production, test

added system.numerics.tensors version to props
  eng/Versions.props
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
Due: production

build fixes
  NuGet.config
  eng/Versions.props
Due: none

added net6 again
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  test/Directory.Build.props
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
Due: production, test

Add sample variance and standard deviation to NormalizeMeanVariance
  src/Microsoft.ML.Data/Transforms/NormalizeColumnDbl.cs
  src/Microsoft.ML.Data/Transforms/NormalizeColumnSng.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
Due: production

updates from PR comments
  eng/Versions.props
  src/Microsoft.ML.CpuMath/CpuMathUtils.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netstandard.cs
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  test/Directory.Build.props
  test/Microsoft.ML.CpuMath.UnitTests/RemoteExecutor.cs
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
Due: production, test

fixed sumabsu
  src/Microsoft.ML.CpuMath/CpuMathUtils.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netstandard.cs
Due: production

test fixes
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

fixed test failure for kmeans
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: test

FabricBot: Remove area pod project board automation
  .github/fabricbot.json
Due: none

Add sample standard deviation flag
  src/Microsoft.ML.Data/Transforms/NormalizeColumnDbl.cs
  src/Microsoft.ML.Data/Transforms/NormalizeColumnSng.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
Due: production

changed decimal comparison
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Test fixes.
  build/ci/job-template.yml
  test/BaselineOutput/Common/pcaAnomaly/netcoreapp/Default-TrainTest-mnistOneClass.txt
  test/BaselineOutput/Common/pcaAnomaly/netcoreapp/NoNorm-TrainTest-mnistOneClass.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-azureCounterUnlabeled-out.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-azureCounterUnlabeled-rp.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-azureCounterUnlabeled-summary.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-azureCounterUnlabeled.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-mnistOneClass-out.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-mnistOneClass-rp.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/Default-TrainTest-mnistOneClass.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/NoNorm-TrainTest-mnistOneClass-out.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/NoNorm-TrainTest-mnistOneClass-rp.txt
  test/BaselineOutput/Common/pcaAnomaly/win-x64/NoNorm-TrainTest-mnistOneClass.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

template update
  build/ci/job-template.yml
Due: none

Test Fixes.
  build/ci/job-template.yml
  test/BaselineOutput/Common/Command/win-x64/CommandTrainMlrWithStats-1-out.txt
  test/BaselineOutput/Common/Command/win-x64/CommandTrainMlrWithStats-out.txt
  test/BaselineOutput/Common/Command/win-x64/CommandTrainMlrWithStats-summary.txt
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
Due: test

fixed performance test csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
