Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

draft
  src/Microsoft.ML.TimeSeries/StatefulTimeseriesTransformer.cs
  src/Microsoft.ML.TimeSeries/TimeSeriesProcessing.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Rename labelColumn to labelColumnName
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
Due: production

fix manifest
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Added caching during training
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnTransform.cs
Due: production

add CodeGen Library
  src/Microsoft.ML.CodeGen/Assembly.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/Symbols.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGenerators.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGeneratorBase.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGenerators.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/IProjectGenerator.cs
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGen.csproj
  src/Microsoft.ML.CodeGen/NLog.config
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProject.tt
  src/Microsoft.ML.CodeGen/Utils.cs
  src/Microsoft.ML.CodeGen/mlnet.csproj
Due: production

cancel delay sign in CodeGen
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGen.csproj
Due: production

update based on comment
  Microsoft.ML.AutoML.sln
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGen.csproj
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGen/mlnet.csproj
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/Commands/CommandDefinitions.cs
Due: production

use consumeModel in CodeGen
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.PredictionProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

add ComsumeModel class
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGen.csproj
  src/Microsoft.ML.CodeGen/Templates/Console/ConsumeModel.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ConsumeModel.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsumeModelContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

remove useless nuget package
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGen.csproj
Due: production

rename namespace to ML.CodeGen.*
  Microsoft.ML.AutoML.sln
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/Symbols.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGenerators.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGeneratorBase.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGenerators.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/IProjectGenerator.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/mlnet/CodeGenerator/CSharp/Symbols.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorBase.cs
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TransformGenerators.cs
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/CodeGenerator/IProjectGenerator.cs
  src/mlnet/Templates/Console/ModelBuilder.cs
  src/mlnet/Templates/Console/ModelBuilder.tt
  src/mlnet/Templates/Console/ModelInputClass.cs
  src/mlnet/Templates/Console/ModelInputClass.tt
  src/mlnet/Templates/Console/ModelOutputClass.cs
  src/mlnet/Templates/Console/ModelOutputClass.tt
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProgram.cs
  src/mlnet/Templates/Console/PredictProgram.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  src/mlnet/mlnet.csproj
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
  test/mlnet.Tests/CodeGenTests.cs
  test/mlnet.Tests/TrainerGeneratorTests.cs
  test/mlnet.Tests/TransformGeneratorTests.cs
Due: production, test

remove console output
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
Due: production

remove useless variable
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.PredictionProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

use different annotation for different target
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGen.csproj
  src/Microsoft.ML.CodeGen/Templates/Console/Annotation.tt
  src/Microsoft.ML.CodeGen/Templates/Console/Annotation.txt
  src/Microsoft.ML.CodeGen/Templates/Console/ConsumeModel.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ConsumeModel.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.PredictionProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

adjust output result
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.PredictionProgramCSFileContentTest.approved.txt
Due: production, test

target to netstandard2.0
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
Due: production, test

update CodeGen name to CodeGenerator
  Microsoft.ML.AutoML.sln
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/Symbols.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TrainerGenerators.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGeneratorBase.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/TransformGenerators.cs
  src/Microsoft.ML.CodeGen/CodeGenerator/IProjectGenerator.cs
  src/Microsoft.ML.CodeGen/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CodeGen/Templates/Console/ConsumeModel.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGen/Utils.cs
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/mlnet.csproj
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
  test/mlnet.Tests/CodeGenTests.cs
  test/mlnet.Tests/TrainerGeneratorTests.cs
  test/mlnet.Tests/TransformGeneratorTests.cs
Due: production, test

rebase to latest branch
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ModelProject.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProject.tt
Due: production

Convert CategoricalSplitFeatures and CategoricalCategoricalSplitFeatureRange in tree summary output to fixed length columns.
  src/Microsoft.ML.FastTree/Utils/RegressionTreeBaseUtils.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

minor nit - removed unused folder ref
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production

fix bug in Normalize function
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGen/Utils.cs
  test/mlnet.Tests/CodeGenTests.cs
Due: production, test

Added in changes to store to local file and use bagging
  src/Microsoft.ML.Dnn/DnnTransform.cs
Due: production

ML.NET home page readme updated with additional getting started resources for ML.NET users
  README.md
Due: none

Update README.md
  README.md
Due: none

fix test
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.received.txt
Due: test

Create a new fixed length VBuffer column type and use that for tree summary columns which require a fixed width vector type.
  src/Microsoft.ML.Data/DataView/ArrayDataViewBuilder.cs
  src/Microsoft.ML.FastTree/Utils/RegressionTreeBaseUtils.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Fix the .sln file for the right configurations.
  Microsoft.ML.sln
Due: none

Fix mistake in .sln file
  Microsoft.ML.sln
Due: none

test fixes and disable one test
  test/Microsoft.ML.AutoML.Tests/ConversionTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/Microsoft.ML.AutoML.Tests/UserInputValidationTests.cs
Due: test

Rename LabelColumn to LabelColumnName for MutualInformationSelector (#4117)
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Full Model Retrain sample
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/MNISTFullModelRetrain.cs
Due: none

removed extra lines
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/MNISTFullModelRetrain.cs
Due: none

rename features to featuresList
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGenerator.cs
Due: production

move enum out of class
  src/Microsoft.ML.CodeGen/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGen/Templates/Console/ConsumeModel.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelBuilder.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelInputClass.tt
  src/Microsoft.ML.CodeGen/Templates/Console/ModelOutputClass.tt
  src/Microsoft.ML.CodeGen/Templates/Console/PredictProgram.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

fixed some hardcoded code
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/MNISTFullModelRetrain.cs
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
