Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"
  ignore:
    - "test"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Added more information and fixed the rendering issue with doc.
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

...updating from feedback
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMapping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMappingFloatToString.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMappingStringToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMappingStringToKeyType.cs
  src/Microsoft.ML.Data/Transforms/doc.xml
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Adding a sample for copy columns.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Concatenate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CopyColumns.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Cleaning, unblock netfx
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
  test/Microsoft.ML.Tests/Transformers/LineParserTests.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: test

Immutable RegressionTree and TreeEnsemble wrappers
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsemble.cs
Due: production

Add attributes for quantile regression tree
  src/Microsoft.ML.FastTree/TreeEnsemble/QuantileRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
Due: production

Ensure two newley-added fields are always not null
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
Due: production

Address comments and internalize RegressionTree and TreeEsnmble. A lot of things become internal and possibly best-friend because of RegressionTree and TreeEnsemble.
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/Dataset/FeatureFlock.cs
  src/Microsoft.ML.FastTree/Dataset/SingletonFeatureFlock.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.FastTree/Training/BaggingProvider.cs
  src/Microsoft.ML.FastTree/Training/DocumentPartitioning.cs
  src/Microsoft.ML.FastTree/Training/EnsembleCompression/IEnsembleCompressor.cs
  src/Microsoft.ML.FastTree/Training/EnsembleCompression/LassoBasedEnsembleCompressor.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/AcceleratedGradientDescent.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/ConjugateGradientDescent.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/GradientDescent.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/NoOptimizationAlgorithm.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/OptimizationAlgorithm.cs
  src/Microsoft.ML.FastTree/Training/Parallel/IParallelTraining.cs
  src/Microsoft.ML.FastTree/Training/Parallel/SingleTrainer.cs
  src/Microsoft.ML.FastTree/Training/RegressionTreeNodeDocuments.cs
  src/Microsoft.ML.FastTree/Training/ScoreTracker.cs
  src/Microsoft.ML.FastTree/Training/StepSearch.cs
  src/Microsoft.ML.FastTree/Training/Test.cs
  src/Microsoft.ML.FastTree/Training/TreeLearners/FastForestLeastSquaresTreeLearner.cs
  src/Microsoft.ML.FastTree/Training/TreeLearners/LeastSquaresRegressionTreeLearner.cs
  src/Microsoft.ML.FastTree/Training/TreeLearners/TreeLearner.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/QuantileRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsemble.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  test/Microsoft.ML.Predictor.Tests/TestParallelFasttreeInterface.cs
Due: production, test

Create new files and new namespace for public wrapper classes
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
  src/Microsoft.ML.FastTree/Representation/TreeRegressorCollection.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsemble.cs
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Add a test and fix the build
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
Due: test

private protected is good
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
Due: production

Doc strings
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
Due: production

More private-protected
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/ConjugateGradientDescent.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/GradientDescent.cs
Due: production

Address comments
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/QuantileRegressionTree.cs
Due: production

120 constraint
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
Due: production

Update entry point
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Address comments
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
  src/Microsoft.ML.FastTree/Representation/TreeRegressorCollection.cs
  src/Microsoft.ML.FastTree/Training/OptimizationAlgorithms/OptimizationAlgorithm.cs
Due: production

Add space
  src/Microsoft.ML.FastTree/TreeEnsemble/QuantileRegressionTree.cs
Due: production

Add tiny doc
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsemble.cs
Due: production

Address comments
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/QuantileRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
Due: production

Test dynamically created ReadOnlySpan
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
Due: production, test

test all elements in arrays
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
Due: test

Add a dynamic API test
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: test

Add a test for categorical split and some exception improvements
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
Due: production, test

Enabling the disabled tests
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

cleaning up samples text
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CopyColumns.cs
Due: none

address justin comments
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
Due: none

Adding a sample for drop columns
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/DropColumns.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Add a sample for copy columns. (#2351)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Concatenate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CopyColumns.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Clarify documentation for WordEmbeddings and provide sample. (#2339)
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Core/Utilities/LineParser.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/Text/doc.xml
  test/BaselineOutput/Common/Text/customWordEmbeddings.tsv
  test/BaselineOutput/Common/Text/wordEmbeddings.tsv
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Tests/Transformers/LineParserTests.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: production, test

update onnxruntime to 0.2.1
  build/Dependencies.props
Due: none

Fixing a test
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
Due: production

Fix build errors
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: test

...updating...
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Strongly-typed public surface
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.FastTree/Representation/TreeRegressor.cs
  src/Microsoft.ML.FastTree/Representation/TreeRegressorCollection.cs
  src/Microsoft.ML.FastTree/Training/TreeLearners/FastForestLeastSquaresTreeLearner.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/QuantileRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsemble.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Rename files
  src/Microsoft.ML.FastTree/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalQuantileRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalTreeEnsemble.cs
Due: production

..updating..
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMapping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMappingFloatToString.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMappingStringToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ValueMappingStringToKeyType.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/doc.xml
Due: production

Fix locale-sensitivity for float.Parse calls
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/UnitTests.cs
Due: test
