Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

add theorem reference
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
Due: production

normalize fix
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

revert code changes
  src/Microsoft.ML.Core/Utilities/MathUtils.cs
  src/Microsoft.ML.Data/Dirty/ILoss.cs
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
Due: production

Fix time series XML again
  docs/api-reference/io-time-series-change-point.md
  docs/api-reference/io-time-series-spike.md
  docs/api-reference/time-series-pvalue.md
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TimeSeries/IidChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/IidSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/SsaChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
Due: production

review comment
  src/Microsoft.ML.Transforms/GcnTransform.cs
Due: production

Revert a file
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Update docs/samples/Microsoft.ML.Samples/Program.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Improve summary for linear model parameters. (#3566)
  src/Microsoft.ML.StandardTrainers/Standard/ModelStatistics.cs
Due: production

Fix Dnn image featurizer and Onnx XML documentation (#3543)
  src/Microsoft.ML.OnnxTransformer/DnnImageFeaturizerTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

remove space
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
Due: production

restoring the argument short name
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
Due: production

Fix link in ComputeLogisticRegressionStandardDeviation class documentation.
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
Due: production

PR feedback.
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
Due: production

Fix incorrect link in ComputeLogisticRegressionStandardDeviation class documentation (#3572)
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
Due: production

Italics
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
Due: production

fix feature selection
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
Due: production

review comments
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
Due: production

Fix the ApproximatedKernelMappingEstimator XML doc (#3545)
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
Due: production

iterate on metrics printing
  docs/samples/Microsoft.ML.AutoML.Samples/BinaryClassificationExperiment.cs
  docs/samples/Microsoft.ML.AutoML.Samples/MulticlassClassificationExperiment.cs
  docs/samples/Microsoft.ML.AutoML.Samples/RegressionExperiment.cs
Due: none

Update src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
Due: production

Update docs/api-reference/io-time-series-change-point.md
  docs/api-reference/io-time-series-change-point.md
Due: none

Update docs/api-reference/io-time-series-spike.md
  docs/api-reference/io-time-series-spike.md
Due: none

print statement correction
  docs/samples/Microsoft.ML.AutoML.Samples/BinaryClassificationExperiment.cs
  docs/samples/Microsoft.ML.AutoML.Samples/MulticlassClassificationExperiment.cs
  docs/samples/Microsoft.ML.AutoML.Samples/RegressionExperiment.cs
Due: none

downgrade to .NET Core 2.1
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
Due: none

correct 'hasHeader' for multiclass samples
  docs/samples/Microsoft.ML.AutoML.Samples/MulticlassClassificationExperiment.cs
Due: none

remove potentially unpopulated 'Probability' from Sentiment schema
  docs/samples/Microsoft.ML.AutoML.Samples/DataStructures/SentimentPrediction.cs
Due: none

dummy commit to trigger build
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
Due: production

Fix feature selection catalog XML documentaion (#3548)
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
Due: production

remove unneeded comment
  docs/samples/Microsoft.ML.AutoML.Samples/RegressionExperiment.cs
Due: none

Documentation for loss functions (#3560)
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
Due: production

[AutoML] Generated project - FastTree nuget package inclusion dynamically (#3567)
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
  src/mlnet/Telemetry/MlTelemetry.cs
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

Updating the binary samples to print the confusion matrix together with the other metrics.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/BinaryClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FactorizationMachine.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LbfgsLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LbfgsLogisticRegression.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaLogisticRegression.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaNonCalibrated.tt
Due: none

Trigger build
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

regenerating the manifest
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Improve initialization algorithm documentation for kmeans (#3569)
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
Due: production

PR feedback.
  docs/api-reference/algo-details-sdca.md
Due: none

Improve SdcaLogisticRegressionBinaryTrainer documentation. (#3568)
  docs/api-reference/algo-details-sdca.md
Due: none

Fix GcNorm and LpNorm xml doc (#3541)
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Add Extensions.ML integration package.
  Microsoft.ML.sln
  build/Dependencies.props
  pkg/Microsoft.Extensions.ML/Microsoft.Extensions.ML.nupkgproj
  pkg/Microsoft.Extensions.ML/Microsoft.Extensions.ML.symbols.nupkgproj
  src/Microsoft.Extensions.ML/Builder/BuilderExtensions.cs
  src/Microsoft.Extensions.ML/Builder/IPredictionEnginePoolBuilder.cs
  src/Microsoft.Extensions.ML/MLContextOptions.cs
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.Extensions.ML/ModelLoaders/FileModelLoader.cs
  src/Microsoft.Extensions.ML/ModelLoaders/ModelLoader.cs
  src/Microsoft.Extensions.ML/ModelLoaders/UriModelLoader.cs
  src/Microsoft.Extensions.ML/ModelReloadToken.cs
  src/Microsoft.Extensions.ML/PoolLoader.cs
  src/Microsoft.Extensions.ML/PredictionEnginePool.cs
  src/Microsoft.Extensions.ML/PredictionEnginePoolExtensions.cs
  src/Microsoft.Extensions.ML/PredictionEnginePoolOptions.cs
  src/Microsoft.Extensions.ML/PredictionEnginePoolPolicy.cs
  src/Microsoft.Extensions.ML/Properties/AssemblyInfo.cs
  src/Microsoft.Extensions.ML/ServiceCollectionExtensions.cs
  test/Microsoft.Extensions.ML.Tests/FileLoaderTests.cs
  test/Microsoft.Extensions.ML.Tests/Microsoft.Extensions.ML.Tests.csproj
  test/Microsoft.Extensions.ML.Tests/UriLoaderTests.cs
  test/Microsoft.Extensions.ML.Tests/testdata.txt
Due: production, test

Fix time series XML again (#3571)
  docs/api-reference/io-time-series-change-point.md
  docs/api-reference/io-time-series-spike.md
  docs/api-reference/time-series-pvalue.md
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TimeSeries/IidChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/IidSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/SsaChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
