Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

job templat updated for test coverage
  build/ci/job-template.yml
Due: none

added in release notes for 3.0.1
  docs/release-notes/3.0.1/release-3.0.1.md
Due: none

added in release notes for 3.0.1 (#6962)
  docs/release-notes/3.0.1/release-3.0.1.md
Due: none

Update .NET Runtimes to latest version
  eng/Versions.props
Due: none

Add sweepable estimator to NER
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/named_entity_recognition_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/trainer-estimators.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/NamedEntityRecognitionMulti.cs
Due: production

Update .NET Runtimes to latest version (#6964)
  eng/Versions.props
Due: none

testing light gbm tests sequentially
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Add sweepable estimator to NER (#6965)
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/named_entity_recognition_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/trainer-estimators.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/NamedEntityRecognitionMulti.cs
Due: production

Update branding for 3.0.2
  eng/BranchInfo.props
  eng/Versions.props
Due: none

Update branding for 3.0.2 (#6970)
  eng/BranchInfo.props
  eng/Versions.props
Due: none

Prefer XUnitVersion property from arcade
  eng/Versions.props
Due: none

testing light gbm tests sequentially (#6968)
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Add new type to key-value
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/MapValueToKey.cs
Due: production

Make it IDataView
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

clean
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
Due: production

add dataview support in source generator
  src/Microsoft.ML.AutoML/CodeGen/map_value_to_key_search_space.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/MapValueToKey.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

Update type_converter_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
Due: production

Update search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
Due: production

onnx update
  eng/Versions.props
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

formatting update
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Rename NoTargets projects from csproj to proj
  Microsoft.ML.sln
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.proj
  src/Microsoft.ML.OneDal/Microsoft.ML.OneDal.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.TorchSharp/Microsoft.ML.TorchSharp.csproj
  src/Microsoft.ML/Microsoft.ML.proj
Due: production

Add new type to key-value converter (#6973)
  src/Microsoft.ML.AutoML/CodeGen/map_value_to_key_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/MapValueToKey.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

Fix build issues around model download and respond to feedback
  Directory.Build.targets
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Directory.Build.props
  src/Microsoft.ML/Microsoft.ML.proj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.OnnxTransformerTest/Microsoft.ML.OnnxTransformerTest.csproj
Due: production, test

Remove NoTargets file extension enforcement
  Directory.Build.targets
  src/Directory.Build.props
  test/Directory.Build.props
Due: production, test

Introducing Tiktoken Tokenizer
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/TikTokenPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Whitespace.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/TokenizerResult.cs
  src/Microsoft.ML.Tokenizers/Utils/ByteArrayComparer.cs
  src/Microsoft.ML.Tokenizers/Utils/BytePairEncoder.cs
  src/Microsoft.ML.Tokenizers/Utils/LruCache.cs
  test/Microsoft.ML.Tokenizers.Tests/Data/lib.rs.txt
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_gpt2.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_p50k_base.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_p50k_edit.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_r50k_base.json
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/PreTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Address the feedback
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/BpeTrainer.cs
  src/Microsoft.ML.Tokenizers/Model/Cache.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/TikTokenPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/Utils/ByteArrayComparer.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netfx.cs
  src/Microsoft.ML.Tokenizers/Utils/IListExtensions.cs
  src/Microsoft.ML.Tokenizers/Utils/LruCache.cs
  src/Microsoft.ML.Tokenizers/Utils/TokenizerExtensions.cs
Due: production

file renaming
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
Due: production

Introducing Tiktoken Tokenizer (#6981)
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/BPE.cs
  src/Microsoft.ML.Tokenizers/Model/BpeTrainer.cs
  src/Microsoft.ML.Tokenizers/Model/Cache.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRoberta.cs
  src/Microsoft.ML.Tokenizers/Model/Model.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/TikTokenPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Whitespace.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/TokenizerResult.cs
  src/Microsoft.ML.Tokenizers/Utils/ByteArrayComparer.cs
  src/Microsoft.ML.Tokenizers/Utils/BytePairEncoder.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  src/Microsoft.ML.Tokenizers/Utils/IListExtensions.cs
  src/Microsoft.ML.Tokenizers/Utils/LruCache.cs
  src/Microsoft.ML.Tokenizers/Utils/TokenizerExtensions.cs
  test/Microsoft.ML.Tokenizers.Tests/Data/lib.rs.txt
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_gpt2.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_p50k_base.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_p50k_edit.json
  test/Microsoft.ML.Tokenizers.Tests/Data/tokens_r50k_base.json
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/PreTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

De-Dupe the Write permission check
  .github/policies/resourceManagement.yml
Due: none

Add automation for adding/removing the untriaged label to issues
  .github/policies/untriaged.yml
Due: none

Add text normalizer transformer to AutoML
  src/Microsoft.ML.AutoML/CodeGen/normalize_text_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/transformer-estimators.json
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/NormalizeText.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

clean
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/transformer-estimators.json
Due: production

clean
  src/Microsoft.ML.AutoML/CodeGen/type_converter_search_space.json
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production

Rename proj to CSProj, include in SLN
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  eng/Build.props
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.csproj
  src/Microsoft.ML.OneDal/Microsoft.ML.OneDal.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.TorchSharp/Microsoft.ML.TorchSharp.csproj
  src/Microsoft.ML/Microsoft.ML.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

Add default
  src/Microsoft.ML.AutoML/CodeGen/normalize_text_search_space.json
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/Template/SearchSpace.tt
Due: production

Follow default pattern of ML.Net
  src/Microsoft.ML.AutoML/CodeGen/normalize_text_search_space.json
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
