Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Simplify getting mutable buffers
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Don't convert buffer to mutable if it not required
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Clean switch by type in binary operations
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
Due: production

Simplify getting mutable buffers
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
Due: production

Don't convert buffer to mutable if it not required
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
Due: production

Fix error with allocating more than MaxCapacity of Byte Memory Buffer
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/ReadOnlyDataFrameBuffer.cs
  test/Microsoft.Data.Analysis.Tests/BufferTests.cs
Due: production, test

Remove Unit test as it consumes too much memory
  test/Microsoft.Data.Analysis.Tests/BufferTests.cs
Due: test

Add dotnet8 nuget feed
  NuGet.config
Due: none

Fix issue with increasing buffer capacity over limit when double it size
  src/Microsoft.Data.Analysis/DataFrameBuffer.cs
  test/Microsoft.Data.Analysis.Tests/BufferTests.cs
Due: production, test

Update AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
Due: production

implement subsampling for train-validation dataset manager
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/RegressionExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IDatasetManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
  src/Microsoft.ML.Fairlearn/Reductions/GridSearchTrialRunner.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/TrainValidaionDatasetManagerTest.cs
Due: production, test

fix test
  src/Microsoft.ML.AutoML/AutoMLExperiment/IDatasetManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Fix using ToList on Row Collection (#6678)
  src/Microsoft.ML.Fairlearn/Reductions/UtilityParity.cs
Due: production

Fix typo.
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
Due: production

helix testing
  eng/helix.proj
Due: none

helix testing
  eng/helix.proj
  test/Microsoft.ML.TestFrameworkCommon/Utility/PathResolver.cs
Due: test

helix testing
  test/Microsoft.ML.TestFramework/Attributes/LightGBMFactAttribute.cs
Due: test

Remove redundant column names collection from DataFrameColumnCollection (#6701)
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
Due: production

Clean dataframe math (#6709)
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

[fabricbot] Do not add needs-further-triage to issues still marked as untriaged
  .github/fabricbot.json
Due: none

Provide ability to filter by null value
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.BinaryOperations.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fix dataframe arithmetics
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Fix
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

Add comments
  src/Microsoft.Data.Analysis/DataFrameColumn.BinaryOperations.cs
Due: production
