Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Created sample for text normalizing API. (#3133)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/NormalizeText.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

Update VBuffer documentation (#3136)
  docs/code/VBufferCareFeeding.md
  src/Microsoft.ML.DataView/VBuffer.cs
  src/Microsoft.ML.DataView/VBufferEditor.cs
Due: production

Disable push to myget
  build/vsts-ci.yml
Due: none

Update release version to 1.0 for release branch
  build/BranchInfo.props
Due: none

set the unstable version back to 0.12
  build/BranchInfo.props
Due: none

shuffle test around
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: test

Suggested changes to progress bar (#335)
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/Utilities/ConsolePrinter.cs
  src/mlnet/Utilities/ProgressHandlers.cs
Due: production

OVA sample
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
Due: none

Add PairwiseCoupling sample
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
Due: none

address comments
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
Due: production, test

Update release version to 1.0 for release branch (#3158)
  build/BranchInfo.props
Due: none

Rev Samples (#334)
  src/Samples/AdvancedExperimentSettings.cs
  src/Samples/AdvancedTrainingSettings.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/Cancellation.cs
  src/Samples/Data/taxi-fare-small-train.csv
  src/Samples/DataStructures/PixelData.cs
  src/Samples/DataStructures/PixelPrediction.cs
  src/Samples/DataStructures/SentimentIssue.cs
  src/Samples/DataStructures/SentimentPrediction.cs
  src/Samples/DataStructures/TaxiTrip.cs
  src/Samples/DataStructures/TaxiTripFarePrediction.cs
  src/Samples/InferColumns.cs
  src/Samples/ObserveProgress.cs
  src/Samples/Program.cs
  src/Samples/RefitBestModel.cs
  src/Samples/Samples.csproj
Due: production

remove normalizer estimator catalog methods that take enum as parameter.
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIRegressionExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.Transforms/Microsoft.ML.Transforms.csproj
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Tests/CachingTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
Due: production, test

Cleanup unused method in Normalizer Estimator.
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Restore OVA ability to preserve key names on predicted label (#3101)
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/PredictAndMetadata.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

Updating .tt file due to renaming of LbfgsPoissonRegression. (#3140)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

Move Normalizer extension method from experimental to stable nuget.
  src/Microsoft.ML.Experimental/TransformsCatalogExtensions.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

remove normalizer estimator catalog methods that take enum as parameter.
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIRegressionExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.Transforms/Microsoft.ML.Transforms.csproj
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Tests/CachingTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
Due: production, test

Remove Microsoft.ML.Experimental references in CS files.
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIRegressionExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Tests/CachingTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
Due: production, test

Update for PR feedback
  docs/code/MlNetCookBook.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

merge fix.
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

cleanup.
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

cleanup.
  src/Microsoft.ML.Transforms/Microsoft.ML.Transforms.csproj
Due: production

Initial checkin
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples.FSharp/Dynamic/Transforms/Text/ApplyCustomWordEmbedding.fs
  docs/samples/Microsoft.ML.Samples.FSharp/Microsoft.ML.FSharp.Samples.fsproj
  docs/samples/Microsoft.ML.Samples.FSharp/Program.fs
Due: none

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ApplyCustomWordEmbedding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ApplyWordEmbedding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/NormalizeText.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/RemoveDefaultStopWords.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/RemoveStopWords.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/TokenizeIntoCharactersAsKeys.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/TokenizeIntoWords.cs
Due: none

Updating fsharp reference for CustomWordEmbedding sample
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

PR feedback.
  docs/code/MlNetCookBook.md
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

updating image samples
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

Telemetry2 (#333)
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Program.cs
  src/mlnet/Telemetry/DotNetAppInsights/BashPathUnderHomeDirectory.cs
  src/mlnet/Telemetry/DotNetAppInsights/CliFolderPathCalculator.cs
  src/mlnet/Telemetry/DotNetAppInsights/CollectionsExtensions.cs
  src/mlnet/Telemetry/DotNetAppInsights/ConfigurationException.cs
  src/mlnet/Telemetry/DotNetAppInsights/DirectoryWrapper.cs
  src/mlnet/Telemetry/DotNetAppInsights/Env.cs
  src/mlnet/Telemetry/DotNetAppInsights/EnvironmentProvider.cs
  src/mlnet/Telemetry/DotNetAppInsights/ExceptionExtensions.cs
  src/mlnet/Telemetry/DotNetAppInsights/FileSystemWrapper.cs
  src/mlnet/Telemetry/DotNetAppInsights/FileWrapper.cs
  src/mlnet/Telemetry/DotNetAppInsights/FirstTimeUseNoticeSentinel.cs
  src/mlnet/Telemetry/DotNetAppInsights/IDirectory.cs
  src/mlnet/Telemetry/DotNetAppInsights/IEnvironmentProvider.cs
  src/mlnet/Telemetry/DotNetAppInsights/IFile.cs
  src/mlnet/Telemetry/DotNetAppInsights/IFileSentinel.cs
  src/mlnet/Telemetry/DotNetAppInsights/IFileSystem.cs
  src/mlnet/Telemetry/DotNetAppInsights/IFirstTimeUseNoticeSentinel.cs
  src/mlnet/Telemetry/DotNetAppInsights/ITelemetry.cs
  src/mlnet/Telemetry/DotNetAppInsights/ITemporaryDirectory.cs
  src/mlnet/Telemetry/DotNetAppInsights/IUserLevelCacheWriter.cs
  src/mlnet/Telemetry/DotNetAppInsights/MacAddressGetter.cs
  src/mlnet/Telemetry/DotNetAppInsights/NativeMethods.cs
  src/mlnet/Telemetry/DotNetAppInsights/ProcessReaper.cs
  src/mlnet/Telemetry/DotNetAppInsights/ProcessStartInfoExtensions.cs
  src/mlnet/Telemetry/DotNetAppInsights/Sha256Hasher.cs
  src/mlnet/Telemetry/DotNetAppInsights/StreamForwarder.cs
  src/mlnet/Telemetry/DotNetAppInsights/TelemetryCommonProperties.cs
  src/mlnet/Telemetry/DotNetAppInsights/TemporaryDirectory.cs
  src/mlnet/Telemetry/DotNetAppInsights/ToolPackageFolderPathCalculator.cs
  src/mlnet/Telemetry/DotNetAppInsights/UserLevelCacheWriter.cs
  src/mlnet/Telemetry/MlTelemetry.cs
  src/mlnet/Telemetry/ProductVersion.cs
  src/mlnet/Telemetry/Telemetry.cs
Due: production

Move Normalizer extension method from experimental to stable nuget and remove Normalizer generic APIs (#3118)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIRegressionExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.Experimental/TransformsCatalogExtensions.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Tests/CachingTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
Due: production, test

Create search?q=https%3A%2F%2Fgithub.com%2Felmovimientoaz%2Fcast-unity-plugin%2Fcommit%2Ff077f5b961ee2b25a22976c7774a87996ae83852&type=Commits
  https:/github.com/search?q=https%3A%2F%2Fgithub.com%2Felmovimientoaz%2Fcast-unity-plugin%2Fcommit%2Ff077f5b961ee2b25a22976c7774a87996ae83852&type=Commits
Due: none

Update description about key type and add one more reference
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
Due: production

fix review comments (print preview)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

Multi-column mapping for Normalizer estimators.
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

XML comment.
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Disable push to myget (#3157)
  build/vsts-ci.yml
Due: none

revert Program.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

adding a sample for convert MultiColumns. Moving files around.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertTypeMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/KeyToValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMapping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMappingFloatToString.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMappingStringToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMappingStringToKeyType.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

Adjust the samples about ValueMapping
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValue.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueIDVLookup.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMapping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMappingFloatToString.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMappingStringToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ValueMappingStringToKeyType.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production
