Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Allow 1 unknown dimsion ONNX
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Simplify ParameterVariableNameAnalyzer
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ParameterVariableNameAnalyzer.cs
Due: none

Minor refactoring in BaseTestClassAnalyzer
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: none

Simplify NameFixProvider
  tools-local/Microsoft.ML.InternalCodeAnalyzer/NameFixProvider.cs
Due: none

Transform chooses score scope
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

comments from PR
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Minor refactoring in BaseTestClassAnalyzer (#6267)
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: none

Simplify ParameterVariableNameAnalyzer (#6266)
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ParameterVariableNameAnalyzer.cs
Due: none

fixed test
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: test

Simplify NameFixProvider (#6268)
  tools-local/Microsoft.ML.InternalCodeAnalyzer/NameFixProvider.cs
Due: none

add image featurizer to AutoFeaturizer (#6261)
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/CodeGen/dnn_featurizer_image_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/estimator-schema.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/CodeGen/transformer-estimators.json
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/Images.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_image_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.ImagePathFeaturizerTest.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFeaturizerTests.cs
  tools-local/Microsoft.ML.AutoML.SourceGenerator/SearchSpaceGenerator.cs
Due: production, test

Add in support for 1 unknown dimension for ONNX runtime. (#6265)
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

implement multi
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

Added row item lookup by columnname
  src/Microsoft.Data.Analysis/DataFrameRow.cs
Due: production

FUNCTIONAL BREAKING CHANGE. Transform chooses score scope by default. (#6269)
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

Revert "Added AutoMLExperimentExtension to enable AutoML methods on gridsearch"
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
Due: production

made serviceCollection internal to be accessed by AutoML extension in fairlearn
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
Due: production

Updated IMonitor for fairlearn
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
Due: production

added FairnessTrialResulst for fairnessMetric
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
Due: production

Revert "made serviceCollection internal to be accessed by AutoML extension in fairlearn"
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
Due: production

Added an extension for AutoML experiment
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
Due: production

Added a Fairlearn AutoMLTuner
  src/Microsoft.ML.AutoML/AutoMLExperiment/TunerFactory.cs
  src/Microsoft.ML.Fairlearn/AutoML/TunerFactory.cs
Due: production

updated Project reference
  src/Microsoft.ML.Fairlearn/MLContextExtension.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
Due: production, test

added a gridSearch test
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
  test/Microsoft.ML.Fairlearn.Tests/UtilitiesTest.cs
Due: test

Update BranchInfo.props
  eng/BranchInfo.props
Due: none

Fixed documentation
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
Due: production

use onnx fact
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Update abstract methods
  src/Microsoft.ML.Fairlearn/reductions/Moment.cs
Due: production

Updated documentation and added the Bound method
  src/Microsoft.ML.Fairlearn/reductions/UtilityParity.cs
Due: production

Moved metric related files into the metric folder
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.Fairlearn/metrics/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/metrics/GroupMetric.cs
Due: production

Add licensing text
  THIRD-PARTY-NOTICES.TXT
Due: none

Update dependencies that come from .NET product
  eng/Versions.props
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
Due: production, test

Eliminate dependency on DependencyModel
  eng/Versions.props
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
  test/Microsoft.ML.TestFrameworkCommon/Utility/PathResolver.cs
Due: test

Remove 2.1 from helix and update 3.1 dependency
  eng/Versions.props
  eng/helix.proj
Due: none

Address feedback
  test/Microsoft.ML.TestFrameworkCommon/Utility/PathResolver.cs
Due: test

Update Newtonsoft.Json to 13.0.1
  eng/Versions.props
  test/Directory.Build.props
Due: test

Fix missing MS C# dependency
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
Due: production

disable lightgbm run in arm
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Update Newtonsoft.Json to 13.0.1 (#6276)
  eng/Versions.props
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  test/Directory.Build.props
Due: production, test
