Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Replaced tmpurl_calib
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
Due: production

Add ExperimentResult & CrossValidationExperimentResult classes
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.Auto/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunDetails/RunDetail.cs
Due: production

Add samples in TT for FFM (#3312)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithoutArguments.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachinewWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/MultipleFeatureColumnsBinaryClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

AutoML test updates
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Updates for CLI
  src/mlnet/AutoML/AutoMLEngine.cs
  src/mlnet/AutoML/IAutoMLEngine.cs
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/Utilities/Utils.cs
Due: production

In AutoML SDK, write logs to channel in MLContext
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/DebugLogger.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.Auto/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.Auto/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.Auto/Experiment/Runners/TrainValidateRunner.cs
  src/Microsoft.ML.Auto/Utils/Logger.cs
Due: production

Consume AutoML SDK logs from new stream in CLI
  src/mlnet/AutoML/AutoMLDebugLogger.cs
  src/mlnet/AutoML/AutoMLEngine.cs
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
Due: production

Upgrade matrix factorization samples
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationTemplate.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

address comments. make it build
  docs/api-reference/io-columns-binary-classification.md
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
Due: production

Include native references in required projects
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

whitespace fix
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

make it build
  src/Microsoft.ML.Mkl.Components.StaticPipe/VectorWhiteningStaticExtensions.cs
Due: production

multiclasssamples
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

rebase fix
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.tt
Due: none

review comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
Due: none

Setting metadata back to defaults for Microsoft.ML.DataView
  pkg/Microsoft.ML.DataView/Microsoft.ML.DataView.nupkgproj
Due: none

Unit test fixes
  test/Microsoft.ML.AutoML.Tests/SuggestedPipelineBuilderTests.cs
Due: test

Multiclass Classification Samples Update (#3322)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

[AutoML] Rev AutoML public API; add required native references to AutoML projects (#3364)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.Auto/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunDetails/RunDetail.cs
  src/Microsoft.ML.Auto/DebugLogger.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.Auto/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.Auto/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.Auto/Experiment/Runners/TrainValidateRunner.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineBuilder.cs
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
  src/Microsoft.ML.Auto/Utils/Logger.cs
  src/mlnet/AutoML/AutoMLDebugLogger.cs
  src/mlnet/AutoML/AutoMLEngine.cs
  src/mlnet/AutoML/IAutoMLEngine.cs
  src/mlnet/CodeGenerator/CodeGenerationHelper.cs
  src/mlnet/Utilities/Utils.cs
  src/mlnet/mlnet.csproj
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/SuggestedPipelineBuilderTests.cs
Due: production, test

Kmeans no sample utils
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/Clustering.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeans.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

review comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/Clustering.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeans.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeans.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

nitpicks for generated project
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/Templates/Console/ModelBuilder.cs
  src/mlnet/Templates/Console/ModelBuilder.tt
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProgram.cs
  src/mlnet/Templates/Console/PredictProgram.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  src/mlnet/Utilities/ProgressHandlers.cs
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentBinaryTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentOvaTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentRegressionTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

SymSGD documentation (#3345)
  docs/api-reference/io-columns-binary-classification.md
  src/Microsoft.ML.Mkl.Components.StaticPipe/VectorWhiteningStaticExtensions.cs
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.Mkl.Components/VectorWhitening.cs
  src/Microsoft.ML.Mkl.Components/doc.xml
Due: production

Standalone app to run all samples to catch run time exceptions. (#3309)
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Samples second pass for Clustering Trainer (#3317)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/Clustering.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeans.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Clustering/KMeansWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

- Reverted to Warning level 3 for unmanaged builds - fixed three W3 security-critical warnings that were deemed security critical, but false positives
  src/Native/CMakeLists.txt
  src/Native/CpuMathNative/Sse.cpp
  src/Native/MatrixFactorizationNative/UnmanagedMemory.cpp
Due: production

revert back the target framework
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
Due: production, test

[AutoML] Minor changes to generated project in CLI based on feedback (#3371)
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/Templates/Console/ModelBuilder.cs
  src/mlnet/Templates/Console/ModelBuilder.tt
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProgram.cs
  src/mlnet/Templates/Console/PredictProgram.tt
  src/mlnet/Utilities/ProgressHandlers.cs
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentBinaryTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentOvaTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentRegressionTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProgramCSFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

Migrate AutoML back to its own solution, w/ NuGet dependencies
  Microsoft.ML.AutoML.sln
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/AutoML/BinaryClassificationExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/BinaryClassificationExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/AutoML/MulticlassClassificationExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/MulticlassClassificationExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/AutoML/RegressionExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/RegressionExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
  src/Microsoft.ML.Auto/AutoMlUtils.cs
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.csproj
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/mlnet.Tests/mlnet.Tests.csproj
Due: production, test

build project updates; parameter name revert
  Microsoft.ML.sln
  build.proj
  src/Microsoft.ML.Auto/TrainerExtensions/SweepableParams.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
Due: production

clean up.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Naive.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Platt.cs
Due: none

Replace Preview API with IDataView based getter API.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Isotonic.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Naive.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Platt.cs
Due: none

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Isotonic.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Naive.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Platt.cs
Due: none

Setting metadata back to defaults for Microsoft.ML.DataView (#3367)
  pkg/Microsoft.ML.DataView/Microsoft.ML.DataView.nupkgproj
Due: none

Update major FFM doc
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineCatalog.cs
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production
