Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Added tab.
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
Due: production

post rebase changes
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: test

Addressed reviewers' comments.
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
Due: test

PR feedback.
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
Due: production

Updating LightGBM Arguments (#2948)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  src/Microsoft.ML.LightGbm.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGbm/LightGbmArguments.cs
  src/Microsoft.ML.LightGbm/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmCatalog.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  src/Microsoft.ML.LightGbm/WrappedLightGbmInterface.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-CV-generatedRegressionDataset.MAE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-CV-generatedRegressionDataset.MAE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-TrainTest-generatedRegressionDataset.MAE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-TrainTest-generatedRegressionDataset.MAE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-CV-generatedRegressionDataset.RMSE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-CV-generatedRegressionDataset.RMSE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-TrainTest-generatedRegressionDataset.RMSE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-TrainTest-generatedRegressionDataset.RMSE-rp.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Learners.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

adjusting test precision check, and turning off test in Intrinsics CI builds.
  src/Microsoft.ML.StandardTrainers/Standard/ModelStatistics.cs
  test/Microsoft.ML.TestFramework/Attributes/LessThanNetCore30OrNotNetCoreAndX64FactAttribute.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: production, test

Adding common column classes to CommonColumns.cs
  test/Microsoft.ML.Functional.Tests/Datasets/CommonColumns.cs
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureContributionOutput.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
Due: test

Adding xmldocs to column classes.
  test/Microsoft.ML.Functional.Tests/Datasets/CommonColumns.cs
Due: test

Moving metrics to 0-1 from 0-100
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/MulticlassClassificationEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
Due: production

Created .tt template file to make a template for regression samples.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTemplate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTemplate.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/RegressionTemplate.txt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

PR feedback.
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Utilities/Contracts.cs
  src/Microsoft.ML.Data/MLContext.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: production, test

Rename Save API for DataLoader to SaveDataLoader.
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  test/Microsoft.ML.Functional.Tests/ModelLoading.cs
Due: production, test

Updating the FunctionalTests to clearly explain why they are not strong named signed. (#3010)
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.Functional.Tests.csproj
Due: test

Fixing messy docstrings.
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
Due: production

Updating docstrings.
  test/Microsoft.ML.Functional.Tests/ONNX.cs
Due: test

Added samples for tree regression trainers. (#2999)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
Due: production

PR feedback.
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Data/MLContext.cs
Due: production

adding XML to a public AP that had no documentation.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Cleanup the statistics usage API (#2048)
  src/Microsoft.ML.Core/Data/ModelLoading.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/ModelStatistics.cs
  test/BaselineOutput/Common/Command/CommandTrainingLrWithStats-out.txt
  test/BaselineOutput/Common/EntryPoints/ensemble-summary.txt
  test/Microsoft.ML.TestFramework/Attributes/LessThanNetCore30OrNotNetCoreAndX64FactAttribute.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/data/backcompat/LrWithStats.zip
  test/data/backcompat/MlrWithStats.zip
Due: production, test

Updating relative to master
  test/Microsoft.ML.Functional.Tests/ONNX.cs
Due: test

Refactorize saving family
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
Due: production, test

Refactor cancellation mechanism and make it internal, accessible via experimental nuget. (#2797)
  Microsoft.ML.sln
  pkg/Microsoft.ML.Experimental/Microsoft.ML.Experimental.nupkgproj
  pkg/Microsoft.ML.Experimental/Microsoft.ML.Experimental.symbols.nupkgproj
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Utilities/Contracts.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
  src/Microsoft.ML.Experimental/MLContextExtensions.cs
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Resources/ContractsCheckResource.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: production, test

align with code in LightGBM
  src/Microsoft.ML.LightGbm/WrappedLightGbmBooster.cs
Due: production

adding a traintest split sample. Small corrections to the images doc.xml.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/BootstrapSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TrainTestSplit.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/doc.xml
Due: production

Add functional tests for ONNX scenarios (#2984)
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/Datasets/CommonColumns.cs
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureColumn.cs
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureContributionOutput.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
Due: test

Adds the openmp library to the MklRedist nuget package.
  src/Native/build.proj
Due: production

Added tests for word and character ngram feature extraction using text featurizer.
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
Due: test

Rename a class following binary SDCA trainer
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
Due: production

default initialization for ignore columns (#302)
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandSettings.cs
Due: production

Make Multiclass Linear Trainers Typed Based on Output Model Types. (#2976)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/MulticlassDataPartitionEnsembleTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SdcaStaticExtensions.cs
  test/BaselineOutput/Common/Command/CommandTrainMlrWithStats-summary.txt
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/DecomposableTrainAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Extensibility.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/PredictAndMetadata.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
Due: production, test

Add cancellation signal checkpoints in FastTree.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/Training/TreeLearners/LeastSquaresRegressionTreeLearner.cs
Due: production

undo temp changes.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Polish standard trainers' catalog
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticDualCoordinateAscentNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentNonCalibratedWithOptions.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Codegen for multiclass non-ova (#303)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeBinaryClassificationTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeMulticlassTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeRegressionTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet.Test/TransformGeneratorTests.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
  src/mlnet/Utilities/Utils.cs
Due: production

Add cancellation checkpoint in logistic regression.
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LbfgsPredictorBase.cs
Due: production

build break.
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/Training/TreeLearners/FastForestLeastSquaresTreeLearner.cs
Due: production

ImagePixelExtracting Options refactoring
  src/Microsoft.ML.ImageAnalytics/EntryPoints/ImageAnalytics.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.StaticPipe/ImageStaticPipe.cs
  src/Microsoft.ML.StaticPipe/ImageTransformsStatic.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
