Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fixedTestReferenceOutputs
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.key-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.keyU404-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.key-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.keyU404-out.txt
  test/BaselineOutput/Common/MultiClassNaiveBayes/MultiClassNaiveBayes-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/MultiClassNaiveBayes/MultiClassNaiveBayes-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/LogisticRegression-Non-Negative-CV-iris-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/LogisticRegression-Non-Negative-TrainTest-iris-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/LogisticRegression-Non-Negative-TrainTest-iris-rp.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-tree-featurized-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/MulticlassLogisticRegression-CV-iris-tree-featurized-permuted-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-tree-featurized-out.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/MulticlassLogisticRegression-TrainTest-iris-tree-featurized-permuted-out.txt
  test/BaselineOutput/Common/OVA/OVA-CV-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-CV-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-TrainTest-iris-out.txt
  test/BaselineOutput/Common/PKPD/PKPD-CV-iris-out.txt
  test/BaselineOutput/Common/PKPD/PKPD-TrainTest-iris-out.txt
Due: test

Fixed test reference outputs for NetCore31
  test/BaselineOutput/Common/MulticlassLogisticRegression/netcoreapp31/MulticlassLogisticRegression-CV-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/netcoreapp31/WE-Average-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/netcoreapp31/WE-Bootstrap-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/netcoreapp31/WE-Stacking-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/netcoreapp31/WE-Voting-TrainTest-iris-out.txt
Due: test

add serializedProperties in pipeline and use approvaltests to verify json
  src/Microsoft.ML.AutoML/API/Pipeline.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TrainerGenerators.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildDefaultAveragedPerceptronPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildFastTreeRankingPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildLightGbmPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildLightGbmPipelineNodeDefaultParams.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildMatrixFactorizationPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildOvaPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildPipelineNodeWithCustomColumns.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildSdcaPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.NumericAndFeatCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.NumericScalarCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.NumericVectorCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceBoolAndFeatCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceBoolAndNumCols.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceBoolCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceCatAndFeatCols.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceCustomTextLabelColMulticlass.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceFeatColScalar.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceIgnoreCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceMissingNameCollision.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceNumAndCatCols.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceNumCatAndFeatCols.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceNumericCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceNumericCols.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceNumericMissingCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceNumericMissingCols.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceTextAndFeatCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformInferenceTests.TransformInferenceTextCol.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformPostTrainerInferenceTests.TransformPostTrainerBinaryLabel.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformPostTrainerInferenceTests.TransformPostTrainerBinaryLabel.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformPostTrainerInferenceTests.TransformPostTrainerMulticlassKeyLabel.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformPostTrainerInferenceTests.TransformPostTrainerMulticlassKeyLabel.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TransformPostTrainerInferenceTests.TransformPostTrainerMulticlassNonKeyLabel.approved.txt
  test/Microsoft.ML.AutoML.Tests/GetNextPipelineTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/TrainerExtensionsTests.cs
  test/Microsoft.ML.AutoML.Tests/TransformInferenceTests.cs
  test/Microsoft.ML.AutoML.Tests/TransformPostTrainerInferenceTests.cs
Due: production, test

fix codegen test”
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TrainerGenerators.cs
  test/Microsoft.ML.CodeGenerator.Tests/TrainerGeneratorTests.cs
Due: production, test

Updated branch version
  build/BranchInfo.props
Due: none

Updated branch version (#5400)
  build/BranchInfo.props
Due: none

make columnInferenceResult serializable
  src/Microsoft.ML.AutoML/API/ColumnInference.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/ColumnInferenceTests.Wiki_column_inference_result_should_be_serializable.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/InferredPipelineTests.InferedPipeline_should_be_serializable.approved.txt
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceTests.cs
  test/Microsoft.ML.AutoML.Tests/InferredPipelineTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/TestData/inferedPipeline.json
  test/Microsoft.ML.AutoML.Tests/TestData/wiki.json
Due: production, test

use verbatim in serializedProperties
  src/Microsoft.ML.AutoML/API/Pipeline.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildDefaultAveragedPerceptronPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildFastTreeRankingPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildLightGbmPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildLightGbmPipelineNodeDefaultParams.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildMatrixFactorizationPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildOvaPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildPipelineNodeWithCustomColumns.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/TrainerExtensionsTests.BuildSdcaPipelineNode.approved.txt
  test/Microsoft.ML.AutoML.Tests/TrainerExtensionsTests.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentBinaryTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentOvaTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentRankingTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentRegressionTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateConsoleAppProjectContents_VerifyModelBuilder.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/TrainerGeneratorTests.cs
Due: production, test

internal visible to automlservice.tests
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
Due: production

upodate tensorflow
  build/Dependencies.props
  src/Microsoft.ML.TensorFlow/TensorTypeExtensions.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
Due: production

update Microsoft.ML.Vision
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

Added variables to tests to control Gpu settings
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Added dependency to prerelease
  Directory.Build.props
  build/Dependencies.props
Due: none

test onnx 1.4.0
  Directory.Build.props
  build/Dependencies.props
Due: none

Added omitted files
  NuGet.config
  global.json
Due: none

Changed strong name signing to use the same key for shipping and test assemblies
  NuGet.config
  global.json
  src/Microsoft.Extensions.ML/Properties/AssemblyInfo.cs
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Core/PublicKey.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.KMeansClustering/Properties/AssemblyInfo.cs
  src/Microsoft.ML.LightGbm/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Maml/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxConverter/AssemblyInfo.cs
  src/Microsoft.ML.OnnxTransformer/Properties/AssemblyInfo.cs
  src/Microsoft.ML.PCA/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Parquet/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Recommender/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TensorFlow/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TimeSeries/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  test/Directory.Build.props
  test/Microsoft.ML.TestFramework/Properties/AssemblyInfo.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/Properties/AssemblyInfo.cs
Due: production, test

Updated to 1.5.1
  build/Dependencies.props
Due: none

fix test && comment
  build/Dependencies.props
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

udpate tensorflow.net to 0.20.1
  build/Dependencies.props
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
Due: production

update tf major version
  build/Dependencies.props
Due: none

downgrade tf runtime to 1.14.1
  build/Dependencies.props
Due: none

Remove prerelease feed
  Directory.Build.props
Due: none

Nit on GPU variables
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/OnnxSequenceTypeWithAttributesTest.cs
Due: test

Change the _maxCalibrationExamples default
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

Update Dependencies.props
  build/Dependencies.props
Due: none

Update to Onnxruntime 1.5.1 (#5406)
  build/Dependencies.props
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/OnnxSequenceTypeWithAttributesTest.cs
Due: test

Improving comments
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

Change the _maxCalibrationExamples default on CalibratorUtils (#5415)
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

Add WriteCsv plus unit tests. (#2947)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  tests/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production

Fix perf regression in ShuffleRows
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  test/Microsoft.ML.Benchmarks/ShuffleRowsBench.cs
Due: production, test

Fix perf regression in ShuffleRows (#5417)
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  test/Microsoft.ML.Benchmarks/ShuffleRowsBench.cs
Due: production, test

build arcade on linux
  build.sh
  eng/Versions.props
  src/Native/build.sh
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

arcade linux build
  build.sh
  src/Native/build.sh
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

merge master to arcade branch (#5424)
  build/Dependencies.props
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  test/Microsoft.ML.Benchmarks/ShuffleRowsBench.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/OnnxSequenceTypeWithAttributesTest.cs
Due: production, test

put file execution permission change into source control
  build.sh
  eng/common/build.sh
  eng/common/dotnet-install.sh
Due: none

update tffact to stop running test on linux with glibc < 2.3)
  test/Microsoft.ML.TestFramework/Attributes/TensorflowFactAttribute.cs
  test/Microsoft.ML.TestFramework/Attributes/TensorflowTheoryAttribute.cs
Due: test

fix TensorFlowTransformInputShapeTest
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

arcade linux build (#5423)
  build.sh
  eng/common/build.sh
  eng/common/dotnet-install.sh
  src/Native/build.sh
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
