Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
Due: production

Update src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Removed new readMultiline option from AutoML.NET and removed the test that checked ColumnInference
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.AutoML/ColumnInference/TextFileContents.cs
  test/Microsoft.ML.AutoML.Tests/ColumnInferenceTests.cs
Due: production, test

Fix Microsoft.ML.DataView references
  pkg/Microsoft.ML.DataView/Microsoft.ML.DataView.nupkgproj
Due: none

revert changes on V1
  src/Microsoft.ML.Data/Transforms/Hashing.cs
Due: production

test meta file download
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: production, test

Test with new build
  .vsts-dotnet-ci.yml
Due: none

update on test
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: test

more refactor
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
Due: production

test BinaryClassifierSymSgdTest in CI
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  src/Native/SymSgdNative/SymSgdNative.cpp
Due: production

Update Ubuntu build and reenable test on Linux
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

fix build error
  src/Native/SymSgdNative/SymSgdNative.cpp
Due: production

Update Ubuntu build and reenable test on Linux (#5137)
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

remove native log, test only on linux
  .vsts-dotnet-ci.yml
  src/Native/SymSgdNative/SymSgdNative.cpp
Due: production

logging on native lib
  src/Native/SymSgdNative/SymSgdNative.cpp
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

fix crash
  src/Native/SymSgdNative/SymSgdNative.cpp
Due: production

add more logs and enable running for win and osx
  .vsts-dotnet-ci.yml
  src/Native/SymSgdNative/SymSgdNative.cpp
Due: production

Add public generic methods to TextLoader catalog that accept Options objects (#5134)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Actually add new line characters to loaded strings
  test/BaselineOutput/Common/TextLoader/multiline.csv
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/multiline.csv
Due: test

Actually include new line characters in loaded strings
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
Due: production

Add support for combining hashes in vector columns to HashingTransformer (#4828)
  src/Microsoft.ML.Core/Utilities/Hashing.cs
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.EntryPoints/TrainTestSplit.cs
  src/Microsoft.ML.Transforms/OneHotHashEncoding.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  test/BaselineOutput/Common/Command/CommandCrossValidationWithTextStratificationColumn-out.txt
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
  test/data/backcompat/hashing-before-combine.zip
Due: production, test

count table transform
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableBuilder.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/DictCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
  src/Microsoft.ML.Transforms/Dracula/MultiCountTable.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

Address code review comments
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
  src/Microsoft.ML.Transforms/HashJoiningTransform.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/DraculaTests.cs
Due: production, test

switch from three dimensional array of counts to two dimensional array of dictionaries
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
Due: production

Dracula with unit tests
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableBuilder.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/DictCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
  src/Microsoft.ML.Transforms/Dracula/MultiCountTable.cs
  src/Microsoft.ML.Transforms/HashJoiningTransform.cs
  test/BaselineOutput/Common/SavePipe/SavePipeCountTable-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTable-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTableShared-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTableShared-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDracula-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDracula-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDraculaExternalCounts-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDraculaExternalCounts-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDraculaKeyLabel-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDraculaKeyLabel-Schema.txt
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Transformers/DraculaTests.cs
  test/data/Dracula/ext-count-table.tsv
Due: production, test

create estimator from trained transformer
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableBuilder.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/DictCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
  src/Microsoft.ML.Transforms/Dracula/MultiCountTable.cs
  src/Microsoft.ML.Transforms/HashJoiningTransform.cs
  test/Microsoft.ML.Tests/Transformers/DraculaTests.cs
Due: production, test

Fix entry point catalog test
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

change mechanism for loading a pre-trained count table
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableBuilder.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/DictCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
  src/Microsoft.ML.Transforms/Dracula/MultiCountTable.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/SavePipe/SavePipeDraculaExternalCounts-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeDraculaExternalCounts-Schema.txt
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Transformers/DraculaTests.cs
Due: production, test

create estimator from trained transformer
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

change mechanism for loading a pre-trained count table
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

Add a sample
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CountTargetEncoding.cs
  src/Microsoft.ML.Transforms/Dracula/CMCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTable.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/DictCountTable.cs
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
  src/Microsoft.ML.Transforms/Dracula/MultiCountTable.cs
  test/Microsoft.ML.Tests/Transformers/DraculaTests.cs
Due: production, test

fix entrypoint catalog
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Address code review comments
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

documentation
  src/Microsoft.ML.Transforms/Dracula/CountTableBuilder.cs
  src/Microsoft.ML.Transforms/Dracula/CountTableTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/CountTargetEncodingTransformer.cs
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: production, test

fix unit tests
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/SavePipe/SavePipeCountTargetEncoding-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTargetEncoding-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTargetEncodingKeyLabel-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTargetEncodingKeyLabel-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTargetEncodingLoadModel-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountTargetEncodingLoadModel-Schema.txt
Due: production, test

documentation
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

count table transform
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

Add a sample
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

Dracula with unit tests
  src/Microsoft.ML.Transforms/Dracula/DraculaTransform.cs
Due: production

Fix bug
  src/Microsoft.ML.Transforms/Dracula/Featurizer.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
