Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update docs/code/CrossPlatform.md
  docs/code/CrossPlatform.md
Due: none

Move RowCursor back
  src/Microsoft.Data.Analysis/DataFrame.IDataView.cs
  src/Microsoft.Data.Analysis/RowCursor.cs
Due: production

renamed master to main (#5719)
  README.md
  build/.night-build.yml
  build/.outer-loop-build.yml
  docs/README.md
  docs/release-notes/1.3.1/release-1.3.1.md
  docs/release-notes/1.4.0/release-1.4.0.md
  docs/specs/mlnet-cli/MLNET-CLI-Specs.md
  docs/specs/mlnet-database-loader/mlnet-database-loader-specs.md
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
Due: production

Remove unused param
  src/Microsoft.Data.Analysis/DataFrame.IDataView.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

updates about helix
  docs/code/CrossPlatform.md
Due: none

IDataView to DataFrame (#5712)
  src/Microsoft.Data.Analysis/DataFrame.IDataView.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/strings.Designer.cs
  src/Microsoft.Data.Analysis/strings.resx
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Make LoadCsv use TextFieldParser
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Part 2 of TextFieldParser.
  src/Microsoft.Data.Analysis/TextFieldParser.cs
  test/Microsoft.Data.Analysis.Tests/TextFieldParserTests.cs
Due: production, test

More unit tests
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/TextFieldParser.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/Strings.Designer.cs
  test/Microsoft.Data.Analysis.Tests/Strings.resx
  test/Microsoft.Data.Analysis.Tests/TextFieldParserTests.cs
Due: production, test

Address feedback
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/TextFieldParser.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

Last bit of feedback
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

cleanup
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: test

Remove extra var
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

rename the designer.cs file too
  src/Microsoft.Data.Analysis/Strings.Designer.cs
Due: production

Remove duplicate file
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/Strings.Designer.cs
  test/Microsoft.Data.Analysis.Tests/Strings.resx
Due: test

Rename strings.resx to Strings.resx
  src/Microsoft.Data.Analysis/Strings.resx
Due: production

Improve csv parsing (#5711)
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
  src/Microsoft.Data.Analysis/TextFieldParser.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/TextFieldParserTests.cs
Due: production, test

Fix doc markdown
  src/Microsoft.ML.Data/Evaluators/Metrics/CalibratedBinaryClassificationMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

Fix doc markdown (#5732)
  src/Microsoft.ML.Data/Evaluators/Metrics/CalibratedBinaryClassificationMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

Use Official package for SharpZipLib
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
Due: production

Use Official package for SharpZipLib (#5735)
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
Due: production

Fix erroneous use of TaskContinuationOptions in ThreadUtils.cs
  src/Microsoft.ML.Core/Utilities/ThreadUtils.cs
Due: production

testing removing runtimes section
  global.json
Due: none

fix #5767 issue with DataFrame Merge method
  src/Microsoft.Data.Analysis/DataFrame.Join.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

fix min/max computation columns
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnComputations.tt
Due: production

mac os libomp testing
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

building from source
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

fixed libomp installation
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

added note to develop docs about workaround
  docs/building/unix-instructions.md
Due: none

OS X libomp CI fix. (#5771)
  build/ci/job-template.yml
  build/vsts-ci.yml
  docs/building/unix-instructions.md
Due: none

Minor cleanup.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
Due: production

Minor cleanup. (#5770)
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
Due: production
