Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

TryAdd updates
  src/Microsoft.ML.Core/Data/Repository.cs
Due: production

Add additional tests for ReadCsv (#2811)
  tests/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: none

collect crash dump, upload dump and pdb to artifact
  build/ci/job-template.yml
  init-tools.cmd
Due: none

only set registry to take crash dump on CI
  init-tools.cmd
Due: none

retry flaky tests
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFrameworkCommon/Attributes/RetryFactAttribute.cs
  test/Microsoft.ML.TestFrameworkCommon/DelayedMessageBus.cs
  test/Microsoft.ML.TestFrameworkCommon/RetryFactDiscoverer.cs
  test/Microsoft.ML.TestFrameworkCommon/RetryTestCase.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

skip 2 lightgbm related test to avoid test host process crash
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

retry one flaky test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Changed type of Exception to ArgumentOutOfRange
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

adding distinction between preview and GA
  docs/project-docs/release-process.md
Due: none

collect crash dump, upload dump and pdb to artifact (#4666)
  build/ci/job-template.yml
  init-tools.cmd
Due: none

ISchema to DataViewShema
  docs/code/IDataViewImplementation.md
  docs/code/MlNetHighLevelConcepts.md
  docs/code/SchemaComprehension.md
Due: none

IRandom -> System.Random
  docs/code/IDataViewImplementation.md
Due: none

IRow -> DataViewRow ICursor -> DataViewRowCursor IRowCursor -> DataViewRowCursor
  docs/code/IDataViewDesignPrinciples.md
  docs/code/IDataViewImplementation.md
Due: none

Moved DataViewRowCursor.md into docs/code
  docs/code/DataViewRowCursor.md
Due: none

Moved DataViewRowCursor.md
  src/Microsoft.ML.DataView/DataViewRowCursor.md
Due: production

Cancellation in Image Classification (fixes #4632) (#4650)
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

updates from PR comments
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
  test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs
Due: production, test

sync to latest, retry some flaky, disable some test fail even after retry
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFrameworkCommon/Attributes/RetryFactAttribute.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
Due: test

skip lightgbm test correctly
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

skip several test properly
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

skip one more test
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Updated SynchronizedCursorBase
  src/Microsoft.ML.Core/Data/SynchronizedCursorBase.cs
Due: production

fix for issue 4664
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
Due: production

resolving comment
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
Due: production

Updated ISchemaBindableMapper
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
Due: production

Updated ISweepers
  src/Microsoft.ML.AutoML/Sweepers/ISweeper.cs
  src/Microsoft.ML.Sweeper/ISweeper.cs
Due: production

Updated RowCursorUtils
  src/Microsoft.ML.Data/Data/RowCursorUtils.cs
Due: production

Updated ClusteringEvaluator.Aggregator
  src/Microsoft.ML.Data/Evaluators/ClusteringEvaluator.cs
Due: production

Updated EvaluatorBase
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
Due: production

Updated TrainerCursorBase
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
Due: production

Updated OneToOneTransformBase
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
Due: production

Updated KMeansUtils
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
Due: production

Change in IDataReader code
  docs/code/MlNetHighLevelConcepts.md
Due: none

skip more test
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test

retry one more test
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

retry one more test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

retry 2 more tests
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

LDSVM trainer, and tests
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmModelParameters.cs
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Learners.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Add streaming support, address code review comments.
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmModelParameters.cs
  src/Microsoft.ML.StandardTrainers/LdSvm/LdSvmTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-def-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/LDSVM-nob-TrainTest-breast-cancer.txt
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
