Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Added MYTODO to comments
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Run SsaForecast unit tests with 500 iterations
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

removing survey link
  README.md
Due: none

cleaning up readme
  README.md
Due: none

Simplify CodeGen - phase 2 (#4972)
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/AzureCodeGenerator/AzureAttachConsoleAppCodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelBuilder.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelBuilder.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProgram.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProgram.tt
  src/Microsoft.ML.CodeGenerator/Utils.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.Program.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.Program.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProgramCSFileContentTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.PredictionProgramCSFileContentTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateConsoleAppProjectContents_VerifyPredictProgram.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.TestModelBuilder_noOnnx_noTestData.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.TestPredictProgram_WithSampleData.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.cs
Due: production, test

fix benchmark test hanging issue
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
  test/Microsoft.ML.Benchmarks/BenchmarkBase.cs
  test/Microsoft.ML.Benchmarks/CacheDataViewBench.cs
  test/Microsoft.ML.Benchmarks/FeaturizeTextBench.cs
  test/Microsoft.ML.Benchmarks/Harness/Metrics.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
Due: test

Remove March survey link (#4984)
  README.md
Due: none

fix benchmark test hanging issue (#4985)
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
  test/Microsoft.ML.Benchmarks/BenchmarkBase.cs
  test/Microsoft.ML.Benchmarks/CacheDataViewBench.cs
  test/Microsoft.ML.Benchmarks/FeaturizeTextBench.cs
  test/Microsoft.ML.Benchmarks/Harness/Metrics.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
Due: test

enable and disable tests
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

enable and disable tests (#4988)
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

trouble shoot ssaforecast
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Added the assembly name of the custom transform to the model file
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestCustomTypeRegister.cs
Due: production, test

Backed out unnecessary change
  src/Microsoft.ML.Transforms/LambdaTransform.cs
Due: production

Fixed failing test
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: test

redirect output
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

test tensorflow test hanging
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

read double for beta
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
Due: production

Disabled two tensorflow tests that are hanging
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

add iteration number to log
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

remove SignatureDataTransform constructor
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
Due: production

update
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
Due: production

update
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationType.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
Due: production

Addressed code review comments and added another test for backcompat
  test/Microsoft.ML.Core.Tests/UnitTests/TestCustomTypeRegister.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
  test/data/backcompat/customTransform.zip
Due: test

Remove WeakReference list in PredictionEnginePoolPolicy.
  src/Microsoft.Extensions.ML/PredictionEnginePoolPolicy.cs
Due: production

construct new Bitmap(file) locks the underlying file for the lifetime of Bitmap. Use workaround suggested https://stackoverflow.com/questions/6576341/open-image-from-file-then-release-lock
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
Due: production

Removed unnecessary using statements
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
Due: production

Updated docs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSaveAndLoad.cs
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
Due: production

Removing unused IHosts
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
Due: production

add more debug info to log
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

Maintain original pixel format from file.
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
Due: production

Added the assembly name of the custom transform to the model file (#4989)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSaveAndLoad.cs
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestCustomTypeRegister.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
  test/data/backcompat/customTransform.zip
Due: production, test

add some logs and see if download images cause the hanging
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

try add guid to model file
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

modify log
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Remove WeakReference list in PredictionEnginePoolPolicy. (#4992)
  src/Microsoft.Extensions.ML/PredictionEnginePoolPolicy.cs
Due: production

Removed unused hosts in both Register methods
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
Due: production

take memory dump when tensorflow test hangs
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

remove white space
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationType.cs
Due: production
