Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Updated baseline files for onnx tests resulting from an upgrade of onnx irVersion and related google protobuf upgrades
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LightGbmBinaryClassificationOnnxConversionTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/SimplePipeline.txt
  test/BaselineOutput/Common/Onnx/Transforms/IndicateMissingValues.txt
  test/BaselineOutput/Common/Onnx/Transforms/Sentiment/SmallWordEmbed.txt
Due: production, test

Upgraded ProtoBuf and ORT versions
  Directory.Build.props
  build/Dependencies.props
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypeParser.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Integrate Image Classification API in AutoML.
  src/Microsoft.ML.AutoML/API/ExperimentBase.cs
  src/Microsoft.ML.AutoML/EstimatorExtensions/EstimatorExtensions.cs
  src/Microsoft.ML.AutoML/Experiment/RecipeInference.cs
  src/Microsoft.ML.AutoML/Experiment/SuggestedTrainer.cs
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.AutoML/TrainerExtensions/MultiTrainerExtensions.cs
  src/Microsoft.ML.AutoML/TrainerExtensions/TrainerExtensionCatalog.cs
  src/Microsoft.ML.AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/Microsoft.ML.AutoML/TransformInference/TransformInference.cs
  src/Microsoft.ML.AutoML/Utils/SplitUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

Add tensorflow fact.
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Add step to cleanup test data before building packages to free up space
  build/ci/job-template.yml
Due: none

Increase build timeout.
  build/ci/job-template.yml
Due: none

Delete build files before packaging and increase build timeout (#4377)
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
Due: none

Add caching to the DatabaseLoaderTests.
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Address PR review comments.
  pkg/Directory.Build.props
  pkg/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.nupkgproj
Due: none

Fix warnings/errors while buliding NuGet packages.
  pkg/Directory.Build.props
  pkg/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.nupkgproj
  pkg/Microsoft.ML/Microsoft.ML.symbols.nupkgproj
  pkg/mlnetlogo.png
Due: none

Remove SuppressDependenciesWhenPacking, since this still casues a NuGet warning.
  pkg/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.nupkgproj
Due: none

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

PR feedback.
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnModel.cs
  src/Microsoft.ML.Dnn/DnnRetrainTransform.cs
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

PR feedback.
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

PR feedback.
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
Due: production

PR feedback.
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
Due: production, test

PR feedback.
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Change the overloading LoadImages method that outputs raw image bytes to LoadRawImagesBytes.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ImageClassificationDefault.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

new nightly build pipeline
  .gitignore
  Directory.Build.props
  Microsoft.ML.sln
  build.proj
  build/.night-build.yml
  build/nightly-build/job-template.yml
  config.json
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.Functional.Tests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Microsoft.ML.NugetPackageVersionUpdater.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Program.cs
  test/Microsoft.ML.NugetPackageVersionUpdater/get-latest-package-version.bat
  test/PackageDependency.props
  test/run-night-build-tests.proj
Due: test

Make ImageClassification API an ITrainerEstimator and refactor code. (#4372)
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ImageClassificationDefault.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnModel.cs
  src/Microsoft.ML.Dnn/DnnRetrainTransform.cs
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Fix warnings/errors while buliding NuGet packages. (#4368)
  pkg/Directory.Build.props
  pkg/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.nupkgproj
  pkg/Microsoft.ML/Microsoft.ML.symbols.nupkgproj
  pkg/mlnetlogo.png
Due: none

Addressed Eric's comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Reverted Program.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Edited a comment as per Zeeshan's review
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
Due: production

fix template path
  build/.night-build.yml
Due: none

add additional steps
  build/nightly-build/job-template.yml
Due: none

Changed LoadImages method that returns raw images bytes to LoadRawImageBytes (#4390)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ImageClassificationDefault.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fix sln
  Microsoft.ML.sln
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
  test/PackageDependency.props
Due: test

Add caching to the DatabaseLoaderTests. (#4388)
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

add nuget config, only for test now, should find a better way
  Directory.Build.props
  NuGet.Config
  build/nightly-build/job-template.yml
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Microsoft.ML.NugetPackageVersionUpdater.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Program.cs
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
Due: test

remove unnecessary change
  build/nightly-build/job-template.yml
Due: none

make password plain text only for test
  NuGet.Config
Due: none

fix restore source
  Directory.Build.props
Due: none

fix nuget source
  Directory.Build.props
  NuGet.Config
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
Due: test

Add AddPredictionEnginePool overload for implementation factory
  src/Microsoft.Extensions.ML/ServiceCollectionExtensions.cs
Due: production
