Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

typo in comment: shoudl changed to should
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Evaluation.cs
Due: test

Microsoft.ML.Internal.Internallearn namespace requires certain internalization.
  src/Microsoft.ML.Data/Dirty/PredictionUtils.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.Data/Training/EarlyStoppingCriteria.cs
  src/Microsoft.ML.Data/Utilities/SlotDropper.cs
  src/Microsoft.ML.Data/Utilities/TypeUtils.cs
Due: production

Address PR feedback from #2579 (#2611)
  src/Microsoft.ML.Data/Data/Conversion.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Added new test to columninfo and fixing up API (#178)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Test/ColumnInferenceTests.cs
  src/Test/Test.csproj
  src/Test/TestData/DatasetWithDefaultColumnNames.txt
Due: production

PR feedback.
  src/Microsoft.ML.Data/Dirty/PredictionUtils.cs
Due: production

Comments
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
Due: production, test

formatting
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

Stop using System.ComponentModel.Composition
  build/Dependencies.props
  docs/code/MlNetCookBook.md
  pkg/Microsoft.ML/Microsoft.ML.nupkgproj
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.Core/ComponentModel/ExtensionBaseAttribute.cs
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Microsoft.ML.Core.csproj
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformerFactory.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

more comments
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
Due: production

Make optimizing metric customizable and add trainer whitelist functionality (#172)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/AutoFitter/AutoFitter.cs
  src/Microsoft.ML.Auto/AutoFitter/DataScorer/BinaryDataScorer.cs
  src/Microsoft.ML.Auto/AutoFitter/DataScorer/IDataScorer.cs
  src/Microsoft.ML.Auto/AutoFitter/DataScorer/MultiDataScorer.cs
  src/Microsoft.ML.Auto/AutoFitter/DataScorer/RegressionDataScorer.cs
  src/Microsoft.ML.Auto/AutoFitter/OptimizingMetric.cs
  src/Microsoft.ML.Auto/AutoFitter/OptimizingMetricInfo.cs
  src/Microsoft.ML.Auto/AutoFitter/RecipeInference.cs
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionCatalog.cs
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionUtil.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Test/GetNextPipelineTests.cs
  src/Test/TrainerExtensionsTests.cs
Due: production

typo in comment: shoudl changed to should (#2666)
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Evaluation.cs
Due: test

Metadata utils internalization, migration of few useful methods (#2651)
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  src/Microsoft.ML.Core/Data/MetadataBuilderExtensions.cs
  src/Microsoft.ML.Core/Data/MetadataUtils.cs
  src/Microsoft.ML.Data/Data/SchemaAnnotationsExtensions.cs
  src/Microsoft.ML.Data/EntryPoints/PredictorModelImpl.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs
  src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs
  src/Microsoft.ML.Data/Transforms/MetadataDispatcher.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
Due: production

Microsoft.ML.Transforms assembly lockdown (#2648)
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.HalLearners/VectorWhitening.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
  src/Microsoft.ML.Transforms/CompositeTransformer.cs
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/KeyToVectorMapping.cs
  src/Microsoft.ML.Transforms/MissingValueDroppingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueReplacing.cs
  src/Microsoft.ML.Transforms/ProjectionCatalog.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
Due: production

Internalize ModelLoadContext
  src/Microsoft.ML.Core/Data/ModelLoadContext.cs
  src/Microsoft.ML.Core/Data/ModelLoading.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/Dirty/ModelParametersBase.cs
  src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Resources/ContractsCheckResource.cs
Due: production, test

Internalize VersionInfo
  src/Microsoft.ML.Core/Data/ModelHeader.cs
  src/Microsoft.ML.Core/Data/ModelSaveContext.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
Due: production

Internalize members of ModelSaveContext while keeping the class itself public
  src/Microsoft.ML.Core/Data/ModelSaveContext.cs
  src/Microsoft.ML.Core/Data/ModelSaving.cs
Due: production

Internalize Repository and subclasses
  src/Microsoft.ML.Core/Data/Repository.cs
Due: production

codemzs review comments.
  src/Microsoft.ML.Data/Dirty/ModelParametersBase.cs
Due: production

yaeld minor commenting on comments correction.
  src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs
Due: production

PR feedback.
  build/Codecoverage.proj
Due: none

Introduce SimpleColumnInfo class (#2641)
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/NormalizerCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/ConversionsCatalog.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
  test/Microsoft.ML.Tests/Transformers/NAIndicatorTests.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
Due: production, test

Internalization of TensorFlowUtils.cs and refactored TensorFlowCatalog.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/DnnAnalyzer.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModelInfo.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

PR feedback.
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
Due: production

Internalize Microsoft.ML.Data Evaluators folder. (#2635)
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
Due: production

Internalization of OneToOne and ManyToOne Column classes (#2632)
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
Due: production

Hide much of Microsoft.ML.Model namespace. (#2649)
  src/Microsoft.ML.Core/Data/ModelHeader.cs
  src/Microsoft.ML.Core/Data/ModelLoadContext.cs
  src/Microsoft.ML.Core/Data/ModelLoading.cs
  src/Microsoft.ML.Core/Data/ModelSaveContext.cs
  src/Microsoft.ML.Core/Data/ModelSaving.cs
  src/Microsoft.ML.Core/Data/Repository.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/Dirty/ModelParametersBase.cs
  src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Resources/ContractsCheckResource.cs
Due: production, test

API rev (#181)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/AutoFitter/AutoFitter.cs
  src/Microsoft.ML.Auto/AutoFitter/MetricsAgents/BinaryMetricsAgent.cs
  src/Microsoft.ML.Auto/AutoFitter/MetricsAgents/IMetricsAgent.cs
  src/Microsoft.ML.Auto/AutoFitter/MetricsAgents/MultiMetricsAgent.cs
  src/Microsoft.ML.Auto/AutoFitter/MetricsAgents/RegressionMetricsAgent.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainRegression.cs
  src/Samples/CustomizeTraining.cs
  src/Samples/Program.cs
  src/Samples/ProgressHandler.cs
Due: production

Microsoft.ML.Internal.Internallearn namespace requires certain internalization. (#2667)
  src/Microsoft.ML.Data/Dirty/PredictionUtils.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.Data/Training/EarlyStoppingCriteria.cs
  src/Microsoft.ML.Data/Utilities/SlotDropper.cs
  src/Microsoft.ML.Data/Utilities/TypeUtils.cs
Due: production

propagate root MLContext thru AutoML (instead of creating our own) (#182)
  src/Microsoft.ML.Auto/API/Pipeline.cs
  src/Microsoft.ML.Auto/AutoFitter/AutoFitter.cs
  src/Microsoft.ML.Auto/AutoFitter/SuggestedPipeline.cs
  src/Microsoft.ML.Auto/AutoFitter/SuggestedPipelineResult.cs
  src/Microsoft.ML.Auto/AutoMlUtils.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnTypeInference.cs
  src/Microsoft.ML.Auto/ColumnInference/PurposeInference.cs
  src/Microsoft.ML.Auto/ColumnInference/TextFileContents.cs
  src/Microsoft.ML.Auto/DatasetDimensions/DatasetDimensionsApi.cs
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
  src/Microsoft.ML.Auto/Sweepers/SmacSweeper.cs
  src/Microsoft.ML.Auto/TransformInference/TransformInference.cs
  src/Test/AutoFitTests.cs
  src/Test/DatasetDimensionsTests.cs
  src/Test/GetNextPipelineTests.cs
  src/Test/InferredPipelineTests.cs
  src/Test/SweeperTests.cs
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production

Enabling new command line args (#183)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet.Test/CommandLineTests.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Data/Options.cs
  src/mlnet/Program.cs
  src/mlnet/Strings.resx
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
  src/mlnet/Utilities/Utils.cs
  src/mlnet/mlnet.csproj
  src/mlnet/strings.Designer.cs
Due: production

rename 'AutoFitter' to 'Experiment' (#169)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/BinaryMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/IMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/MultiMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/RegressionMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/OptimizingMetricInfo.cs
  src/Microsoft.ML.Auto/Experiment/RecipeInference.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipeline.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipelineResult.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedTrainer.cs
Due: production

explicit implementation for IsRowToRowMapper and GetRowToRowMapper
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/OneHotEncoding.cs
  src/Microsoft.ML.Transforms/OneHotHashEncoding.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

fixed non explicit implementations of ICanSaveModel in TimeSeries assembly
  src/Microsoft.ML.TimeSeries/IidAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/IidChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/IidSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/SequentialAnomalyDetectionTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.TimeSeries/SsaAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SsaChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
Due: production

Make public classes in Entrypoints namespace internal
  src/Microsoft.ML.Core/EntryPoints/ModuleArgs.cs
  src/Microsoft.ML.Core/EntryPoints/PredictorModel.cs
  src/Microsoft.ML.Core/EntryPoints/TransformModel.cs
  src/Microsoft.ML.Data/EntryPoints/EntryPointNode.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.Data/EntryPoints/InputBuilder.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
Due: production

Change Ranker to Ranking in evaluation related files.
  src/Microsoft.ML.Core/Prediction/ITrainer.cs
  src/Microsoft.ML.Data/EntryPoints/InputBuilder.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.EntryPoints/CrossValidationMacro.cs
  src/Microsoft.ML.EntryPoints/MacroUtils.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.StaticPipe/EvaluatorStaticExtensions.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

PR feedback
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
Due: production

Rename new class to CustomMappingFactory.
  docs/code/MlNetCookBook.md
  src/Microsoft.ML.Transforms/CustomMappingFactory.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/DnnAnalyzer.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModelInfo.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlow/doc.xml
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

Reorder MatrixFactorizationTrainer parameters (#2561)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
