Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

remove build timeout as perf bump, also try use hosted agent pool for netcore3.0 as well
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
Due: none

change back test agent pool
  .vsts-dotnet-ci.yml
Due: none

Added documentation regarding TextLoader's hasHeader field (#4655)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

modify base test class analyzer, allow also to extend from ft base test class (#4810)
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: none

added in DateTime type support for TSI
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  test/Microsoft.ML.Tests/Transformers/TimeSeriesImputerTests.cs
Due: production, test

Make sure reference assemblies are available during the build
  Directory.Build.targets
  build/Dependencies.props
Due: none

Ngram with uint16 input fix
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Ngram with uint16 input fix (#4813)
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

move TestLogger to TestFrameworkCommon
  test/Microsoft.ML.Functional.Tests/FunctionalTestBaseClass.cs
  test/Microsoft.ML.Functional.Tests/SchemaDefinitionTests.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.TestFrameworkCommon/TestLogger.cs
Due: test

remove build timeout as perf bump (#4811)
  build/ci/job-template.yml
Due: none

remove test code
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
Due: production

move TestLogger to TestFrameworkCommon (#4814)
  test/Microsoft.ML.Functional.Tests/FunctionalTestBaseClass.cs
  test/Microsoft.ML.Functional.Tests/SchemaDefinitionTests.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.TestFrameworkCommon/TestLogger.cs
Due: test

Fixed bug in tensorflow tests due to excessively long paths for working folders
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Changed Binarizer node to be cast to the type of the predicted label column's data type
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
Due: production

add AutoMLService.Test's kety to assembly
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
Due: production

Fixed threshold comparison, addressed review comments and updated resulting baseline changes
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
Due: production, test

Fixed doc issues pointed out by code review
  src/Microsoft.ML.Data/Model/Onnx/OnnxContext.cs
Due: production

Updated LightGBMPreviousModelBaselineTest
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-Test-breast-cancer-out.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/data/LightGBM-Train-breast-cancer-model.zip
Due: test

updates based on PR feedback
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
Due: production

Fixed bugs in OptionalColumnTransform and added bool support (#4815)
  src/Microsoft.ML.Data/Model/Onnx/OnnxContext.cs
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Make sure Done() is called in cleanup if it hasn't been called
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Updated baselines to account for the change in default parameters for PlattCalibrator in CalibratedModelParametersBase constructor
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-CV-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-CV-breast-cancer.withThreshold-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-CV-breast-cancer.withThreshold-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-CV-breast-cancer.withThreshold.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-GaussianNorm-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-GaussianNorm-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-GaussianNorm-CV-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-GaussianNorm-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-GaussianNorm-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-GaussianNorm-TrainTest-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-TrainTest-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-TrainTest-breast-cancer.withThreshold-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-TrainTest-breast-cancer.withThreshold-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-TrainTest-breast-cancer.withThreshold.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-bin-norm-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-bin-norm-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-bin-norm-CV-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-bin-norm-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-bin-norm-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-bin-norm-TrainTest-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-non-negative-CV-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-non-negative-CV-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-non-negative-CV-breast-cancer.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-non-negative-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-non-negative-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/SingleDebug/LogisticRegression/LogisticRegression-non-negative-TrainTest-breast-cancer.txt
  test/BaselineOutput/SingleDebug/SavePipe/TestTextLoaderDataTypes-CursLog.txt
  test/BaselineOutput/SingleDebug/SavePipe/TestTextLoaderDataTypes-Data.txt
  test/BaselineOutput/SingleDebug/SavePipe/TestTextLoaderDataTypes-Schema.txt
  test/Microsoft.ML.Functional.Tests/Training.cs
Due: test

Fixed EntryPointCalibrate and TestEnsembleCombiner
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LogisticRegression.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

add AutoMLService.Test's kety to assembly (#4822)
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
Due: production

Update LightGBMPreviousModelBaselineTest
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-Test-breast-cancer-out.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Fixed bug in tensorflow tests due to excessively long paths for working folders (#4816)
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Removed extraSettings param in unit test datasets file (#4808)
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
Due: test

Updated handling of missing values with LightGBM, and added ability to use (0) as missing value (#4695)
  src/Microsoft.ML.AutoML/TrainerExtensions/SweepableParams.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-rp.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-Test-breast-cancer-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-Test-breast-cancer.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer.txt
  test/Microsoft.ML.AutoML.Tests/TrainerExtensionsTests.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
  test/data/LightGBM-Train-breast-cancer-model.zip
Due: production, test

more debug log
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

case handling for onnx normalizing export
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

possibly a fix
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
Due: production

resolving comments
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

OnnxTransformer to accept KeyDataViewTypes as if they were UInt32
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Changed outColumnName to handle the case of threshold being assigned to the probability column
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
Due: production

Changed Binarizer node to be cast to the type of the predicted label … (#4818)
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
Due: production, test

Added test
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Added comment for clarity
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Reverted changes I made by mistake in other tests
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Reverted more changes I did by accident in other tests
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Updated data path
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
