Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update docs/release-notes/4.0.3/release-4.0.3.md
  docs/release-notes/4.0.3/release-4.0.3.md
Due: none

Update release-4.0.3.md (#7535)
  docs/release-notes/4.0.3/release-4.0.3.md
Due: none

Update release-4.0.3.md
  docs/release-notes/4.0.3/release-4.0.3.md
Due: none

Add a doc with information about components and dependencies
  docs/project-docs/components-and-dependencies.md
Due: none

Update OnnxRuntime to 1.23.2
  eng/Versions.props
Due: none

Formatting fixups and edits
  docs/project-docs/components-and-dependencies.md
Due: none

Add a diagram of components
  docs/project-docs/components-and-dependencies.md
Due: none

Improve diagram readability
  docs/project-docs/components-and-dependencies.md
Due: none

Update mermaid style
  docs/project-docs/components-and-dependencies.md
Due: none

Updating OnnxRuntime (#7469)
  eng/Versions.props
Due: none

Add a doc with information about components and dependencies (#7537)
  docs/project-docs/components-and-dependencies.md
Due: none

+
  src/Microsoft.ML.Fairlearn/Metrics/GroupMetric.cs
Due: production

Increment PatchVersion to 4 in BranchInfo.props
  eng/BranchInfo.props
Due: none

Update MajorVersion to 6
  eng/BranchInfo.props
Due: none

Add 5.0.0 release notes
  docs/release-notes/5.0.0/release-5.0.0.md
Due: none

Add 5.0.0 release notes (#7544)
  docs/release-notes/5.0.0/release-5.0.0.md
Due: none

Increment PatchVersion to 4 in BranchInfo.props (#7542)
  eng/BranchInfo.props
Due: none

Fix local build on linux thatwas ommiting arch argument
  src/Native/build.sh
Due: production

Fix local build on linux thatwas ommiting arch argument (#7549)
  src/Native/build.sh
Due: production

Version for 5.0.1
  eng/BranchInfo.props
Due: none

Version for 5.0.1 (#7550)
  eng/BranchInfo.props
Due: none

Update MajorVersion to 6 (#7543)
  eng/BranchInfo.props
Due: none

Add .azuredevops/dependabot.yml
  .azuredevops/dependabot.yml
Due: none

Fix typos in some files
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
Due: none

Add .azuredevops/dependabot.yml (#7553)
  .azuredevops/dependabot.yml
Due: none

Support gpt-5.1 model in Tiktoken tokenizer
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: production, test

Fix spaces
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
Due: production

Support gpt-5.1 model in Tiktoken tokenizer (#7556)
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: production, test

Update build machines to MacOS 15
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/vsts-ci.yml
Due: none

Make sure we specify the target MacOS version now that build machines run on newer version.
  src/Native/CMakeLists.txt
Due: production

Update src/Native/CMakeLists.txt
  src/Native/CMakeLists.txt
Due: production

Update mac build machines (#7558)
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/vsts-ci.yml
  src/Native/CMakeLists.txt
Due: production

Fix bug in PACKAGE.md examples
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Apply suggestions from code review
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Fix bug in PACKAGE.md examples (#7561)
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
