Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"
  ignore:
    - "test"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

reducing sleep time
  build/ci/phase-template.yml
Due: none

removing sleep
  build/ci/phase-template.yml
Due: none

Update OnnxML.cs file path in files to be excluded from code coverage.
  test/Directory.Build.props
Due: test

using quiet
  build/ci/phase-template.yml
Due: none

trying admin mode
  build/ci/phase-template.yml
Due: none

adding log as well
  build/ci/phase-template.yml
Due: none

Sanitize the column names in CLI (#162)
  src/Microsoft.ML.Auto/ColumnInference/ColumnTypeInference.cs
  src/Test/ColumnInferenceTests.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
Due: production

Adding functional tests for all training and evaluation tasks
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Iris.cs
  test/Microsoft.ML.Functional.Tests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Sentiment.cs
  test/Microsoft.ML.Functional.Tests/Datasets/TrivialMatrixFactorization.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.TestFramework/Datasets.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Evaluation.cs
Due: test

internalization and some commenting for transforms assembly
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
  src/Microsoft.ML.Transforms/CompositeTransformer.cs
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/ProjectionCatalog.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
Due: production

Updating test summaries.
  test/Microsoft.ML.Functional.Tests/Datasets/Iris.cs
  test/Microsoft.ML.Functional.Tests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Sentiment.cs
Due: test

enhance code coverage bot message.
  codecov.yml
Due: none

using qn
  build/ci/phase-template.yml
Due: none

PR feedback.
  codecov.yml
Due: none

second pass using the api review tool, internalized checkinputcolumn
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.HalLearners/VectorWhitening.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/KeyToVectorMapping.cs
  src/Microsoft.ML.Transforms/MissingValueDroppingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueReplacing.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
Due: production

Increase build timeout for code coverage CI.
  build/ci/phase-template.yml
Due: none

using -i
  build/ci/phase-template.yml
Due: none

removing msiexec
  build/ci/phase-template.yml
Due: none

fix package name (#168)
  src/mlnet/mlnet.csproj
Due: production

adding msiexec
  build/ci/phase-template.yml
Due: none

some cleaning
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/LoadColumnAttribute.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
Due: production

Enhance code coverage bot message. (#2235)
  codecov.yml
Due: none

Remove append calls since they not compatible with 4.6 framework (#2643)
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Rename TransformGeneratorBase .cs to TransformGeneratorBase.cs (#153)
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorBase.cs
Due: production

Fix minor version for the repository + remove Nlog config package (#171)
  build/BranchInfo.props
  src/mlnet/mlnet.csproj
Due: production

Adding a sample for LightGbm Ranking
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassificationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRanking.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRankingWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankerMetrics.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Creation of DataViewSchemaAnnotationsExtensions and movement of public facing metadata methods.
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  src/Microsoft.ML.Core/Data/MetadataUtils.cs
  src/Microsoft.ML.Data/Data/SchemaAnnotationsExtensions.cs
  src/Microsoft.ML.Data/EntryPoints/PredictorModelImpl.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs
  src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
Due: production

Internalize MetadataUtils and MetadataBuilder extensions, and revert members to public.
  src/Microsoft.ML.Core/Data/MetadataUtils.cs
  src/Microsoft.ML.Data/Transforms/MetadataDispatcher.cs
Due: production

Internalize MetadataBuilderExtensions
  src/Microsoft.ML.Core/Data/MetadataBuilderExtensions.cs
Due: production

added comments to make the function more clear
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
Due: production

Textloader internalizations, documentation, and Arguments refactoring (#2417)
  src/Microsoft.ML.Data/DataLoadSave/DataReaderExtensions.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  src/Microsoft.ML.StaticPipe/LocalPathReader.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

Internalization of OneToOne and ManyToOne Column classes
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
Due: production

PR feedback.
  src/Microsoft.ML.Transforms/GcnTransform.cs
Due: production

resolved review comments
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
Due: production

test uploading one time, and specify both the production and test flags for the upload, and see if the result is the same as with two separate uploads.
  build/Codecoverage.proj
Due: none

local tests run fine
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.KMeansClustering/KMeansCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineCatalog.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
Due: production, test
