Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add MaybeDownloadFile(), where check to redownload existing file if file is not of expected size.
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

Changed WebClient to HttpClient, renamed function to DownloadIfNeeded.
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

Added unit test.
  src/Microsoft.ML.Dnn/DnnUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Fixed newline after test
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Removed asynchronous copy
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

added test for InceptionV3, fixed formatting.
  src/Microsoft.ML.Dnn/DnnUtils.cs
  test/Microsoft.ML.TestFramework/Attributes/TensorflowTheoryAttribute.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fixed unit test, minor formatting
  src/Microsoft.ML.Dnn/DnnUtils.cs
  test/Microsoft.ML.TestFramework/Attributes/TensorflowTheoryAttribute.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fix test and change after rebase
  src/Microsoft.ML.Dnn/DnnUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Modify to call DownloadIfNeeded
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

Dispose HttpClient object and wait for task for finish.
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

clean up.
  src/Microsoft.ML.Dnn/DnnUtils.cs
Due: production

sync to master and use LoadRawImagesBytes instead of LoadImages.
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Use resource manager to download meta files.
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
Due: production

remove test.
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

remove unused namespaces.
  src/Microsoft.ML.Dnn/DnnUtils.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Use resource manager to download meta files. Fixes #4234 (#4314)
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Add missing linePragmas to ConsumeModel.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.tt
Due: production

fix rebase
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
Due: production

fixed test after rebase
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Add test, catch specific exception
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Modified test after rebase, addressed comments
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

fix for binary classifications
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

adding release process documentation
  README.md
Due: none

Regenerate cs file
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.cs
Due: production

add restore source
  Directory.Build.props
Due: none

Squashed commit of the following:
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
  test/Microsoft.ML.Tests/LearningRateSchedulerTest.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

DateTimeTransformer is done.
  Microsoft.ML.sln
  build/BranchInfo.props
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/CategoryImputer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/DateTimeTransformer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/DateTimeTransformerDropColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/RobustScaler.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/RobustScalerWithCenter.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/RobustScalerWithScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/TimeSeriesImputerBackFill.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/TimeSeriesImputerForwardFill.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/TimeSeriesImputerMedian.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/ToStringTransformerMultipleColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/ToStringTransformerSingleColumn.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  pkg/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.nupkgproj
  pkg/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.symbols.nupkgproj
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Core/Utilities/Utils.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/CategoryImputer.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.Featurizers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/RobustScaler.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  src/Microsoft.ML.Featurizers/ToStringTransformer.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoryImputerTests.cs
  test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs
  test/Microsoft.ML.Tests/Transformers/RobustScalerTests.cs
  test/Microsoft.ML.Tests/Transformers/TimeSeriesImputerTests.cs
  test/Microsoft.ML.Tests/Transformers/ToStringTransformerTests.cs
  test/data/dates.txt
Due: production, test

fixed rebase.
  test/Microsoft.ML.Tests/LearningRateSchedulerTest.cs
Due: test

Use WriteIntArray and ReadIntArray extension methods to make code more legible
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
Due: production

Add try catch block to skip bad(failing to read) images (#4350)
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Updating the DatabaseLoaderTests to cover a single load column
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Updating the DatabaseLoader to not force vector for single element columns
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Database/DatabaseLoaderCursor.cs
Due: production

Dispose the DataViewRowCursor in CountRows.
  src/Microsoft.ML.AutoML/DatasetDimensions/DatasetDimensionsUtil.cs
Due: production

Addresses #4226 . Fixes problem when loading NormalizerTransformer from disk. (#4321)
  build/Dependencies.props
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  test/Microsoft.ML.OnnxTransformerTest/DnnImageFeaturizerTest.cs
  test/Microsoft.ML.OnnxTransformerTest/Microsoft.ML.OnnxTransformerTest.csproj
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
Due: production, test

Publish nugets to azure devops feed
  build/vsts-ci.yml
Due: none

add nuget config file just for test purpose
  Directory.Build.props
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/nuget.config
  test/Microsoft.ML.NugetPackageVersionUpdater/nuget.config
  test/PackageDependency.props
Due: test

add step of adding private nuget source for test
  Directory.Build.props
  build/nightly-build/job-template.yml
  test/Microsoft.ML.NightlyBuild.Tests/nuget.config
  test/Microsoft.ML.NugetPackageVersionUpdater/nuget.config
Due: test

Putting back the task that publishes to private feed
  build/vsts-ci.yml
Due: none

test against public nuget feed
  Directory.Build.props
  build/nightly-build/job-template.yml
  test/Microsoft.ML.NugetPackageVersionUpdater/get-latest-package-version.bat
  test/PackageDependency.props
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
