Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"
  ignore:
    - "test"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

address small things
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.StaticPipe/TrainingStaticExtensions.cs
Due: production

Updating to use validation training through the Train API
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: test

When generating usings choose only distinct usings directives (#94)
  src/mlnet/Commands/NewCommand.cs
Due: production

make it build?
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.StaticPipe/TrainingStaticExtensions.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: production, test

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/LightGBM/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGBMMulticlassClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGBMRegression.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/Parallel/IParallel.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGBMRegression.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
Due: production

Internalize IDataTransform
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Transforms/LabelConvertTransform.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  src/Microsoft.ML.Transforms/HashJoiningTransform.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransform.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
Due: production

moving Microsoft.ML.TimeSeriesProcessing, and Microsoft.ML.TimeSeries to Microsoft.ML.Transforms.TimeSeries
  docs/samples/Microsoft.ML.Samples/Dynamic/IidChangePointDetectorTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/IidSpikeDetectorTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/SsaChangePointDetectorTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/SsaSpikeDetectorTransform.cs
  src/Microsoft.ML.TimeSeries.StaticPipe/TimeSeriesStatic.cs
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/EigenUtils.cs
  src/Microsoft.ML.TimeSeries/ExponentialAverageTransform.cs
  src/Microsoft.ML.TimeSeries/FftUtils.cs
  src/Microsoft.ML.TimeSeries/IidAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/IidChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/IidSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/MovingAverageTransform.cs
  src/Microsoft.ML.TimeSeries/PValueTransform.cs
  src/Microsoft.ML.TimeSeries/PercentileThresholdTransform.cs
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
  src/Microsoft.ML.TimeSeries/SequenceModelerBase.cs
  src/Microsoft.ML.TimeSeries/SequentialAnomalyDetectionTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.TimeSeries/SlidingWindowTransform.cs
  src/Microsoft.ML.TimeSeries/SlidingWindowTransformBase.cs
  src/Microsoft.ML.TimeSeries/SsaAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SsaChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/TimeSeriesProcessing.cs
  src/Microsoft.ML.TimeSeries/TimeSeriesUtils.cs
  src/Microsoft.ML.TimeSeries/TrajectoryMatrix.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesEstimatorTests.cs
Due: production, test

regenerate the catalog
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

post rebase fixes.
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/TimeSeriesProcessing.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Autofit overloads + cancellation + progress callbacks
  src/Microsoft.ML.Auto/API/AutoFitRunResult.cs
  src/Microsoft.ML.Auto/API/AutoFitSettings.cs
  src/Microsoft.ML.Auto/API/BinaryClassificationExtension.cs
  src/Microsoft.ML.Auto/API/DataExtensions.cs
  src/Microsoft.ML.Auto/API/MLContextAutoFitExtensions.cs
  src/Microsoft.ML.Auto/API/MultiClassClassificationExtension.cs
  src/Microsoft.ML.Auto/API/RegressionExtensions.cs
  src/Microsoft.ML.Auto/AutoFitter/AutoFitter.cs
  src/Microsoft.ML.Auto/AutoFitter/SuggestedPipelineResult.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/Cancellation.cs
  src/Samples/EarlyStopping.cs
  src/Samples/Program.cs
  src/Samples/ProgressHandler.cs
  src/Test/AutoFitTests.cs
  src/mlnet/Commands/NewCommand.cs
Due: production

regenerating the catalog
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Addressed PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/BinaryClassification/AveragedPerceptron.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
Due: production, test

Added sample for the second overload with trainer options.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Default the kfolds to value 5 in CLI generated code (#115)
  src/mlnet/Templates/MLCodeGen.cs
  src/mlnet/Templates/MLCodeGen.tt
Due: production

Remove extra ; from generated code (#114)
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet/CodeGenerator/TrainerGeneratorBase.cs
Due: production

Addressed reviewers' comments and added more samples.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassificationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGBMMulticlassClassificationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGBMRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMRegression.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
Due: production

Undo changes in LightGbmStaticExtension.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
Due: production

Internalize TreeEnsembleCombiner
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
Due: production

Get rid of value tuples in TrainTest and CrossValidation (#2507)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/LogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/SDCA.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
  src/Microsoft.ML.StaticPipe/TrainingStaticExtensions.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: production, test

taking care of review comments
  src/Microsoft.ML.Data/Evaluators/Metrics/AnomalyDetectionMetrics.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: production, test

Fixed the failing tests
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

adding a ci leg for mono
  .vsts-dotnet-ci.yml
  build.proj
  build/ci/phase-template.yml
  test/Directory.Build.props
  test/run-tests.proj
Due: test

Updated docs for AveragedPerceptron
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/doc.xml
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Added a sample
  docs/samples/Microsoft.ML.Samples/Dynamic/BinaryClassification/AveragedPerceptron.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Fixed breaking changes from master. For sample code, changed numIterations to 10 as per Justin's request
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.cs
Due: none

Internalize IDataTransform (#2509)
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Transforms/LabelConvertTransform.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  src/Microsoft.ML.Transforms/HashJoiningTransform.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransform.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
Due: production

Adding functional tests for DataIO
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/DataIO.cs
Due: test

Remove Tests FileSaver API test.
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/FileBasedSavingOfData.cs
Due: test

internalize most of Ensembles
  src/Microsoft.ML.Ensemble/EntryPoints/FeatureSelector.cs
  src/Microsoft.ML.Ensemble/EntryPoints/OutputCombiner.cs
  src/Microsoft.ML.Ensemble/EntryPoints/SubModelSelector.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/Average.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/BaseAverager.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/BaseMultiAverager.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/BaseMultiCombiner.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/IOutputCombiner.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/Median.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiAverage.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiMedian.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiVoting.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiWeightedAverage.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/Voting.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/WeightedAverage.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.Ensemble/Selector/IFeatureSelector.cs
  src/Microsoft.ML.Ensemble/Selector/ISubsetSelector.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/EnsembleMultiClassModelParameters.cs
Due: production

Addressing PR comments
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: test

Fix merge errors
  src/Microsoft.ML.Ensemble/Trainer/Binary/EnsembleTrainer.cs
  src/Microsoft.ML.Ensemble/Trainer/Regression/RegressionEnsembleTrainer.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
Due: production

Fixing merge error.
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: test

initial commit; tests pass on local machine
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
  test/BaselineOutput/Common/FeatureContribution/AveragePerceptronBinary.tsv
  test/BaselineOutput/Common/FeatureContribution/OnlineGradientDescentRegression.tsv
  test/BaselineOutput/Common/FeatureContribution/SDCABinary.tsv
  test/BaselineOutput/Common/FeatureContribution/SDCARegression.tsv
  test/BaselineOutput/Common/FeatureContribution/SGDBinary.tsv
  test/BaselineOutput/Common/FeatureContribution/SVMBinary.tsv
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/SimplePipeline.txt
  test/BaselineOutput/SingleDebug/Rff/featurized.tsv
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
Due: production, test
