Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Implementations to derived classes, remove ICursor mentions.
  src/Microsoft.ML.DataView/DataViewRowCursor.md
Due: production

More Yael comments.
  src/Microsoft.ML.DataView/DataViewRowCursor.md
Due: production

Senja comments.
  src/Microsoft.ML.DataView/DataViewRowCursor.md
Due: production

Remove MoveMany reference.
  src/Microsoft.ML.DataView/DataViewRowCursor.md
Due: production

documentation -- first pass
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
  src/Microsoft.ML.Auto/API/AutoInferenceCatalog.cs
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentBase.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/InferenceException.cs
  src/Microsoft.ML.Auto/API/MLContextExtension.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunDetails/CrossValidationRunDetail.cs
  src/Microsoft.ML.Auto/API/RunDetails/RunDetail.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceApi.cs
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/Microsoft.ML.Auto/Sweepers/SmacSweeper.cs
  src/Microsoft.ML.Auto/TrainerExtensions/TrainerExtensionUtil.cs
Due: production

Updating documentation for GetFeatureWeights in TreeEnsembleModelParameters
  src/Microsoft.ML.FastTree/FastTree.cs
Due: production

due to policheck, Renamed WhatTheFeature to FeatureContributionScorer. Note that this breaks model backwards compatibility. (#3252)
  src/Microsoft.ML.Data/Scorers/FeatureContributionCalculation.cs
Due: production

Rogan review.
  src/Microsoft.ML.DataView/DataViewRowCursor.md
Due: production

Updated nuget statement
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
Due: production

Shahab's comment.
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Normalize documentation (#3244)
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLogMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMinMax.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeSupervisedBinning.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Towards #3204 - ColumCopying documentation (#3316)
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

add samples; convert nuget to project references; add projects to main solution
  Microsoft.ML.sln
  build.proj
  docs/samples/Microsoft.ML.Samples/AutoML/BinaryClassificationExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/BinaryClassificationExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/AutoML/MulticlassClassificationExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/MulticlassClassificationExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/AutoML/RegressionExperiment.cs
  docs/samples/Microsoft.ML.Samples/AutoML/RegressionExperimentWithExperimentSettings.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.Auto/API/AutoCatalog.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/Microsoft.ML.Auto.csproj
  src/mlnet/mlnet.csproj
Due: production

Fixed formula with latex syntax
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
Due: production

Updating documentation for GetFeatureWeights in TreeEnsembleModelParameters (#3339)
  src/Microsoft.ML.FastTree/FastTree.cs
Due: production

Improve saving and loading of TextFeaturizingEstimator (#3185)
  build/Dependencies.props
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/WordBagTransform.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
Due: production, test

Add spaces back
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
Due: none

Projection documentation and Normalize changes to 1.0
  docs/samples/Microsoft.ML.Samples/Dynamic/Normalizer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ProjectionTransforms.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApproximatedKernelMap.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeGlobalContrast.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLogMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLpNorm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMinMax.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeSupervisedBinning.cs
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

API reference - Updated trainer docs for AveragedPerceptron (#3310)
  docs/api-reference/io-columns-binary-classification.md
  src/Microsoft.ML.StandardTrainers/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

Reduce test set's size
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.tt
Due: none

remove extra line
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
Due: none

fix comments
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

Move class comment to example()
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
Due: none

Fix LightGBM nuget reference
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
Due: none

Update DataViewRow and DataViewRowCursor implementation documentation. (#3195)
  src/Microsoft.ML.DataView/DataViewRowCursor.md
  src/Microsoft.ML.DataView/ICursor.md
Due: production

SymSGD documentation
  docs/api-reference/io-columns-binary-classification.md
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.Mkl.Components/doc.xml
Due: production

Fix some comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmAdvanced.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptionsAdvanced.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/RegressionSamplesTemplate.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.tt
Due: none

Add NaiveBayes sample & docs (#3246)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
Due: production

test.
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Dispose images after use.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

changes.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

PR feedback.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

PR feedback.
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

ApplyOnnxModel sample
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyOnnxModel.cs
Due: none

Rename to ApplyOnnxModel
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyOnnxModel.cs
Due: none

simplify
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyOnnxModel.cs
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
