Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

added tests (#187)
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet.Test/TrainerGeneratorTests.cs
  src/mlnet.Test/TransformGeneratorTests.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
Due: production

rev InferColumns to accept ColumnInfo input param (#186)
  src/Microsoft.ML.Auto/API/AutoInferenceCatalog.cs
  src/Microsoft.ML.Auto/ColumnInference/ColumnInferenceApi.cs
  src/Test/ColumnInferenceTests.cs
Due: production

Creating a service patch for .NET 4.6.2
  build/BranchInfo.props
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

build fix
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

PR feedback.
  build/ci/phase-template.yml
Due: none

restored backing field
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
Due: production

No need to use indices for dense case
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
Due: production

VectorToImageTransform conversion to estimator/transformer (#2580)
  src/Microsoft.ML.ImageAnalytics/EntryPoints/ImageAnalytics.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

Increase build timeout for code coverage CI. (#2647)
  build/ci/phase-template.yml
Due: none

Addressed reviewers' comments.
  src/Microsoft.ML.Core/Prediction/ITrainer.cs
  src/Microsoft.ML.EntryPoints/CrossValidationMacro.cs
  src/Microsoft.ML.EntryPoints/MacroUtils.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Creating a service patch for fixing issue with .NET 4.6.2 (#2676)
  build/BranchInfo.props
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Fix the build
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
Due: production

Fix the build (#2682)
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
Due: production

Addressed reviewers' comments.
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.TensorFlow.StaticPipe/TensorFlowStaticExtensions.cs
  src/Microsoft.ML.TensorFlow/TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModelInfo.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlow/doc.xml
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

Resolved build errors.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/DnnAnalyzer.cs
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

Addressing PR comments.
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureContributionOutput.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
Due: test

Updating comments to end in a period!
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
Due: test

Adding defaults for labelColumn and groupIdColumn to Ranking evaluator.
  src/Microsoft.ML.Data/TrainCatalog.cs
Due: production

Add tests
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/BaselineOutput/Common/Categorical/featurized.tsv
  test/BaselineOutput/Common/Categorical/oneHot.tsv
  test/BaselineOutput/Common/CategoricalHash/featurized.tsv
  test/BaselineOutput/Common/CategoricalHash/oneHotHash.tsv
  test/BaselineOutput/SingleRelease/Categorical/featurized.tsv
  test/BaselineOutput/SingleRelease/CategoricalHash/featurized.tsv
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalTests.cs
Due: production, test

Adding functional tests for explainability (#2584)
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureContributionOutput.cs
  test/Microsoft.ML.Functional.Tests/Datasets/HousingRegression.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: test

Addressing PR comments.
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
Due: test

Stop using System.ComponentModel.Composition (#2569)
  build/Dependencies.props
  docs/code/MlNetCookBook.md
  pkg/Microsoft.ML/Microsoft.ML.nupkgproj
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.Core/ComponentModel/ExtensionBaseAttribute.cs
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Core/Microsoft.ML.Core.csproj
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
  src/Microsoft.ML.Transforms/CustomMappingFactory.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

temp
  BuildToolsVersion.txt
Due: none

more tests
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Transforms/KeyToVectorMapping.cs
  test/BaselineOutput/Common/Categorical/oneHot.tsv
  test/BaselineOutput/Common/CategoricalHash/oneHotHash.tsv
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalTests.cs
Due: production, test

running ubuntu leg on netcoreapp3.0
  .vsts-dotnet-ci.yml
Due: none

correcting names in build definations
  .vsts-dotnet-ci.yml
Due: none

Added samples & docs for BinaryClassification.StochasticGradientDescent, plus a bunch of typo fixing.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentWithOptions.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
Due: production

Make WeightColumn as a string. It has to be provided in order to take effect
  src/Microsoft.ML.Core/EntryPoints/ModuleArgs.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.KMeansClustering/KMeansCatalog.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StaticPipe/KMeansStatic.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
Due: production

roll back
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
Due: production

fix test build
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Use AllowSparse=false as default in TextLoader
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/BaselineOutput/Common/pcaAnomaly/Default-TrainTest-mnistOneClass-out.txt
  test/BaselineOutput/Common/pcaAnomaly/Default-TrainTest-mnistOneClass-rp.txt
  test/BaselineOutput/Common/pcaAnomaly/NoNorm-TrainTest-mnistOneClass-out.txt
  test/BaselineOutput/Common/pcaAnomaly/NoNorm-TrainTest-mnistOneClass-rp.txt
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestPredictorsMaml.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
  test/data/adult.tiny.with-schema.txt
Due: production, test

Update entry point catelog
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Make quote- default
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
  test/Microsoft.ML.Functional.Tests/DataIO.cs
  test/Microsoft.ML.Functional.Tests/Datasets/TypeTestData.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

TextLoader uses TextLoader's default settings
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextSaver.cs
  test/Microsoft.ML.Tests/BinaryLoaderSaverTests.cs
Due: production, test

Implement argument --has-header and change usage of dataset (#194)
  src/mlnet.Test/CommandLineTests.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Commands/New/NewCommandOptions.cs
  src/mlnet/Program.cs
  src/mlnet/Strings.resx
  src/mlnet/strings.Designer.cs
Due: production

Address comments
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextSaver.cs
Due: production

removed dummy command (#195)
  src/mlnet/Commands/CommandDefinitions.cs
Due: production

tab to \t
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextSaver.cs
Due: production

fix tests
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

fix tests
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
