Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

get memory info
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Get memory info in Windows and UNIX builds
  init-tools.cmd
  init-tools.sh
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

fixed last commit that was bad
  src/Microsoft.ML.Featurizers/LagLeadOperator.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/LagLeadOperatorTests.cs
Due: production, test

moved the dataview inside the ShortGrainDropper class
  src/Microsoft.ML.Featurizers/ShortGrainDropper.cs
  src/Microsoft.ML.Featurizers/ShortGrainDropperDataView.cs
Due: production

clarifying parameters on time series
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

Short grain dropper (#5034)
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/ShortGrainDropper.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/ShortGrainDropperTests.cs
Due: production, test

updating windowsize and trainsize
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

Rolling Window (#5035)
  src/Microsoft.ML.Featurizers/RollingWindowFeaturizer.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/RollingWindowFeaturizerTests.cs
Due: production, test

Forecasting pivot featurizer (#5037)
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizer.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/ForecastingPivotFeaturizerTests.cs
Due: production, test

Handle NaN in calculation of average scores and index of closest fold
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

Handle all metrics being NaN in finding Best Run
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
Due: production

nit
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

update variable name
  src/Microsoft.ML.TimeSeries/DTRootCauseAnalyzer.cs
Due: production

Add batch support to srcnn entire api
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectEntireAnomalyBySrCnn.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SrCnnDataType.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyEstimator.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireTransformer.cs
Due: production

Fixing build in UNIX systems that don't have en-US as default culture (#5017)
  run.sh
Due: none

Handle all NaNs in best model selection
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
Due: production

fix official build
  src/Directory.Build.targets
Due: production

Return average metrics instead of metrics form the fold with optimizing metric closest to average
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

nit
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
Due: production

work around for official build issue
  src/Directory.Build.targets
Due: production

add missing fix
  Directory.Build.targets
  src/Directory.Build.targets
Due: production

Fix official build (#5040)
  Directory.Build.targets
Due: none

Converted potentially large values to type long
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
Due: production

Fix to avoid API breaking change
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
Due: production

Updated NaiveBayesMulticlassTrainer's Loader version
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
Due: production

Added note on code path for backwards compatability upon request
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
Due: production

Converted potentially large variables to type long (#5041)
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
Due: production

add some comments
  src/Microsoft.ML.TimeSeries/DTRootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationType.cs
Due: production

Add unit tests for entire srcnn
  src/Microsoft.ML.TimeSeries/SrCnnEntireTransformer.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

move CI windows build to netcore public pool
  .vsts-dotnet-ci.yml
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

Support for Categorical features in CalculateFeatureContribution of LightGBM (#5018)
  src/Microsoft.ML.FastTree/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalRegressionTree.cs
  test/BaselineOutput/Common/FeatureContribution/LightGbmRegressionWithCategoricalSplit.tsv
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: production, test

fix difference by using different result
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Attributes/LessThanNetCore30OrNotNetCoreAndX64FactAttribute.cs
  test/Microsoft.ML.TestFramework/Attributes/LessThanNetCore30OrNotNetCoreFactAttribute.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: test

try set SecurityProtocol at static constructor of BaseTest class as this setting is per app domain
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
Due: production, test

Added ability to compare configuration specific baselines
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Removed references to NeuralTreeEvaluator.dll and dependent functions
  src/Microsoft.ML.FastTree/BinFile/IniFileParserInterface.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalTreeEnsemble.cs
Due: production

Added ability to compare configuration specific baselines (#5045)
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/win-x64/SymSGD-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/win-x86/SymSGD-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

move CI windows build to netcore public pool (#5043)
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
Due: test
