Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fixed mistake in comments, and added clarification
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Enable running only specific tests
  .vsts-dotnet-ci.yml
Due: none

Run this test only
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Update TestPredictors.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Add Seed property to MLContext and use as default for data splits (#4775)
  src/Microsoft.ML.Core/Data/IHostEnvironment.cs
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/Utilities/LocalEnvironment.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Fix off by 1 error with the cats_int64s attribute for the OneHotEncoder ONNX operator.
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
Due: production, test

Fix a few more tests which were failing due to incorrect cats_int64s values.
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
Due: test

add more checks
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Added IsOnnxRuntimeSupported and Done() to test
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Fix off by 1 error with the cats_int64s attribute for the OneHotEncoder ONNX operator (#4827)
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
Due: production, test

more log for troubleshooting
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
Due: production

add lock and test
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
Due: production

add more log
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
Due: production

updating locale
  build/vsts-ci.yml
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

disabling test on Linux temporarily
  build/BranchInfo.props
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

reverting changes
  build/BranchInfo.props
  build/vsts-ci.yml
Due: none

Added exception for non-existant directory
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
Due: production

TextNormalizing export to Onnx (#4781)
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

update log
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Enable OnnxTransformer to accept KeyDataViewTypes as if they were UInt32 (#4824)
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

fix issue in WaiterWaiter
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
Due: production

test fix
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
Due: production

Update vs-threading analyzers to 16.5.132
  Directory.Build.targets
Due: none

Enable MSML_SingleVariableDeclaration for the full solution
  .editorconfig
  test/Microsoft.ML.Core.Tests/UnitTests/ColumnTypes.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/PerformanceTests.cs
  test/Microsoft.ML.TestFrameworkCommon/TestCommon.cs
  test/Microsoft.ML.Tests/CalibratedModelParametersTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
Due: test

Update to Microsoft.CodeAnalysis 3.3.1 (#4798)
  .editorconfig
  build/Dependencies.props
  tools-local/Microsoft.ML.InternalCodeAnalyzer/Microsoft.ML.InternalCodeAnalyzer.csproj
Due: none

Enable RS1024 (Compare symbols correctly)
  .editorconfig
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendOnPublicDeclarationsAnalyzer.cs
Due: none

Set the target framework for testing
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/.outer-loop-build.yml
  test/run-tests.proj
Due: test

re-enable tests that affected by the fixed issue
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
Due: test

Enable RS1024 (Compare symbols correctly) (#4799)
  .editorconfig
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendOnPublicDeclarationsAnalyzer.cs
Due: none

Update vs-threading analyzers to 16.5.132 (#4830)
  Directory.Build.targets
Due: none

refine comments
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
Due: production

Enable RS1025 (Configure generated code analysis)
  .editorconfig
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendAnalyzer.cs
Due: none

Added comments
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
Due: production

Enable RS1025 (Configure generated code analysis) (#4800)
  .editorconfig
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendAnalyzer.cs
Due: none

Enable RS1026 (Enable concurrent execution)
  .editorconfig
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ContractsCheckAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/InstanceInitializerAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/NameAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ParameterVariableNameAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/SingleVariableDeclarationAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/TypeParamNameAnalyzer.cs
Due: none

refactor based on discussion
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
Due: production

Enable RS1026 (Enable concurrent execution) (#4801)
  .editorconfig
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ContractsCheckAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/InstanceInitializerAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/NameAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/ParameterVariableNameAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/SingleVariableDeclarationAnalyzer.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/TypeParamNameAnalyzer.cs
Due: none

Enable VSTHRD103 (Call async methods when in an async method) (#4792)
  .editorconfig
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.Core/Utilities/TaskExtensions.cs
  test/Microsoft.ML.Sweeper.Tests/TestSweeper.cs
Due: production, test

Implement MSML_RelaxTestNaming suppressor for VSTHRD200
  tools-local/Microsoft.ML.InternalCodeAnalyzer/RelaxTestNamingSuppressor.cs
Due: none

Add tests for MSML_RelaxTestNaming
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/BaseTestClassTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/RelaxTestNamingTest.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/RelaxTestNamingSuppressor.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
