Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fixed a bug that occurs while loading in-memory images
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
Due: none

Mark Microsoft.Extensions.ML as a stable package. (#4356)
  build/BranchInfo.props
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
Due: production

take comments and made change
  Microsoft.ML.sln
  test/Microsoft.ML.Core.Tests/UnitTests/CoreBaseTestClass.cs
  test/Microsoft.ML.Functional.Tests/DataIO.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/Debugging.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Functional.Tests/FunctionalTestBaseClass.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/SchemaDefinitionTests.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
  test/Microsoft.ML.TestFrameworkCommon/TestCommon.cs
  test/Microsoft.ML.Tests/Transformers/CopyColumnEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/KeyToValueTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
Due: test

Combined DnnCatalog.Options and ImageClassificationEstimator.Options, addressed review comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Added unit test and sample
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ImageClassificationDefault.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Fix AutoML's reference to LightGbm (#4358)
  build/BranchInfo.props
  pkg/Microsoft.ML.AutoML/Microsoft.ML.AutoML.nupkgproj
Due: none

Removed duplicate members in Options class, addresses PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ImageClassificationDefault.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnRetrainTransform.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
Due: production

Removed preview remark for ImageClassification.
  src/Microsoft.ML.Dnn/DnnCatalog.cs
Due: production

take comments and fix
  test/Microsoft.ML.Functional.Tests/DataIO.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/Debugging.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/SchemaDefinitionTests.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
  test/Microsoft.ML.TestFrameworkCommon/TestCommon.cs
Due: test

Redesign DnnCatalog methods API for ease of use and consistency. (#4362)
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ImageClassificationDefault.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/MNISTFullModelRetrain.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnRetrainTransform.cs
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Added support for resnet50 architecture for image classification
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV50TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
Due: production

Added benchmark for image classification
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV50TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

address comments.
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
Due: test

fixed comments.
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
Due: production, test

Changed LearningScheduler interface to an abstract class as discussed with Eric. Added more comments for the learning rate functions.
  build/Dependencies.props
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
Due: production

Reverted LearningRateSchedulingCifarResnetTransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
Due: none

fix build issue.
  Microsoft.ML.sln
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
Due: production, test

changes for fasttree
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Added support for resnet50 architecture for image classification (#4349)
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Fix path related to v10.0 instead v9.0 (#4357)
  docs/api-reference/tensorflow-usage.md
Due: none

testcase modified
  build/Dependencies.props
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Fixed unit test. Addressed Eric's comments
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Added an internal constructor in LearningRateScheduler class.
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
Due: production

Added LearningRateSchedulerItem struct to represent epoch-scaling factor required for Linear scale rule and read them as IReadOnlyList. Addressed Zeeshan's comments.
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Added LearningRateScheduler functionality for Image Classification (#4340)
  build/Dependencies.props
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  src/Microsoft.ML.Dnn/LearningRateScheduler.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Revert "merge conflict resolve"
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
Due: production

Corrected 2 access modifiers
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

cleaned some code and rewrote test for current supported trainers
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Make ImageClassification API an ITrainerEstimator and refactor code.
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ImageClassificationDefault.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/LearningRateSchedulingCifarResnetTransferLearning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningEarlyStopping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ResnetV2101TransferLearningTrainTestSplit.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Dnn/DnnCatalog.cs
  src/Microsoft.ML.Dnn/DnnUtils.cs
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
  src/Microsoft.ML.Dnn/ImageClassificationTransform.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  test/Microsoft.ML.Benchmarks/ImageClassificationBench.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

comments.
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
Due: production

comments.
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
Due: production

Add SampleBase abstract class. Make GetAbsolutePath() return be true absolute path.
  docs/samples/Microsoft.ML.Samples/Dynamic/ImageClassification/ImageClassificationDefault.cs
  docs/samples/Microsoft.ML.Samples/SampleBase.cs
Due: none

Move windows build machines to NetCorePublic-Pool.
  .vsts-dotnet-ci.yml
Due: none

PR feedback.
  .vsts-dotnet-ci.yml
Due: none

Move windows build machines to NetCorePublic-Pool. (#4375)
  .vsts-dotnet-ci.yml
Due: none

Fix premature session close.
  src/Microsoft.ML.Dnn/ImageClassificationTrainer.cs
Due: production

changes.
  src/Microsoft.ML.AutoML/API/ColumnInference.cs
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInformationUtil.cs
  src/Microsoft.ML.AutoML/EstimatorExtensions/EstimatorExtensionCatalog.cs
  src/Microsoft.ML.AutoML/EstimatorExtensions/EstimatorExtensions.cs
  src/Microsoft.ML.AutoML/TransformInference/TransformInference.cs
Due: production

Revert "Move windows build machines to NetCorePublic-Pool. (#4375)"
  .vsts-dotnet-ci.yml
Due: none

Added support for exporting string related transforms to Onnx
  Directory.Build.props
  build/Dependencies.props
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypeParser.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
