Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

concat feature columns addition
  src/Microsoft.ML.AutoML/TransformInference/TransformInference.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

fixed regression
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelBuilder.cs
Due: production

adding sample
  docs/samples/Microsoft.ML.AutoML.Samples/DataStructures/SearchData.cs
  docs/samples/Microsoft.ML.AutoML.Samples/DataStructures/SearchDataPrediction.cs
  docs/samples/Microsoft.ML.AutoML.Samples/Program.cs
  docs/samples/Microsoft.ML.AutoML.Samples/RankingExperiment.cs
Due: none

remove copycolumn() as it's not necessary to repo
  test/Microsoft.ML.Tests/Transformers/KeyToVectorEstimatorTests.cs
Due: test

took out old test paths to generalize tests
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: test

Fix comment in NormalizeRobustScaling
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

Fix comment in NormalizeRobustScaling (#5239)
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
Due: production

cleaning up outdated comments
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGenerators.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.ModelBuilder.cs.approved.txt
Due: production, test

Removed extra blank line.
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
Due: production

change test to test on both case
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
Due: test

fix unit tests
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

for the build packaging
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGeneratorFactory.cs
Due: production

Issue 3234: use model schema type instead of class definition schema (#5228)
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
Due: production, test

Added test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

update
  src/Microsoft.ML.TimeSeries/Deseasonality/MeanDeseasonality.cs
  src/Microsoft.ML.TimeSeries/Deseasonality/MedianDeseasonality.cs
  src/Microsoft.ML.TimeSeries/STL/BackendStructureBase.cs
  src/Microsoft.ML.TimeSeries/STL/BasicParameters.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/LocalRegression.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
  src/Microsoft.ML.TimeSeries/STL/SeasonalInfo.cs
  src/Microsoft.ML.TimeSeries/STL/TrendInfo.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  src/Microsoft.ML.TimeSeries/SrCnnTransformBase.cs
Due: production

add options
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

refine code style
  src/Microsoft.ML.TimeSeries/Deseasonality/MeanDeseasonality.cs
  src/Microsoft.ML.TimeSeries/Deseasonality/MedianDeseasonality.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
Due: production

refine code
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

update
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Fixes DateTimeTransformer file path issue for NimbusML (#5234)
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
Due: production

Added LightGBM Fact Attribute to test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

rebuild
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGeneratorFactory.cs
Due: production

changed default NGrams from 1 to 2
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/Text/featurized.tsv
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
Due: production, test

fixed .netcore 3.1 baseline files
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.PAVcalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.PAVcalibration-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.calibrateRandom-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.calibrateRandom-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.nocalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.nocalibration-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-CV-breast-cancer.nocalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.nocalibration.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-All-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Average-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-AvgPer-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-AvgPer-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-AvgPer-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-BestPerf-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-BestPerf-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Default-CV-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Default-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Diverse-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-RandomFeature-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-RandomPartition-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-StackingAP-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Voting-TrainTest-breast-cancer.txt
Due: test

resolving comments
  src/Microsoft.ML.AutoML/EstimatorExtensions/EstimatorExtensionCatalog.cs
  src/Microsoft.ML.AutoML/EstimatorExtensions/EstimatorExtensions.cs
  src/Microsoft.ML.AutoML/TransformInference/TransformInference.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TrainerGenerators.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGenerators.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelBuilder.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelBuilder.tt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentRankingTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
Due: production, test

removed line
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
Due: production

change to overflow exception and add comments
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/Microsoft.ML.Tests/Transformers/KeyToVectorEstimatorTests.cs
Due: production, test

address Harish's comments:
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSeasonality.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SeasonalityDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

minor format update
  src/Microsoft.ML.TimeSeries/SeasonalityDetector.cs
Due: production

Improve exception msg by adding column name (#5232)
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/Microsoft.ML.Tests/Transformers/KeyToVectorEstimatorTests.cs
Due: production, test

updates
  src/Microsoft.ML.TimeSeries/STL/BasicParameters.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
  src/Microsoft.ML.TimeSeries/STL/LoessBasicParameters.cs
  src/Microsoft.ML.TimeSeries/STL/MathsTools.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

remove max neighbor number constraint
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
Due: production

remove the max neightbor count constraint
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
Due: production

update SrCnnEntireDetectOptions, move input/output column name out; fix unit tests
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

refactor the constructor of Loess
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
Due: production

remove unused imports
  src/Microsoft.ML.TimeSeries/Deseasonality/DeseasonalityBase.cs
  src/Microsoft.ML.TimeSeries/STL/MathsTools.cs
Due: production

fixed build issues with 3.1
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom-rp.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.nocalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/netcoreapp31/AveragedPerceptron-TrainTest-breast-cancer.nocalibration-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-All-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Average-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-AvgPer-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-AvgPer-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-BestPerf-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-BestPerf-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Default-CV-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Default-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Diverse-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-RandomFeature-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-RandomPartition-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-StackingAP-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/WE-Voting-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp31/WE-All-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp31/WE-AvgPer-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp31/WE-AvgPer-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp31/WE-AvgPer-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Updated default GroupID column name
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
Due: production, test

concat feature vector usage added to test
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
