Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

skip downloading some benchmark files that not used in CI benchmark
  build/ExternalBenchmarkDataFiles.props
Due: none

updating baselines
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
Due: test

Removed Linux & MacOS specific baselines
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer.txt
Due: test

Added back MacOS baselines
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer.txt
Due: test

use symbol link instead
  Directory.Build.props
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

add step to show disk usage
  build/ci/job-template.yml
Due: none

update
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

try use hardlink instead of symbol link
  Directory.Build.props
Due: none

simply code
  Directory.Build.props
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

fix in proj
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

Adding OneHotHashEncoding Test (#5098)
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Disabled BinaryClassifierSymSgdTest for test stability (#5110)
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

update the constructor
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

test move back to host see if still hangs (#5108)
  .vsts-dotnet-ci.yml
  Directory.Build.props
  build/ExternalBenchmarkDataFiles.props
  build/ci/job-template.yml
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: production, test

update comments
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
Due: production

address TF test download fail, use resource manager with retry download (#5102)
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

fix typo
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

add root cause localization transformer (#4925)
  docs/api-reference/time-series-root-cause-localization.md
  docs/api-reference/time-series-root-cause-surprise-score.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCause.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

fix baseline
  test/BaselineOutput/Common/Command/CommandCrossValidationWithTextStratificationColumn-out.txt
Due: test

removing RunSpecificTest test attribute
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
Due: test

Pass into inner exception to InvalidOperationException (#5091)
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
Due: production

added comments into documentation about type changes
  docs/code/IDataViewTypeSystem.md
Due: none

ensure benchmark dataset is downloaded before using
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  test/Microsoft.ML.Benchmarks/BenchmarkBase.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
Due: production, test

move nightly build pipeline and outer pipeline back to hosted
  build/.night-build.yml
  build/.outer-loop-build.yml
Due: none

fix typo
  test/Microsoft.ML.Benchmarks/BenchmarkBase.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
Due: test

take comments
  test/Microsoft.ML.Benchmarks/BenchmarkBase.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
Due: test

move nightly build pipeline and outer pipeline back to hosted (#5118)
  build/.night-build.yml
  build/.outer-loop-build.yml
Due: none

test reenable in linux
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

ensure benchmark dataset is downloaded before using (#5117)
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  test/Microsoft.ML.Benchmarks/BenchmarkBase.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
Due: production, test

test on specific test
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.TestFrameworkCommon/Attributes/MatrixFactorizationFactAttribute.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test

More unit test fixes
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: test

move tf meta file download to build stage
  build.proj
  build/TensorflowMetaFiles.props
Due: none

Update OnnxTransformer Doc XML (#5085)
  src/Microsoft.ML.OnnxTransformer/doc.xml
Due: production

move tf meta file download to build stage (#5120)
  build.proj
  build/TensorflowMetaFiles.props
Due: none

Moved multiline reader to TextLoaderCursor, and added return when multiline doesn't close quoting
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
  src/Microsoft.ML.Data/Utilities/StreamUtils.cs
Due: production

Update libmf for mftest
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test

Only run mftest
  .vsts-dotnet-ci.yml
Due: none

Updated libmf and corresponding MatrixFactorizationSimpleTrainAndPredict() baselines per build
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test

Fix issue with empty unquoted new lines
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
Due: production

Updated for slight variance in CentOS 7
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test
