Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fixing failing Arcade Windows Builds (#5482)
  build/ci/job-template.yml
Due: none

Changed strong name signing to use the same key for shipping and test assemblies
  NuGet.config
  global.json
  src/Microsoft.Extensions.ML/Properties/AssemblyInfo.cs
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Core/PublicKey.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.KMeansClustering/Properties/AssemblyInfo.cs
  src/Microsoft.ML.LightGbm/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Maml/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxConverter/AssemblyInfo.cs
  src/Microsoft.ML.OnnxTransformer/Properties/AssemblyInfo.cs
  src/Microsoft.ML.PCA/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Parquet/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Recommender/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TensorFlow/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TimeSeries/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  test/Directory.Build.props
  test/Microsoft.ML.TestFramework/Properties/AssemblyInfo.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/Properties/AssemblyInfo.cs
Due: production, test

Added omitted files
  NuGet.config
  global.json
Due: none

arcade linux build (#5423)
  build.sh
  eng/common/build.sh
  eng/common/dotnet-install.sh
  src/Native/build.sh
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

Windows CI working (#5477)
  .vsts-dotnet-ci.yml
  build.cmd
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

Added test key. (#5475)
  eng/snk/Test.snk
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Core/PublicKey.cs
  src/Microsoft.ML.CpuMath/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.KMeansClustering/Properties/AssemblyInfo.cs
  src/Microsoft.ML.LightGbm/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxConverter/AssemblyInfo.cs
  src/Microsoft.ML.PCA/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Parquet/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Recommender/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TensorFlow/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TimeSeries/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  test/Cert.props
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.TestFramework/Properties/AssemblyInfo.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Added Linux & Mac changes for Arcade (#5479)
  .gitignore
  .vsts-dotnet-ci.yml
  Microsoft.ML.sln
  build.sh
  build/ci/job-template.yml
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Maml/Properties/AssemblyInfo.cs
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
  test/Microsoft.ML.Benchmarks.Tests/Microsoft.ML.Benchmarks.Tests.csproj
  test/Microsoft.ML.Benchmarks/Program.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.PerformanceTests/BenchmarkBase.cs
  test/Microsoft.ML.PerformanceTests/CacheDataViewBench.cs
  test/Microsoft.ML.PerformanceTests/FeaturizeTextBench.cs
  test/Microsoft.ML.PerformanceTests/Harness/Configs.cs
  test/Microsoft.ML.PerformanceTests/Harness/Metrics.cs
  test/Microsoft.ML.PerformanceTests/Harness/ProjectGenerator.cs
  test/Microsoft.ML.PerformanceTests/HashBench.cs
  test/Microsoft.ML.PerformanceTests/Helpers/CIBenchmark.cs
  test/Microsoft.ML.PerformanceTests/Helpers/EmptyWriter.cs
  test/Microsoft.ML.PerformanceTests/Helpers/EnvironmentFactory.cs
  test/Microsoft.ML.PerformanceTests/Helpers/Errors.cs
  test/Microsoft.ML.PerformanceTests/Helpers/ExecuteMaml.cs
  test/Microsoft.ML.PerformanceTests/ImageClassificationBench.cs
  test/Microsoft.ML.PerformanceTests/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
  test/Microsoft.ML.PerformanceTests/Numeric/Ranking.cs
  test/Microsoft.ML.PerformanceTests/PredictionEngineBench.cs
  test/Microsoft.ML.PerformanceTests/Program.cs
  test/Microsoft.ML.PerformanceTests/README.md
  test/Microsoft.ML.PerformanceTests/RffTransform.cs
  test/Microsoft.ML.PerformanceTests/ShuffleRowsBench.cs
  test/Microsoft.ML.PerformanceTests/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.PerformanceTests/Text/MultiClassClassification.cs
  test/Microsoft.ML.PerformanceTests/TextLoaderBench.cs
  test/Microsoft.ML.PerformanceTests/TextPredictionEngineCreation.cs
Due: production, test

Rebasing fixes
  build/ci/job-template.yml
  eng/Versions.props
Due: none

maxModels instead of time for AutoML unit test (#5471)
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Update TF packages versioning
  eng/Versions.props
Due: none

Edit job-template to not build again at run tests stage
  build/ci/job-template.yml
Due: none

Don't build libraries again for testing if /p:Build=True
  eng/Build.props
  src/Native/CMakeLists.txt
Due: production

merge master to arcade branch (#5424)
  test/Microsoft.ML.Benchmarks/ShuffleRowsBench.cs
Due: test

Added Linux & Mac changes for Arcade (#5479)
  test/Microsoft.ML.Benchmarks/ShuffleRowsBench.cs
Due: test

Renamed Functional Tests to Integration Tests, and ensure it worked on my local command line
  Microsoft.ML.sln
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/DataIO.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Adult.cs
  test/Microsoft.ML.Functional.Tests/Datasets/CommonColumns.cs
  test/Microsoft.ML.Functional.Tests/Datasets/HousingRegression.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Iris.cs
  test/Microsoft.ML.Functional.Tests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.Functional.Tests/Datasets/Sentiment.cs
  test/Microsoft.ML.Functional.Tests/Datasets/TrivialMatrixFactorization.cs
  test/Microsoft.ML.Functional.Tests/Datasets/TypeTestData.cs
  test/Microsoft.ML.Functional.Tests/Debugging.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Functional.Tests/FunctionalTestBaseClass.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/SchemaDefinitionTests.cs
  test/Microsoft.ML.Functional.Tests/Training.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: production, test

Try -integrationTest on CI
  build/ci/job-template.yml
Due: none

error message added if a model is trained in a newer version of mlnet
  src/Microsoft.ML.Core/Data/ModelHeader.cs
Due: production

updating error message
  src/Microsoft.ML.Core/Data/ModelHeader.cs
Due: production

adding environment var
  src/Microsoft.ML.Core/Data/ModelHeader.cs
Due: production

enabling code coverage
  build/ci/job-template.yml
Due: none

fix official builds
  build/publish.proj
  build/vsts-ci.yml
  eng/Signing.props
  eng/Versions.props
  restore.cmd
  restore.sh
  sign.cmd
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DataView/Microsoft.ML.DataView.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.Vision/Microsoft.ML.Vision.csproj
Due: production

Revert "fix official builds"
  build/publish.proj
  build/vsts-ci.yml
  eng/Signing.props
  eng/Versions.props
  restore.cmd
  restore.sh
  sign.cmd
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DataView/Microsoft.ML.DataView.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.Vision/Microsoft.ML.Vision.csproj
Due: production

fix official builds
  build/publish.proj
  build/sign.proj
  build/vsts-ci.yml
  eng/Signing.props
  eng/Versions.props
  restore.cmd
  restore.sh
  sign.cmd
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DataView/Microsoft.ML.DataView.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.Vision/Microsoft.ML.Vision.csproj
Due: production

add execute permission to restore.sh
  restore.sh
Due: none

fixing tensorflow rebase issue
  eng/Versions.props
Due: none

path testing
  build/ci/job-template.yml
Due: none
