Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update Newtonsoft.Json to 13.0.1 (#6276)
  eng/Versions.props
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  test/Directory.Build.props
Due: production, test

upate
  docs/samples/Microsoft.ML.AutoML.Samples/Cifar10.cs
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  docs/samples/Microsoft.ML.AutoML.Samples/Program.cs
Due: none

Added user's gridLimit support
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
  src/Microsoft.ML.Fairlearn/AutoML/TunerFactory.cs
  src/Microsoft.ML.Fairlearn/reductions/Utilities.cs
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
Due: production, test

Delete GridSearch.cs
  src/Microsoft.ML.Fairlearn/reductions/GridSearch.cs
Due: production

added include Fairlearn.metric
  src/Microsoft.ML.Fairlearn/metrics/FairlearnMetricCatalog.cs
Due: production

added binary classification metric tests
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: test

lower accuracy in test set
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Update Newtonsoft.Json to 13.0.1 (#6276) (#6277)
  eng/Versions.props
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  test/Directory.Build.props
Due: production, test

add DateTime type
  src/Microsoft.Data.Analysis/DateTimeDataFrameColumn.cs
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/ArrowIntegrationTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameColumn.BinaryOperationTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

fix tests
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Address the feedback
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Roberta.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/Whitespace.cs
Due: production

Update Program.cs
  docs/samples/Microsoft.ML.AutoML.Samples/Program.cs
Due: none

stop include onnx in x86 project
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: test

replacing MultiModel Pipeline with SweepablePipeline
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/SweepableExtension.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/HyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/IHyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IDatasetManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineCVRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunnerFactory.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettings.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/HyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TunerFactory.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/MultiModelPipeline.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepablePipeline.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_image_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_image_test.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_iris_test.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_uci_adult_test.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.ImagePathFeaturizerTest.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndBinaryClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndRegressors.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorPipelineAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorPipelineAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelinePipelineFromIEstimatorAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/SweepableExtensionTest.cs
Due: production, test

stop installing onnxruntime in automl.test project
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: test

disable onnx test in automl.tests
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: test

remove pipeline in TrialSettings
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/HyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TunerFactory.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepablePipeline.cs
Due: production

clean up
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/EciCfoParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/IHyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/NestedSearchSpaceHyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/PipelineProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IDatasetManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineTrainTestRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunnerFactory.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/ITrialSettingsProposer.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

implement regression && multiclass evaluation metric and add tests
  src/Microsoft.ML.AutoML/API/SweepableExtension.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunnerFactory.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.AppendIEstimatorToSweepabePipelineTest.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/Microsoft.ML.AutoML.Tests/SweepableExtensionTest.cs
Due: production, test

improve multiclassification using AutoMLExperiment (#6270)
  docs/samples/Microsoft.ML.AutoML.Samples/Cifar10.cs
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  docs/samples/Microsoft.ML.AutoML.Samples/Program.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettingsProposer/PipelineProposer.cs
  src/Microsoft.ML.AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
Due: production, test

remove tunarFactory
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/IHyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/HyperParameterProposers/NestedSearchSpaceHyperParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineCVRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/SweepablePipelineTrainTestRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialRunnerFactory.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Tuner/EciCfoParameterProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Tuner/PipelineProposer.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TunerFactory.cs
Due: production

rename EciCfoParameterProposer to EciCfoTuner
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMetricManager.cs
  src/Microsoft.ML.AutoML/Tuner/CostFrugalTuner.cs
  src/Microsoft.ML.AutoML/Tuner/EciCfoTuner.cs
  src/Microsoft.ML.AutoML/Tuner/GridSearchTuner.cs
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  src/Microsoft.ML.AutoML/Tuner/RandomSearchTuner.cs
Due: production

datetime computation changes
  src/Microsoft.Data.Analysis/DateTimeComputation.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

some clean up
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
Due: production

remove AutoMLExperimentSetting from TrialSetting
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/TrialRunner.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialSettings.cs
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

disable lgbm trainer in test
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/Runner/ITrialRunner.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_image_test.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_iris_test.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_uci_adult_test.received.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.ImagePathFeaturizerTest.received.txt
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

clean up
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepablePipeline.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

renmame SetEvaluateMetricManager
  docs/samples/Microsoft.ML.AutoML.Samples/Cifar10.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

Update ApacheArrow to 3.0.0
  eng/Versions.props
Due: none

Basic infra for XGBoost wrapper
  src/Native/XGBoostNative/CMakeLists.txt
  src/Native/XGBoostNative/XGBoostWrapper.cpp
Due: production

update primitivedataframe.tt
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumnArithmetic.tt
Due: production

fix and add tests
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_newspaperchurn_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFeaturizerTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/data/newspaperchurn.csv
Due: production, test

use feature name from lgbmoption
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
Due: production

set up training time in runtime detail
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
Due: production

only keep back-to-bone function in AutoMLExperiment, and make other API as extension
  docs/samples/Microsoft.ML.AutoML.Samples/Cifar10.cs
  src/Microsoft.ML.AutoML/API/AutoMLExperimentExtension.cs
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
Due: production, test

fix di
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
Due: production

clean up
  src/Microsoft.ML.AutoML/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.AutoML/API/MulticlassClassificationExperiment.cs
Due: production

fix comments
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

transform boolean to numeric when column is numeric feature while is boolean type (#6292)
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_newspaperchurn_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFeaturizerTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/data/newspaperchurn.csv
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
