Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fixing global json
  global.json
Due: none

missed net upgrade.
  .vsts-dotnet-ci.yml
  docs/samples/Microsoft.ML.Samples.OneDal/Microsoft.ML.Samples.OneDal.csproj
Due: none

Fix broken inheritance from DataFrameColumn class
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
Due: production

re-adding containers
  .vsts-dotnet-ci.yml
Due: none

fix x86 order
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

arm 64 changes
  eng/helix.proj
  src/Microsoft.ML.Data/Utilities/TimerScope.cs
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-CV-breast-cancer.txt
  test/BaselineOutput/Common/MulticlassLogisticRegression/osx-arm64/LogisticRegression-Non-Negative-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Stacking-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Stacking-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Voting-TrainTest-iris-out.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

arm 64 missed files
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalTreeEnsemble.cs
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainMlrWithStats-summary.txt
Due: production, test

add causalLMDataset
  docs/samples/Microsoft.ML.GenAI.Samples/Llama/SFT_Llama_3_2_1B.cs
  src/Microsoft.ML.GenAI.Core/Trainer/CausalLMDataset.cs
  src/Microsoft.ML.GenAI.Core/Utility/IChatTemplateBuilder.cs
  src/Microsoft.ML.GenAI.LLaMA/Llama3_1ChatTemplateBuilder.cs
  src/Microsoft.ML.GenAI.Phi/Phi3/Phi3ChatTemplateBuilder.cs
  test/Microsoft.ML.GenAI.Core.Tests/CasualLMDatasetTest.cs
  test/Microsoft.ML.GenAI.Core.Tests/Microsoft.ML.GenAI.Core.Tests.csproj
Due: production, test

continue on error
  build/ci/send-to-helix.yml
Due: none

update
  docs/samples/Microsoft.ML.GenAI.Samples/Llama/SFT_Llama_3_2_1B.cs
  docs/samples/Microsoft.ML.GenAI.Samples/Program.cs
  src/Microsoft.ML.GenAI.LLaMA/LlamaCausalLMAgent.cs
Due: production

add SFT trainer
  docs/samples/Microsoft.ML.GenAI.Samples/Llama/SFT_Llama_3_2_1B.cs
  docs/samples/Microsoft.ML.GenAI.Samples/Microsoft.ML.GenAI.Samples.csproj
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMPipeline.cs
  src/Microsoft.ML.GenAI.Core/Trainer/CasualLMSupervisedFineTuningTrainer.cs
Due: production

update
  src/Microsoft.ML.GenAI.LLaMA/LlamaCausalLMAgent.cs
Due: production

update
  docs/samples/Microsoft.ML.GenAI.Samples/Program.cs
Due: none

win arm
  build/ci/send-to-helix.yml
  test/BaselineOutput/Common/AveragedPerceptron/win-arm/AveragedPerceptron-CV-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/win-arm/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/Command/win-arm/CommandTrainMlrWithStats-summary.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-def-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-nob-CV-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-nob-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/LdSvm/win-arm/LDSVM-nob-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/win-arm/LogisticRegression-non-negative-CV-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/win-arm/WE-Hetero-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/win-arm/WE-Hetero-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/win-arm/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Average-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Average-TrainTest-iris-rp.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Average-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Bootstrap-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Bootstrap-TrainTest-iris-rp.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Bootstrap-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Stacking-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Stacking-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/win-arm/WE-Voting-TrainTest-iris-out.txt
  test/Directory.Build.props
Due: test

linux arm64
  test/BaselineOutput/Common/Command/linux-arm64/CommandTrainMlrWithStats-summary.txt
  test/BaselineOutput/Common/LdSvm/linux-arm64/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/linux-arm64/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/linux-arm64/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/linux-arm64/LDSVM-nob-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Average-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Average-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Bootstrap-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Bootstrap-TrainTest-iris.txt
Due: test

missing linux arm64 files
  test/BaselineOutput/Common/AveragedPerceptron/linux-arm64/AveragedPerceptron-CV-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/linux-arm64/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/LdSvm/linux-arm64/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/linux-arm64/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/linux-arm64/LogisticRegression-non-negative-CV-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/linux-arm64/WE-Hetero-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/linux-arm64/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Stacking-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Stacking-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/linux-arm64/WE-Voting-TrainTest-iris-out.txt
Due: test

Removing extra parameter
  build/ci/job-template.yml
Due: none

disable x64 test on non-x64 machine
  test/Microsoft.ML.GenAI.Core.Tests/Microsoft.ML.GenAI.Core.Tests.csproj
Due: test

test helix upload
  eng/helix.proj
Due: none

semi colon escape
  eng/helix.proj
Due: none

escape ampersand
  eng/helix.proj
Due: none

fixing bash copy
  eng/helix.proj
Due: none

support batch
  src/Microsoft.ML.GenAI.Core/Trainer/CasualLMSupervisedFineTuningTrainer.cs
Due: production

[GenAI] SFT Example (#7316)
  docs/samples/Microsoft.ML.GenAI.Samples/Llama/SFT_Llama_3_2_1B.cs
  docs/samples/Microsoft.ML.GenAI.Samples/Microsoft.ML.GenAI.Samples.csproj
  docs/samples/Microsoft.ML.GenAI.Samples/Program.cs
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMModelInput.cs
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMModelOutput.cs
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMPipeline.cs
  src/Microsoft.ML.GenAI.Core/Trainer/CasualLMSupervisedFineTuningTrainer.cs
  src/Microsoft.ML.GenAI.Core/Trainer/CausalLMDataset.cs
  src/Microsoft.ML.GenAI.Core/Utility/IChatTemplateBuilder.cs
  src/Microsoft.ML.GenAI.LLaMA/Llama3_1ChatTemplateBuilder.cs
  src/Microsoft.ML.GenAI.LLaMA/LlamaForCausalLM.cs
  src/Microsoft.ML.GenAI.LLaMA/Module/LlamaModel.cs
  src/Microsoft.ML.GenAI.Phi/Phi3/Phi3ChatTemplateBuilder.cs
  test/Microsoft.ML.GenAI.Core.Tests/CasualLMDatasetTest.cs
  test/Microsoft.ML.GenAI.Core.Tests/Microsoft.ML.GenAI.Core.Tests.csproj
Due: production, test

upload test
  eng/helix.proj
Due: none

cp test
  eng/helix.proj
Due: none

Fix broken inheritance from DataFrameColumn class (#7324)
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/ArrowStringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumns/VBufferDataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.Sort.cs
Due: production

Moved special tokens assignment below so the collection won't be modified
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
Due: production

Update M.E.AI version used by Microsoft.ML.GenAI.Core
  eng/Versions.props
  src/Microsoft.ML.GenAI.Core/CausalLMPipelineChatClient.cs
Due: production

arm files
  test/BaselineOutput/Common/FeatureContribution/linux-arm/SDCARegression.tsv
  test/BaselineOutput/Common/MulticlassLogisticRegression/linux-arm/LogisticRegression-Non-Negative-TrainTest-iris-out.txt
Due: test

relax arm constraints
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

missed arm file
  test/BaselineOutput/Common/MulticlassLogisticRegression/linux-arm/LogisticRegression-Non-Negative-TrainTest-iris.txt
Due: test

fixing net version in sample
  docs/samples/Microsoft.ML.Samples.OneDal/Microsoft.ML.Samples.OneDal.csproj
Due: none

Update M.E.AI version used by Microsoft.ML.GenAI.Core (#7329)
  eng/Versions.props
  src/Microsoft.ML.GenAI.Core/CausalLMPipelineChatClient.cs
Due: production

Added safe dictionary inversion
  src/Microsoft.ML.Tokenizers/Model/WordPieceTokenizer.cs
Due: production

Added storing the not-normalized special tokens
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
Due: production

Added support for net standard
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
Due: production

Added and updated tests
  test/Microsoft.ML.Tokenizers.Tests/BertTokenizerTests.cs
Due: test

Updated without additional memory allocation
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
Due: production

Moved SpecialTokens assignment after the modification to avoid "Collection Modified" error (#7328)
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/WordPieceTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BertTokenizerTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
