Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

fix a issue in batch process
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

Fix NetFX builds by ensuring assembly version is set correctly and not to Arcade default of 42.42.42.42
  eng/Versions.props
Due: none

Fix NetFX builds by ensuring assembly version is set correctly and not to Arcade default of 42.42.42.42 (#5503)
  eng/Versions.props
Due: none

Comment change / Touch to kick off build pipeline
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

fix whitespace
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
Due: production

Debugging occasional AutoFitMaxExperimentTimeTest
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Fixed some of the memory leaks
  Directory.Build.targets
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Make -integrationTests work
  Microsoft.ML.sln
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
  test/Microsoft.ML.IntegrationTests/Common.cs
  test/Microsoft.ML.IntegrationTests/DataIO.cs
  test/Microsoft.ML.IntegrationTests/DataTransformation.cs
  test/Microsoft.ML.IntegrationTests/Datasets/Adult.cs
  test/Microsoft.ML.IntegrationTests/Datasets/CommonColumns.cs
  test/Microsoft.ML.IntegrationTests/Datasets/HousingRegression.cs
  test/Microsoft.ML.IntegrationTests/Datasets/Iris.cs
  test/Microsoft.ML.IntegrationTests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.IntegrationTests/Datasets/Sentiment.cs
  test/Microsoft.ML.IntegrationTests/Datasets/TrivialMatrixFactorization.cs
  test/Microsoft.ML.IntegrationTests/Datasets/TypeTestData.cs
  test/Microsoft.ML.IntegrationTests/Debugging.cs
  test/Microsoft.ML.IntegrationTests/Evaluation.cs
  test/Microsoft.ML.IntegrationTests/Explainability.cs
  test/Microsoft.ML.IntegrationTests/FunctionalTestBaseClass.cs
  test/Microsoft.ML.IntegrationTests/IntrospectiveTraining.cs
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.IntegrationTests/ModelFiles.cs
  test/Microsoft.ML.IntegrationTests/ONNX.cs
  test/Microsoft.ML.IntegrationTests/Prediction.cs
  test/Microsoft.ML.IntegrationTests/SchemaDefinitionTests.cs
  test/Microsoft.ML.IntegrationTests/Training.cs
  test/Microsoft.ML.IntegrationTests/Validation.cs
  test/Microsoft.ML.IntegrationTests/xunit.runner.json
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: production, test

Update .yml file
  build/ci/job-template.yml
Due: none

Added the TargetArchitecture properties
  build/ci/job-template.yml
Due: none

Disabling test
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Try out -integrationTest
  build/ci/job-template.yml
Due: none

Missed -integrationTest flag
  build/ci/job-template.yml
Due: none

Disabling AutoFitMaxExperimentTimeTest
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Print more info...
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

nit
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Printing to the output?
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Make .sh files executable
  eng/common/SetupNugetSources.sh
  eng/common/cibuild.sh
  eng/common/cross/arm64/tizen-build-rootfs.sh
  eng/common/cross/arm64/tizen-fetch.sh
  eng/common/cross/armel/tizen-build-rootfs.sh
  eng/common/cross/armel/tizen-fetch.sh
  eng/common/cross/build-android-rootfs.sh
  eng/common/cross/build-rootfs.sh
  eng/common/darc-init.sh
  eng/common/dotnet-install-scripts/dotnet-install.sh
  eng/common/init-tools-native.sh
  eng/common/internal-feed-operations.sh
  eng/common/msbuild.sh
  eng/common/native/common-library.sh
  eng/common/native/find-native-compiler.sh
  eng/common/native/install-cmake-test.sh
  eng/common/native/install-cmake.sh
  eng/common/performance/performance-setup.sh
  eng/common/pipeline-logging-functions.sh
  eng/common/tools.sh
  restore.sh
Due: none

Added fixes for official builds
  build/publish.proj
  build/sign.proj
  build/vsts-ci.yml
  eng/Signing.props
  eng/Versions.props
  restore.cmd
  restore.sh
  sign.cmd
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DataView/Microsoft.ML.DataView.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.Vision/Microsoft.ML.Vision.csproj
Due: production

Fixed test?
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Printing more info...
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Typo
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

remove a unused parameter
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

Revert unnecesary changes
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Fixed nit
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

fix mkl nuget issue
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
Due: production

Fix AutoFitMaxExperimentTimeTest (#5506)
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

fixed ort memory leak
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Renamed FunctionalTestBaseClass to IntegrationTestBaseClass
  test/Microsoft.ML.IntegrationTests/DataIO.cs
  test/Microsoft.ML.IntegrationTests/DataTransformation.cs
  test/Microsoft.ML.IntegrationTests/Debugging.cs
  test/Microsoft.ML.IntegrationTests/Evaluation.cs
  test/Microsoft.ML.IntegrationTests/Explainability.cs
  test/Microsoft.ML.IntegrationTests/IntegrationTestBaseClass.cs
  test/Microsoft.ML.IntegrationTests/IntrospectiveTraining.cs
  test/Microsoft.ML.IntegrationTests/ModelFiles.cs
  test/Microsoft.ML.IntegrationTests/ONNX.cs
  test/Microsoft.ML.IntegrationTests/Prediction.cs
  test/Microsoft.ML.IntegrationTests/SchemaDefinitionTests.cs
  test/Microsoft.ML.IntegrationTests/Training.cs
  test/Microsoft.ML.IntegrationTests/Validation.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: test

Revert mkl fix
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
Due: production

add again IncludeInPackage
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
Due: production

Missed rename
  test/Microsoft.ML.IntegrationTests/IntegrationTestBaseClass.cs
Due: test

fix code generate test fails
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
Due: test

Added Mkl native import to CodeGenerator csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
Due: test

only add necessary dependency
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
Due: test

fix code generator tests failure (#5520)
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
Due: test

Reverting x86 build related fixes to focus only on the memory leaks
  Directory.Build.targets
  src/Native/build.sh
Due: production

Fixed memory leak from OnnxTransformer and related x86 build fixes
  Directory.Build.targets
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Native/build.sh
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Updated docs
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/OnnxConversion.cs
Due: none
