Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

more file renaming
  src/Microsoft.ML.Data/Evaluators/Metrics/MulticlassClassificationMetrics.cs
  src/Microsoft.ML.Data/Evaluators/MulticlassClassificationEvaluator.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/AllSelectorMulticlass.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestDiverseSelectorMulticlass.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestPerformanceSelectorMulticlass.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/EnsembleMulticlassModelParameters.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StaticPipe/MulticlassNaiveBayesStatic.cs
Due: production

review comments
  src/Microsoft.ML.Core/Data/AnnotationUtils.cs
  src/Microsoft.ML.Core/Prediction/ITrainer.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiStacking.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/MulticlassDataPartitionEnsembleTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/PairwiseCouplingTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
Due: production

Fix a name
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

Deal with most allLengths
  docs/code/MlNetCookBook.md
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/WordBagTransform.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

Finish replacement of allLengths
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
Due: production, test

Scrub n-gram hashing and n-gram (#2898)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/WordBagTransform.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

CpuMath Enhancement: Make bound checking of loops in hardware intrinsics more efficient
  src/Microsoft.ML.CpuMath/AvxIntrinsics.cs
  src/Microsoft.ML.CpuMath/SseIntrinsics.cs
Due: production

- Updating docker images
  .vsts-dotnet-ci.yml
  build/vsts-ci.yml
Due: none

Internalize more stray members in the data assembly (#2936)
  src/Microsoft.ML.Data/Commands/EvaluateCommand.cs
  src/Microsoft.ML.Data/Commands/TrainCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/TrivialLoaderEstimator.cs
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MultiClass/OneVersusAllTrainer.cs
Due: production

Polish char-level tokenizers
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

fixing the casing on the package urls and the csproj file.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
Due: production

Polish word-level tokenizers
  docs/samples/Microsoft.ML.Samples/Dynamic/KeyToValueValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/StopWordRemoverTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: production, test

Scrub stopword removers
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
Due: production, test

Address a comment
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
Due: production

Update cookbook
  docs/code/MlNetCookBook.md
Due: none

Rename ProduceCharacterTokens to ProduceCharactersAsKeys
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

Make sure EP not affected
  src/Microsoft.ML.Data/Transforms/NormalizeColumn.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

regenerating the catalog
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

nit
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
Due: none

uint for hash seed int for random seed.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
  src/Microsoft.ML.StaticPipe/TrainingStaticExtensions.cs
Due: production

change the type to float from double (#277)
  src/Microsoft.ML.Auto/TrainerExtensions/SweepableParams.cs
Due: production

Scrub text featurizers
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
Due: production, test

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/KeyToValueValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/StopWordRemoverTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: production, test

Breaking down the LightGBM options class into separate option class for each LightGBM trainer.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

fix onnxconversiontest
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

missed case
  src/Microsoft.ML.StaticPipe/TrainingStaticExtensions.cs
Due: production

Addressing PR comments.
  test/Microsoft.ML.Functional.Tests/Training.cs
Due: test

Addressing PR Comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithoutArguments.cs
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/FAFMEstimator.cs
Due: production, test

Handle space in the directory path for building. (#2925)
  init-tools.cmd
Due: none

Expose normalizer config again
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
Due: production, test

Move ONNX Transformer into Microsoft.ML.Transforms.Onnx namespace.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AlexNetExtension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/ResNet101Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/ResNet50Extension.cs
  src/Microsoft.ML.OnnxTransformer.StaticPipe/DnnImageFeaturizerStaticExtensions.cs
  src/Microsoft.ML.OnnxTransformer.StaticPipe/OnnxStaticExtensions.cs
  src/Microsoft.ML.OnnxTransformer/DnnImageFeaturizerTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformerTest/DnnImageFeaturizerTest.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

PR feedback.
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AlexNetExtension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/ResNet101Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/ResNet50Extension.cs
Due: production

Polish char- and word-level tokenizers & stopword removers (#2916)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/KeyToValueValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/StopWordRemoverTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: production, test

Updating to the new APIs in master.
  test/Microsoft.ML.Functional.Tests/Debugging.cs
Due: test

Scrub text featurizers (#2944)
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
Due: production, test

Fixing breaking changes in master.
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineCatalog.cs
Due: production

cache arg implementation in CLI (#280)
  src/mlnet.Test/CommandLineTests.cs
  src/mlnet/AutoML/AutoMLEngine.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandSettings.cs
  src/mlnet/Utilities/Utils.cs
Due: production

Sort out seed types (#2942)
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
  src/Microsoft.ML.StaticPipe/TrainingStaticExtensions.cs
Due: production

- updating code from namespace changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  src/Microsoft.ML.LightGbm.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGbm/LightGbmArguments.cs
  src/Microsoft.ML.LightGbm/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmCatalog.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  src/Microsoft.ML.LightGbm/WrappedLightGbmInterface.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test
