Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Clean up unintentional usage of protected internal.
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingEstimator.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.StaticPipe/SchemaBearing.cs
Due: production

Get rid of unnecessary SubCatalogBase base class.
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/CatalogUtils.cs
Due: production

Internalize DefaultColumnNames utility class for storing const string literals.
  src/Microsoft.ML.Data/Commands/DefaultColumnNames.cs
Due: production

Internalize the infrastructure surrounding TransformWrapper.
  src/Microsoft.ML.Data/DataLoadSave/FakeSchema.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
Due: production

Have the public abstract classes for estimator/transformers/etc. be practically unsubclassable.
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TrivialEstimator.cs
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
Due: production

Copy documentation from IEstimator to two implementations of GetOutputSchema.
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
Due: production

Use explicit IInternalCatalog, thereby avoiding SubCatalogBase in public surface. Simplify CatalogUtils.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Data/Transforms/CatalogUtils.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.OnnxConverter/OnnxExportExtensions.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
  src/Microsoft.ML.StaticPipe/DataLoadSaveOperationsExtensions.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
Due: production

ValueToKeyMappingEstimator.ColumnOptions now not publicly subclassable.
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingEstimator.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.Transforms/OneHotEncoding.cs
Due: production

A cookbook test and slight update to the doc
  docs/code/MlNetCookBook.md
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

added nuget sources in generated csproj (#262)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedProjectCodeTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
  src/mlnet/Templates/Console/MLProjectGen.cs
  src/mlnet/Templates/Console/MLProjectGen.tt
Due: production

Hide more of Microsoft.ML.Data (#2842)
  src/Microsoft.ML.Data/Commands/DefaultColumnNames.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/FakeSchema.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TrivialEstimator.cs
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.Data/Transforms/CatalogUtils.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/TransformsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingEstimator.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.OnnxConverter/OnnxExportExtensions.cs
  src/Microsoft.ML.Recommender/RecommenderCatalog.cs
  src/Microsoft.ML.StaticPipe/DataLoadSaveOperationsExtensions.cs
  src/Microsoft.ML.StaticPipe/SchemaBearing.cs
  src/Microsoft.ML.Transforms/OneHotEncoding.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
Due: production

correcting the path
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
Due: production

Add XML doc to the ITrainerEstimator interface
  src/Microsoft.ML.Data/Training/ITrainerEstimator.cs
Due: production

Scrub changes for LightGBM (#2808)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMRegression.cs
  src/Microsoft.ML.LightGBM.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  src/Microsoft.ML.LightGBM/WrappedLightGbmBooster.cs
  src/Microsoft.ML.LightGBM/doc.xml
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LightGBM/LightGBMDart-CV-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMDart-TrainTest-breast-cancer.dart-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-CV-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBM/LightGBMGoss-TrainTest-breast-cancer.goss-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.key-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.keyU404-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.key-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.keyU404-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-CV-generatedRegressionDataset.MAE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-TrainTest-generatedRegressionDataset.MAE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-CV-generatedRegressionDataset.RMSE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-TrainTest-generatedRegressionDataset.RMSE-out.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Make IDataLoader<TSource> inherit from ICanSaveModel, and add methods to save/load it in ModelOperationsCatalog.
  src/Microsoft.ML.Core/Data/IEstimator.cs
  src/Microsoft.ML.Data/DataLoadSave/CompositeDataLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/DeserializationTests.cs
Due: production, test

Remove random trainer and model parameters from the public surface.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/RandomTrainerSample.cs
  src/Microsoft.ML.StandardLearners/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Remove reference to now removed sample.
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Remove the random trainer altogether.
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/PriorRandomTests.cs
Due: production, test

First iteration
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureSelectionTransform.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
Due: production, test

Eric review comments round 2.
  src/Microsoft.ML.StandardLearners/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Learners.cs
Due: production, test

Fixed a tensorflow test which was marked as skipped.
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Hide ISupportSdcaClassificationLossFactory & ISupportSdcaRegressionLossFactory interfaces
  src/Microsoft.ML.Data/Utils/LossFunctions.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Remove random trainer and model parameters from the public surface. (#2849)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/RandomTrainerSample.cs
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Learners.cs
  test/Microsoft.ML.Tests/TrainerEstimators/PriorRandomTests.cs
Due: production, test

fixes for more loss functions
  src/Microsoft.ML.Data/Dirty/ILoss.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
Due: production

looking at all the arguments to find intrinsics keyword
  init-tools.sh
Due: none

fix samples build
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
Due: none

Adding release notes for v0.11
  docs/release-notes/0.11/release-0.11.md
Due: none

Adding Tree API updates
  docs/release-notes/0.11/release-0.11.md
Due: none

Remove extra line breaks
  docs/release-notes/0.11/release-0.11.md
Due: none

First iteration (#2852)
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureSelectionTransform.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/FeatureSelectionCatalog.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
Due: production, test

Clean FastTree.cs and FastTreeArguments.cs following instructions in #2613
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
  src/Microsoft.ML.Sweeper/Algorithms/SmacSweeper.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Go through all places once
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/GeneralizedAdditiveModels.cs
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamModelParameters.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
  test/Microsoft.ML.Functional.Tests/Explainability.cs
  test/Microsoft.ML.Predictor.Tests/TestGamPublicInterfaces.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Update F# tests
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
Due: test

Address comments and update entry-point catalog
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Address comments
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.Sweeper/Algorithms/SmacSweeper.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
Due: production, test

Address comments
  docs/samples/Microsoft.ML.Samples/Static/FastTreeBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/GamModelParameters.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/RegressionTree.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Address comments
  src/Microsoft.ML.FastTree/BoostingFastTree.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForest.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
Due: production

Remove extra short names for entry point BC
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Improve early-stopping metric field
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: production, test

Address some comments
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/RegressionTree.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.StaticPipelineTesting/TreeRepresentation.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
