Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Ok. I updated entry point...
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Make R4 as default
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  test/BaselineOutput/Common/EntryPoints/ensemble-model0-stats.txt
  test/BaselineOutput/Common/EntryPoints/ensemble-model2-stats.txt
  test/BaselineOutput/Common/EntryPoints/lr-stats.txt
  test/BaselineOutput/Common/EntryPoints/mc-lr-stats.txt
  test/BaselineOutput/Common/Text/ngrams.tsv
Due: production, test

Sync with new things from master
  test/Microsoft.ML.Functional.Tests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: test

Rev user input validation for new API (#210)
  src/Microsoft.ML.Auto/API/AutoInferenceCatalog.cs
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/Utils/UserInputValidationUtil.cs
  src/Test/UserInputValidationTests.cs
Due: production

Fixing parameters in ML.NET Public API (#2665)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/GeneralizedAdditiveModels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PfiBinaryClassificationExample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCALogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCASupportVectorMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGBMMulticlassClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/PriorTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGBMRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSample.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.KMeansClustering/KMeansCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineCatalog.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
Due: production, test

Explicit implementation for IsRowToRowMapper and GetRowToRowMapper (#2673)
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.TimeSeries/IidAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/IidChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/IidSpikeDetector.cs
  src/Microsoft.ML.TimeSeries/SequentialAnomalyDetectionTransformBase.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.TimeSeries/SsaAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SsaChangePointDetector.cs
  src/Microsoft.ML.TimeSeries/SsaSpikeDetector.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/OneHotEncoding.cs
  src/Microsoft.ML.Transforms/OneHotHashEncoding.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Updates to exampleWeightColumnName.
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Address comments
  src/Microsoft.ML.Core/Data/DataKind.cs
  src/Microsoft.ML.Data/Commands/TypeInfoCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

added console message for exit and nit picks (#215)
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Program.cs
Due: production

aggressive inlining added
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
Due: production

Minimum size check added
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
Due: production

precision corrected
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

increasing array sizes to test all 3 paths
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/UnitTests.cs
Due: test

MinVectorSize => MinInputSize
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
Due: production

tanners feedback
  src/Microsoft.ML.CpuMath/AvxIntrinsics.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/SseIntrinsics.cs
Due: production

adam approach
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
Due: production

exit when exception encountered (#216)
  src/mlnet/Commands/New/NewCommandHandler.cs
Due: production

Fixed trailing whitespaces.
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

towards 1529: replacing the predicates with an IEnumerable on IRowToRowMapper.GetDependencies
  src/Microsoft.ML.Core/Data/IRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/FeatureContributionCalculation.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineUtils.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/ClusteringTests.cs
Due: production, test

fixing the delegate in TransformModelIml to not use variables outside of scope, and adjusting the score selecting predicate in GetScorers
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
Due: production

PR review comments
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
  src/Microsoft.ML.Data/Scorers/FeatureContributionCalculation.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
Due: production

ivan's comments
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
Due: production

fix in TransformModelImpl
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
Due: production

Yael's comments.
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
Due: production

post rebase
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
Due: production

fixing mistake during rebase.
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
Due: production

addressing comments from round 6
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
Due: production

post rebase fixes.
  src/Microsoft.ML.Core/Data/IRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/FeatureContributionCalculation.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineUtils.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
Due: production

ISchemaBoundRowMapper does not inherit from IRowToRowMapper, but from IRowToRowMapperBase.
  src/Microsoft.ML.Core/Data/IRowToRowMapper.cs
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/FeatureContributionCalculation.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineUtils.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
Due: production

Move duplicate code to private method + Derive reader from mlContext
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

checking sse is supported is good enough check
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
Due: production

Allow sparse for reader
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

Make DataViewRowId not act like a number.
  src/Microsoft.Data.DataView/DataViewRowId.cs
  src/Microsoft.Data.DataView/DataViewType.cs
  src/Microsoft.ML.Core/Data/ColumnTypeExtensions.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Parquet/ParquetLoader.cs
  src/Microsoft.ML.StaticPipe/StaticSchemaShape.cs
  src/Microsoft.ML.Transforms/MissingValueReplacingUtils.cs
  src/Microsoft.ML.Transforms/ProduceIdTransform.cs
  test/Microsoft.ML.Core.Tests/UnitTests/ColumnTypes.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Fix one last failing test.
  src/Microsoft.ML.Data/Transforms/Hashing.cs
Due: production

Fix up broken tests.
  src/Microsoft.ML.Core/Data/ColumnTypeExtensions.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Codecs.cs
Due: production

Test for non-accelerated path
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/UnitTests.cs
Due: test

remove extra spaces
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

Added samples & docs for BinaryClassification.StochasticGradientDescent (#2688)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescentWithOptions.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SgdStatic.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
Due: production

Make DataViewRowId not act like a number. (#2707)
  src/Microsoft.Data.DataView/DataViewRowId.cs
  src/Microsoft.Data.DataView/DataViewType.cs
  src/Microsoft.ML.Core/Data/ColumnTypeExtensions.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Codecs.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Parquet/ParquetLoader.cs
  src/Microsoft.ML.StaticPipe/StaticSchemaShape.cs
  src/Microsoft.ML.Transforms/MissingValueReplacingUtils.cs
  src/Microsoft.ML.Transforms/ProduceIdTransform.cs
  test/Microsoft.ML.Core.Tests/UnitTests/ColumnTypes.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test
