Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"
  ignore:
    - "test"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Internalization.
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/ModelStatistics.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/StochasticTrainerBase.cs
Due: production

merge and more internalization.
  src/Microsoft.ML.StandardLearners/Standard/ModelStatistics.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
Due: production

update tests
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Lockdown Microsoft.ML.StandardLearners public surface (#2541)
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
  src/Microsoft.ML.StandardLearners/Optimizer/DifferentiableFunction.cs
  src/Microsoft.ML.StandardLearners/Optimizer/L1Optimizer.cs
  src/Microsoft.ML.StandardLearners/Optimizer/LineSearch.cs
  src/Microsoft.ML.StandardLearners/Optimizer/OptimizationMonitor.cs
  src/Microsoft.ML.StandardLearners/Optimizer/Optimizer.cs
  src/Microsoft.ML.StandardLearners/Optimizer/SgdOptimizer.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/ModelStatistics.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/StochasticTrainerBase.cs
Due: production

The CV code should come before the training when there is no test dataset in generated code (#151)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet.Test/CommandLineTests.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CSharp/CodeGeneratorOptions.cs
  src/mlnet/CodeGenerator/CSharp/Symbols.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorBase.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TrainerGenerators.cs
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorBase .cs
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TransformGenerators.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
Due: production

Replace IPredictor in Fit method to proper model parameters (#2577)
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
Due: production, test

Use custom BlockingQueue to significantly improve F5 perf with SDCA without caching
  src/Microsoft.ML.Data/DataLoadSave/Text/BlockingQueue.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
Due: production

Internalize protected stuff in EstimatorBase class.
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.PCA/PcaTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MultiClassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
Due: production, test

Cleanup calibrators
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

Move IModelCombiner to Microsoft.ML.Data and Lockdown Microsoft.ML.Ensemble (#2505)
  src/Microsoft.ML.Data/Prediction/IModelCombiner.cs
  src/Microsoft.ML.Ensemble/EntryPoints/FeatureSelector.cs
  src/Microsoft.ML.Ensemble/EntryPoints/OutputCombiner.cs
  src/Microsoft.ML.Ensemble/EntryPoints/SubModelSelector.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/Average.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/BaseAverager.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/BaseMultiAverager.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/BaseMultiCombiner.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/IOutputCombiner.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/Median.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiAverage.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiMedian.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiVoting.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/MultiWeightedAverage.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/Voting.cs
  src/Microsoft.ML.Ensemble/OutputCombiners/WeightedAverage.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Ensemble/Selector/IFeatureSelector.cs
  src/Microsoft.ML.Ensemble/Selector/ISubsetSelector.cs
  src/Microsoft.ML.Ensemble/Trainer/Binary/EnsembleTrainer.cs
  src/Microsoft.ML.Ensemble/Trainer/EnsembleDistributionModelParameters.cs
  src/Microsoft.ML.Ensemble/Trainer/EnsembleModelParameters.cs
  src/Microsoft.ML.Ensemble/Trainer/EnsembleModelParametersBase.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/EnsembleMultiClassModelParameters.cs
  src/Microsoft.ML.Ensemble/Trainer/Regression/RegressionEnsembleTrainer.cs
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalRegressionTree.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
Due: production

Introduce order for pixel exctraction
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

shuffle defaults to estimator, slightly better comments
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.StaticPipe/ImageStaticPipe.cs
  src/Microsoft.ML.StaticPipe/ImageTransformsStatic.cs
Due: production

make it build
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: test

make it build part 2
  test/Microsoft.ML.OnnxTransformTest/DnnImageFeaturizerTest.cs
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
Due: test

Internalize protected stuff in EstimatorBase class. (#2600)
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.PCA/PcaTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MultiClassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
Due: production, test

Internalize IPredictorProducing and deal with resulting fallout.
  src/Microsoft.ML.Core/Prediction/IPredictor.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
Due: production

Hide properties of TrainerInfo specific to ITrainer.
  src/Microsoft.ML.Core/Prediction/TrainerInfo.cs
Due: production

Internalize IPredictor and deal with fallout.
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  src/Microsoft.ML.Core/Prediction/IPredictor.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Training/TrainerBase.cs
  src/Microsoft.ML.Data/Utilities/ComponentCreation.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.Ensemble/Trainer/Binary/EnsembleTrainer.cs
  src/Microsoft.ML.Ensemble/Trainer/EnsembleTrainerBase.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/MulticlassDataPartitionEnsembleTrainer.cs
  src/Microsoft.ML.Ensemble/Trainer/Regression/RegressionEnsembleTrainer.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.FastTree/GamModelParameters.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportance.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/Microsoft.ML.Benchmarks/Helpers/EnvironmentFactory.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

Lockdown Microsoft.ML.Data Data folder
  src/Microsoft.ML.Data/Data/BufferBuilder.cs
  src/Microsoft.ML.Data/Data/Combiner.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/Data/RowCursorUtils.cs
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/ArrayDataViewBuilder.cs
Due: production

Entrypoints test
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Arrays and IReadOnlyLists
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
Due: production

Lockdown Microsoft.ML.Data Data folder (#2607)
  src/Microsoft.ML.Data/Data/BufferBuilder.cs
  src/Microsoft.ML.Data/Data/Combiner.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/Data/RowCursorUtils.cs
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataView/ArrayDataViewBuilder.cs
Due: production

switch to _
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
Due: production

Remove exception due to supportsSparse:true in ReadFromTextLoader (#2579)
  src/Microsoft.ML.Data/Data/Conversion.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Update to Microsoft.CodeAnalysis.Testing (#2562)
  Directory.Build.props
  build/Dependencies.props
  src/Microsoft.ML.Analyzer/Properties/AssemblyInfo.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/BestFriendOnPublicDeclarationTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/BestFriendTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ContractsCheckTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/InstanceInitializerTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/NameTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/ParameterVariableNameTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/SingleVariableDeclarationTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/TypeParamNameTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/AdditionalMetadataReferences.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/CSharpCodeFixVerifier`2.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/CodeFixVerifier.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/DiagnosticResult.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/DiagnosticVerifier.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Helpers/TestUtils.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Microsoft.ML.CodeAnalyzer.Tests.csproj
  test/Microsoft.ML.CodeAnalyzer.Tests/TypeIsSchemaShapeTest.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/Properties/AssemblyInfo.cs
Due: production, test

Use custom BlockingQueue to significantly improve F5 perf with SDCA without caching (#2595)
  src/Microsoft.ML.Data/DataLoadSave/Text/BlockingQueue.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderCursor.cs
Due: production

Address PR feedback from #2579
  src/Microsoft.ML.Data/Data/Conversion.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
Due: production

Lockdown Microsoft.ML.Data Dataview folder.
  src/Microsoft.ML.Data/DataView/AppendRowsDataView.cs
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/EmptyDataView.cs
  src/Microsoft.ML.Data/DataView/LambdaFilter.cs
  src/Microsoft.ML.Data/DataView/OpaqueDataView.cs
  src/Microsoft.ML.Data/DataView/SimpleRow.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
  src/Microsoft.ML.Data/DataView/ZipDataView.cs
Due: production

PR feedback.
  src/Microsoft.ML.Data/DataView/LambdaFilter.cs
  src/Microsoft.ML.Data/DataView/SimpleRow.cs
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
Due: production, test

Remove cache entry-point
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  src/Microsoft.ML.Data/Commands/TrainCommand.cs
  src/Microsoft.ML.Data/Commands/TrainTestCommand.cs
  src/Microsoft.ML.Data/EntryPoints/Cache.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.Transforms/LearnerFeatureSelection.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Code review comments, and fix baseline of EntryPointCatalog test
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: production, test

Lockdown Microsoft.ML.Data Dataview folder. (#2608)
  src/Microsoft.ML.Data/DataView/AppendRowsDataView.cs
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/EmptyDataView.cs
  src/Microsoft.ML.Data/DataView/LambdaFilter.cs
  src/Microsoft.ML.Data/DataView/OpaqueDataView.cs
  src/Microsoft.ML.Data/DataView/SimpleRow.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
  src/Microsoft.ML.Data/DataView/ZipDataView.cs
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
Due: production, test

Addressing PR comments
  test/Microsoft.ML.Functional.Tests/Explainability.cs
Due: test

using version to compare version numbers
  test/Microsoft.ML.TestFramework/Attributes/AttributeHelpers.cs
  test/Microsoft.ML.TestFramework/Attributes/OnnxFactAttribute.cs
  test/Microsoft.ML.TestFramework/Attributes/OnnxTheoryAttribute.cs
Due: test

Format the generated code + bunch of misc tasks (#152)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TransformGenerators.cs
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
  src/mlnet/mlnet.csproj
Due: production

Code review comments
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  test/Microsoft.ML.Tests/ImagesTests.cs
Due: production, test

Fix EntryPointCatalog baseline
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Cleanup calibrators (#2601)
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
Due: production
