Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

checkin
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Isotonic.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Naive.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Platt.cs
Due: none

update comments
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
Due: production

minor follow up comment update
  src/Microsoft.ML.TimeSeries/SeasonalityDetector.cs
Due: production

custom groupid
  src/Microsoft.ML.AutoML/API/ExperimentBase.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/BinaryMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/IMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/MultiMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/RankingMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/RegressionMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
  src/Microsoft.ML.AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

checkin (#5245)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Isotonic.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Naive.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Platt.cs
Due: none

Add differentiator and more unit tests
  src/Microsoft.ML.CodeGenerator/Utils.cs
  test/Microsoft.ML.CodeGenerator.Tests/CodeGenTests.cs
Due: production, test

Added test for Key type SamplingKeyColumn on TrainTestSplit
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: test

Added test for CV and that SamplingKeyColumn isn't removed by running a split
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: test

Added assertion for non-emptiness and fixed mini-issue with the MinMaxNormalizer for this assertion
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: production, test

refactor and optimization
  src/Microsoft.ML.TimeSeries/PolynomialModel/AbstractPolynomialModel.cs
  src/Microsoft.ML.TimeSeries/PolynomialModel/LinearModel.cs
  src/Microsoft.ML.TimeSeries/PolynomialModel/PolynomialModel.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/LocalRegression.cs
Due: production

optimize
  src/Microsoft.ML.TimeSeries/PolynomialModel/LinearModel.cs
  src/Microsoft.ML.TimeSeries/PolynomialModel/PolynomialModel.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/LocalRegression.cs
Due: production

Removed CreateStratificationColumn and use EnsureGroupPreservationColumn instead
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.EntryPoints/CVSplit.cs
  src/Microsoft.ML.EntryPoints/TrainTestSplit.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

Change MAML to also use EnsureGroupPreservationColumn method
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  test/BaselineOutput/Common/Command/CommandCrossValidationWithTextStratificationColumn-out.txt
Due: production, test

Change name EnsureGroupPreservationColumn to CreateGroupPreservationColumn
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.EntryPoints/CVSplit.cs
  src/Microsoft.ML.EntryPoints/TrainTestSplit.cs
Due: production

Fallback on EnvSeed when calling through TrainCatalog (fix Tensorflow failing test)
  src/Microsoft.ML.Data/TrainCatalog.cs
Due: production

unfold pow(x, 2) to x * x for performance optimization
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

add root cause options
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
Due: production

make the FastTree work better with sparse data. Is much more performant with sparse data then before, slightly less performant if its dense data
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/Text/featurized.tsv
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
Due: production, test

testing
  test/BaselineOutput/Common/Command/EvaluateRankingWithMaml-out.txt
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

Added better column naming support, updated tests
  src/Microsoft.ML.CodeGenerator/Utils.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.unsanitized_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.unsanitized_null_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/CodeGenTests.cs
Due: production, test

revert option changes
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

add threshold for RCA (#5218)
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

refactor polynomial model class and deseasonality functions, refine comments
  src/Microsoft.ML.TimeSeries/Deseasonality/DeseasonalityBase.cs
  src/Microsoft.ML.TimeSeries/Deseasonality/MeanDeseasonality.cs
  src/Microsoft.ML.TimeSeries/Deseasonality/MedianDeseasonality.cs
  src/Microsoft.ML.TimeSeries/Deseasonality/StlDeseasonality.cs
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.TimeSeries/PolynomialModel/AbstractPolynomialModel.cs
  src/Microsoft.ML.TimeSeries/PolynomialModel/LinearModel.cs
  src/Microsoft.ML.TimeSeries/PolynomialModel/PolynomialModel.cs
  src/Microsoft.ML.TimeSeries/STL/Deseasonality.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/LocalRegression.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
  src/Microsoft.ML.TimeSeries/STL/LoessBasicParameters.cs
  src/Microsoft.ML.TimeSeries/STL/MathsTools.cs
  src/Microsoft.ML.TimeSeries/STL/PolynomialModel.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

refine
  src/Microsoft.ML.TimeSeries/Deseasonality.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
  src/Microsoft.ML.TimeSeries/STL/LoessBasicParameters.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
Due: production

saving
  README.md
Due: none

update comment
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
Due: production

updates
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/LocalRegression.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
  src/Microsoft.ML.TimeSeries/STL/MathsTools.cs
  src/Microsoft.ML.TimeSeries/STL/PolynomialModel.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

update threshold to p value
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SeasonalityDetector.cs
Due: production

Handling review comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseMultidimension.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
Due: production

Add DetectSeasonality as a Helper function in TimeSeries ExtensionDialog (#5231)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSeasonality.cs
  src/Microsoft.ML.Data/Transforms/NormalizeColumnDbl.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SeasonalityDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

testing
  test/BaselineOutput/Common/Command/EvaluateRankingWithMaml-out.txt
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
Due: test

Now adding _col_x as differentiator
  src/Microsoft.ML.CodeGenerator/Utils.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.unsanitized_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.unsanitized_null_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/CodeGenTests.cs
Due: production, test

update some wordings
  src/Microsoft.ML.TimeSeries/Deseasonality.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/PolynomialModel.cs
Due: production

Normalize even the column was already normalized
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

update comments
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
Due: production

reverted FastTree changes, fixed incorrect test
  src/Microsoft.ML.FastTree/FastTree.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Refactoring. Test.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseMultidimension.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalizationType.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Added cross entropy to validation training, simplified metric reporting
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production
