Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Updating
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseMultidimension.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Added catagorical column to wiki detox data
  test/Microsoft.ML.Tests/TrainerEstimators/CalibratorEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/data/wikipedia-detox-250-line-data-schema.txt
  test/data/wikipedia-detox-250-line-data.tsv
Due: test

Fix a bug in InsertColumn
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
  tests/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production

Edited runnerOutputTensorNames for validation runner, and added test for decaying LR in validation
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

init checkin
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

remove
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

modify comments
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

fix
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
Due: production

Handled review comments
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Added more tests to validate learning rate schedulers in validation and training
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

remove output from lda native
  src/Native/LdaNative/lda_engine.cpp
  src/Native/LdaNative/model_block.cpp
Due: production

enable lda summary output
  src/Microsoft.ML.Transforms/Text/LdaTransform.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

Added support for custom name for score column, and fixed bug with column order
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
Due: production

update some comments
  src/Microsoft.ML.TimeSeries/Deseasonality.cs
Due: production

Changed default NGram length from 1 to 2. (#5248)
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/Text/featurized.tsv
  test/Microsoft.ML.Tests/TrainerEstimators/CalibratorEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/data/wikipedia-detox-250-line-data-schema.txt
  test/data/wikipedia-detox-250-line-data.tsv
Due: production, test

Removed linq
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
Due: production

remove output from lda native (#5259)
  src/Native/LdaNative/lda_engine.cpp
  src/Native/LdaNative/model_block.cpp
Due: production

add AzureImageModelOutput.tt
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/AzureCodeGenerator/AzureAttachConsoleAppCodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/AzureCodeGenerator/AzureAttachModelCodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/TransformGenerators.cs
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/AzureAttachImageConsumeModel.tt
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/AzureImageModelOutputClass.cs
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/AzureImageModelOutputClass.tt
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/OnnxModelOutputClass.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelProject.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ModelProject.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProject.tt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.ModelBuilder.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.test.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.test.Model.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.CodeGenTest.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.CodeGenTest.Model.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.ConsumeModel.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.ModelBuilder.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.ModelOutput.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureModelBuilderTest.Image.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureModelBuilderTest.NonImage.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTestOnlyStableProjects.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateConsoleAppProjectContents_VerifyPredictProject.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateModelProjectContents_VerifyModelProject.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.TestAzureImageModelOutputClass_WithLabel.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.TestConsumeModel_AzureImage.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.cs
Due: production, test

fix small bugs“
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Console/AzureModelBuilder.cs
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Console/AzureModelBuilder.tt
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/AzureImageModelOutputClass.cs
  src/Microsoft.ML.CodeGenerator/Templates/Azure/Model/AzureImageModelOutputClass.tt
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/ConsumeModel.tt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.ModelBuilder.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.ModelOutput.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.ConsumeModel.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.ModelBuilder.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.ModelOutput.cs.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureModelBuilderTest.Image.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureModelBuilderTest.NonImage.approved.txt
Due: production, test

fix test
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppModelBuilderCSFileContentRankingTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.TestAzureImageModelOutputClass_WithLabel.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/TemplateTest.TestConsumeModel_AzureImage.approved.txt
Due: test

take comments
  src/Microsoft.ML.Transforms/Text/LdaTransform.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
Due: production, test

fix test
  src/Microsoft.ML.Transforms/Text/LdaTransform.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

add tests
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

update
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

remove uncessary lines
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: test

wording
  src/Microsoft.ML.TimeSeries/Deseasonality.cs
Due: production

Handled comments on names.
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs
Due: production

Add deseasonality in SrCnnEntireAnomalyDetect (#5202)
  src/Microsoft.ML.TimeSeries/Deseasonality.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/STL/FastLoess.cs
  src/Microsoft.ML.TimeSeries/STL/InnerStl.cs
  src/Microsoft.ML.TimeSeries/STL/LeastSquares.cs
  src/Microsoft.ML.TimeSeries/STL/LocalRegression.cs
  src/Microsoft.ML.TimeSeries/STL/Loess.cs
  src/Microsoft.ML.TimeSeries/STL/MathsTools.cs
  src/Microsoft.ML.TimeSeries/STL/PolynomialModel.cs
  src/Microsoft.ML.TimeSeries/SrCnnAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  src/Microsoft.ML.TimeSeries/SrCnnTransformBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/data/Timeseries/period_anomaly.csv
  test/data/Timeseries/period_no_anomaly.csv
Due: production, test

make timeout larger as we are seeing timeouts in CI
  build/ci/job-template.yml
Due: none

Ensured Sanitized Column Names are Unique in AutoML CLI (#5177)
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/CodeGenerator.cs
  src/Microsoft.ML.CodeGenerator/Utils.cs
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.sanitized_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.sanitized_null_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.unsanitized_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelInputClassTest.unsanitized_null_map.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.cs
  test/Microsoft.ML.CodeGenerator.Tests/CodeGenTests.cs
Due: production, test

make timeout larger as we are seeing timeouts in CI (#5265)
  build/ci/job-template.yml
Due: none

Update CmdParser.cs
  src/Microsoft.ML.Core/CommandLine/CmdParser.cs
Due: production

reverted changes to CmdParser.cs
  src/Microsoft.ML.Core/CommandLine/CmdParser.cs
Due: production

groupid addition option 2
  src/Microsoft.ML.AutoML/API/RankingExperiment.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/BinaryMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/IMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/MultiMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/RankingMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/MetricsAgents/RegressionMetricsAgent.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
  src/Microsoft.ML.AutoML/Utils/BestResultUtil.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.AutoML.Tests/MetricsAgentsTests.cs
Due: production, test

removed prev code
  src/Microsoft.ML.AutoML/API/ExperimentBase.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
Due: production

Added [de]serialization of scoreColumnName in CalibratorTransformer
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
