Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

revert change in AutoFit
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

fix tests
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableEstimatorPipelineTest.SweepableEstimatorPipeline_search_space_init_value_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndBinaryClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndRegressors.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepablePipelineAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepablePipelineAndSweepableEstimatorArray.approved.txt
Due: test

Align columns by 10 or more (in case of longer column names)
  src/Microsoft.Data.Analysis/DataFrame.cs
Due: production

Fairlearn (#6539)
  Microsoft.ML.sln
  src/Microsoft.Data.Analysis/DataFrameRow.cs
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/AutoMLExperiment.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/AutoMLExperiment/TrialResult.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Fairlearn/AutoML/AutoMLExperimentExtension.cs
  src/Microsoft.ML.Fairlearn/AutoML/TunerFactory.cs
  src/Microsoft.ML.Fairlearn/FairlearnCatalog.cs
  src/Microsoft.ML.Fairlearn/MLContextExtension.cs
  src/Microsoft.ML.Fairlearn/Metrics/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/Metrics/GroupMetric.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
  src/Microsoft.ML.Fairlearn/Reductions/GridSearchTrialRunner.cs
  src/Microsoft.ML.Fairlearn/Reductions/Moment.cs
  src/Microsoft.ML.Fairlearn/Reductions/Utilities.cs
  src/Microsoft.ML.Fairlearn/Reductions/UtilityParity.cs
  test/Microsoft.ML.AutoML.Tests/AutoMLExperimentTests.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/UtilityTest.cs
Due: production, test

Align columns by 10 or more (in case of longer column names) (#6673)
  src/Microsoft.Data.Analysis/DataFrame.cs
Due: production

add diskConvert option in fast tree search space (#6316)
  src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs
  src/Microsoft.ML.AutoML/CodeGen/fast_tree_search_space.json
  src/Microsoft.ML.AutoML/CodeGen/search-space-schema.json
  src/Microsoft.ML.AutoML/SweepableEstimator/Estimators/FastTree.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableEstimatorPipelineTest.SweepableEstimatorPipeline_search_space_init_value_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndBinaryClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndRegressors.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromIEstimatorAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepableEstimatorAndSweepableEstimatorArray.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepablePipelineAndMultiClassifiers.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepableExtensionTest.CreateSweepablePipelineFromSweepablePipelineAndSweepableEstimatorArray.approved.txt
Due: production, test

add epison to probability (#6668)
  src/Microsoft.ML.AutoML/Tuner/PipelineProposer.cs
  test/Microsoft.ML.AutoML.Tests/TunerTests.cs
Due: production, test

license expression
  eng/pkg/Pack.props
  src/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.csproj
Due: production

updating MIT license file
  LICENSE
Due: none

Add missing implementation for datetime relevant arrow type
  eng/Versions.props
  src/Microsoft.Data.Analysis/DataFrame.Arrow.cs
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/ArrowIntegrationTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: production, test

License expression (#6674)
  LICENSE
  eng/pkg/Pack.props
  src/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.csproj
Due: production

Fix the behavior or column SetName method
  src/Microsoft.Data.Analysis/DataFrame.Join.cs
  src/Microsoft.Data.Analysis/DataFrame.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fix DataFrame Merge issue
  src/Microsoft.Data.Analysis/BooleanDataFrameColumn.cs
  src/Microsoft.Data.Analysis/ByteDataFrameColumn.cs
  src/Microsoft.Data.Analysis/CharDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
  src/Microsoft.Data.Analysis/DateTimeDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DecimalDataFrameColumn.cs
  src/Microsoft.Data.Analysis/DoubleDataFrameColumn.cs
  src/Microsoft.Data.Analysis/Int16DataFrameColumn.cs
  src/Microsoft.Data.Analysis/Int32DataFrameColumn.cs
  src/Microsoft.Data.Analysis/Int64DataFrameColumn.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/SByteDataFrameColumn.cs
  src/Microsoft.Data.Analysis/SingleDataFrameColumn.cs
  src/Microsoft.Data.Analysis/UInt16DataFrameColumn.cs
  src/Microsoft.Data.Analysis/UInt32DataFrameColumn.cs
  src/Microsoft.Data.Analysis/UInt64DataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Fix using ToList on Row Collection
  src/Microsoft.ML.Fairlearn/Reductions/UtilityParity.cs
Due: production

Fix DataFrame bounds checking on indexing elements
  src/Microsoft.Data.Analysis/DataFrameBuffer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/ReadOnlyDataFrameBuffer.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/VBufferDataFrameColumn.cs
Due: production

added in release notes
  docs/release-notes/3.0-preview/release-3.0.0-preview.md
Due: none

disable flaky test
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Apply suggestions from code review
  docs/release-notes/3.0-preview/release-3.0.0-preview.md
Due: none

adding one more flaky test
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
Due: test

Disable flaky test (#6685)
  test/Microsoft.ML.Fairlearn.Tests/GridSearchTest.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

added test and fixed objective parsing
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/data/iris-lgbm.txt
Due: production, test

Added in release notes for preview 3 (#6683)
  docs/release-notes/3.0-preview/release-3.0.0-preview.md
Due: none

minor testing changes
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Adds the ability to load a pre-trained LightGBM file and import it into ML.Net. (#6569)
  src/Microsoft.ML.LightGbm/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmCatalog.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  src/Microsoft.ML.LightGbm/WrappedLightGbmBooster.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/data/iris-lgbm.txt
Due: production, test

fixing license
  LICENSE
Due: none

fixing license (#6689)
  LICENSE
Due: none

fixing license (#6690)
  LICENSE
Due: none

Return required usage
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

Return commented test
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Due: test

Fix non-thread-safe use of Random in tokenizers
  src/Microsoft.ML.Tokenizers/Model/Word.cs
Due: production

Reset RowCount to zero, when DataFrame is empty
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Remove redundant column names collection from DataFrameColumnCollection
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
Due: production

Fix build of Microsoft.Data.Analysis.Tests
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
Due: test

Fix merge issues
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
Due: production

Add missing implementation for datetime relevant arrow type
  eng/Versions.props
  src/Microsoft.Data.Analysis/DataFrame.Arrow.cs
  src/Microsoft.Data.Analysis/PrimitiveColumnContainer.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/ArrowIntegrationTests.cs
Due: production, test

Fix DataFrame Merge issue
  src/Microsoft.Data.Analysis/DataFrameColumnCollection.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Due: production, test

Clean switch by type in binary operations
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.BinaryOperations.tt
Due: production
