Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Internalize Microsoft.ML.Internal.CpuMath.GeneralUtils. (#2741)
  src/Microsoft.ML.CpuMath/CpuAligenedMathUtils.cs
Due: production

Make text loaders consistent (#2710)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Functional.Tests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.Functional.Tests/Datasets/TypeTestData.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

removed header (#228)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
Due: production

Make EarlyStoppingMetric an enum.
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/Training/Test.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
Due: production, test

removed console read key (#229)
  src/mlnet/Program.cs
Due: production

using as span
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
Due: test

Fix model path in generated file (#230)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
Due: production

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachinewWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCALogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/PriorTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/RandomTrainerSample.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
  test/Microsoft.ML.Tests/TrainerEstimators/FAFMEstimator.cs
Due: production, test

Remove IMultiStreamSource when path (type: string) exists
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

Fixed entrypoint json.
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Fixed entrypoint json.
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Resolved a compilation bug.
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Adding sample for LightGbm ranking (#2729)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCALogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCASupportVectorMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Added performance tests for small array input for cpumath functions (#2727)
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
Due: test

removing : Microsoft.ML.Trainers.Ensemble.DiversityMeasure Microsoft.ML.Trainers.Ensemble.FeatureSelector Microsoft.ML.Trainers.Ensemble.SubModelSelector
  src/Microsoft.ML.Ensemble/EntryPoints/DiversityMeasure.cs
  src/Microsoft.ML.Ensemble/EntryPoints/FeatureSelector.cs
  src/Microsoft.ML.Ensemble/EntryPoints/SubModelSelector.cs
  src/Microsoft.ML.Ensemble/Selector/DiversityMeasure/BaseDisagreementDiversityMeasure.cs
  src/Microsoft.ML.Ensemble/Selector/DiversityMeasure/DisagreementDiversityMeasure.cs
  src/Microsoft.ML.Ensemble/Selector/DiversityMeasure/ModelDiversityMetric.cs
  src/Microsoft.ML.Ensemble/Selector/DiversityMeasure/MultiDisagreementDiversityMeasure.cs
  src/Microsoft.ML.Ensemble/Selector/DiversityMeasure/RegressionDisagreementDiversityMeasure.cs
  src/Microsoft.ML.Ensemble/Selector/FeatureSelector/AllFeatureSelector.cs
  src/Microsoft.ML.Ensemble/Selector/FeatureSelector/RandomFeatureSelector.cs
  src/Microsoft.ML.Ensemble/Selector/IDiversityMeasure.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/AllSelector.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/AllSelectorMultiClass.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BaseBestPerformanceSelector.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BaseDiverseSelector.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BaseSubModelSelector.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestDiverseSelectorBinary.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestDiverseSelectorMultiClass.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestDiverseSelectorRegression.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestPerformanceRegressionSelector.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestPerformanceSelector.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/BestPerformanceSelectorMultiClass.cs
  src/Microsoft.ML.Ensemble/Selector/SubModelSelector/SubModelDataSelector.cs
Due: production

Microsoft.ML.EntryPoints.JsonUtils -> Microsoft.ML.EntryPoints and Microsoft.ML.FactorizationMachine -> Microsoft.ML.Trainers.FactorizationMachine
  src/Microsoft.ML.Data/EntryPoints/EntryPointNode.cs
  src/Microsoft.ML.Data/EntryPoints/InputBuilder.cs
  src/Microsoft.ML.EntryPoints/JsonUtils/ExecuteGraphCommand.cs
  src/Microsoft.ML.EntryPoints/JsonUtils/GraphRunner.cs
  src/Microsoft.ML.EntryPoints/JsonUtils/JsonManifestUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineCatalog.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineInterface.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineUtils.cs
  src/Microsoft.ML.StaticPipe/FactorizationMachineStatic.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/FAFMEstimator.cs
Due: production, test

Expose split gains in tree models
  src/Microsoft.ML.FastTree/RegressionTree.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Pass group id via options (#2742)
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Move Learner* input base and Transform* input base out of Entrypoints namespace
  src/Microsoft.ML.Data/EntryPoints/Cache.cs
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Training/LearnerInputBase.cs
  src/Microsoft.ML.Data/Transforms/FeatureContributionCalculationTransformer.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Data/Transforms/TransformInputBase.cs
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
  src/Microsoft.ML.EntryPoints/ModelOperations.cs
  src/Microsoft.ML.EntryPoints/OneVersusAllMacro.cs
  src/Microsoft.ML.ImageAnalytics/ImageGrayscale.cs
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.ImageAnalytics/VectorToImageTransform.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Remove the IFourierDistributionSampler interface (#2698)
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  test/BaselineOutput/Common/Rff/featurized.tsv
  test/BaselineOutput/SingleDebug/Rff/featurized.tsv
  test/BaselineOutput/SingleRelease/Rff/featurized.tsv
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

Bu
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/NaiveCalibrator.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
Due: production

fix build
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
  src/Microsoft.ML.EntryPoints/OneVersusAllMacro.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

FastTree and Ensemble packages
  Microsoft.ML.sln
  pkg/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.nupkgproj
  pkg/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.symbols.nupkgproj
  pkg/Microsoft.ML.FastTree/Microsoft.ML.FastTree.nupkgproj
  pkg/Microsoft.ML.FastTree/Microsoft.ML.FastTree.symbols.nupkgproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
Due: production

reorder samples (#231)
  src/Samples/Program.cs
Due: production

the target of my replace all was the source folder, and building through cmd doesn't build the test folder. Extending the changes of the prior commit to the test folder
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
  test/Microsoft.ML.Tests/TrainerEstimators/CalibratorEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: test

Fixed issues in DnnAnalyzer.
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/DnnAnalyzer.cs
Due: production

Learner to Trainer
  src/Microsoft.ML.Data/Training/LearnerInputBase.cs
  src/Microsoft.ML.Ensemble/EntryPoints/Ensemble.cs
  src/Microsoft.ML.Ensemble/Trainer/EnsembleTrainerBase.cs
  src/Microsoft.ML.EntryPoints/ModelOperations.cs
  src/Microsoft.ML.EntryPoints/OneVersusAllMacro.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.HalLearners/OlsLinearRegression.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.KMeansClustering/KMeansPlusPlusTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.PCA/PcaTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/MultiClass/MultiClassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
Due: production

Rename file
  src/Microsoft.ML.Data/Training/TrainerInputBase.cs
Due: production

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachinewWithOptions.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineCatalog.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
  src/Microsoft.ML.StaticPipe/FactorizationMachineStatic.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Tests/TrainerEstimators/FAFMEstimator.cs
Due: production, test

Updated trainer options docs.
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/doc.xml
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Updated SDCA trainers docs in StandardLearnersCatalog
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticDualCoordinateAscentNonCalibrated.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/doc.xml
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Ivan's suggestion to move VersionInfo and ModelHeader to Microsoft.ML and regenerating the catalog.
  src/Microsoft.ML.Core/Data/IEstimator.cs
  src/Microsoft.ML.Core/Data/ModelHeader.cs
  src/Microsoft.ML.Core/Data/ModelLoadContext.cs
  src/Microsoft.ML.Core/Data/ModelLoading.cs
  src/Microsoft.ML.Core/Data/ModelSaveContext.cs
  src/Microsoft.ML.Core/Data/ModelSaving.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: production, test

switch content
  pkg/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.nupkgproj
  pkg/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.symbols.nupkgproj
  pkg/Microsoft.ML.FastTree/Microsoft.ML.FastTree.nupkgproj
  pkg/Microsoft.ML.FastTree/Microsoft.ML.FastTree.symbols.nupkgproj
Due: none

Expose split gains in tree models (#2747)
  src/Microsoft.ML.FastTree/RegressionTree.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
Due: production, test

Microsoft.ML.Internal.Internallearn should be hidden/moved/renamed
  src/Microsoft.ML.Data/Dirty/ModelParametersBase.cs
  src/Microsoft.ML.Data/Dirty/PredictorInterfaces.cs
  src/Microsoft.ML.Data/EntryPoints/SummarizePredictor.cs
  src/Microsoft.ML.Data/Scorers/QuantileRegressionScorer.cs
  src/Microsoft.ML.Data/Training/EarlyStoppingCriteria.cs
  src/Microsoft.ML.Data/Transforms/ExplainabilityCatalog.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/AveragedPerceptron.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/LinearSvm.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StandardLearners/Standard/PoissonRegression/PoissonRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaMultiClass.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaRegression.cs
  src/Microsoft.ML.Transforms/LearnerFeatureSelection.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportance.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEarlyStoppingCriteria.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Predictor.Tests/TestIniModels.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: production, test

Add EarlyStoppingCriteria.cs.
  src/Microsoft.ML.FastTree/Training/EarlyStoppingCriteria.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
