Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Do not pass validation set and metrics callback to Image Classification API. (#4430)
  src/Microsoft.ML.AutoML/TrainerExtensions/MultiTrainerExtensions.cs
Due: production

output more infor for ubuntu
  build/.night-build.yml
  build/nightly-build/job-template.yml
  test.sh
Due: none

fix path for test step
  build/nightly-build/job-template.yml
Due: none

test on latest package
  build/.night-build.yml
  build/nightly-build/job-template.yml
  test.sh
Due: none

add back restore step, remove test steps now, verify latest package
  build/nightly-build/job-template.yml
Due: none

Fixed string handling in CreateScalarNamedOnnxValue from code review comments
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Upgraded baseline files to match the new ORT version
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LightGbmBinaryClassificationOnnxConversionTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/SimplePipeline.txt
  test/BaselineOutput/Common/Onnx/Transforms/IndicateMissingValues.txt
  test/BaselineOutput/Common/Onnx/Transforms/Sentiment/SmallWordEmbed.txt
Due: test

Changed type checking for ReadOnlyMemory<char> and changed Char to char
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Fixed version number to 1.0.0
  build/Dependencies.props
Due: none

Disabled GPU codepath for running Onnx models until it is better supported in onnxruntime
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Upgraded OnnxRuntime to v1.0 and Google Protobuf to 3.10.1
  build/Dependencies.props
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypeParser.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

fix format issue
  build/nightly-build/job-template.yml
Due: none

add test steps
  build/nightly-build/job-template.yml
Due: none

fix error
  build/nightly-build/job-template.yml
Due: none

investigate ubuntu dependency issue
  build/.night-build.yml
  build/nightly-build/job-template.yml
  test.sh
Due: none

more test info
  build/.night-build.yml
  build/nightly-build/job-template.yml
  config.json
Due: none

Adjusted accuracy range for onnx test
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: test

Dev work
  src/Microsoft.ML.Core/Data/IValueMapper.cs
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Prediction/EncryptedCalibrator.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.SEAL/Properties/AssemblyInfo.cs
  src/Microsoft.ML.SEAL/SealTransformer.cs
  src/Microsoft.ML.StandardTrainers/EncryptedLinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/EncryptedSdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/EncryptedStandardTrainersCatalog.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  test/Microsoft.ML.SEAL.Tests/SEALTests.cs
Due: production, test

comment out Ubuntu
  build/.night-build.yml
  build/nightly-build/job-template.yml
  config.json
Due: none

sync and merge
  Microsoft.ML.sln
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.TestFrameworkCommon/Microsoft.ML.TestFrameworkCommon.csproj
  test/NightlyBuildDependency.props
  test/TestFrameworkDependency.props
Due: test

clean up code
  .gitignore
  build/.night-build.yml
  build/nightly-build/job-template.yml
  config.json
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Microsoft.ML.NugetPackageVersionUpdater.csproj
  test/Microsoft.ML.NugetPackageVersionUpdater/Program.cs
  test/Microsoft.ML.NugetPackageVersionUpdater/get-latest-package-version.bat
Due: test

update the CI feed url
  README.md
Due: none

add back restore when build
  build/nightly-build/job-template.yml
Due: none

update the CI feed url (#4435)
  README.md
Due: none

merge solution
  Microsoft.ML.sln
Due: none

Fixed bugs after rebase
  src/Microsoft.ML.StandardTrainers/Optimizer/LearningRateScheduler.cs
  test/Microsoft.ML.Tests/LearningRateSchedulerTest.cs
Due: production, test

Removed WeatherData Sample
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/WeatherDataSample.cs
Due: none

Added Cyclic LR scheduling with unit test and integration test. Also added unit tests for LsrDecay and Exponential decay
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/WeatherDataSample.cs
  src/Microsoft.ML.StandardTrainers/Optimizer/LearningRateScheduler.cs
  test/Microsoft.ML.Tests/LearningRateSchedulerTest.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Recreate workspace directory when fit() is called, fix documentation, free up unmanaged memory.
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

PR feedback.
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

Change description for implementationFactory parameter
  src/Microsoft.Extensions.ML/ServiceCollectionExtensions.cs
Due: production

Recreate workspace directory when fit() is called, fix documentation, free up unmanaged memory. (#4438)
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
Due: production

Bump release version to 1.5.0-preview and preview version to 0.17.0-preview. (#4414)
  build/BranchInfo.props
Due: none

Remove duplicate lines from project file.
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: none

Continued tracing
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/EstimatorChain.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.StandardTrainers/EncryptedSdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/StochasticTrainerBase.cs
  test/Microsoft.ML.SEAL.Tests/SEALTests.cs
Due: production, test

Upgraded OnnxRuntime to v1.0 and Google Protobuf to 3.10.1 (#4416)
  build/Dependencies.props
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTypeParser.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LightGbmBinaryClassificationOnnxConversionTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/LogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
  test/BaselineOutput/Common/Onnx/Cluster/BreastCancer/Kmeans.txt
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/BaselineOutput/Common/Onnx/Regression/Adult/SimplePipeline.txt
  test/BaselineOutput/Common/Onnx/Transforms/IndicateMissingValues.txt
  test/BaselineOutput/Common/Onnx/Transforms/Sentiment/SmallWordEmbed.txt
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Remove original Program.cs from Samples.GPU references
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
Due: none

More dev work
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  test/Microsoft.ML.SEAL.Tests/SEALTests.cs
Due: production, test

Update nightly build pipeline, fix issue of ubuntu
  build/.night-build.yml
  build/nightly-build/job-template.yml
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
