Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

remove thread setting
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Fix： 1.Add formular for factors; 2.Fix test; 3.Simplify arrary get range
  src/Microsoft.ML.TimeSeries/SrCnnEntireTransformer.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

ColumnSelectingTransformer now infers ONNX shape
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
Due: production

Added SQLite database to test loading of datasets in non-Windows builds
  build/Dependencies.props
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/data/iris.sqlite
Due: test

fix x86 crash
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

Decreased repetition of code in DatabaseLoaderTests
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Update DatabaseLoaderTests.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Read KeyTypeAttribute during CreateTextLoader
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Added SciSharp.TensorFlow as a dependency to ML.TensorFlow
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Changed to using Assert.Equal
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

Initial update to xml doc
  src/Microsoft.ML.OnnxTransformer/doc.xml
Due: production

Additional update
  src/Microsoft.ML.OnnxTransformer/doc.xml
Due: production

fix linux test
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: test

Added TestDatabase package source, fixed SQL statements
  Directory.Build.props
  build/Dependencies.props
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
Due: test

Removed temp-placed iris.sqlite from \test\data
  test/data/iris.sqlite
Due: test

fix x86 crash (#5081)
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: production, test

Added SQLite database to test loading of datasets in non-Windows builds (#5080)
  Directory.Build.props
  build/Dependencies.props
  test/Microsoft.ML.TestFrameworkCommon/Datasets.cs
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

Use KeyTypeAttribute from Schema in CreateTextLoader (#5082)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Pass into inner exception to InvalidOperationException
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
Due: production

Updated test baseline
  test/BaselineOutput/Common/Onnx/Transforms/SelectColumns.txt
Due: test

MurmurHash Onnx Export (#5013)
  src/Microsoft.ML.Core/Utilities/Hashing.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/BaselineOutput/Common/CategoricalHash/featurized.tsv
  test/BaselineOutput/Common/CategoricalHash/oneHotHash.tsv
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/KeyToVector.txt
  test/BaselineOutput/Common/SavePipe/SavePipeCountSelect-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeHash-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash1-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash1-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash2-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash2-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash3-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash3-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash4-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash4-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash5-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash5-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash6-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeInvertHash6-Schema.txt
  test/BaselineOutput/Common/SavePipe/SavePipeNgramHash-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeWordHash-Data.txt
  test/BaselineOutput/Common/SavePipe/SavePipeWordHashUnordered-Data.txt
  test/BaselineOutput/Common/Text/bag_of_words.tsv
  test/BaselineOutput/Common/Text/murmurHash.tsv
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/RangeFilterTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
  test/data/backcompat/MurmurHashV1.zip
  test/data/type-samples.txt
Due: production, test

fix for key2value
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
Due: production

adding value2key test
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

adding vector test for key2val
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/data/type-conversion.txt
Due: test

Re-enabled BinaryClassifierSymSgdTest for MacOS and Linux with platform-specific baselines
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

keytovector fix
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

adding test
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

format changes
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

make new structure by not using any transformer
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCause.cs
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/RootCauseLocalization.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Add "Combine" option.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  src/Microsoft.ML.Transforms/OneHotHashEncoding.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  test/Microsoft.ML.Benchmarks/HashBench.cs
  test/Microsoft.ML.Functional.Tests/DataTransformation.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Add tests.
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Add tests, and change data splitting APIs to use the new functionality of HashingEstimator.
  src/Microsoft.ML.Data/Commands/CrossValidationCommand.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.EntryPoints/TrainTestSplit.cs
  test/BaselineOutput/Common/Command/CommandCrossValidationWithTextStratificationColumn-out.txt
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: production, test

Address code review comment, change missing value handling and add a test for it.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Add test for backwards compatibility of model format.
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
  test/data/backcompat/hashing-before-combine.zip
Due: test

Fix hashing tests.
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: test

Re-enabled BinaryClassifierSymSgdTest for MacOS and Linux with platform-specific baselines (#5094)
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/linux-x64/SymSGD-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-CV-breast-cancer.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer-summary.txt
  test/BaselineOutput/Common/SymSGD/osx-x64/SymSGD-TrainTest-breast-cancer.txt
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

Fix build breaks and tests after rebase.
  src/Microsoft.ML.Data/Transforms/Hashing.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Combine V2 and V1 implementations of IHashers into one.
  src/Microsoft.ML.Core/Utilities/Hashing.cs
  src/Microsoft.ML.Data/Transforms/Hashing.cs
Due: production

Update SaveAsOnnx.
  src/Microsoft.ML.Data/Transforms/Hashing.cs
Due: production

Fix MatrixFactorization trainer's warning (#5071)
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
