Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"
  ignore:
    - "test"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

rebase fix
  src/Microsoft.ML.CpuMath/ProbabilityFunctions.cs
  src/Microsoft.ML.Transforms/Text/LdaTransform.cs
Due: production

changed position of check
  src/Microsoft.ML.CpuMath/ProbabilityFunctions.cs
Due: production

Hide PathParser
  src/Microsoft.ML.Data/DataLoadSave/PartitionedPathParser.cs
Due: production

Addressed reviewers' comments.
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

post rebase fixes
  docs/code/MlNetCookBook.md
  docs/code/experimental/MlNetCookBook_StaticApi.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

move check
  src/Microsoft.ML.CpuMath/ProbabilityFunctions.cs
Due: production

handle SMAC exception when fewer trees were trained than requested (#44)
  src/AutoML/Sweepers/SmacSweeper.cs
Due: production

Merged with base and addressed reviewers' comments.
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Creating the MLNetCookBook_StaticApi.md and updating the current cookbook (#2284)
  docs/code/experimental/MlNetCookBook_StaticApi.md
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

Upload coverage files only when all tests pass. (#2308)
  build/Codecoverage.proj
  build/ci/phase-template.yml
Due: none

Follow up from Extract IDataView feedback (#2296)
  src/Microsoft.Data.DataView/ColumnType.cs
  src/Microsoft.ML.Core/Data/MetadataUtils.cs
  src/Microsoft.ML.Core/Data/ProgressReporter.cs
  src/Microsoft.ML.Core/Environment/ConsoleEnvironment.cs
  src/Microsoft.ML.Core/Utilities/CharUtils.cs
  src/Microsoft.ML.Core/Utilities/Contracts.cs
  src/Microsoft.ML.Core/Utilities/PathUtils.cs
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/Data/Combiner.cs
  src/Microsoft.ML.Data/Data/Conversion.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.Data/Depricated/Instances/HeaderSchema.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Evaluators/RankerEvaluator.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.FastTree/BinFile/BinFinder.cs
  src/Microsoft.ML.StaticPipe/SchemaBearing.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
Due: production

Throw error on incorrect Label name in InferColumns API (#47)
  src/AutoML/ColumnInference/ColumnInferenceApi.cs
  src/Test/ColumnInferenceTests.cs
Due: production

Update Microsoft.Data.DataView nuget metadata. (#2307)
  pkg/Microsoft.Data.DataView/Microsoft.Data.DataView.nupkgproj
Due: none

Added a test showing example of text classification using TensorFlow in ML.Net (#2302)
  build/Dependencies.props
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-darwin-x86_64-1.10.0.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-darwin-x86_64-1.12.0.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-linux-x86_64-1.10.0.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-linux-x86_64-1.12.0.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-windows-x86_64-1.10.0.zip.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-windows-x86_64-1.12.0.zip.sha
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Adding a link to the concat transform sample; adding a bit more explanation to the concat transform.
  docs/samples/Microsoft.ML.Samples/Dynamic/ConcatTransform.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

hide more IDataLoader classes
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinaryLoader.cs
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Parquet/ParquetLoader.cs
  src/Microsoft.ML.Parquet/Properties/AssemblyInfo.cs
Due: production

folder PR comments
  src/Microsoft.ML.OnnxTransform/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransform/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformTest/DnnImageFeaturizerTest.cs
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
Due: production, test

remove line from Parquet project
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
Due: production

Move example reference
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

minor fix
  test/Microsoft.ML.OnnxTransformTest/DnnImageFeaturizerTest.cs
Due: test

minor change to kick off build
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
Due: test

Fixing version number
  build/BranchInfo.props
Due: none

Bump master to 0.11
  build/BranchInfo.props
Due: none

remove reference to myget, and use nuget instead
  Directory.Build.props
Due: none

Switch parameters
  docs/samples/Microsoft.ML.Samples/Dynamic/LogisticRegression.cs
Due: none

Removed Read methods taking string parameters from TextLoader (#1797)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.StaticPipe/LocalPathReader.cs
  src/Microsoft.ML.StaticPipe/TextLoaderStatic.cs
  test/Microsoft.ML.Benchmarks/Microsoft.ML.Benchmarks.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
Due: production, test

fixing a link in the cookbook
  docs/code/MlNetCookBook.md
Due: none

Bump master to 0.11 (#2321)
  build/BranchInfo.props
Due: none

add adult test and train datasets
  test/data/adult-test.txt
  test/data/adult-train.txt
Due: test

Changing to use Context.
  docs/samples/Microsoft.ML.Samples/Dynamic/ConcatTransform.cs
Due: none

Push Parquet files to Parquet project
  src/Microsoft.ML.Data/Commands/DataCommand.cs
  src/Microsoft.ML.Data/DataView/ZipBinding.cs
  src/Microsoft.ML.Parquet/PartitionedFileLoader.cs
  src/Microsoft.ML.Parquet/PartitionedPathParser.cs
  src/Microsoft.ML.Parquet/PartitionedPathUtils.cs
Due: production

removed nullgpuID. Use AtMostOnce for gpuDeviceID and fallBackToCpu variables
  src/Microsoft.ML.OnnxTransform/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransform/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
Due: production, test

remove review comment from public summary
  src/Microsoft.ML.Data/Data/IDataLoader.cs
Due: production

making sure issue #2155 has no issues with the cookbooks
  docs/code/MlNetCookBook.md
  docs/code/experimental/MlNetCookBookStaticApi.md
Due: none

Hide IDataSaver interface
  src/Microsoft.ML.Data/Commands/SaveDataCommand.cs
  src/Microsoft.ML.Data/Data/IDataLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinarySaver.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextSaver.cs
  src/Microsoft.ML.Data/DataLoadSave/Transpose/TransposeSaver.cs
  src/Microsoft.ML.Data/Utilities/ComponentCreation.cs
Due: production

hide SignatureDataSaver
  src/Microsoft.ML.Data/Data/IDataLoader.cs
Due: production

nit: title clarification
  docs/code/experimental/MlNetCookBookStaticApi.md
Due: none

revert visibility for parsecolumn method
  src/Microsoft.ML.Parquet/PartitionedPathParser.cs
Due: production
