Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

API docs
  docs/api-reference/io-columns-tree-featurization-binary-classification.md
  docs/api-reference/io-columns-tree-featurization-ranking.md
  docs/api-reference/io-columns-tree-featurization-regression.md
  docs/api-reference/tree-featurization-prediction.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/PretrainedTreeEnsembleFeaturizationWithOptions.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizationEstimator.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
Due: production

Fix one line
  docs/api-reference/io-columns-tree-featurization-binary-classification.md
Due: none

Add MC test
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: test

Extend a test further
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: test

Address some comments
  docs/api-reference/io-columns-tree-featurization-binary-classification.md
  docs/api-reference/io-columns-tree-featurization-ranking.md
  docs/api-reference/io-columns-tree-featurization-regression.md
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
Due: production

Address some comments
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizationEstimator.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizationTransformer.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
Due: production

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/BinaryClassificationFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RankingFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RegressionFeaturization.ttinclude
Due: none

Comment
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
Due: production

Clarified MLContext seed parameter
  src/Microsoft.ML.Data/MLContext.cs
Due: production

fix grammar
  src/Microsoft.ML.Data/MLContext.cs
Due: production

Update src/Microsoft.ML.Data/MLContext.cs
  src/Microsoft.ML.Data/MLContext.cs
Due: production

Bump version
  build/Dependencies.props
Due: none

merge
  src/Microsoft.ML.AutoML/ColumnInference/ColumnInformationUtil.cs
  src/mlnet/Program.cs
  src/mlnet/Telemetry/DotNetAppInsights/TelemetryCommonProperties.cs
  src/mlnet/Telemetry/MlTelemetry.cs
  src/mlnet/Telemetry/Telemetry.cs
  src/mlnet/Utilities/ProgressHandlers.cs
Due: production

Add cache points
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: test

Explain MLContext seed parameter (#3835)
  src/Microsoft.ML.Data/MLContext.cs
Due: production

Update test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: test

Address comment
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: test

Broken docs images
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
Due: production

Revert "Publish nugets to temporary myget feed (#3400)"
  build/vsts-ci.yml
Due: none

Minor polishment
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Revert "Publish nugets to temporary myget feed (#3400)" (#3842)
  build/vsts-ci.yml
Due: none

Removed extra whitespace between comment and code
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

changed which parameter was internal
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

changed unneeded internal parameter back to private
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
Due: production

Put comments in correct format, sorted the using list
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Add example for applying ONNX model to in-memory images
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Add expected outputs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
Due: none

Respond to PR feedback.
  src/Microsoft.Extensions.ML/ModelLoaders/UriModelLoader.cs
  src/Microsoft.Extensions.ML/ModelReloadToken.cs
  src/Microsoft.Extensions.ML/PoolLoader.cs
  src/Microsoft.Extensions.ML/PredictionEnginePoolPolicy.cs
Due: production

Fixed #3207. Added an exception to the parameterless constructor for KeyType because it doesn't make sense to use it without a parameter
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
Due: production

Added direct tests between ML.NET and LightGBM with non-default sigmoid.
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

review comments making classes private and changing exception conditions
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Update test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

renamed sigmoid to sigmoidScale
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Add Justin's test
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEnsembleFeaturizerTest.cs
Due: test

Reduce sample size
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/BinaryClassificationFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RankingFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RegressionFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

Update roadmap.
  ROADMAP.md
Due: none

CustomGains should allow multiple values in argument attribute.
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
Due: production

changed sigmoid from a default parameter so it can come before the out params
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
