Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Reformatting Test, Projection and TimeSeries of Transform to Width 85 (#3947)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhiten.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Projection/VectorWhitenWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ApplyCustomWordEmbedding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ApplyWordEmbedding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/FeaturizeText.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/FeaturizeTextWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/LatentDirichletAllocation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/NormalizeText.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceHashedNgrams.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceHashedWordBags.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceNgrams.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ProduceWordBags.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/RemoveDefaultStopWords.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/RemoveStopWords.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/TokenizeIntoCharactersAsKeys.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/TokenizeIntoWords.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnnBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsa.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsaBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsaStream.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidChangePoint.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidChangePointBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidSpike.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidSpikeBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSpikeBySsa.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSpikeBySsaBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/Forecasting.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/ForecastingWithConfidenceInterval.cs
Due: none

Reformatting Conversion, FeatureSelection and Image Analytics of Transform to Width 85 (#3943)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertType.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertTypeMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/Hash.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/KeyToValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToBinaryVector.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToValueMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToVector.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapKeyToVectorMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValue.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueIdvLookup.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToArray.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCount.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnCountMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/FeatureSelection/SelectFeaturesBasedOnMutualInformationMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScaleInMemory.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

Reformatting MulticlassClassification samples to width 85 (#3942)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LogLossPerClass.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PermutationFeatureImportance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.tt
Due: none

Bump ML.NET package version to 1.2.0
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
Due: production

update UTs
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
Due: test

PR feedback.
  docs/release-notes/1.2.0/release-1.2.0.md
Due: none

Release notes for 1.2.0 release. (#3951)
  docs/release-notes/1.2.0/release-1.2.0.md
Due: none

Bump package version to 0.14.0
  build/BranchInfo.props
Due: none

Build AutoML NuGet package
  build.proj
Due: none

[AutoML] Bump ML.NET package version to 1.2.0 in AutoML API and CLI; and AutoML package versions to 0.14.0 (#3958)
  build/BranchInfo.props
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/ModelProject.tt
  src/mlnet/Templates/Console/PredictProject.cs
  src/mlnet/Templates/Console/PredictProject.tt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/mlnet.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ModelProjectFileContentTest.approved.txt
Due: production, test

Build AutoML NuGet package (#3961)
  build.proj
Due: none

Allow user to specify ONNX shape
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Cleaned up some junk folders and added some more changes
  ClassLibrary1/Class1.cs
  ClassLibrary1/ClassLibrary1.csproj
  TensorFlowCNN/AssemblyInfo.cs
  TensorFlowCNN/Microsoft.ML.TensorFlowCNN.csproj
  TensorFlowCNN/TensorFlowModel.cs
  TensorFlowCNN/TensorflowCatalog.cs
  TensorFlowCNN/TensorflowTransform.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlowNetUtils.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorflowTransform.cs
  src/TensorFlowNET.Core/Operations/Operation.cs
  src/TensorFlowNET.Core/Sessions/Runner.cs
  src/TensorFlowNET.Core/Sessions/Session.cs
  src/TensorFlowNET.Core/TensorFlowNET.Core.csproj
  src/TensorFlowNET.Core/Tensors/Tensor.Creation.cs
  src/TensorFlowNET.Core/Tensors/Tensor.cs
  src/TensorFlowNET.Core/Tensors/c_api.tensor.cs
Due: production

Added Runner wrapper for Session
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlowNetUtils.cs
  src/TensorFlowNET.Core/Sessions/BaseSession.cs
  src/TensorFlowNET.Core/Sessions/Runner.cs
Due: production

Increment AutoML build version and 0.15.0 for preview.
  build/BranchInfo.props
Due: none

Increment AutoML build version to 0.15.0 for preview. (#3968)
  build/BranchInfo.props
Due: none

Updated the redistributed version of Tensorflow to 1.14 (#3929)
  Directory.Build.targets
  build/Dependencies.props
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer.csproj
  src/Redist/Microsoft.ML.TensorFlow.Redist/Microsoft.ML.TensorFlow.Redist.proj
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-darwin-x86_64-1.13.1.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-darwin-x86_64-1.14.0.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-linux-x86_64-1.13.1.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-linux-x86_64-1.14.0.tar.gz.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-windows-x86_64-1.13.1.zip.sha
  src/Redist/Microsoft.ML.TensorFlow.Redist/libtensorflow-cpu-windows-x86_64-1.14.0.zip.sha
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.Functional.Tests.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

changes.
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TensorFlowImageAPI/AssemblyInfo.cs
  src/Microsoft.ML.TensorFlowImageAPI/Microsoft.ML.TensorFlowImageAPI.csproj
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlow/Buffer.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlow/Tensor.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlow/TensorGeneric.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlow/TensorGeneric.tt
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlow/Tensorflow.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlowNetUtils.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorflowTransform.cs
  src/TensorFlowNET.Core/Tensors/Tensor.Creation.cs
  src/TensorFlowNET.Core/Tensors/c_api.tensor.cs
Due: production

fix compile errors.
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Directory.Build.props
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
Due: production

delete the static samples folder
  docs/samples/Microsoft.ML.Samples/Static/AveragedPerceptronBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/FeatureSelectionTransform.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMMulticlassWithInMemoryData.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCABinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCARegression.cs
Due: none

Increment patch version.
  build/BranchInfo.props
Due: none

added AssemblyInfo to make assemblies BestFriends
  src/Microsoft.ML.LightGbm.StaticPipe/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components.StaticPipe/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxTransformer.StaticPipe/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StaticPipe/CategoricalHashStaticExtensions.cs
  src/Microsoft.ML.StaticPipe/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StaticPipe/TermStaticExtensions.cs
  src/Microsoft.ML.StaticPipe/TermStaticExtensions.tt
  src/Microsoft.ML.TensorFlow.StaticPipe/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TimeSeries.StaticPipe/Properties/AssemblyInfo.cs
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeFakes.cs
Due: production, test

stop producing nugets
  Microsoft.ML.sln
  pkg/Microsoft.ML.StaticPipe/Microsoft.ML.StaticPipe.nupkgproj
  pkg/Microsoft.ML.StaticPipe/Microsoft.ML.StaticPipe.symbols.nupkgproj
  src/Microsoft.ML.StaticPipe/Microsoft.ML.StaticPipe.csproj
Due: production

changes.
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassificationTFNET.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlowNetUtils.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorflowTransform.cs
  src/TensorFlowNET.Core/TensorFlowNET.Core.csproj
Due: production

update api compat after 1.2 release
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: production

enable app compat for time series, onnx transformer and tensorflow to stable api.
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
Due: production

Add time series, onnx transformer and tensorflow to stable api.
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: none

Increment version for application compatibility.
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: none

changes.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassificationTFNET.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorFlowNetUtils.cs
  src/Microsoft.ML.TensorFlowImageAPI/TensorflowTransform.cs
  src/TensorFlowNET.Core/Operations/Operation.cs
Due: production

Increment version for application compatibility. (#3957)
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  tools-local/Microsoft.ML.StableApi/Microsoft.ML.StableApi.csproj
Due: production

Address comments
  src/Microsoft.ML.OnnxTransformer/OnnxCatalog.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: production, test

Timing TFSharp vs TFNET
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassificationTFNET.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Reduced list of TF binaries to only the essential ones
  Directory.Build.targets
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer.csproj
  src/Redist/Microsoft.ML.TensorFlow.Redist/Microsoft.ML.TensorFlow.Redist.proj
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.Functional.Tests.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Fixed formatting
  src/Redist/Microsoft.ML.TensorFlow.Redist/Microsoft.ML.TensorFlow.Redist.proj
Due: production

TF package size fix (#3983)
  Directory.Build.targets
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer.csproj
  src/Redist/Microsoft.ML.TensorFlow.Redist/Microsoft.ML.TensorFlow.Redist.proj
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.Functional.Tests/Microsoft.ML.Functional.Tests.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test
