Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Tom's comments.
  src/Microsoft.ML.Core/Data/IRowToRowMapper.cs
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
Due: production

Make text loaders consistent
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

Address comments
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/Microsoft.ML.Functional.Tests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.Functional.Tests/Datasets/TypeTestData.cs
  test/Microsoft.ML.Functional.Tests/Evaluation.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Remove a redundant ctor of TextLoader
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
Due: production, test

Changed Ranker to Ranking in evaluation related files. (#2675)
  src/Microsoft.ML.Data/EntryPoints/InputBuilder.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
  src/Microsoft.ML.Data/Evaluators/RankingEvaluator.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.EntryPoints/CrossValidationMacro.cs
  src/Microsoft.ML.EntryPoints/MacroUtils.cs
  src/Microsoft.ML.StaticPipe/EvaluatorStaticExtensions.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Functional.Tests/Common.cs
Due: production, test

Remove Ensemble from Microsoft.ML
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
Due: production

Fix tests
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

Remove and combine Microsoft.ML.UniversalModelFormat.Onnx with Microsoft.ML.Model.OnnxConverter.
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.OnnxConverter/OnnxExportExtensions.cs
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxConverter/OnnxMl.md
  src/Microsoft.ML.OnnxConverter/OnnxNodeImpl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Seal API classes (and make EnableCaching internal) (#217)
  src/Microsoft.ML.Auto/API/AutoInferenceCatalog.cs
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/ColumnInference.cs
  src/Microsoft.ML.Auto/API/ExperimentSettings.cs
  src/Microsoft.ML.Auto/API/InferenceException.cs
  src/Microsoft.ML.Auto/API/MLContextExtension.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/API/RunResult.cs
Due: production

Suggested sample nits (feel free to ask for any of these to be reverted) (#219)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
  src/Samples/Cancellation.cs
  src/Samples/CustomizeTraining.cs
  src/Samples/Data/README.md
  src/Samples/ObserveProgress.cs
  src/Samples/Program.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
Due: production

Fix tests.
  src/Microsoft.Data.DataView/DataViewSchema.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipeBase.cs
Due: production, test

Minimum Vector size check added (#2428)
  src/Microsoft.ML.CpuMath/AvxIntrinsics.cs
  src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs
  src/Microsoft.ML.CpuMath/SseIntrinsics.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.CpuMath.UnitTests.netcoreapp/UnitTests.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.TestFramework/TestCommandBase.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: production, test

added performance tests for small input
  test/Microsoft.ML.CpuMath.PerformanceTests/SmallInputCpuMathPerformanceTests.cs
Due: test

Adding a sample for LightGbm Ranking
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassificationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRanking.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRankingWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

PR feedback + cleaning up namespaces in Microsoft.ML.Samples project
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGBMBinaryClassificationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCALogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCASupportVectorMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGBMMulticlassClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGBMMulticlassClassificationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRanking.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRankingWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGBMRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGBMRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Adding a sample for LightGbm Ranking
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

PR feedback + cleaning up namespaces in Microsoft.ML.Samples project
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

nit
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRanking.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRankingWithOptions.cs
Due: none

Scrubbing FieldAwareFactorizationMachine learner.
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachinewWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SDCALogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/PriorTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/RandomTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineCatalog.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Changing dataset to small sample and other feedback
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRanking.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGBMRankingWithOptions.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

User input column type validation (#218)
  src/Microsoft.ML.Auto/Utils/UserInputValidationUtil.cs
  src/Test/UserInputValidationTests.cs
Due: production

upgrade commandline and renaming (#221)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet.Test/CommandLineTests.cs
  src/mlnet/CodeGenerator/CSharp/CodeGenerator.cs
  src/mlnet/CodeGenerator/CSharp/CodeGeneratorSettings.cs
  src/mlnet/Commands/New/NewCommandHandler.cs
  src/mlnet/Commands/New/NewCommandSettings.cs
  src/mlnet/Program.cs
  src/mlnet/mlnet.csproj
Due: production

Enable tests and update to use SSWE model
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: test

Make build.sh, init-tools.sh, & run.sh executable on OSX/Linux (#225)
  build.sh
  init-tools.sh
  run.sh
Due: none

CLI argument descriptions updated (#224)
  src/mlnet/Commands/CommandDefinitions.cs
Due: production

Code review comments
  src/Microsoft.ML.Transforms/FourierDistributionSampler.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
Due: production

added flag to disable training code (#227)
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.GeneratedTrainCodeTest.approved.txt
  src/mlnet/Templates/Console/MLCodeGen.cs
  src/mlnet/Templates/Console/MLCodeGen.tt
Due: production

Cleaning our attributes classes (#2638)
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.Core/CommandLine/DefaultArgumentAttribute.cs
  src/Microsoft.ML.Core/CommandLine/EnumValueDisplayAttribute.cs
  src/Microsoft.ML.Core/CommandLine/HideEnumValueAttribute.cs
  src/Microsoft.ML.Data/Data/SchemaDefinition.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/LoadColumnAttribute.cs
  src/Microsoft.ML.Data/Depricated/TGUIAttribute.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  test/Microsoft.ML.Benchmarks/Helpers/CIBenchmark.cs
  test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
Due: production, test

Internalize Microsoft.ML.Internal.CpuMath.GeneralUtils.
  src/Microsoft.ML.CpuMath/CpuAligenedMathUtils.cs
Due: production

Pass group id via options
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Remove and combine Microsoft.ML.UniversalModelFormat.Onnx with Microsoft.ML.Model.OnnxConverter. (#2722)
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.OnnxConverter/OnnxExportExtensions.cs
  src/Microsoft.ML.OnnxConverter/OnnxMl.cs
  src/Microsoft.ML.OnnxConverter/OnnxMl.md
  src/Microsoft.ML.OnnxConverter/OnnxNodeImpl.cs
  src/Microsoft.ML.OnnxConverter/OnnxUtils.cs
  src/Microsoft.ML.OnnxConverter/SaveOnnxCommand.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Renaming LightGbm sample filenames
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
Due: none

Towards 1529: replacing the predicates with an IEnumerable on IRowToRowMapper.GetDependencies (#2504)
  src/Microsoft.ML.Core/Data/IRowToRowMapper.cs
  src/Microsoft.ML.Core/Data/ISchemaBindableMapper.cs
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/EntryPoints/TransformModelImpl.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/FeatureContributionCalculation.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Data/Transforms/ColumnSelecting.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineUtils.cs
  src/Microsoft.ML.TimeSeries/PredictionFunction.cs
  src/Microsoft.ML.TimeSeries/SequentialTransformerBase.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/Scenarios/ClusteringTests.cs
Due: production, test

Feedback
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Ranking/LightGbmWithOptions.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
Due: production

Exit if perfect model produced (#220)
  src/Microsoft.ML.Auto/Experiment/Experiment.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/BinaryMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/IMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/MetricsAgentUtil.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/MultiMetricsAgent.cs
  src/Microsoft.ML.Auto/Experiment/MetricsAgents/RegressionMetricsAgent.cs
  src/Test/MetricsAgentsTests.cs
Due: production
