Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Dispose only Tensor objects in models
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
Due: production

try lock on outer place
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
Due: production

test fix
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

remove test code, ready to check in
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

indetion
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

fix TestCancellation hanging (#4999)
  test/Microsoft.ML.Core.Tests/UnitTests/TestHosts.cs
Due: test

Add support for stateful custom mappers, and for custom filters. (#4676)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByCustomPredicate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByStatefulCustomPredicate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/StatefulCustomMapping.cs
  src/Microsoft.ML.Transforms/CustomMappingCatalog.cs
  src/Microsoft.ML.Transforms/CustomMappingFactory.cs
  src/Microsoft.ML.Transforms/CustomMappingFilter.cs
  src/Microsoft.ML.Transforms/LambdaTransform.cs
  src/Microsoft.ML.Transforms/StatefulCustomMappingTransformer.cs
  test/Microsoft.ML.Tests/Transformers/CustomMappingTests.cs
Due: production, test

resolving comments
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
Due: production

add more logs for SsaForecast
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
Due: production

CountFeatureSelectingEstimator no selection support (#5000)
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

implement RandomSweeper
  src/Microsoft.ML.AutoML/AutoPipeline/AutoEstimatorChain.cs
  src/Microsoft.ML.AutoML/AutoPipeline/AutoEstimatorExtension.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/GridSearchSweeper.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ISweeper.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/OptionBuilder.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ParameterAttribute.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/RandomSweeper.cs
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  test/Microsoft.ML.AutoML.Tests/AutoEstimatorChainTest.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/OptionBuilderTest.cs
  test/Microsoft.ML.AutoML.Tests/RandomSweeperTest.cs
Due: production, test

more logs for debugging
  src/Microsoft.ML.TimeSeries/AdaptiveSingularSpectrumSequenceModeler.cs
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

add more logs
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Fixing build in UNIX systems that don't have en-US as default culture
  run.sh
Due: none

Don't free BestModel models
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
Due: production

Add support for CategoricalFeatures in AppendFeatureContributions
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalRegressionTree.cs
Due: production

Added test
  test/BaselineOutput/Common/FeatureContribution/LightGbmRegressionWithCategoricalSplit.tsv
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

implement AutoEstimatorChain and AutoEstimator class
  src/Microsoft.ML.AutoML/AutoPipeline/AutoEstimatorChain.cs
  src/Microsoft.ML.AutoML/AutoPipeline/AutoEstimatorExtension.cs
  src/Microsoft.ML.AutoML/AutoPipeline/IAutoEstimator.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ISweeper.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/OptionBuilder.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ParameterAttribute.cs
  src/Microsoft.ML.Data/DataLoadSave/EstimatorChain.cs
  test/Microsoft.ML.AutoML.Tests/AutoEstimatorChainTest.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.AutoML.Tests/OptionBuilderTest.cs
  test/Microsoft.ML.AutoML.Tests/TestData/recommendation-ratings-train.csv
Due: production, test

format output
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ISweeper.cs
Due: production

updated test
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Adding support to LoadColumnName in TextLoader and adding functionality to auto map from class members name to LoadColumnName
  .gitignore
  Microsoft.ML.sln
  src/Microsoft.ML.Data/DataLoadSave/Database/LoadColumnNameAttribute.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/LoadColumnIgnoreAttribute.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: production, test

Making changes binary-compatible
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs
Due: production

using Microsoft.ML.Sweeper API
  src/Microsoft.ML.AutoML/AutoPipeline/AutoEstimatorChain.cs
  src/Microsoft.ML.AutoML/AutoPipeline/AutoEstimatorExtension.cs
  src/Microsoft.ML.AutoML/AutoPipeline/IAutoEstimator.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/GridSearchSweeper.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ISweeper.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/OptionBuilder.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/ParameterAttribute.cs
  src/Microsoft.ML.AutoML/AutoPipeline/Sweeper/RandomSweeper.cs
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.Sweeper/ISweeper.cs
  src/Microsoft.ML.Sweeper/Parameters.cs
  test/Microsoft.ML.AutoML.Tests/AutoEstimatorChainTest.cs
  test/Microsoft.ML.AutoML.Tests/OptionBuilderTest.cs
  test/Microsoft.ML.AutoML.Tests/RandomSweeperTest.cs
Due: production, test

Error in docs?
  src/Microsoft.ML.FastTree/RegressionTree.cs
Due: production

try fix
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
Due: production

Fixing unit tests
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

fix SsaForecast
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

refind comments
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
Due: production

change Destination to local variable
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
Due: production

move ubuntu and centos to agent pool with larger disk space
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/.outer-loop-build.yml
  build/ci/job-template.yml
Due: none

trouble shoot test hanging
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Throw Exception if model is trying to be accessed after disposal
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.AutoML/API/RunDetails/CrossValidationRunDetail.cs
  src/Microsoft.ML.AutoML/API/RunDetails/RunDetail.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
Due: production

move ubuntu and centos to agent pool with larger disk space (#5024)
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/.outer-loop-build.yml
  build/ci/job-template.yml
Due: none

removing support for centos 7 as it is having a nuget issue
  src/Microsoft.ML.Featurizers/CategoricalImputer.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
  src/Microsoft.ML.Featurizers/RobustScaler.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
  src/Microsoft.ML.Featurizers/ToStringTransformer.cs
  test/Microsoft.ML.TestFramework/Attributes/NotCentOS7FactAttribute.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalImputerTests.cs
  test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs
  test/Microsoft.ML.Tests/Transformers/RobustScalerTests.cs
  test/Microsoft.ML.Tests/Transformers/TimeSeriesImputerTests.cs
  test/Microsoft.ML.Tests/Transformers/ToStringTransformerTests.cs
Due: production, test

changes for pr comments
  src/Microsoft.ML.Featurizers/CategoricalImputer.cs
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.Featurizers/RobustScaler.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  src/Microsoft.ML.Featurizers/ToStringTransformer.cs
Due: production

rebase on master
  src/Microsoft.ML.Featurizers/CategoricalImputer.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.Featurizers/RobustScaler.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
  src/Microsoft.ML.Featurizers/ToStringTransformer.cs
  test/Microsoft.ML.TestFramework/Attributes/NotCentOS7FactAttribute.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalImputerTests.cs
  test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs
  test/Microsoft.ML.Tests/Transformers/RobustScalerTests.cs
  test/Microsoft.ML.Tests/Transformers/TimeSeriesImputerTests.cs
  test/Microsoft.ML.Tests/Transformers/ToStringTransformerTests.cs
Due: production, test

build issue fix
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
Due: production

remove static fields to local variable
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
Due: production

Initialize IsModelDisposed inside constructors
  src/Microsoft.ML.AutoML/API/RunDetails/CrossValidationRunDetail.cs
  src/Microsoft.ML.AutoML/API/RunDetails/RunDetail.cs
Due: production

Fix SsaForecast bug (#5023)
  src/Microsoft.ML.TimeSeries/PolynomialUtils.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
