Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

update (#6217)
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

Rename SentenceClassification to TextClassification
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

Rename SentenceClassification to TextClassification (#6223)
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

Update transformer-estimators.json
  src/Microsoft.ML.AutoML/CodeGen/transformer-estimators.json
Due: production

same as last commit message
  src/Microsoft.ML.Fairlearn/FairlearnCatalog.cs
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/GroupMetric.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
Due: production

Changes for usabilty.
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

ci testing.
  eng/helix.proj
Due: none

CI Testing.
  build/ci/job-template.yml
  eng/helix.proj
Due: none

ci testing
  build/ci/job-template.yml
Due: none

Changes for usabilty. (#6229)
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

Mac CI Fixes. (#6230)
  build/ci/job-template.yml
Due: none

Add framework to list call
  build/ci/job-template.yml
Due: none

Fix #2127 by adding "Microsoft.ML.Transforms" in using statement (#6228)
  src/Microsoft.ML.AutoML/CodeGen/transformer-estimators.json
Due: production

add SweepablePipeline (#6222)
  src/Microsoft.ML.AutoML/SweepableEstimator/Converter/SweepablePipelineConverter.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/ISweepable.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepableEstimator.cs
  src/Microsoft.ML.AutoML/SweepableEstimator/SweepablePipeline.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/SweepablePipelineTests.SweepablePipeline_Append_SweepableEstimator_Test.approved.txt
  test/Microsoft.ML.AutoML.Tests/SweepablePipelineTests.cs
Due: production, test

using xiaoyun\'s .rows.gropy() implementation method for the ByGroup() function
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
Due: production

Update AutoCatalog.cs
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

add null check and add return comment
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
Due: production

implement auto featurizer (#6205)
  src/Microsoft.ML.AutoML/API/AutoCatalog.cs
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_iris_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/ApprovalTests/AutoFeaturizerTests.AutoFeaturizer_uci_adult_test.approved.txt
  test/Microsoft.ML.AutoML.Tests/AutoFeaturizerTests.cs
  test/Microsoft.ML.AutoML.Tests/DatasetUtil.cs
  test/Microsoft.ML.AutoML.Tests/GridSearchTunerTests.cs
Due: production, test

adding the regression catalog
  Microsoft.ML.sln
  src/Microsoft.ML.Fairlearn/FairlearnCatalog.cs
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.csproj
Due: production

added the fairlearn extension
  Class1.cs
  Microsoft.ML.Fairlean.Tests/Microsoft.ML.Fairlean.Tests.csproj
  Microsoft.ML.Fairlean.Tests/Properties/AssemblyInfo.cs
  Microsoft.ML.Fairlean.Tests/UnitTest1.cs
  Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  Microsoft.ML.Fairlearn.Tests/UnitTest1.cs
  Microsoft.ML.Fairlearn.Tests/Usings.cs
  Microsoft.ML.Fairlearn/FairlearnMetricTests.cs
  Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.Tests.csproj
  Microsoft.ML.sln
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/MLContextExtension.cs
Due: production

Fixed the dataframe column adding bug; added unit testing
  Microsoft.ML.Fairlean.Tests/Microsoft.ML.Fairlean.Tests.csproj
  Microsoft.ML.Fairlean.Tests/Properties/AssemblyInfo.cs
  Microsoft.ML.Fairlean.Tests/UnitTest1.cs
  Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  Microsoft.ML.Fairlearn.Tests/UnitTest1.cs
  Microsoft.ML.Fairlearn.Tests/Usings.cs
  Microsoft.ML.Fairlearn/FairlearnMetricTests.cs
  Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.Tests.csproj
  Microsoft.ML.sln
  src/Microsoft.ML.CodeGenerator/CodeGenerator/CSharp/AzureCodeGenerator/AzureAttachModelCodeGenerator.cs
  src/Microsoft.ML.Fairlearn/FairlearnCatalog.cs
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/FairlearnMetricTests.cs
  src/Microsoft.ML.Fairlearn/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/UnitTest1.cs
Due: production, test

Added a Metric Test; Added difference between groups in regression
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: production, test

Added more metrics to the regression
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  src/Microsoft.ML.Fairlearn/FairlearnMetricTests.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: production, test

Added score column.
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

RMS and MSE support
  src/Microsoft.ML.Fairlearn/FairlearnMetricCatalog.cs
  test/Microsoft.ML.Fairlearn.Tests/MetricTest.cs
Due: production, test

Removed extra using.
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: test

Updates from PR comments.
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
Due: production

Updated condition.
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
Due: production

Moved device init
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/Utils/TorchUtils.cs
Due: production

Added score column. Auto count unique labels. (#6235)
  src/Microsoft.ML.TorchSharp/NasBert/TextClassificationTrainer.cs
  src/Microsoft.ML.TorchSharp/TorchSharpCatalog.cs
  src/Microsoft.ML.TorchSharp/Utils/TorchUtils.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/TextClassificationTests.cs
Due: production, test

DRAFT implementation of K-nearest neighbors classifier, basic architecture
  src/Microsoft.ML.OneDal/KnnClassificationTrainer.cs
  src/Microsoft.ML.OneDal/KnnDataView.cs
  src/Microsoft.ML.OneDal/KnnInterface.cs
Due: production

Pulling nugets from local source
  NuGet.config
  src/Microsoft.ML.OneDal/KnnClassificationTrainer.cs
  src/Microsoft.ML.OneDal/KnnDataView.cs
  src/Microsoft.ML.OneDal/KnnInterface.cs
  src/Microsoft.ML.OneDal/Microsoft.ML.OneDal.csproj
Due: production

Expose Knn trainer through multiclass catalog
  src/Microsoft.ML.OneDal/KnnClassificationTrainer.cs
  src/Microsoft.ML.OneDal/KnnInterface.cs
  src/Microsoft.ML.OneDal/OneDalCatalog.cs
Due: production

fixed issue with onnx export
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
Due: production

Initial check-in of AutoML Interactive Extension
  Microsoft.ML.sln
  eng/Versions.props
  src/Microsoft.ML.AutoML.Interactive/KernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/Microsoft.ML.AutoML.Interactive.csproj
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
Due: production

Remove waring disable code
  src/Microsoft.ML.AutoML.Interactive/KernelExtension.cs
Due: production

clean up warnings
  src/Microsoft.ML.AutoML.Interactive/AutoMLMonitorKernelExtension.cs
  src/Microsoft.ML.AutoML.Interactive/NotebookMonitor.cs
Due: production

OneDAL integration -- WIP: includes LBFGS/OLS-driven algorithms (#6091)
  Microsoft.ML.sln
  README-onedal.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/TestingOLS.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components/OlsLinearRegression.cs
  src/Microsoft.ML.OneDal/KnnClassificationTrainer.cs
  src/Microsoft.ML.OneDal/KnnDataView.cs
  src/Microsoft.ML.OneDal/KnnInterface.cs
  src/Microsoft.ML.OneDal/Microsoft.ML.OneDal.csproj
  src/Microsoft.ML.OneDal/OneDalCatalog.cs
  src/Microsoft.ML.OneDal/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.StandardTrainers/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Native/CMakeLists.txt
  src/Native/Native.proj
  src/Native/OneDalNative/CMakeLists.txt
  src/Native/OneDalNative/DALLinearModels.cpp
  src/Native/build.cmd
  src/Native/build.sh
  src/Native/gen-buildsys-win.bat
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.Predictor.Tests/Microsoft.ML.Predictor.Tests.csproj
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
  test/Microsoft.ML.Tests/TrainerEstimators/OneDALComponentsTests.cs
Due: production, test

Fixes Onnx Export for Column Copy Transformer. (#6242)
  src/Microsoft.ML.Data/Transforms/ColumnCopying.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
