Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

update the extensions to make all arguments available
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.Mkl.Components/MklComponentsCatalog.cs
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/KernelCatalog.cs
  src/Microsoft.ML.Transforms/NormalizerCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

Made 'StopWordsRemover' in TextFeaturizer configurable again.
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

first step
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
Due: production, test

Checkign in the samples generated during bug bash for MissingNa, ReplaceNA and OneHot
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Categorical/OneHotEncoding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
Due: production

Enable MyGet uploads again
  build/vsts-ci.yml
Due: none

Addinig projects included in Microsoft.ML
  build/BranchInfo.props
Due: none

Addressing PR comments.
  test/Microsoft.ML.Functional.Tests/Datasets/CommonColumns.cs
  test/Microsoft.ML.Functional.Tests/Datasets/FeatureContributionOutput.cs
  test/Microsoft.ML.Functional.Tests/Datasets/ScoreColumn.cs
  test/Microsoft.ML.Functional.Tests/ModelFiles.cs
Due: test

Remove duplicate NormalizeFeatures from FFM trainer
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Categorical/OneHotEncoding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValues.cs
Due: none

add comment
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

fixing model parameter discrepencies
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIHelper.cs
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/MulticlassDataPartitionEnsembleTrainer.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamModelParameters.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.Mkl.Components/OlsLinearRegression.cs
  src/Microsoft.ML.PCA/PcaTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/MulticlassNaiveBayesStatic.cs
  src/Microsoft.ML.StaticPipe/SdcaStaticExtensions.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.Functional.Tests/Validation.cs
  test/Microsoft.ML.Predictor.Tests/TestGamPublicInterfaces.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.TestFramework/EnvironmentExtensions.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

and single case
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Functional.Tests/Prediction.cs
Due: production, test

In-progress ONNX scenario tests.
  test/Microsoft.ML.Functional.Tests/ONNX.cs
Due: test

Updated xml docs for tree-based trainers.
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  src/Microsoft.ML.Data/Training/TrainerInputBase.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.FastTree/Training/EarlyStoppingCriteria.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.FastTree/doc.xml
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

set FFM feature normalization default to false
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

by default normalization is off for FFM
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Fixed a rendering issue in the TensorFlow doc.
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

Updated OnnxRuntime version to 0.3.0
  Directory.Build.props
  build/Dependencies.props
Due: none

Checking in the samples generated during bug bash for MissingNa, Repl… (#2960)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Categorical/OneHotEncoding.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Transforms/CategoricalCatalog.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
Due: production

Addressed PR comments.
  src/Microsoft.ML.Data/Training/TrainerInputBase.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/doc.xml
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

multiclass LR singe that refactoring is happening in a parallel PR
  src/Microsoft.ML.Ensemble/Trainer/Multiclass/MulticlassDataPartitionEnsembleTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaMulticlass.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SdcaStaticExtensions.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.Functional.Tests/IntrospectiveTraining.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

Updated xml docs for tree-based trainers. (#2970)
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  src/Microsoft.ML.Data/Training/TrainerInputBase.cs
  src/Microsoft.ML.FastTree/FastTreeArguments.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/FastTreeRanking.cs
  src/Microsoft.ML.FastTree/FastTreeRegression.cs
  src/Microsoft.ML.FastTree/FastTreeTweedie.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamRegression.cs
  src/Microsoft.ML.FastTree/GamTrainer.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/RandomForestRegression.cs
  src/Microsoft.ML.FastTree/Training/EarlyStoppingCriteria.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.FastTree/doc.xml
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Enable MyGet uploads again (#2961)
  build/vsts-ci.yml
Due: none

Fixed a rendering issue in the TensorFlow doc. (#2971)
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

Hide base class NormalizeFeatures field
  src/Microsoft.ML.StandardTrainers/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

- Moved options name mapping to their respective classes. - Fixed minor issues to get tests passing - Updated based upon additional feedback
  src/Microsoft.ML.LightGbm/LightGbmArguments.cs
  src/Microsoft.ML.LightGbm/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRankingTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmRegressionTrainer.cs
  src/Microsoft.ML.LightGbm/LightGbmTrainerBase.cs
  src/Microsoft.ML.LightGbm/WrappedLightGbmInterface.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-CV-generatedRegressionDataset.MAE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-CV-generatedRegressionDataset.MAE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-TrainTest-generatedRegressionDataset.MAE-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegMae-TrainTest-generatedRegressionDataset.MAE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-CV-generatedRegressionDataset.RMSE-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMRegRmse-TrainTest-generatedRegressionDataset.RMSE-rp.txt
Due: production, test

In-memory & self-contained sample template.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
Due: none

Update OnnxTheory Attribute
  test/Microsoft.ML.TestFramework/Attributes/OnnxTheoryAttribute.cs
Due: test

-Minor cmakefile cleanup
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

Adding functional tests for ONNX scenarios
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Functional.Tests/ONNX.cs
Due: test

example for TokenizeIntoWords and ApplyWordEmbedding
  test/Microsoft.ML.Functional.Tests/Debugging.cs
Due: test

test passes
  test/Microsoft.ML.Functional.Tests/Debugging.cs
Due: test

hide base option class NormalizeField for FFM Options
  src/Microsoft.ML.EntryPoints/JsonUtils/JsonManifestUtils.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Add post-trainer transform SDK infra; add KeyToValueMapping transform to CLI; fix: for generated multiclass models, convert predicted label from key to original label column type (#286)
  src/Microsoft.ML.Auto/EstimatorExtensions/EstimatorExtensionCatalog.cs
  src/Microsoft.ML.Auto/EstimatorExtensions/EstimatorExtensions.cs
  src/Microsoft.ML.Auto/Experiment/SuggestedPipeline.cs
  src/Microsoft.ML.Auto/PipelineSuggesters/PipelineSuggester.cs
  src/Microsoft.ML.Auto/TransformInference/TransformInferenceApi.cs
  src/Microsoft.ML.Auto/TransformInference/TransformPostTrainerInference.cs
  src/Test/AutoFitTests.cs
  src/Test/InferredPipelineTests.cs
  src/Test/TransformPostTrainerInferenceTests.cs
  src/mlnet.Test/ApprovalTests/ConsoleCodeGeneratorTests.cs
  src/mlnet.Test/TransformGeneratorTests.cs
  src/mlnet/CodeGenerator/CSharp/TransformGeneratorFactory.cs
  src/mlnet/CodeGenerator/CSharp/TransformGenerators.cs
Due: production

Initial add of loading model by path
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
Due: production, test

- NumberOfThreads defaults to Environment.ProcessorCount, comment updates
  src/Microsoft.ML.Mkl.Components/SymSgdClassificationTrainer.cs
Due: production

Add XML doc
  src/Microsoft.ML.Data/Model/ModelOperationsCatalog.cs
Due: production

Addressed reviewers' comments.
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

- Setting SymSSGD test to use 1 thread for consistency
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
