Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fixing and cleaning public API surface.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/RandomTrainerSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicStochasticGradientDescentWithOptions.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Simple/SimpleTrainers.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/SimpleTrainAndPredict.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
Due: production, test

Add native code to the package and include fasttree nuget instructions in samples.
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeRegression.cs
  src/Native/build.proj
Due: production

fix tests
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

PR feedback.
  pkg/Microsoft.ML.LightGBM/Microsoft.ML.LightGBM.nupkgproj
Due: none

Calibrators Catalog
  docs/samples/Microsoft.ML.Samples/Dynamic/Calibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/FixedPlatt.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Naive.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/NaiveCalibrator.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/PairAdjacentViolators.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/Calibrators/Platt.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  test/Microsoft.ML.Tests/TrainerEstimators/CalibratorEstimators.cs
Due: production, test

PR feedback.
  pkg/Microsoft.ML.StaticPipe/Microsoft.ML.StaticPipe.nupkgproj
Due: none

PR feedback.
  pkg/Microsoft.ML.LightGBM/Microsoft.ML.LightGBM.nupkgproj
  pkg/Microsoft.ML.StaticPipe/Microsoft.ML.StaticPipe.nupkgproj
Due: none

Created samples for sgdnoncalibratedtrainer.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticGradientDescentNonCalibratedWithOptions.cs
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

fix test
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Added samples
  docs/samples/Microsoft.ML.Samples/Dynamic/SDCARegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
Due: production

Added samples to API xml
  src/Microsoft.ML.StandardLearners/StandardLearnersCatalog.cs
Due: production

Clean up metrics classes. (#2700)
  docs/samples/Microsoft.ML.Samples/Dynamic/LogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Static/AveragedPerceptronBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/LightGBMRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCABinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/SDCARegression.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/AnomalyDetectionMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/BinaryClassificationMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/ClusteringMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/MultiClassClassifierMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RankingMetrics.cs
  src/Microsoft.ML.Data/Evaluators/Metrics/RegressionMetrics.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
  src/Microsoft.ML.SamplesUtils/ConsoleUtils.cs
  src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Functional.Tests/Common.cs
  test/Microsoft.ML.Predictor.Tests/TestIniModels.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Scenarios/ClusteringTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/Scenarios/IrisPlantClassificationWithStringLabelTests.cs
  test/Microsoft.ML.Tests/Scenarios/OvaTest.cs
  test/Microsoft.ML.Tests/Scenarios/TensorflowTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/IrisPlantClassificationTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/FAFMEstimator.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SdcaTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TrainerEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Sample for ReplaceMissingValues.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValues.cs
Due: none

add link to samples in documentation.
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
Due: production

More samples.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValuesColumnOptions.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
Due: production

Correct documentation for MapKeyToVector.
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
Due: production

Fixed build error
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/StochasticDualCoordinateAscentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/StochasticDualCoordinateAscentWithOptions.cs
Due: none

OneHotEncoding sample
  docs/samples/Microsoft.ML.Samples/Dynamic/OneHotEncodingTransform.cs
Due: none

adding sample for ConvertType
  docs/samples/Microsoft.ML.Samples/Dynamic/ConvertType.cs
  src/Microsoft.ML.Data/Data/Conversion.cs
Due: production

One line renaming
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

remove unnecessary row
  docs/samples/Microsoft.ML.Samples/Dynamic/ConvertType.cs
Due: none

Add doc comments to KeyType
  src/Microsoft.ML.Core/Data/KeyType.cs
Due: production

Code cleanup from PR 2568 (#2759)
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
Due: production

Package FastTree. (#2764)
  docs/samples/Microsoft.ML.Samples/Dynamic/FastTreeRegression.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeBinaryClassification.cs
  docs/samples/Microsoft.ML.Samples/Static/FastTreeRegression.cs
  pkg/Microsoft.ML.FastTree/Microsoft.ML.FastTree.nupkgproj
  pkg/Microsoft.ML.FastTree/Microsoft.ML.FastTree.symbols.nupkgproj
  pkg/Microsoft.ML.StaticPipe/Microsoft.ML.StaticPipe.nupkgproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Native/build.proj
Due: production

Direct Calibrator catalog
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/TrainCatalog.cs
Due: production

Add an example of random PCA
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

Add another example with options
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: production, test

One line renaming (#2782)
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Quick fix to XML documentation
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
Due: production

Quick fix to XML documentation (#2790)
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
Due: production

Null reference exception fix for finding best model when some runs have failed (#239)
  src/Microsoft.ML.Auto/API/BinaryClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/MulticlassClassificationExperiment.cs
  src/Microsoft.ML.Auto/API/RegressionExperiment.cs
  src/Microsoft.ML.Auto/Utils/RunResultUtil.cs
  src/Test/MetricsAgentsTests.cs
  src/Test/MetricsUtil.cs
  src/Test/RunResultTests.cs
Due: production

samples fixes (#238)
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
Due: production

Address comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
Due: none

Example class style
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
Due: none

Propagate comment changes
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

Use property instead of field
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/AnomalyDetection/RandomizedPcaSampleWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  test/Microsoft.ML.Tests/AnomalyDetectionTests.cs
Due: test

added ShortName for entrypoint back compatibility; updated manifest files
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LbfgsPredictorBase.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
