Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Reverted OnnxRuntimeOutputCatcher to private class
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Addressed code review comments
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
Due: production

Refactored OnnxTransform back to using MapperBase based on code review comments
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Fix SR anomaly score calculation at beginning (#5502)
  src/Microsoft.ML.TimeSeries/SrCnnEntireAnomalyDetector.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
  test/data/Timeseries/anomaly_at_beginning.csv
Due: production, test

Fixed memory leaks from OnnxTransformer (#5518)
  docs/samples/Microsoft.ML.Samples/Dynamic/ModelOperations/OnnxConversion.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Fixed leak in object pool
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
Due: production, test

Modified tests to make them more stable
  test/Microsoft.ML.IntegrationTests/Explainability.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: test

Fixed Spelling on stopwords
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
Due: production

Added omitted files
  NuGet.config
  global.json
Due: none

Changed strong name signing to use the same key for shipping and test assemblies
  NuGet.config
  global.json
  src/Microsoft.Extensions.ML/Properties/AssemblyInfo.cs
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Core/PublicKey.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.KMeansClustering/Properties/AssemblyInfo.cs
  src/Microsoft.ML.LightGbm/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Maml/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxConverter/AssemblyInfo.cs
  src/Microsoft.ML.OnnxTransformer/Properties/AssemblyInfo.cs
  src/Microsoft.ML.PCA/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Parquet/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Recommender/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TensorFlow/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TimeSeries/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  test/Directory.Build.props
  test/Microsoft.ML.TestFramework/Properties/AssemblyInfo.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/Properties/AssemblyInfo.cs
Due: production, test

arcade linux build (#5423)
  build.sh
  eng/common/build.sh
  eng/common/dotnet-install.sh
  src/Native/build.sh
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
Due: production

Windows CI working (#5477)
  .vsts-dotnet-ci.yml
  build.cmd
  build/ci/job-template.yml
  build/vsts-ci.yml
Due: none

Added test key. (#5475)
  eng/snk/Test.snk
  src/Microsoft.ML.Core/ComponentModel/ComponentCatalog.cs
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Core/PublicKey.cs
  src/Microsoft.ML.CpuMath/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/Properties/AssemblyInfo.cs
  src/Microsoft.ML.FastTree/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Featurizers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.KMeansClustering/Properties/AssemblyInfo.cs
  src/Microsoft.ML.LightGbm/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Mkl.Components/Properties/AssemblyInfo.cs
  src/Microsoft.ML.OnnxConverter/AssemblyInfo.cs
  src/Microsoft.ML.PCA/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Parquet/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Recommender/Properties/AssemblyInfo.cs
  src/Microsoft.ML.StandardTrainers/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TensorFlow/Properties/AssemblyInfo.cs
  src/Microsoft.ML.TimeSeries/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  test/Cert.props
  test/Microsoft.ML.Core.Tests/Microsoft.ML.Core.Tests.csproj
  test/Microsoft.ML.TestFramework/Properties/AssemblyInfo.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: production, test

Added Linux & Mac changes for Arcade (#5479)
  .gitignore
  .vsts-dotnet-ci.yml
  Microsoft.ML.sln
  build.sh
  build/ci/job-template.yml
  src/Microsoft.ML.Core/Properties/AssemblyInfo.cs
  src/Microsoft.ML.CpuMath/AssemblyInfo.cs
  src/Microsoft.ML.Data/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Maml/Properties/AssemblyInfo.cs
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
  test/Microsoft.ML.Benchmarks.Tests/Microsoft.ML.Benchmarks.Tests.csproj
  test/Microsoft.ML.Benchmarks/Program.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.PerformanceTests/BenchmarkBase.cs
  test/Microsoft.ML.PerformanceTests/CacheDataViewBench.cs
  test/Microsoft.ML.PerformanceTests/FeaturizeTextBench.cs
  test/Microsoft.ML.PerformanceTests/Harness/Configs.cs
  test/Microsoft.ML.PerformanceTests/Harness/Metrics.cs
  test/Microsoft.ML.PerformanceTests/Harness/ProjectGenerator.cs
  test/Microsoft.ML.PerformanceTests/HashBench.cs
  test/Microsoft.ML.PerformanceTests/Helpers/CIBenchmark.cs
  test/Microsoft.ML.PerformanceTests/Helpers/EmptyWriter.cs
  test/Microsoft.ML.PerformanceTests/Helpers/EnvironmentFactory.cs
  test/Microsoft.ML.PerformanceTests/Helpers/Errors.cs
  test/Microsoft.ML.PerformanceTests/Helpers/ExecuteMaml.cs
  test/Microsoft.ML.PerformanceTests/ImageClassificationBench.cs
  test/Microsoft.ML.PerformanceTests/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
  test/Microsoft.ML.PerformanceTests/Numeric/Ranking.cs
  test/Microsoft.ML.PerformanceTests/PredictionEngineBench.cs
  test/Microsoft.ML.PerformanceTests/Program.cs
  test/Microsoft.ML.PerformanceTests/README.md
  test/Microsoft.ML.PerformanceTests/RffTransform.cs
  test/Microsoft.ML.PerformanceTests/ShuffleRowsBench.cs
  test/Microsoft.ML.PerformanceTests/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.PerformanceTests/Text/MultiClassClassification.cs
  test/Microsoft.ML.PerformanceTests/TextLoaderBench.cs
  test/Microsoft.ML.PerformanceTests/TextPredictionEngineCreation.cs
Due: production, test

fix official builds
  build/publish.proj
  build/vsts-ci.yml
  eng/Signing.props
  eng/Versions.props
  restore.cmd
  restore.sh
  sign.cmd
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DataView/Microsoft.ML.DataView.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.Vision/Microsoft.ML.Vision.csproj
Due: production

Fixing failing Arcade Windows Builds (#5482)
  build/ci/job-template.yml
Due: none

Revert "fix official builds"
  build/publish.proj
  build/vsts-ci.yml
  eng/Signing.props
  eng/Versions.props
  restore.cmd
  restore.sh
  sign.cmd
  src/Microsoft.Extensions.ML/Microsoft.Extensions.ML.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Microsoft.ML.CodeGenerator.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DataView/Microsoft.ML.DataView.csproj
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/Microsoft.ML.DnnImageFeaturizer.AlexNet.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj
  src/Microsoft.ML.EntryPoints/Microsoft.ML.EntryPoints.csproj
  src/Microsoft.ML.Experimental/Microsoft.ML.Experimental.csproj
  src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.ImageAnalytics/Microsoft.ML.ImageAnalytics.csproj
  src/Microsoft.ML.LightGbm/Microsoft.ML.LightGbm.csproj
  src/Microsoft.ML.Mkl.Components/Microsoft.ML.Mkl.Components.csproj
  src/Microsoft.ML.OnnxConverter/Microsoft.ML.OnnxConverter.csproj
  src/Microsoft.ML.OnnxTransformer/Microsoft.ML.OnnxTransformer.csproj
  src/Microsoft.ML.Parquet/Microsoft.ML.Parquet.csproj
  src/Microsoft.ML.Recommender/Microsoft.ML.Recommender.csproj
  src/Microsoft.ML.SamplesUtils/Microsoft.ML.SamplesUtils.csproj
  src/Microsoft.ML.TensorFlow/Microsoft.ML.TensorFlow.csproj
  src/Microsoft.ML.TimeSeries/Microsoft.ML.TimeSeries.csproj
  src/Microsoft.ML.Vision/Microsoft.ML.Vision.csproj
Due: production

Fix NetFX builds by ensuring assembly version is set correctly and not to Arcade default of 42.42.42.42 (#5503)
  eng/Versions.props
Due: none

Fixes for many of the CI builds. (#5496)
  build/ci/job-template.yml
  eng/Versions.props
  global.json
  src/Native/Native.proj
Due: production

fixing tensorflow rebase issue
  eng/Versions.props
Due: none

Fixed leak in object pool (#5521)
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
Due: production, test

Handle integration tests and nightly build testing (#5509)
  Microsoft.ML.sln
  build/ci/job-template.yml
  src/Redist/Microsoft.ML.DnnImageFeaturizer.ModelRedist/Microsoft.ML.DnnImageFeaturizer.ModelRedist.proj
  test/Microsoft.ML.IntegrationTests/Common.cs
  test/Microsoft.ML.IntegrationTests/DataIO.cs
  test/Microsoft.ML.IntegrationTests/DataTransformation.cs
  test/Microsoft.ML.IntegrationTests/Datasets/Adult.cs
  test/Microsoft.ML.IntegrationTests/Datasets/CommonColumns.cs
  test/Microsoft.ML.IntegrationTests/Datasets/HousingRegression.cs
  test/Microsoft.ML.IntegrationTests/Datasets/Iris.cs
  test/Microsoft.ML.IntegrationTests/Datasets/MnistOneClass.cs
  test/Microsoft.ML.IntegrationTests/Datasets/Sentiment.cs
  test/Microsoft.ML.IntegrationTests/Datasets/TrivialMatrixFactorization.cs
  test/Microsoft.ML.IntegrationTests/Datasets/TypeTestData.cs
  test/Microsoft.ML.IntegrationTests/Debugging.cs
  test/Microsoft.ML.IntegrationTests/Evaluation.cs
  test/Microsoft.ML.IntegrationTests/Explainability.cs
  test/Microsoft.ML.IntegrationTests/IntegrationTestBaseClass.cs
  test/Microsoft.ML.IntegrationTests/IntrospectiveTraining.cs
  test/Microsoft.ML.IntegrationTests/Microsoft.ML.IntegrationTests.csproj
  test/Microsoft.ML.IntegrationTests/ModelFiles.cs
  test/Microsoft.ML.IntegrationTests/ONNX.cs
  test/Microsoft.ML.IntegrationTests/Prediction.cs
  test/Microsoft.ML.IntegrationTests/SchemaDefinitionTests.cs
  test/Microsoft.ML.IntegrationTests/Training.cs
  test/Microsoft.ML.IntegrationTests/Validation.cs
  test/Microsoft.ML.IntegrationTests/xunit.runner.json
  test/Microsoft.ML.NightlyBuild.Tests/Microsoft.ML.NightlyBuild.Tests.csproj
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BaseTestClassAnalyzer.cs
Due: production, test

fix code generator tests failure (#5520)
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
Due: test

Added print Message task to Native.proj
  src/Native/Native.proj
Due: production

Part 1 of porting the csv reader (#2997)
  src/Microsoft.Data.Analysis/TextFieldParser.cs
  tests/Microsoft.Data.Analysis.Tests/TextFieldParserTests.cs
Due: production

Added new test
  test/Microsoft.ML.Tests/EvaluateTests.cs
Due: test

arcade code coverage changes
  Directory.Build.targets
Due: none

adding Michael's changes
  build/Codecoverage.proj
  build/ci/job-template.yml
Due: none

Use onnx prerelease
  NuGet.config
  eng/Versions.props
Due: none

updating path
  build/ci/job-template.yml
Due: none

fix benchmark test timeout issue
  test/Microsoft.ML.PerformanceTests/Harness/Configs.cs
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
Due: test

fix warnings
  build/vsts-ci.yml
  src/Directory.Build.targets
Due: production

removed old build stuff
  .gitignore
  BuildToolsVersion.txt
  DotnetCLIVersion.txt
  DotnetExtraRuntimeVersion.txt
  Microsoft.ML.sln
  build.proj
  build/Dependencies.props
  config.json
  init-tools.cmd
  init-tools.msbuild
  init-tools.sh
  run.cmd
  run.sh
Due: none

also add conditional copy asset to native.proj
  src/Native/Native.proj
Due: production

fix benchmark test timeout issue (#5530)
  test/Microsoft.ML.PerformanceTests/Harness/Configs.cs
  test/Microsoft.ML.PerformanceTests/Microsoft.ML.PerformanceTests.csproj
Due: test
