Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update Program.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

transform/treefeaturization formatted to 85 char
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/BinaryClassificationFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/PretrainedTreeEnsembleFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RankingFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RegressionFeaturization.ttinclude
Due: none

Fix assignment of a variable to itself (#3912)
  src/Microsoft.ML.Core/Utilities/Utils.cs
Due: production

reformatted samples not in specific folder
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/SimpleDataViewImplementation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TextTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/WithOnFitDelegate.cs
Due: none

fixed tabbing issue
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
Due: none

initial setup
  src/Microsoft.ML.Core/Data/IValueMapper.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
Due: production

first apprach, OVATrainer Typed as well
  src/Microsoft.ML.Core/Data/IValueMapper.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.EntryPoints/ModelOperations.cs
  src/Microsoft.ML.LightGbm.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGbm/ApiCompatBaseline.txt
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardTrainers/ApiCompatBaseline.txt
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  src/Microsoft.ML.StandardTrainers/StandardTrainersCatalog.cs
  test/BaselineOutput/Common/OVA/OVA-CV-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-CV-iris-rp.txt
  test/BaselineOutput/Common/OVA/OVA-CV-iris.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-CV-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-CV-iris-rp.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-CV-iris.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-rp.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris.txt
  test/BaselineOutput/Common/OVA/OVA-TrainTest-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-TrainTest-iris-rp.txt
  test/BaselineOutput/Common/OVA/OVA-TrainTest-iris.txt
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.TestFramework/Learners.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/TrainerEstimators/MetalinearEstimators.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

final cleanup
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

small changes for PR
  test/Microsoft.ML.Benchmarks/RffTransform.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
Due: test

fixes for PR comments
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.LightGbm.StaticPipe/LightGbmStaticExtensions.cs
  src/Microsoft.ML.LightGbm/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.Benchmarks/Numeric/Ranking.cs
  test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
Due: production, test

final update of correct testing files
  test/BaselineOutput/Common/OVA/OVA-CV-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-CV-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-FastForest-TrainTest-iris-out.txt
  test/BaselineOutput/Common/OVA/OVA-TrainTest-iris-out.txt
Due: test

transform files not in folder formatted to 35 char
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyOnnxModel.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApproximatedKernelMap.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CalculateFeatureContribution.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CalculateFeatureContributionCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Concatenate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CopyColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMapping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSaveAndLoad.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingWithInMemoryCustomType.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/DropColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValuesMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinningMulticolumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeGlobalContrast.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLogMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLpNorm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMinMax.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeSupervisedBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValuesMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/SelectColumns.cs
Due: none

fixed indentations
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
Due: none

aligned comments
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LogLossPerClass.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
Due: none

ImageAnalytics
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScale.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToGrayScaleInMemory.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ConvertToImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/DnnFeaturizeImage.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ExtractPixels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/LoadImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

small corrections to formatting
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertType.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/Hash.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValue.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
Due: none

Release notes for 1.2.0 release.
  docs/release-notes/1.2.0/release-1.2.0.md
Due: none

Reformatted Recommendation samples to width 85 (#3941)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorization.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationTemplate.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/MatrixFactorizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Recommendation/OneClassMatrixFactorizationWithOptions.cs
Due: none

reformatted samples not in specific folder (#3949)
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/SimpleDataViewImplementation.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TextTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/WithOnFitDelegate.cs
Due: none

Untabified comments in tt files.
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LbfgsPoissonRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquares.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OrdinaryLeastSquaresWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/RegressionSamplesTemplate.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Sdca.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/SdcaWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/SdcaWithOptions.tt
Due: none

fixed tab issues
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/BinaryClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LbfgsLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LbfgsLogisticRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/MultipleFeatureColumnsBinaryClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaLogisticRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicSgdLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicSgdLogisticRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/TreeSamplesTemplate.ttinclude
Due: none

CLI -- regenerate templated CS files
  src/mlnet/Templates/Console/ModelBuilder.cs
  src/mlnet/Templates/Console/ModelInputClass.cs
  src/mlnet/Templates/Console/ModelOutputClass.cs
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/PredictProgram.cs
  src/mlnet/Templates/Console/PredictProject.cs
Due: production

Changed copying version-suffixed binaries to occur only for non-Windows platforms
  Directory.Build.targets
Due: none

Update .gitattributes
  .gitattributes
Due: none

Increment build version to 1.3 for release and 0.15 for preview.
  build/BranchInfo.props
Due: none

fixed some indentation and spacing issues
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LogLossPerClass.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PermutationFeatureImportance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
Due: none

Changed copying of versioned assemblies to use HasMetadata
  Directory.Build.targets
Due: none

Increment build version to 1.3 for release and 0.15 for preview. (#3956)
  build/BranchInfo.props
Due: none

fixed indentations
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptron.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/AveragedPerceptronWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/BinaryClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LbfgsLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LbfgsLogisticRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LinearSvmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/MultipleFeatureColumnsBinaryClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PriorTrainer.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaLogisticRegressionWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SdcaNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SgdNonCalibratedWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicSgdLogisticRegression.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/SymbolicSgdLogisticRegressionWithOptions.cs
Due: none

fixed extra empty lines
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/MulticlassClassification.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/NaiveBayes.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/PairwiseCoupling.cs
Due: none

CLI -- regenerate templated CS files (#3954)
  src/mlnet/Templates/Console/ModelBuilder.cs
  src/mlnet/Templates/Console/ModelInputClass.cs
  src/mlnet/Templates/Console/ModelOutputClass.cs
  src/mlnet/Templates/Console/ModelProject.cs
  src/mlnet/Templates/Console/PredictProgram.cs
  src/mlnet/Templates/Console/PredictProject.cs
Due: production

Removed extra lines
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForest.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastForestWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTree.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedie.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeTweedieWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/FastTreeWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/Gam.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/GamWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbm.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/LightGbmWithOptions.tt
Due: none

minor tab and empty line changes
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/MapValueToKeyMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ImageAnalytics/ResizeImages.cs
Due: none

minor tab and spacing fixes
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnnBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsa.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsaBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectChangePointBySsaStream.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidChangePoint.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidChangePointBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidSpike.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectIidSpikeBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSpikeBySsa.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectSpikeBySsaBatchPrediction.cs
Due: none

PR feedback.
  docs/release-notes/1.2.0/release-1.2.0.md
Due: none

fixed some more indentation issue
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LbfgsMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/OneVersusAll.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropy.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaMaximumEntropyWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/SdcaNonCalibratedWithOptions.cs
Due: none

Removed extra lines and added necessary indents
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescent.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/Regression/OnlineGradientDescentWithOptions.tt
Due: none

Reformatting Featurization of Transform and Misc files in Transform to Width 85 (#3950)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyOnnxModel.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApproximatedKernelMap.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CalculateFeatureContribution.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CalculateFeatureContributionCalibrated.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Concatenate.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CopyColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMapping.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSaveAndLoad.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingWithInMemoryCustomType.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/DropColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/IndicateMissingValuesMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeBinningMulticolumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeGlobalContrast.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLogMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeLpNorm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMeanVariance.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeMinMax.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/NormalizeSupervisedBinning.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ReplaceMissingValuesMultiColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/SelectColumns.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/BinaryClassificationFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastForestRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeBinaryFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRankingFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeRegressionFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/FastTreeTweedieFeaturizationWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/PretrainedTreeEnsembleFeaturizationWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RankingFeaturization.ttinclude
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TreeFeaturization/RegressionFeaturization.ttinclude
Due: none

fixed commented-on parts
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/FieldAwareFactorizationMachineWithOptions.tt
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/GamWithOptions.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/MultipleFeatureColumnsBinaryClassification.ttinclude
Due: none
