Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

CpuMathNative assembly is not getting copied when using packages.config.
  Microsoft.ML.sln
  pkg/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.nupkgproj
  pkg/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.symbols.nupkgproj
  pkg/Microsoft.ML.CpuMath/build/netstandard2.0/Microsoft.ML.CpuMath.props
Due: none

Stabilize the LR test (#4446)
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: production, test

Add PredictionEnginePool config-only extension method
  src/Microsoft.Extensions.ML/ServiceCollectionExtensions.cs
Due: production

Fixes #4292 about using PFI with BPT and CMPB (#4306)
  docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/PermutationFeatureImportanceLoadFromDisk.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  test/Microsoft.ML.Tests/CalibratedModelParametersTests.cs
  test/Microsoft.ML.Tests/PermutationFeatureImportanceTests.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: production, test

Add InternalsVisibleTo in AutoML and CodeGenerator for the assembly Microsoft.ML.ModelBuilder.AutoMLService.Gpu
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
Due: production

Fixed model saving and loading of OneVersusAllTrainer to include SoftMax
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
Due: production

More tracing
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/EstimatorChain.cs
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Microsoft.ML.Data.csproj
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Prediction/EncryptedCalibrator.cs
  src/Microsoft.ML.Data/Scorers/EncryptedSchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.SEAL/SealCatalog.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  test/Microsoft.ML.SEAL.Tests/Microsoft.ML.SEAL.Tests.csproj
  test/Microsoft.ML.SEAL.Tests/SEALTests.cs
Due: production, test

Modified existing test to include SoftMax option
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Modified test to verify both cases: when UseSoftmax is true and false
  test/Microsoft.ML.TestFramework/Attributes/LightGBMTheoryAttribute.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

Add Entrypoint for ImageClassification Transform, add test.
  src/Microsoft.ML.ImageAnalytics/ImageLoader.cs
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

fix unintentional delete.
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: test

Added onnx export support for WordTokenizingTransformer and NgramExtractingTransformer (#4451)
  src/Microsoft.ML.Data/Transforms/KeyToVector.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ExcludeVariablesInOnnxConversion.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/ModelWithLessIO.txt
  test/BaselineOutput/Common/Onnx/BinaryClassification/BreastCancer/OneHotBagPipeline.txt
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Making tests faster by re-using cached values. Also added a classfixture to allow for creating a workspace path exactly once for all the tests.
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Synced with master and fixed a comment
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Tried to shorten the path to pass the pipeline tests
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

CpuMathNative assembly is not getting copied when using packages.config. (#4465)
  Microsoft.ML.sln
  pkg/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.nupkgproj
  pkg/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.symbols.nupkgproj
  pkg/Microsoft.ML.CpuMath/build/netstandard2.0/Microsoft.ML.CpuMath.props
Due: none

PR feedback.
  test/Microsoft.Extensions.ML.Tests/FileLoaderTests.cs
  test/Microsoft.Extensions.ML.Tests/UriLoaderTests.cs
Due: test

Updated review comment
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
Due: production

Initial work for adding onnx export support for OptionalColumnTransform
  src/Microsoft.ML.Data/Model/Onnx/OnnxContext.cs
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Implemented support for optional initializers in OnnxTranformer to support OptionalColumnTransform
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Removed redundant line
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
Due: production

Fixed handling of double values and non-long numeric types
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
Due: production

fix test EntryPointCatalog after updating LoadImages Options
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
Due: test

Add InternalsVisibleTo in AutoML and CodeGenerator for the assembly Microsoft.ML.ModelBuilder.AutoMLService.Gpu (#4474)
  src/Microsoft.ML.AutoML/Assembly.cs
  src/Microsoft.ML.CodeGenerator/Assembly.cs
Due: production

open system diagnotise log
  build/ci/job-template.yml
Due: none

Fixed model saving and loading of OneVersusAllTrainer to include SoftMax (#4472)
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.TestFramework/Attributes/LightGBMTheoryAttribute.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Added onnx export support for OptionalColumnTransform (#4454)
  src/Microsoft.ML.Data/Model/Onnx/OnnxContext.cs
  src/Microsoft.ML.OnnxConverter/OnnxContextImpl.cs
  src/Microsoft.ML.OnnxTransformer/OnnxUtils.cs
  src/Microsoft.ML.Transforms/OptionalColumnTransform.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Added onnx export support for KeyToValueMappingTransformer
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Fix a flaky Extensions.ML test. (#4458)
  test/Microsoft.Extensions.ML.Tests/FileLoaderTests.cs
  test/Microsoft.Extensions.ML.Tests/UriLoaderTests.cs
Due: test

Added onnx export support for KeyToValueMappingTransformer (#4455)
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Added onnx export support for several multiclass classifiers
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/OneVersusAllTrainer.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

Separated LightGBM tests for 64-bit and updated baseline for another test
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

addressed review comments-separate class for entrypoint, add visibility to DotNetBridge, modify test.
  src/Microsoft.ML.ImageAnalytics/Properties/AssemblyInfo.cs
  src/Microsoft.ML.Vision/AssemblyInfo.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
Due: production, test

updated after discussion with mzs
  README.md
  docs/images/include-prerelease.png
Due: none

updating format of table headers
  README.md
Due: none

Fixed bad merge
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Removed print outs
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/Data/DataViewUtils.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/DataLoadSave/EstimatorChain.cs
  src/Microsoft.ML.Data/DataView/CacheDataView.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/DataView/TypedCursor.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Prediction/EncryptedCalibrator.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/EncryptedSchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.StandardTrainers/EncryptedSdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardTrainers/Standard/StochasticTrainerBase.cs
Due: production

Removed spacing changes
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
Due: production

Fixed spacing
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
Due: production

Fixed spacing
  src/Microsoft.ML.StandardTrainers/Standard/SdcaBinary.cs
Due: production
