Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Make KeyToValueMapping API consistent
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
Due: production

Fix loading type problem for netfx (#2409)
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
  test/Microsoft.ML.Tests/TermEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/CopyColumnEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
Due: test

Remove steps from the GAM
  docs/samples/Microsoft.ML.Samples/Dynamic/GeneralizedAdditiveModels.cs
Due: none

Creation of components through MLContext and cleanup (Concat, Normalizer, NA Indicator/Replace) (#2363)
  src/Microsoft.ML.Data/EntryPoints/SchemaManipulation.cs
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingEstimator.cs
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingTransformer.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/Normalizer.cs
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/ExtensionsCatalog.cs
  src/Microsoft.ML.Transforms/MissingValueHandlingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueIndicatorTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueReplacing.cs
  src/Microsoft.ML.Transforms/NAHandling.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Benchmarks/Helpers/EnvironmentFactory.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Transformers/ConcatTests.cs
  test/Microsoft.ML.Tests/Transformers/NAIndicatorTests.cs
  test/Microsoft.ML.Tests/Transformers/NAReplaceTests.cs
Due: production, test

ValueMapper: added more tests with 'TestEstimatorCore' and fixed a bug in ValueType. (#2416)
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
Due: production, test

gcn, lp, randomFourier, customStopWords, white, pca
  src/Microsoft.ML.Data/Transforms/BootstrapSamplingTransformer.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Ensemble/Selector/SubsetSelector/BootstrapSelector.cs
  src/Microsoft.ML.HalLearners.StaticPipe/VectorWhiteningStaticExtensions.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.HalLearners/VectorWhitening.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/StochasticTrainerBase.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/LearnerFeatureSelection.cs
  src/Microsoft.ML.Transforms/ProjectionCatalog.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

entrypoint catalog
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

review comments and further cleanup
  src/Microsoft.ML.HalLearners/VectorWhitening.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
Due: production

Addressing PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterByMissingValues.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

- Moved test files to Common - Now throws when an invalid argument is parsed. - Updated tests
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-CV-breast-cancer.Monotonic-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-CV-breast-cancer.Monotonic-rp.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-CV-breast-cancer.Monotonic.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer.Monotonic-out.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer.Monotonic-rp.txt
  test/BaselineOutput/Common/LightGBMBinary/LightGBM-TrainTest-breast-cancer.Monotonic.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.Monotonic-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.Monotonic-rp.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-CV-iris.Monotonic.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.Monotonic-out.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.Monotonic-rp.txt
  test/BaselineOutput/Common/LightGBMMC/LightGBMMC-TrainTest-iris.Monotonic.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset.Monotonic-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset.Monotonic-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-CV-generatedRegressionDataset.Monotonic.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset.Monotonic-out.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset.Monotonic-rp.txt
  test/BaselineOutput/Common/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset.Monotonic.txt
  test/BaselineOutput/SingleRelease/LightGBMBinary/LightGBM-CV-breast-cancer.Monotonic-out.txt
  test/BaselineOutput/SingleRelease/LightGBMBinary/LightGBM-CV-breast-cancer.Monotonic-rp.txt
  test/BaselineOutput/SingleRelease/LightGBMBinary/LightGBM-CV-breast-cancer.Monotonic.txt
  test/BaselineOutput/SingleRelease/LightGBMBinary/LightGBM-TrainTest-breast-cancer.Monotonic-out.txt
  test/BaselineOutput/SingleRelease/LightGBMBinary/LightGBM-TrainTest-breast-cancer.Monotonic-rp.txt
  test/BaselineOutput/SingleRelease/LightGBMBinary/LightGBM-TrainTest-breast-cancer.Monotonic.txt
  test/BaselineOutput/SingleRelease/LightGBMMC/LightGBMMC-CV-iris.Monotonic-out.txt
  test/BaselineOutput/SingleRelease/LightGBMMC/LightGBMMC-CV-iris.Monotonic-rp.txt
  test/BaselineOutput/SingleRelease/LightGBMMC/LightGBMMC-CV-iris.Monotonic.txt
  test/BaselineOutput/SingleRelease/LightGBMMC/LightGBMMC-TrainTest-iris.Monotonic-out.txt
  test/BaselineOutput/SingleRelease/LightGBMMC/LightGBMMC-TrainTest-iris.Monotonic-rp.txt
  test/BaselineOutput/SingleRelease/LightGBMMC/LightGBMMC-TrainTest-iris.Monotonic.txt
  test/BaselineOutput/SingleRelease/LightGBMR/LightGBMReg-CV-generatedRegressionDataset.Monotonic-out.txt
  test/BaselineOutput/SingleRelease/LightGBMR/LightGBMReg-CV-generatedRegressionDataset.Monotonic-rp.txt
  test/BaselineOutput/SingleRelease/LightGBMR/LightGBMReg-CV-generatedRegressionDataset.Monotonic.txt
  test/BaselineOutput/SingleRelease/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset.Monotonic-out.txt
  test/BaselineOutput/SingleRelease/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset.Monotonic-rp.txt
  test/BaselineOutput/SingleRelease/LightGBMR/LightGBMReg-TrainTest-generatedRegressionDataset.Monotonic.txt
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Adding Shuffle to the catalog; making RowShufflingTransform internal; adding a sample.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Shuffle.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
Due: production

Removing complement argument.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterByMissingValues.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

fixed CookBook + summary comment on InputColumnName
  docs/code/MlNetCookBook.md
  src/Microsoft.ML.Transforms/Text/LdaTransform.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
Due: production

review comments
  src/Microsoft.ML.HalLearners/VectorWhitening.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
Due: production

entyrpoint catalog
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Moved TensorFlow samples to its own directory in Samples project.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Creation of components through MLContext and cleanup (GcnNorm, LpNorm, RandomFourier, CustomStopWords, VectorWhiten, PCA) (#2366)
  src/Microsoft.ML.Data/Transforms/BootstrapSamplingTransformer.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
  src/Microsoft.ML.Ensemble/Selector/SubsetSelector/BootstrapSelector.cs
  src/Microsoft.ML.HalLearners.StaticPipe/VectorWhiteningStaticExtensions.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.HalLearners/VectorWhitening.cs
  src/Microsoft.ML.PCA/PCACatalog.cs
  src/Microsoft.ML.PCA/PcaTransformer.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/StochasticTrainerBase.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/GcnTransform.cs
  src/Microsoft.ML.Transforms/LearnerFeatureSelection.cs
  src/Microsoft.ML.Transforms/ProjectionCatalog.cs
  src/Microsoft.ML.Transforms/RandomFourierFeaturizing.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
Due: production, test

Support buld using VS2019 (#2388)
  src/Native/build.cmd
Due: production

Creation of components through MLContext and cleanup (text related transforms) (#2393)
  docs/code/MlNetCookBook.md
  docs/samples/Microsoft.ML.Samples/Dynamic/KeyToValueValueToKey.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/WordEmbeddingTransform.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.StaticPipe/LdaStaticExtensions.cs
  src/Microsoft.ML.StaticPipe/TextStaticExtensions.cs
  src/Microsoft.ML.StaticPipe/WordEmbeddingsStaticExtensions.cs
  src/Microsoft.ML.Transforms/EntryPoints/TextAnalytics.cs
  src/Microsoft.ML.Transforms/Text/LdaTransform.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
  src/Microsoft.ML.Transforms/Text/TextFeaturizingEstimator.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
  src/Microsoft.ML.Transforms/Text/TokenizingByCharacters.cs
  src/Microsoft.ML.Transforms/Text/WordBagTransform.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  src/Microsoft.ML.Transforms/Text/WordHashBagProducingTransform.cs
  src/Microsoft.ML.Transforms/Text/WordTokenizing.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs
  test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesDynamicApi.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
  test/Microsoft.ML.Tests/Transformers/WordTokenizeTests.cs
Due: production, test

Update the document as described in the issue 2177
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
Due: production

Add analyzer for detecting BestFriend usages on public declaration
  test/Microsoft.ML.CodeAnalyzer.Tests/Code/BestFriendOnPublicDeclarationTest.cs
  test/Microsoft.ML.CodeAnalyzer.Tests/Resources/BestFriendOnPublicDeclaration.cs
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendOnPublicDeclarationsAnalyzer.cs
Due: test

Addressing PR Comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Shuffle.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Add MissingValueFilter (NAFilter) to the DataOperations catalog (#2424)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterByMissingValues.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Addressing PR Comments.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
Due: production

Addressing PR Comments
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
Due: production

Fixing casting bug.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/BootstrapSample.cs
Due: none

Draft
  src/Microsoft.ML.Data/EntryPoints/PredictorModelImpl.cs
  src/Microsoft.ML.Data/EntryPoints/SummarizePredictor.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Data/Training/TrainerEstimatorBase.cs
  src/Microsoft.ML.Ensemble/EntryPoints/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/FastTreeClassification.cs
  src/Microsoft.ML.FastTree/GamClassification.cs
  src/Microsoft.ML.FastTree/GamModelParameters.cs
  src/Microsoft.ML.FastTree/RandomForestClassification.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/LinearModelParameters.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  src/Microsoft.ML.StandardLearners/Standard/StochasticTrainerBase.cs
  src/Microsoft.ML.StaticPipe/LbfgsStatic.cs
  src/Microsoft.ML.StaticPipe/SdcaStaticExtensions.cs
  src/Microsoft.ML.StaticPipe/TreeTrainersStatic.cs
  test/Microsoft.ML.Benchmarks/KMeansAndLogisticRegressionBench.cs
  test/Microsoft.ML.Predictor.Tests/TestIniModels.cs
  test/Microsoft.ML.StaticPipelineTesting/Training.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/IntrospectiveTraining.cs
  test/Microsoft.ML.Tests/TrainerEstimators/LbfgsTests.cs
Due: production, test

Add Skip and Take to the DataOperations catalog; add samples for them.
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Skip.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Take.cs
Due: none

Add Skip and Take to the DataOperations catalog; add samples for them.
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/SkipTakeFilter.cs
Due: production

Typo fix in documentation
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Take.cs
Due: none

using a helper function for getting the file path from codebase and moving the common code to a new helper funciton
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AlexNetExtension.cs
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AssemblyPathHelpers.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/ResNet101Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/ResNet18Extension.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/ResNet50Extension.cs
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
Due: production, test

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
Due: production

responding to PR comments
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Skip.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Take.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Adding Shuffle to the catalog (#2427)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/BootstrapSample.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Shuffle.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/RowShufflingTransformer.cs
Due: production

1) Making trainer name public (#62)
  src/AutoML/API/MLContextAutoFitExtensions.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
Due: production

Changing to ...Rows
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SkipRows.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TakeRows.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Add a sample for the Cache command (#2406)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Cache.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureContributionCalculationTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/GeneralizedAdditiveModels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance/PFIHelper.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Updating SelectColumns API.
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/SelectColumns.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Add Skip and Take filters (#2436)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/SkipRows.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/TakeRows.cs
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  src/Microsoft.ML.Data/Transforms/SkipTakeFilter.cs
Due: production

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Program.cs
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
