Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update dependencies from maintenance-packages to latest preview
  eng/Versions.props
Due: none

Fix sni.dll failure
  eng/Versions.props
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

Update dependencies from maintenance-packages to latest versions (#7301)
  eng/Versions.props
  test/Microsoft.ML.Tests/DatabaseLoaderTests.cs
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

4.0 release notes
  docs/release-notes/4.0/release-4.0.md
Due: none

4.0 release notes (#7302)
  docs/release-notes/4.0/release-4.0.md
Due: none

mp updates
  eng/Versions.props
Due: none

mp updates (#7304)
  eng/Versions.props
Due: none

mp updates (#7304) (#7305)
  eng/Versions.props
Due: none

suppress warning
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

suppress warning (#7306)
  test/Microsoft.ML.Tests/Microsoft.ML.Tests.csproj
Due: test

suppress warning
  Directory.Build.props
Due: none

suppress warning (#7307)
  Directory.Build.props
Due: none

Fix Pre-Release package version
  eng/BranchInfo.props
Due: none

fixing tokenizers version
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.Gpt2/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.O200kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.P50kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.R50kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
Due: production

fixes
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.Gpt2/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.O200kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.P50kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.R50kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
Due: production

Fixing tokenizers version (#7309)
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.Gpt2/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.O200kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.P50kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers.Data.R50kBase/Directory.Build.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
Due: production

Update version for 5.0
  eng/BranchInfo.props
  eng/Versions.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
  src/Microsoft.ML/CompatibilitySuppressions.xml
Due: production

Update version to 4.0.1
  eng/BranchInfo.props
  eng/Versions.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
  src/Microsoft.ML/CompatibilitySuppressions.xml
Due: production

Expose Encoder and Decoder properties in TiktokenTokenizer
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
Due: production

Fixing TiktokenTests to use the public properties Encoder and Decoder isntead of using reflection
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
Due: test

implement sft
  docs/samples/Microsoft.ML.GenAI.Samples/Llama/SFT_Llama_3_2_1B.cs
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMModelInput.cs
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMModelOutput.cs
  src/Microsoft.ML.GenAI.LLaMA/LlamaForCausalLM.cs
  src/Microsoft.ML.GenAI.LLaMA/Module/LlamaModel.cs
Due: production

version updates
  eng/BranchInfo.props
  eng/Versions.props
Due: none

Update version to 4.0.1 (#7312)
  eng/BranchInfo.props
  eng/Versions.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
  src/Microsoft.ML/CompatibilitySuppressions.xml
Due: production

Update version for 5.0 (#7311)
  eng/BranchInfo.props
  eng/Versions.props
  src/Microsoft.ML.Tokenizers/Directory.Build.props
  src/Microsoft.ML/CompatibilitySuppressions.xml
Due: production

net core fixes
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp/WE-Hetero-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp/WE-Hetero-TrainTest-breast-cancer-rp.txt
  test/BaselineOutput/Common/WeightedEnsemble/netcoreapp/WE-Hetero-TrainTest-breast-cancer.txt
Due: test

fixing job template
  build/ci/job-template.yml
Due: none

include net8 for helix
  eng/helix.proj
Due: none

Update dynamic loading report reference
  docs/gen-ai/README.md
Due: none

Update System.Numerics.Tensors version
  eng/Versions.props
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Fix build
  eng/Versions.props
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Update System.Numerics.Tensors version (#7322)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Update dynamic loading report reference (#7321)
  docs/gen-ai/README.md
Due: none

Adding needed tfm check back.
  global.json
  src/Microsoft.ML.GenAI.Core/Microsoft.ML.GenAI.Core.csproj
  src/Microsoft.ML.GenAI.LLaMA/Microsoft.ML.GenAI.LLaMA.csproj
  src/Microsoft.ML.GenAI.Mistral/Microsoft.ML.GenAI.Mistral.csproj
  src/Microsoft.ML.GenAI.Phi/Microsoft.ML.GenAI.Phi.csproj
  test/Microsoft.ML.Tokenizers.Data.Tests/Microsoft.ML.Tokenizers.Data.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.TorchSharp.Tests/Microsoft.ML.TorchSharp.Tests.csproj
Due: production, test
