Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Change official build to use 1ES templates (#7048)
  build/vsts-ci.yml
  src/Native/CpuMathNative/CMakeLists.txt
  src/Native/FastTreeNative/CMakeLists.txt
  src/Native/LdaNative/CMakeLists.txt
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/MklProxyNative/CMakeLists.txt
  src/Native/OneDalNative/CMakeLists.txt
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

Add release notes for 4.0-preview1
  docs/release-notes/4.0-preview1/release-4.0-preview1.md
Due: none

M1 helix testing (#7033)
  build/ci/job-template.yml
  build/ci/send-to-helix.yml
  eng/helix.proj
  global.json
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.PAVcalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.calibrateRandom-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.nocalibration-out.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-CV-breast-cancer.nocalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.PAVcalibration.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.calibrateRandom.txt
  test/BaselineOutput/Common/AveragedPerceptron/osx-arm64/AveragedPerceptron-TrainTest-breast-cancer.nocalibration.txt
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainMlrWithStats-out.txt
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainMlrWithStats-summary.txt
  test/BaselineOutput/Common/Command/osx-arm64/CommandTrainingLrWithStats-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-def-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-CV-breast-cancer.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LdSvm/osx-arm64/LDSVM-nob-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-CV-breast-cancer-out.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-CV-breast-cancer.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/LogisticRegression/osx-arm64/LogisticRegression-non-negative-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-AvgPer-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-AvgPer-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer-out.txt
  test/BaselineOutput/Common/WeightedEnsemble/osx-arm64/WE-Hetero-TrainTest-breast-cancer.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/WE-Voting-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Average-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Bootstrap-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Stacking-TrainTest-iris-out.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Stacking-TrainTest-iris.txt
  test/BaselineOutput/Common/WeightedEnsembleMulticlass/osx-arm64/WE-Voting-TrainTest-iris-out.txt
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
Due: test

Add some missed PRs to 4.0 notes, and remove some from 3.0.1
  docs/release-notes/3.0.1/release-3.0.1.md
  docs/release-notes/4.0-preview1/release-4.0-preview1.md
Due: none

Add release notes for 4.0-preview1 (#7064)
  docs/release-notes/3.0.1/release-3.0.1.md
  docs/release-notes/4.0-preview1/release-4.0-preview1.md
Due: none

Make docs changes skip validation builds
  .vsts-dotnet-ci.yml
  build/codecoverage-ci.yml
Due: none

testing light gbm tests sequentially
  test/Microsoft.ML.TestFramework/BaseTestClass.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: test

[release/3.0] pipeline fixes (#7063)
  .config/1espt/PipelineAutobaseliningConfig.yml
  .config/guardian/.gdnbaselines
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  build/vsts-ci.yml
  src/Native/CpuMathNative/CMakeLists.txt
  src/Native/FastTreeNative/CMakeLists.txt
  src/Native/LdaNative/CMakeLists.txt
  src/Native/MatrixFactorizationNative/CMakeLists.txt
  src/Native/MklProxyNative/CMakeLists.txt
  src/Native/OneDalNative/CMakeLists.txt
  src/Native/SymSgdNative/CMakeLists.txt
Due: production

Apply package readme templates
  eng/Packaging.targets
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML/Microsoft.ML.csproj
  src/Microsoft.ML/PACKAGE.md
  src/Microsoft.ML/README.md
Due: production

Fill in content for package readmes
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML/PACKAGE.md
Due: production

Address feedback
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Adding migration guide for deepdev
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Update readmes for Tokenizers and Microsoft.ML (#7070)
  .vsts-dotnet-ci.yml
  build/codecoverage-ci.yml
  eng/Packaging.targets
  src/Microsoft.ML.Tokenizers/PACKAGE.md
  src/Microsoft.ML/Microsoft.ML.csproj
  src/Microsoft.ML/PACKAGE.md
  src/Microsoft.ML/README.md
Due: production

Reenable log publishing
  build/vsts-ci.yml
Due: none

Update based on feedback
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Reenable log publishing (#7076)
  build/vsts-ci.yml
Due: none

Add Tiktoken Synchronous Creation Using Model Name
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Add RemoteExecutor to Tokenizers tests
  eng/Version.Details.xml
  eng/Versions.props
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
Due: test

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Add tests
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: test

Add Tiktoken Synchronous Creation Using Model Name (#7080)
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Introducing Llama Tokenizer
  THIRD-PARTY-NOTICES.TXT
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Normalizer/LlamaNormalizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/SentencePiecePreTokenizer.cs
  src/Microsoft.ML.Tokenizers/SentencepieceModel.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  src/Microsoft.ML.Tokenizers/Utils/StringSpanOrdinalKey.cs
  src/Microsoft.ML.Tokenizers/Utils/ValueStringBuilder.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
Due: production, test

Add more tests
  src/Microsoft.ML.Tokenizers/Normalizer/LlamaNormalizer.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
Due: production, test

Dynamically detect the byte encoding offset to the Id.
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
Due: production

Address the feedback
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Normalizer/LlamaNormalizer.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  src/Microsoft.ML.Tokenizers/Utils/ValueStringBuilder.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Introducing Llama Tokenizer (#7078)
  THIRD-PARTY-NOTICES.TXT
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/SentencePieceBpe.cs
  src/Microsoft.ML.Tokenizers/Model/Tiktoken.cs
  src/Microsoft.ML.Tokenizers/Normalizer/LlamaNormalizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/SentencePiecePreTokenizer.cs
  src/Microsoft.ML.Tokenizers/SentencepieceModel.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netcoreapp.cs
  src/Microsoft.ML.Tokenizers/Utils/Helpers.netstandard.cs
  src/Microsoft.ML.Tokenizers/Utils/StringSpanOrdinalKey.cs
  src/Microsoft.ML.Tokenizers/Utils/ValueStringBuilder.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TitokenTests.cs
Due: production, test

Update VMs
  .vsts-dotnet-ci.yml
  eng/common/templates-official/job/source-build.yml
  eng/common/templates/job/source-build.yml
Due: none

Remove common files
  eng/common/templates-official/job/source-build.yml
  eng/common/templates/job/source-build.yml
Due: none

Fix DataFrame NullCount property of StringDataFrameColumn works incorrectly
  src/Microsoft.Data.Analysis/DataFrameColumns/StringDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/PrimitiveDataFrameColumnTests.cs
Due: production, test

Fix Logical binary operations not supported exception
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Computations.cs
Due: production, test

Add support for Apache.Arrow.Types.Decimal128Type
  src/Microsoft.Data.Analysis/DataFrame.Arrow.cs
Due: production

Update PACKAGE.md
  src/Microsoft.ML.Tokenizers/PACKAGE.md
Due: production

Make tests and product target net8 instead of net6
  .vsts-dotnet-ci.yml
  build/.night-build.yml
  build/Codecoverage.proj
  build/ci/job-template.yml
  build/codecoverage-ci.yml
  docs/samples/Microsoft.ML.Samples.GPU/Microsoft.ML.Samples.GPU.csproj
  src/Microsoft.Data.Analysis.Interactive/Microsoft.Data.Analysis.Interactive.csproj
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  src/Microsoft.ML.AutoML.Interactive/Microsoft.ML.AutoML.Interactive.csproj
  src/Microsoft.ML.AutoML/Microsoft.ML.AutoML.csproj
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProject.cs
  src/Microsoft.ML.CodeGenerator/Templates/Console/PredictProject.tt
  src/Microsoft.ML.Console/Microsoft.ML.Console.csproj
  src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj
  src/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer/Microsoft.ML.DnnAnalyzer.csproj
  src/Native/Native.proj
  test/Directory.Build.props
  test/Microsoft.Data.Analysis.Interactive.Tests/Microsoft.Data.Analysis.Interactive.Tests.csproj
  test/Microsoft.Data.Analysis.PerformanceTests/Microsoft.Data.Analysis.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.PerformanceTests/Microsoft.ML.CpuMath.PerformanceTests.csproj
  test/Microsoft.ML.CpuMath.UnitTests/Microsoft.ML.CpuMath.UnitTests.csproj
Due: production, test

Update VMs (#7087)
  .vsts-dotnet-ci.yml
Due: none

Fix Logical binary operations not supported exception (#7093)
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.Computations.cs
Due: production, test

Remove private copy of RemoteExecutor
  Directory.Build.props
  Microsoft.ML.sln
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  eng/Version.Details.xml
  eng/Versions.props
  eng/helix.proj
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.CodeGenTest.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureCodeGeneratorTest.test.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.CodeGenTest.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureImageCodeGeneratorTest.received.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.AzureObjectDetectionCodeGeneratorTest.CodeGenTest.ConsoleApp.csproj.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.ConsoleAppProjectFileContentTest.approved.txt
  test/Microsoft.ML.CodeGenerator.Tests/ApprovalTests/ConsoleCodeGeneratorTests.Recommendation_GenerateConsoleAppProjectContents_VerifyPredictProject.approved.txt
  test/Microsoft.ML.CpuMath.UnitTests/RemoteExecutor.cs
  test/Microsoft.ML.CpuMath.UnitTests/UnitTests.cs
  test/Microsoft.ML.FSharp.Tests/SmokeTests.fs
  test/Microsoft.ML.TestFramework/Microsoft.ML.TestFramework.csproj
  test/Microsoft.ML.TestFramework/RemoteExecutor.cs
  test/RemoteExecutorConsoleApp/RemoteExecutorConsoleApp.cs
  test/RemoteExecutorConsoleApp/RemoteExecutorConsoleApp.csproj
Due: test

Apply Tarek's suggestion
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Adding migration guide for deepdev (#7073)
  docs/code/microsoft-ml-tokenizers-migration-guide.md
Due: none

Make it so validation builds don't trigger for docs changes.
  .vsts-dotnet-ci.yml
Due: none
