Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update Featurizers to latest nuget. (#4993)
  src/Microsoft.ML.Featurizers/CategoricalImputer.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/DateTimeTransformer.cs
  src/Microsoft.ML.Featurizers/Microsoft.ML.Featurizers.csproj
  src/Microsoft.ML.Featurizers/RobustScaler.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputer.cs
  src/Microsoft.ML.Featurizers/TimeSeriesImputerDataView.cs
  src/Microsoft.ML.Featurizers/ToStringTransformer.cs
  test/Microsoft.ML.TestFramework/Attributes/NotCentOS7FactAttribute.cs
Due: production, test

rabase on master
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizer.cs
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizerDataView.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/ForecastingPivotFeaturizerTests.cs
Due: production, test

rabase on master
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/LagLeadOperator.cs
  src/Microsoft.ML.Featurizers/LagLeadOperatorDataView.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/LagLeadOperatorTests.cs
Due: production, test

rabase on master
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/RollingWindowFeaturizer.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/RollingWindowFeaturizerTests.cs
Due: production, test

rabase on master
  src/Microsoft.ML.Data/DataView/DataViewConstructionUtils.cs
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/ShortGrainDropper.cs
  src/Microsoft.ML.Featurizers/ShortGrainDropperDataView.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/ShortGrainDropperTests.cs
Due: production, test

updating locale
  build/vsts-ci.yml
Due: none

testing pr
  run.sh
Due: none

revert changes
  build/vsts-ci.yml
Due: none

adding Linux test back
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Update run.sh
  run.sh
Due: none

use tls 1.2 to connect
  init-tools.cmd
Due: none

fix bug in nightly-build script
  build/.night-build.yml
Due: none

fix 2 build issues (#5026)
  build/.night-build.yml
  init-tools.cmd
Due: none

update score
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseByDT.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseAnalyzer.cs
Due: production

Updated way of calculating feature contribution for categorical splits
  src/Microsoft.ML.FastTree/TreeEnsemble/InternalRegressionTree.cs
Due: production

Update ForecastBySsa function specifications and add seealso
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
Due: production

Update ForecastBySsa function specifications and add seealso (#5027)
  src/Microsoft.ML.TimeSeries/SSaForecasting.cs
Due: production

LessThanNetCore30OrNotNetCoreFact first banch
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Attributes/LessThanNetCore30OrNotNetCoreAndX64FactAttribute.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

remove unnecessary change
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/Attributes/LessThanNetCore30OrNotNetCoreAndX64FactAttribute.cs
Due: test

Handle all folds returning NaN optimization metric in CrossValSummaryRunner
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValSummaryRunner.cs
Due: production

Model always written to disk, no longer stored in memory, simplify model disposal
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.AutoML/API/RunDetails/CrossValidationRunDetail.cs
  src/Microsoft.ML.AutoML/API/RunDetails/RunDetail.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
Due: production

Update ModelContainer.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
Due: production

Run AutoFitImageClassificationTrainTest 100 times with latest update
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: test

Restart build
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
Due: production

Test latest changes
  .vsts-dotnet-ci.yml
  build/ci/job-template.yml
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/CrossValRunner.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Update .vsts-dotnet-ci.yml
  .vsts-dotnet-ci.yml
Due: none

Dispose of models using "using", and free model after saving to disk
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Dispose model in RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
Due: production

Added descriptions for Dispose functions and "using" instead of direct .Dispose() calls
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

Test directly disposing models when models can still be in memory
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/RunnerUtil.cs
  src/Microsoft.ML.AutoML/Experiment/Runners/TrainValidateRunner.cs
Due: production

Test directly disposing models when models can still be in memory - 2
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  src/Microsoft.ML.AutoML/Experiment/ModelContainer.cs
Due: production

changes due to pr comments
  src/Microsoft.ML.Featurizers/ShortGrainDropper.cs
  src/Microsoft.ML.Featurizers/ShortGrainDropperDataView.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/ShortGrainDropperTests.cs
Due: production, test

Dotnetcore3.1 bench1 (#5029)
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Predictor.Tests/TestPredictors.cs
  test/Microsoft.ML.TestFramework/BaseTestBaseline.cs
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeries.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

changes based on PR comments
  src/Microsoft.ML.Featurizers/RollingWindowFeaturizer.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/RollingWindowFeaturizerTests.cs
Due: production, test

changes based on PR comments
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizer.cs
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizerDataView.cs
  test/BaselineOutput/Common/EntryPoints/core_manifest.json
  test/Microsoft.ML.Core.Tests/UnitTests/TestFeaturizersEntryPoints.cs
  test/Microsoft.ML.Tests/Transformers/ForecastingPivotFeaturizerTests.cs
Due: production, test

formatting fixes
  src/Microsoft.ML.Featurizers/Common.cs
Due: production

added license
  src/Microsoft.ML.Featurizers/Common.cs
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizer.cs
  src/Microsoft.ML.Featurizers/ForecastingPivotFeaturizerDataView.cs
Due: production

Add test case for .DisposeRunDetails and get memory info
  src/Microsoft.ML.AutoML/API/ExperimentResults/CrossValidationExperimentResult.cs
  src/Microsoft.ML.AutoML/API/ExperimentResults/ExperimentResult.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
Due: production, test

moved the LagLeadDataView inside the main LagLeadOperator class.
  src/Microsoft.ML.Featurizers/LagLeadOperator.cs
  src/Microsoft.ML.Featurizers/LagLeadOperatorDataView.cs
Due: production
