Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Addressed reviewers' comments.
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
Due: production

Load entry point models (#1951)
  src/Microsoft.ML.Data/DataLoadSave/CompositeDataLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformWrapper.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/DataView/RowToRowMapperTransform.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
  src/Microsoft.ML.Data/Prediction/CalibratorCatalog.cs
  src/Microsoft.ML.Data/Transforms/ColumnConcatenatingTransformer.cs
  src/Microsoft.ML.Data/Transforms/OneToOneTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.OnnxTransform/OnnxTransform.cs
  src/Microsoft.ML.TensorFlow/TensorflowTransform.cs
  src/Microsoft.ML.TimeSeries/SequentialAnomalyDetectionTransformBase.cs
  src/Microsoft.ML.Transforms/CustomMappingTransformer.cs
  src/Microsoft.ML.Transforms/Text/NgramHashingTransformer.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/WrappedTextTransformers.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/data/backcompat/ep_model0.zip
  test/data/backcompat/ep_model1.zip
  test/data/backcompat/ep_model2.zip
  test/data/backcompat/ep_model3.zip
  test/data/backcompat/ep_model4.zip
Due: production, test

more comments.
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: test

adding test for backcompat
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/backcompat/textloader-with-key-model.zip
Due: production, test

More comments for clality.
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/PredictAndMetadata.cs
Due: test

changed model file
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/backcompat/textloader-with-key-model.zip
Due: test

Remove slash from PackagePath (#2285)
  pkg/Directory.Build.props
  pkg/Microsoft.ML.Mkl.Redist/Microsoft.ML.Mkl.Redist.nupkgproj
  pkg/Microsoft.ML.Recommender/Microsoft.ML.Recommender.nupkgproj
  pkg/Microsoft.ML.TensorFlow.Redist/Microsoft.ML.TensorFlow.Redist.nupkgproj
Due: none

Remove ZLib APIs (#2262)
  src/Microsoft.ML.Data/DataLoadSave/Binary/CompressionKind.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Zlib/Constants.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Zlib/ZDeflateStream.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Zlib/ZInflateStream.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Zlib/Zlib.cs
Due: production

Optimizing volatile reads with Interlocked.CompareExchange to only need one read instead of two.
  src/Microsoft.Data.DataView/ColumnType.cs
  src/Microsoft.ML.Core/Data/MetadataUtils.cs
  src/Microsoft.ML.Core/Utilities/PathUtils.cs
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.Data/Data/Combiner.cs
  src/Microsoft.ML.Data/Data/Conversion.cs
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Evaluators/RankerEvaluator.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.FastTree/BinFile/BinFinder.cs
  src/Microsoft.ML.StaticPipe/SchemaBearing.cs
  src/Microsoft.ML.Transforms/Text/StopWordsRemovingTransformer.cs
  src/Microsoft.ML.Transforms/Text/TextNormalizing.cs
Due: production

ValueMapperTransformer: Added support for loading map from file through dataview. (#2232)
  src/Microsoft.ML.Data/Transforms/ValueMapping.cs
  test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs
Due: production, test

Expose schema for prediction engine (#2250)
  src/Microsoft.ML.Core/Data/MetadataUtils.cs
  src/Microsoft.ML.Data/EntryPoints/PredictorModelImpl.cs
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorUtils.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
  src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformerImpl.cs
  src/Microsoft.ML.Ensemble/PipelineEnsemble.cs
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  src/Microsoft.ML.Transforms/Text/NgramTransform.cs
  test/Microsoft.ML.Tests/Scenarios/Api/ApiScenariosTests.cs
  test/Microsoft.ML.Tests/Scenarios/Api/Estimators/PredictAndMetadata.cs
  test/Microsoft.ML.Tests/TermEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalTests.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
  test/Microsoft.ML.Tests/Transformers/CopyColumnEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/HashTests.cs
Due: production, test

Update comment
  test/Microsoft.ML.Tests/TextLoaderTests.cs
Due: test

Fix TextLoader version number for KeyType backward compatibility and added new test (#2295)
  src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs
  test/Microsoft.ML.Tests/TextLoaderTests.cs
  test/data/backcompat/textloader-with-key-model.zip
Due: production, test

Ungroup Columns in Column Inference (#40)
  src/AutoML/API/MLContextDataExtensions.cs
  src/AutoML/ColumnInference/ColumnInferenceApi.cs
  src/Test/ColumnInferenceTests.cs
Due: production

PR feedback.
  test/Directory.Build.props
Due: test

Corrected file paths.
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Exclude files not authored by ML.NET from code coverage (#2290)
  test/Directory.Build.props
Due: test

Misc fixes (#39)
  src/AutoML/AutoFitter/AutoFitter.cs
  src/AutoML/PipelineSuggesters/PipelineSuggester.cs
  src/AutoML/Sweepers/SmacSweeper.cs
  src/AutoML/Sweepers/SweeperBase.cs
  src/AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/Test/GetNextPipelineTests.cs
  src/Test/InferredPipelineTests.cs
  src/Test/TrainerExtensionsTests.cs
Due: production

Update README.md
  README.md
Due: none

Add reference to any form of API? (#2209)
  README.md
Due: none

Removing the nuget.config and have build.props mention the nuget package sources. (#38)
  Directory.Build.props
  Nuget.config
Due: none

Update to Onnxruntime 2.0 package
  build/Dependencies.props
  pkg/Microsoft.ML.OnnxTransform/Microsoft.ML.OnnxTransform.nupkgproj
  src/Microsoft.ML.OnnxTransform/Microsoft.ML.OnnxTransform.csproj
  src/Microsoft.ML.OnnxTransform/OnnxTransform.cs
  test/Microsoft.ML.OnnxTransformTest/DnnImageFeaturizerTest.cs
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
Due: production, test

use cpu package
  build/Dependencies.props
  pkg/Microsoft.ML.OnnxTransform/Microsoft.ML.OnnxTransform.nupkgproj
  src/Microsoft.ML.OnnxTransform/Microsoft.ML.OnnxTransform.csproj
Due: production

uncomment device id in unit test
  test/Microsoft.ML.OnnxTransformTest/OnnxTransformTests.cs
Due: test

Removed python naming conventions
  docs/samples/Microsoft.ML.Samples/Dynamic/FeatureContributionCalculationTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/FieldAwareFactorizationMachine.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/GeneralizedAdditiveModels.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/KMeans.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/KeyToValueTerm.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/LdaTransform.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/MatrixFactorization.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/NgramExtraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/SDCA.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TextTransform.cs
Due: none

Update class name
  docs/samples/Microsoft.ML.Samples/Dynamic/LogisticRegression.cs
Due: none

Add score comments
  docs/samples/Microsoft.ML.Samples/Dynamic/LogisticRegression.cs
Due: none

Add sample reference to declaration
  src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs
Due: production

Update program.cs remove python naming convention
  docs/samples/Microsoft.ML.Samples/Program.cs
Due: none

Make sure seed works for stratification column in TrainTest and CrossValidate (#2241)
  src/Microsoft.ML.Data/TrainCatalog.cs
  test/Microsoft.ML.Tests/Scenarios/Api/TestApi.cs
Due: production, test

Internalize normalizer infrastructure, normalizer transform, entry-points.
  src/Microsoft.ML.Data/Transforms/NormalizeColumn.cs
  src/Microsoft.ML.Data/Transforms/NormalizeColumnDbl.cs
  src/Microsoft.ML.Data/Transforms/NormalizeColumnSng.cs
  src/Microsoft.ML.Data/Transforms/NormalizeUtils.cs
Due: production

Removal of legacy API derived interfaces and abstract classes for columns.
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
Due: production

Internalization of column bindings utilities and infrastructure.
  src/Microsoft.ML.Data/Transforms/ColumnBindingsBase.cs
Due: production

Internalize or move much of entry-points.
  src/Microsoft.ML.Data/EntryPoints/Cache.cs
  src/Microsoft.ML.Data/EntryPoints/SchemaManipulation.cs
  src/Microsoft.ML.Data/EntryPoints/SummarizePredictor.cs
  src/Microsoft.ML.Ensemble/EntryPoints/PipelineEnsemble.cs
  src/Microsoft.ML.Ensemble/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/Properties/AssemblyInfo.cs
  src/Microsoft.ML.EntryPoints/ScoreColumnSelector.cs
  src/Microsoft.ML.EntryPoints/ScoreModel.cs
Due: production

Hide filtering/misc IDataTransform implementations and associated entry-points.
  src/Microsoft.ML.Data/EntryPoints/SelectRows.cs
  src/Microsoft.ML.Data/Transforms/NAFilter.cs
  src/Microsoft.ML.Data/Transforms/NopTransform.cs
  src/Microsoft.ML.Data/Transforms/RangeFilter.cs
  src/Microsoft.ML.Data/Transforms/SkipTakeFilter.cs
  src/Microsoft.ML.Data/Transforms/TransformBase.cs
  src/Microsoft.ML.Transforms/BootstrapSamplingTransformer.cs
  src/Microsoft.ML.Transforms/NAHandling.cs
  src/Microsoft.ML.Transforms/Properties/AssemblyInfo.cs
Due: production

Internalization of common inputs.
  src/Microsoft.ML.Data/EntryPoints/InputBase.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
