Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"

comment:
  layout: "diff, flags, files"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fixed path to Procdump files (#4957)
  build/ci/job-template.yml
  init-tools.cmd
Due: none

Added checking for the host of the download absoluteURL euqaling "aka.ms"
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
Due: production

merge with master
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/LocalizeRootCauseByDT.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseAnalyzer.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalization.cs
  src/Microsoft.ML.TimeSeries/DTRootCauseLocalizationType.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

Testing SSAForecast
  .vsts-dotnet-ci.yml
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: test

Testing SSAForecast
  .vsts-dotnet-ci.yml
Due: none

upgrade dotnet benchmark version to latest
  build/Dependencies.props
  test/Microsoft.ML.Benchmarks/Harness/Configs.cs
  test/Microsoft.ML.Benchmarks/Harness/Metrics.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Program.cs
Due: test

try on private test agent pool
  .vsts-dotnet-ci.yml
Due: none

Added IDisposable support for several classes (#4939)
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.Data/DataLoadSave/CompositeDataLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/TransformerChain.cs
  src/Microsoft.ML.Data/DataView/CompositeRowToRowMapper.cs
  src/Microsoft.ML.Data/Prediction/PredictionEngine.cs
  src/Microsoft.ML.Data/Scorers/MulticlassClassificationScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Scorers/SchemaBindablePredictorWrapper.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModel.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlow/TensorflowUtils.cs
  src/Microsoft.ML.Vision/DnnRetrainTransform.cs
  src/Microsoft.ML.Vision/ImageClassificationTrainer.cs
  test/Microsoft.ML.AutoML.Tests/AutoFitTests.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
  test/Microsoft.ML.Tests/TensorFlowEstimatorTests.cs
Due: production, test

Edit TestResourceDownload
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: production, test

Update .vsts-dotnet-ci.yml
  .vsts-dotnet-ci.yml
Due: none

Fix backward compatibility issue
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyAndMarginBySrCnn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyAndMarginBySrCnnBatchPrediction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/TimeSeries/DetectAnomalyBySrCnn.cs
  src/Microsoft.ML.TimeSeries/SRCNNAnomalyDetector.cs
  src/Microsoft.ML.TimeSeries/SrCnnAnomalyDetectionBase.cs
  src/Microsoft.ML.TimeSeries/SrCnnTransformBase.cs
Due: production

Add more info to doc and UT
  src/Microsoft.ML.TimeSeries/ExtensionsCatalog.cs
  src/Microsoft.ML.TimeSeries/SRCNNAnomalyDetector.cs
  src/Microsoft.ML.TimeSeries/SrCnnTransformBase.cs
  test/Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs
Due: production, test

fix for logistic regression
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

rebase changes
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
Due: test

resolving comments
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
Due: production, test

Updated onnx estimator documentation
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Added CUDA and CuDNN versions
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Make it explicit that the GPU nuget should replace the CPU one if GPU support is required
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Updated build docs for .NET Core 3.1
  docs/building/netcoreapp3.1-instructions.md
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
Due: none

Fixes multiclass logistic regression (#4963)
  src/Microsoft.ML.StandardTrainers/Standard/LogisticRegression/MulticlassLogisticRegression.cs
  test/BaselineOutput/Common/Onnx/MultiClassClassification/BreastCancer/MultiClassificationLogisticRegressionSaveModelToOnnxTest.txt
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: production, test

test run benchmark on private test agent
  .editorconfig
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
Due: test

Update with Luis suggestion
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Update netcoreapp3.1-instructions.md
  docs/building/netcoreapp3.1-instructions.md
Due: none

upgrade benchmark dotnet package to latest version
  build/Dependencies.props
  build/ci/job-template.yml
  test/Microsoft.ML.Benchmarks/Harness/Configs.cs
  test/Microsoft.ML.Benchmarks/Harness/Metrics.cs
  test/Microsoft.ML.Benchmarks/TextPredictionEngineCreation.cs
  test/Microsoft.ML.CpuMath.PerformanceTests/Program.cs
Due: test

Updated build docs for .NET Core 3.1 (#4967)
  docs/building/netcoreapp3.1-instructions.md
  docs/building/unix-instructions.md
  docs/building/windows-instructions.md
Due: none

Fix versioning to allow for individual stable packages (#2891)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production

Skip TensorFlowImageClassificationEarlyStopping on Linux
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Skip TensorFlowImageClassificationEarlyStopping on Linux (#4969)
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

test benchmark tests
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
Due: test

Update BinaryLoader.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/BinaryLoader.cs
Due: production

Fixed and Added unit tests for EnsureResourceAsync hanging issue (#4943)
  src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs
  src/Microsoft.ML.Transforms/Text/WordEmbeddingsExtractor.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestResourceDownload.cs
Due: production, test

skip windows dotnet core 3.1 due to hanging
  test/Microsoft.ML.Benchmarks.Tests/BenchmarksTest.cs
Due: test

Revert "Merged with Harish commit with partial solution:"
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Revert "Revert "Merged with Harish commit with partial solution:""
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Modified test, because now output schema should be the same as onnx model output (without the propagated columns from input)
  test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs
Due: test

Actually check that the output schema has dropped the columns
  test/Microsoft.ML.Tests/OnnxConversionTest.cs
Due: test

Further modifications to make this work with all the existing tests
  src/Microsoft.ML.Data/Transforms/RowToRowTransformerBase.cs
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Remove unnecessary outputschema property on OnnxTransformer
  src/Microsoft.ML.OnnxTransformer/OnnxTransform.cs
Due: production

Bump Microsoft.Data.Analysis version to 0.4.0 (#2892)
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
Due: production
