Repository dotnet/machinelearning: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/::/"
  ignore:
    - "test"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Adding Row to titles of appropriate DataOperations catalog entries
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterByColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterByKeyColumnFraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterByMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/Shuffle.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  test/Microsoft.ML.Tests/RangeFilterTests.cs
Due: production, test

Rename sample doc files
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByKeyColumnFraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/ShuffleRows.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
Due: production

Initial version of CLI tool for mlnet (#61)
  AutoML.sln
  NuGet.Config
  src/AutoML/Assembly.cs
  src/AutoML/Sweepers/SmacSweeper.cs
  src/AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/Test/TrainerExtensionsTests.cs
  src/Test/UserInputValidationTests.cs
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet.Test/mlnet.Test.csproj
  src/mlnet/Assembly.cs
  src/mlnet/CodeGenerator/CodeGenerator.cs
  src/mlnet/CodeGenerator/Symbols.cs
  src/mlnet/CodeGenerator/TrainerGeneratorBase.cs
  src/mlnet/CodeGenerator/TrainerGeneratorFactory.cs
  src/mlnet/CodeGenerator/TrainerGenerators.cs
  src/mlnet/CodeGenerator/TransformGeneratorBase .cs
  src/mlnet/CodeGenerator/TransformGeneratorFactory.cs
  src/mlnet/CodeGenerator/TransformGenerators.cs
  src/mlnet/Commands/CommandDefinitions.cs
  src/mlnet/Commands/NewCommand.cs
  src/mlnet/Data/Options.cs
  src/mlnet/MlNet.sln
  src/mlnet/Program.cs
  src/mlnet/Templates/ConsoleHelper.cs
  src/mlnet/Templates/ConsoleHelper.tt
  src/mlnet/Templates/MLCodeGen.cs
  src/mlnet/Templates/MLCodeGen.tt
  src/mlnet/Templates/MLProjectGen.cs
  src/mlnet/Templates/MLProjectGen.tt
  src/mlnet/mlnet.csproj
Due: production

Updating docstrings
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/SelectColumns.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Formatting changes
  src/Microsoft.ML.LightGBM/LightGbmArguments.cs
  src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestEntryPoints.cs
  test/Microsoft.ML.Core.Tests/UnitTests/TestRange.cs
  test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs
Due: production, test

Allowing SelectColumns to take a bare list of columns (#2439)
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/SelectColumns.cs
  src/Microsoft.ML.Data/Transforms/ExtensionsCatalog.cs
Due: production

Addressed reviewers' comments.
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModelInfo.cs
Due: production

Addressed reviewers' comments.
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

Make DataOperations catalog names more precise (#2441)
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByColumn.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByKeyColumnFraction.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/FilterRowsByMissingValues.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/ShuffleRows.cs
  src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs
  test/Microsoft.ML.Tests/RangeFilterTests.cs
Due: production, test

Use better AutiFit overload and ignore Multiclass (#64)
  src/mlnet/Commands/NewCommand.cs
Due: production

Created TF text classification sample and moved TF samples to its own directory. (#2429)
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/ImageClassification.cs
  docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs
  docs/samples/Microsoft.ML.Samples/Microsoft.ML.Samples.csproj
  src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs
  src/Microsoft.ML.TensorFlow/TensorFlowModelInfo.cs
  src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs
  src/Microsoft.ML.TensorFlow/doc.xml
Due: production

emove unnecessary JIT SBCG workaround
  src/Microsoft.ML.Core/Utilities/BitUtils.cs
Due: production

Adds a type='bullet' tag to the documentation so that the bulleted list will render correctly.
  src/Microsoft.ML.Data/Transforms/doc.xml
Due: production

- Formatting based upon feedback
  test/Microsoft.ML.Tests/ScenariosWithDirectInstantiation/TensorflowTests.cs
Due: test

Make KeyToValueMapping API consistent (#2426)
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/KeyToValue.cs
Due: production

Make strongly-typed and weekly-typed accesses possible
  src/Microsoft.ML.Data/EntryPoints/SummarizePredictor.cs
  src/Microsoft.ML.Data/Prediction/Calibrator.cs
  src/Microsoft.ML.Ensemble/EntryPoints/PipelineEnsemble.cs
  src/Microsoft.ML.FastTree/TreeEnsemble/TreeEnsembleCombiner.cs
  src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs
  src/Microsoft.ML.HalLearners/SymSgdClassificationTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineLinear.cs
  src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs
  test/Microsoft.ML.Tests/TrainerEstimators/SymSgdClassificationTests.cs
Due: production, test

Lockdown Microsoft.ML.Recommender public surface
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs
Due: production

Upgrading CLI to produce ML.NET V.10 APIs and bunch of Refactoring tasks (#65)
  src/AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/Test/TrainerExtensionsTests.cs
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet/CodeGenerator/CodeGenerator.cs
  src/mlnet/CodeGenerator/TrainerGeneratorBase.cs
  src/mlnet/CodeGenerator/TrainerGeneratorFactory.cs
  src/mlnet/CodeGenerator/TrainerGenerators.cs
  src/mlnet/CodeGenerator/TransformGeneratorBase .cs
  src/mlnet/CodeGenerator/TransformGeneratorFactory.cs
  src/mlnet/CodeGenerator/TransformGenerators.cs
  src/mlnet/Commands/NewCommand.cs
  src/mlnet/Templates/MLCodeGen.cs
  src/mlnet/Templates/MLCodeGen.tt
  src/mlnet/Templates/MLProjectGen.cs
  src/mlnet/Templates/MLProjectGen.tt
Due: production

review comments and some more cleanup
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/FeatureContributionCalculationTransformer.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/MissingValueDroppingTransformer.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
Due: production, test

feature selection transforms mainly
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/FeatureContributionCalculationTransformer.cs
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/EntryPoints/SelectFeatures.cs
  src/Microsoft.ML.Transforms/MissingValueDroppingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueHandlingTransformer.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  src/Microsoft.ML.Transforms/NAHandling.cs
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
Due: production, test

review comments
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
Due: production

resolved review comments
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
Due: production

entrypoint catalog
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
Due: test

Rewrite analyzer as Symbol analyzer
  tools-local/Microsoft.ML.InternalCodeAnalyzer/BestFriendOnPublicDeclarationsAnalyzer.cs
Due: none

Creation of components through MLContext and cleanup (Convert, DropSlots, FeatureSelection) (#2365)
  src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs
  src/Microsoft.ML.Data/Transforms/FeatureContributionCalculationTransformer.cs
  src/Microsoft.ML.Data/Transforms/SlotsDroppingTransformer.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.EntryPoints/FeatureCombiner.cs
  src/Microsoft.ML.FastTree/FastTree.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
  src/Microsoft.ML.Transforms/CountFeatureSelection.cs
  src/Microsoft.ML.Transforms/EntryPoints/SelectFeatures.cs
  src/Microsoft.ML.Transforms/MissingValueDroppingTransformer.cs
  src/Microsoft.ML.Transforms/MissingValueHandlingTransformer.cs
  src/Microsoft.ML.Transforms/MutualInformationFeatureSelection.cs
  src/Microsoft.ML.Transforms/NAHandling.cs
  test/BaselineOutput/Common/EntryPoints/core_ep-list.tsv
  test/Microsoft.ML.TestFramework/DataPipe/TestDataPipe.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
Due: production, test

Upgrade ML.NET package to 0.10.0 (#70)
  src/AutoML/API/MLContextAutoFitExtensions.cs
  src/AutoML/API/MLContextDataExtensions.cs
  src/AutoML/AutoFitter/AutoFitter.cs
  src/AutoML/AutoFitter/SuggestedPipeline.cs
  src/AutoML/AutoML.csproj
  src/AutoML/AutoMlUtils.cs
  src/AutoML/ColumnInference/ColumnGroupingInference.cs
  src/AutoML/ColumnInference/ColumnInferenceApi.cs
  src/AutoML/ColumnInference/ColumnTypeInference.cs
  src/AutoML/ColumnInference/PurposeInference.cs
  src/AutoML/ColumnInference/TextFileContents.cs
  src/AutoML/DatasetDimensions/DatasetDimensionsApi.cs
  src/AutoML/DatasetDimensions/DatasetDimensionsUtil.cs
  src/AutoML/EstimatorExtensions/EstimatorExtensions.cs
  src/AutoML/PipelineSuggesters/PipelineSuggester.cs
  src/AutoML/Sweepers/SmacSweeper.cs
  src/AutoML/TrainerExtensions/BinaryTrainerExtensions.cs
  src/AutoML/TrainerExtensions/MultiTrainerExtensions.cs
  src/AutoML/TrainerExtensions/RegressionTrainerExtensions.cs
  src/AutoML/TrainerExtensions/TrainerExtensionUtil.cs
  src/AutoML/TransformInference/TransformInference.cs
  src/AutoML/TransformInference/TransformInferenceApi.cs
  src/AutoML/Utils/ColumnTypeExtensions.cs
  src/AutoML/Utils/DataKindExtensions.cs
  src/AutoML/Utils/UserInputValidationUtil.cs
  src/Samples/AutoTrainBinaryClassification.cs
  src/Samples/AutoTrainMulticlassClassification.cs
  src/Samples/AutoTrainRegression.cs
  src/Samples/EarlyStopping.cs
  src/Test/AutoFitTests.cs
  src/Test/DatasetDimensionsTests.cs
  src/Test/DatasetUtil.cs
  src/Test/TransformInferenceTests.cs
  src/Test/UserInputValidationTests.cs
  src/mlnet.Test/CodeGenTests.cs
  src/mlnet/Commands/NewCommand.cs
  src/mlnet/Templates/MLCodeGen.cs
Due: production

Changed the parameter's decription where relevant as per the issue 2177
  src/Microsoft.ML.Data/Transforms/GenerateNumberTransform.cs
  src/Microsoft.ML.Data/Transforms/LabelConvertTransform.cs
  src/Microsoft.ML.Data/Transforms/LabelIndicatorTransform.cs
  src/Microsoft.ML.Data/Transforms/NormalizeColumn.cs
  src/Microsoft.ML.Data/Transforms/RangeFilter.cs
  src/Microsoft.ML.Data/Transforms/TypeConverting.cs
  src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs
  src/Microsoft.ML.HalLearners/HalLearnersCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ExtensionsCatalog.cs
  src/Microsoft.ML.ImageAnalytics/ImagePixelExtractor.cs
  src/Microsoft.ML.ImageAnalytics/ImageResizer.cs
  src/Microsoft.ML.LightGBM/LightGbmCatalog.cs
  src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs
  src/Microsoft.ML.StandardLearners/Standard/Online/OnlineGradientDescent.cs
  src/Microsoft.ML.StaticPipe/TransformsStatic.cs
Due: production

Internalize IEvaluator implementations.
  src/Microsoft.ML.Data/Evaluators/AnomalyDetectionEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/AucAggregator.cs
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/ClusteringEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
  src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/MultiOutputRegressionEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/QuantileRegressionEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/RankerEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/RegressionEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/RegressionEvaluatorBase.cs
Due: production

Internalize VectorUtils
  src/Microsoft.ML.Data/Depricated/Vector/VBufferMathUtils.cs
  src/Microsoft.ML.Data/Depricated/Vector/VectorUtils.cs
Due: production

Internalize CursOpt (relevant to the training cursor convenience)
  src/Microsoft.ML.Data/Training/TrainerUtils.cs
Due: production

Internalize BinaryLoader/Saver support structures.
  src/Microsoft.ML.Data/DataLoadSave/Binary/CompressionKind.cs
  src/Microsoft.ML.Data/DataLoadSave/Binary/Header.cs
Due: production

Remove non-MLContext based skip/take filter conveniences.
  src/Microsoft.ML.Data/Transforms/SkipTakeFilter.cs
Due: production

Make PredictionTransformer no longer generic on scorers, and internalize all scorers.
  src/Microsoft.ML.Data/Commands/ScoreCommand.cs
  src/Microsoft.ML.Data/Scorers/BinaryClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/ClusteringScorer.cs
  src/Microsoft.ML.Data/Scorers/GenericScorer.cs
  src/Microsoft.ML.Data/Scorers/MultiClassClassifierScorer.cs
  src/Microsoft.ML.Data/Scorers/PredictedLabelScorerBase.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
Due: production

Remove older non-MLContext based skip/take convenience API.
  src/Microsoft.ML.Data/Transforms/SkipTakeFilter.cs
  test/BaselineOutput/SingleDebug/Rff/featurized.tsv
  test/BaselineOutput/SingleRelease/Rff/featurized.tsv
  test/Microsoft.ML.StaticPipelineTesting/StaticPipeTests.cs
  test/Microsoft.ML.Tests/FeatureContributionTests.cs
  test/Microsoft.ML.Tests/TermEstimatorTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalHashTests.cs
  test/Microsoft.ML.Tests/Transformers/CategoricalTests.cs
  test/Microsoft.ML.Tests/Transformers/ConcatTests.cs
  test/Microsoft.ML.Tests/Transformers/ConvertTests.cs
  test/Microsoft.ML.Tests/Transformers/FeatureSelectionTests.cs
  test/Microsoft.ML.Tests/Transformers/NAIndicatorTests.cs
  test/Microsoft.ML.Tests/Transformers/NAReplaceTests.cs
  test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs
  test/Microsoft.ML.Tests/Transformers/PcaTests.cs
  test/Microsoft.ML.Tests/Transformers/RffTests.cs
  test/Microsoft.ML.Tests/Transformers/TextFeaturizerTests.cs
  test/Microsoft.ML.Tests/Transformers/TextNormalizer.cs
  test/Microsoft.ML.Tests/Transformers/WordEmbeddingsTests.cs
Due: production, test

More internalization and changes via Artidoro.
  src/Microsoft.ML.Data/Evaluators/BinaryClassifierEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/ClusteringEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/EvaluatorBase.cs
  src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/MultiOutputRegressionEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/QuantileRegressionEvaluator.cs
  src/Microsoft.ML.Data/Evaluators/RegressionEvaluator.cs
  src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs
  src/Microsoft.ML.Data/Scorers/RowToRowScorerBase.cs
  src/Microsoft.ML.StandardLearners/FactorizationMachine/FieldAwareFactorizationMachineModelParameters.cs
Due: production

review comments
  src/Microsoft.ML.Transforms/Text/TextCatalog.cs
Due: production

using typeof(assemblyPathHelpers) and removing none itemgroup from compile
  src/Microsoft.ML.DnnImageFeaturizer.AlexNet/AssemblyPathHelpers.cs
  src/Microsoft.ML.DnnImageFeaturizer.ResNet101/Microsoft.ML.DnnImageFeaturizer.ResNet101.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet18/Microsoft.ML.DnnImageFeaturizer.ResNet18.csproj
  src/Microsoft.ML.DnnImageFeaturizer.ResNet50/Microsoft.ML.DnnImageFeaturizer.ResNet50.csproj
Due: production

Adds a type='bullet' tag to the documentation so that the bulleted list (#2450)
  src/Microsoft.ML.Data/Transforms/doc.xml
Due: production
